
@{
    ViewBag.Title = "Record";
    Layout = "~/Areas/PinAdmin/Views/Shared/_LayoutPinAdmin.cshtml";
}
@model ViewModel<DrawCashApply>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 财务管理 <span class="c-gray en">&gt;</span> 提现记录<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="r">共有数据：<strong>@Model.TotalCount</strong> 条</span>
    </div>
    <div class="mt-20">
        <table id="Huifold1" class="table table-border table-bordered table-bg table-hover table-sort Huifold">
            <tr class="text-c">
                <th width="50">提现账户</th>
                <th width="100">提现账号</th>
                <th width="80">审核状态</th>
                <th width="60">提现状态</th>
                <th width="60">申请提现金额</th>
                <th width="60">提现后剩余金额</th>
                <th width="80">手续费</th>
                <th width="80">实际到账</th>
                <th width="100">申请时间</th>
                <th width="100">处理时间</th>
            </tr>
            @foreach (DrawCashApply apply in Model.DataList)
            {
            <tr class="text-c">
                <td>@apply.accountName</td>
                <td>@apply.account</td>
                <td>@apply.stateStr</td>
                <td>@apply.drawStateStr</td>
                <td>@apply.applyMoneyStr 元</td>
                <td>@apply.useCash 元</td>
                <td>@apply.serviceMoneyStr 元</td>
                <td>@apply.cashMoneyStr 元</td>
                <td>@apply.AddTimeStr</td>
                <td>@apply.UpdateTimeStr</td>
            </tr>
            }
        </table>
        @if (Model.TotalCount > Model.PageSize)
        {
            <div class="page">
                @MvcPager.Pager(Html, "pageIndex", Model.PageSize, Model.TotalCount)
            </div>
        }
    </div>
</div>

