@using User.MiniApp.Areas.PlatChild.Model
@model List<TableItemModel>
@{
    Layout = null;
}
<table class="table table-add" style="height: 500px;display: block;overflow: auto;">
    <tr>
        <th width="10%">商品名称</th>
        <th width="12%">规格</th>
        <th width="8%">单价（元）</th>
        <th width="3%">数量</th>
        <th width="4%">原金额（元）</th>
        <th width="4%" hidden>折扣金额(元)</th>
        <th width="10%">实际金额（元）</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Name</td>
            <td>@x.SpecInfo</td>
            <td>@((x.Price * 0.01).ToString("0.00"))</td>
            <td>@x.Count</td>
            <td>@(((x.originalPrice == 0 ? (x.Price * x.Count) : (x.originalPrice * x.Count)) * 0.01).ToString("0.00"))</td>
            <td hidden>0.00</td>
            <td>@(((x.Price * x.Count) * 0.01).ToString("0.00"))</td>
        </tr>
    }
</table>

