<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="renderer" content="webkit">
    <title>拼享惠</title>
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <link href="~/Areas/Pin/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Pin/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Areas/Pin/static/css/animate.css" rel="stylesheet">
    <link href="~/Areas/Pin/static/css/style.css" rel="stylesheet">
    <link href="~/Content/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <!-- 如果页面中有图片上传就保留这行代码，没有的话，可以删除 -->
    <link href="~/Areas/Pin/static/css/module1.css" rel="stylesheet">
    <link href="~/Areas/Pin/static/css/mofang.css" rel="stylesheet">
    <style>
        [v-cloak] { display: none; }
        /* = 分页
------------------------------------------ */
        .page { *zoom: 1; }
        .page:before, .page:after { display: table; content: ""; }
        .page:after { clear: both; }
        .page a { display: inline-block; padding: 0 14px; height: 34px; line-height: 34px; color: #333; background-color: #ddd; border-radius: 3px; }
        .page span { height: 34px; line-height: 34px; margin-right: 10px; }
        .page a:hover { text-decoration: none; background-color: #339c38; color: #fff }
        .page .current { background-color: #44b549; color: #fff }
        .page .next, .page .prev { font-family: "宋体"; font-weight: bold; }
        .page .rows { }
        .page input{ height:25px;}
    </style>
    @RenderSection("styles", false)
    <title>@ViewBag.Title</title>
</head>

@RenderBody()

<!-- 全局js -->
<script src="~/Areas/Pin/static/js/jquery.min.js"></script>
<script src="http://j.vzan.cc/dz/js/jquery.cookie.js"></script>
<script src="~/Areas/Pin/static/js/jquery.form.min.js"></script>
<script src="~/Areas/Pin/static/js/bootstrap.min.js"></script>
<script src="~/Areas/Pin/static/js/plugins/jquery.metisMenu.js"></script>
<script src="~/Areas/Pin/static/js/plugins/jquery.slimscroll.min.js"></script>
<script src="~/Areas/Pin/static/js/plugins/layer/layer.min.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

<script src="/Areas/PinAdmin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script src="/Areas/PinAdmin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script src="/Areas/PinAdmin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<!-- 自定义js -->
<script src="~/Areas/Pin/static/js/hplus.js"></script>
<script type="text/javascript" src="~/Areas/Pin/static/js/contabs.js"></script>
<script src="~/Areas/Pin/static/js/admin_common.js"></script>
<script src="~/Areas/Pin/static/js/dg.js"></script>
<!-- 第三方插件 -->
<script src="~/Areas/Pin/static/js/plugins/suggest/bootstrap-suggest.min.js"></script>

<link rel="stylesheet" type="text/css" href="@(WebSiteConfig.cdnurl)content/layui/css/layui.css" />
<script type="text/javascript" src="@(WebSiteConfig.cdnurl)content/layui/layui.js"></script>
<!--开发使用开发版-->
<script src="@(WebSiteConfig.cdnurl)content/vue.js"></script>
<!--上线使用压缩版-->
@*<script src="@WebSiteConfig.SourceContent/fcontent/plugin/vue.min.js"></script>*@

<!-- 页面上的自定义js -->
<script>
    $(function () {

        $("body").bind("keydown", function (e) {
            e = window.event || e;

            //屏蔽F5刷新键
            if (event.keyCode == 116) {
                window.location.reload();
                e.keyCode = 0; //IE下需要设置为keyCode为false
                return false;
            }

            //屏蔽ctrl+R
            if ((event.ctrlKey) && (event.keyCode == 82)) {
                window.location.reload();
                e.keyCode = 0;
                return false;
            }
        });

    })
</script>
@RenderSection("scripts", false)
</html>
