@using Entity.MiniApp.Qiye
@model QiyeReturnMsg
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>小未服务</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link href="@(WebSiteConfig.cdnurl)content/css/pageerrorbase.css?v1" rel="stylesheet" />
    <link href="@(WebSiteConfig.cdnurl)content/css/pageerror.css?v1" rel="stylesheet" />
    <style type="text/css">
        .error-page-show { width: 100%; height: 180px; -webkit-transform: scale(0.4); transform: scale(0.4); margin-top: 250px; }
        .errocolor { color: red; }
    </style>
</head>
<body>
    <div>
        <div class="error-page-show">
            @if (Model.code == "404")
            {
                <div class="error404">
                    <div class="error404-body-con">
                        <div>
                            <div class="ivu-card-body">
                                <div class="error404-body-con-title">
                                    4<span><i class="ivu-icon ivu-icon-ios-navigate-outline"></i></span>4
                                </div>
                                <p class="error404-body-con-message errocolor">@(string.IsNullOrEmpty(Model.Msg) ? "页面不存在" : Model.Msg)</p>
                                <div class="error404-btn-con">
                                    <a class="ivu-btn ivu-btn-text" style="font-size:40px;" href="/dzhome/newHome">
                                        <span>返回首页</span>
                                    </a>
                                    <a class="ivu-btn ivu-btn-primary" style="font-size:35px;" href="javascript:history.go(-1);">
                                        <span>返回上一页</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (Model.code == "403")
            {
                <div class="error403">
                    <div class="error403-body-con">
                        <div>
                            <div class="ivu-card-body">
                                <div class="error403-body-con-title">
                                    5<span class="error403-0-span"><i class="ivu-icon ivu-icon-android-lock"></i></span><span class="error403-key-span"><i class="ivu-icon ivu-icon-ios-bolt" style="font-size: 220px;"></i></span>
                                </div>
                                <p class="error404-body-con-message errocolor">@(string.IsNullOrEmpty(Model.Msg) ? "权限不足" : Model.Msg)</p>
                                <div class="error404-btn-con">
                                    <a class="ivu-btn ivu-btn-text" style="font-size:40px;" href="/dzhome/newHome">
                                        <span>返回首页</span>
                                    </a>
                                    <a class="ivu-btn ivu-btn-primary" style="font-size:35px;" href="javascript:history.go(-1);">
                                        <span>返回上一页</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (Model.code == "500")
            {
                <div class="error500">
                    <div class="error500-body-con">
                        <div>
                            <div class="ivu-card-body">
                                <div class="error500-body-con-title">
                                    5<span class="error500-0-span"><i class="ivu-icon ivu-icon-social-freebsd-devil"></i></span><span class="error500-0-span"><i class="ivu-icon ivu-icon-social-freebsd-devil"></i></span>
                                </div>
                                <p class="error404-body-con-message errocolor">@(string.IsNullOrEmpty(Model.Msg) ? "服务端错误" : Model.Msg)</p>
                                <div class="error404-btn-con">
                                    <a class="ivu-btn ivu-btn-text" style="font-size:40px;" href="/dzhome/newHome">
                                        <span>返回首页</span>
                                    </a>
                                    <a class="ivu-btn ivu-btn-primary" style="font-size:35px;" href="javascript:history.go(-1);">
                                        <span>返回上一页</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
