@model EditModel<DishQueue>
@{
    ViewBag.Title = "DishTableAdd";
    Layout = "~/Areas/DishAdmin/Views/Shared/_LayoutDishAdmin.cshtml";
}

<div class="page-container">
    <form class="form form-horizontal" id="form-article-add" method="post">
        <div id="tab-system" class="HuiTab">
            <div class="tabBar cl">
                <span>基本设置</span>
            </div>
            <div class="tabCon">
                <input type="hidden" name="id" id="id" value="@(Model.DataModel.id)" class="input-text">
                <input type="hidden" name="aid" value="@(Model.DataModel.aId)" class="input-text">
                <input type="hidden" name="storeId" value="@(Model.DataModel.storeId)" class="input-text">
                <input type="hidden" name="act" value="save" class="input-text">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        队列名称：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="q_name" placeholder="例如：1-2桌" value="@(Model.DataModel.q_name)" class="input-text">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        可供就餐人数：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                        <input type="text" name="q_renshu" placeholder="例如：2" value="@(Model.DataModel.q_renshu)" class="input-text" style="width: 150px;">
                        <div class="dish_m_tips">当排号客户的用餐人数少于等于此人数时，系统将自动为排号客户分配此队列</div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        编号前辍：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="q_qianzhui" placeholder="例如：C-" value="@(Model.DataModel.q_qianzhui)" class="input-text">
                    </div>
                </div>
                <div class="row cl" hidden>
                    <label class="form-label col-xs-4 col-sm-2">
                        提前通知人数：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="q_tongzhi_renshu" placeholder="3" value="@(Model.DataModel.q_tongzhi_renshu)" class="input-text">
                        <div class="dish_m_tips">队列有状态变更时, 提前通知的人数</div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">是否启用：</label>
                    <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                        <div class="radio-box">
                            <input name="state" type="radio" value="1" @(Model.DataModel.state == 1 ? "checked" : "")>
                            <label for="state-1">开启</label>
                        </div>
                        <div class="radio-box">
                            <input name="state" type="radio" value="0" @(Model.DataModel.state == 0 ? "checked" : "")>
                            <label for="state-0">关闭</label>
                        </div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        排序：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="q_order" placeholder="@(Model.DataModel.q_order)" value="@(Model.DataModel.q_order)" class="input-text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit" id="submit_button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button class="btn btn-default radius" type="button" onclick="return parent.location.reload();">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                @if (Model.DataModel.id > 0)
                {
                    <button class="btn btn-danger radius" onclick="table_del('@(Model.DataModel.id)')" type="button">&nbsp;&nbsp;删除&nbsp;&nbsp;</button>
                }
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });
            $("#tab-system").Huitab("#tab-system .tabBar span", "#tab-system .tabCon", "current", "click", "0");
            //表单验证
            $("#form-article-add").validate({
                rules: {
                    q_name: {
                        required: true
                    },
                    q_renshu: {
                        required: true,
                        min: 1,
                        max: 50
                    },
                    q_order: {
                        required: true,
                        min: 0,
                        max: 999
                    }
                },
                onkeyup: false,
                focusCleanup: true,
                success: "valid",
                submitHandler: function (form) {
                    var l_index = layer.msg('数据提交中', {
                        icon: 16,
                        shade: 0.5
                    });
                    $("#submit_button").attr("disabled", true);
                    $(form).ajaxSubmit({
                        dataType: "json",
                        success: function (data) {
                            $("#submit_button").attr("disabled", false);
                            layer.close(l_index);
                            if (data.code == 0) {
                                layer.alert(data.msg, { icon: 0 });
                            } else {
                                layer.alert(data.msg, { icon: 1 }, function (index) {
                                    parent.layer.close(index);
                                    parent.location.reload();
                                });
                            }
                        }
                    });
                }
            });

        });


        //删除队列
        function table_del() {
            if (confirm('确定要删除队列吗?')) {
                $.ajax({
                    url: "/DishAdmin/Main/DishQueueEdit",
                    type: 'post',
                    data: { id: $("#id").val(), act: "del", aid:@(Model.DataModel.aId), storeId:@(Model.DataModel.storeId)},
                    success: function (data) {
                        
                        if (data.code == 1) {
                            layer.alert(data.msg, { icon: 1 });
                            setTimeout(function () { parent.location.reload(); }, 500);
                        }
                        else {
                            layer.alert(data.msg, { icon: 0 });
                        }
                    },
                    error: function () {
                        alert('error');
                    }
                });
            }
        }
    </script>

}