@{
    ViewBag.Title = "我的桌面";
    Layout = "~/Areas/DishAdmin/Views/Shared/_LayoutDishAdmin.cshtml";
}
@model Dictionary<string, object>
@section styles{
    <style type="text/css">
        .four-grid { color: #ffffff; }
        .four-agileits { background: #ff4a43; text-align: center; padding: 2em 0; }
        .four-agileinfo { background: #22beef; padding: 2em 0; text-align: center; }
        .four-w3ls { background: #a2d200; padding: 2em 0; text-align: center; }
        .four-text h3 { font-size: 16px; }
        .four-text h4 { font-size: 30px; }
        .data-list { }
        .data-list li { float: left; background: #f1f1f1; margin-right: 10px; padding: 10px 50px; }
    </style>
}

<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 我的桌面
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <div class="panel panel-default">
        <div class="panel-header">今日数据</div>
        <div class="panel-body">
            <div class="col-xs-12 col-sm-6 four-grid">
                <div class="four-agileits">
                    <div class="four-text">
                        <table style="width:80%">
                            <tr>
                                <td style="color:#fff;">
                                    <h3>今日收入</h3>
                                    <h4 style="color:#fff;"> @Model["todayMoney"]</h4>
                                </td>
                                <td style="color:#fff;width:24%;border-left:solid 1px #fff;">
                                    <span>@(DishEnums.PayMode.余额支付)：@Model["todayAccountMoney"] 元</span><br />
                                    <span>@(DishEnums.PayMode.微信支付)：@Model["todayWxMoney"] 元</span><br />
                                    <span>@(DishEnums.PayMode.线下支付)：@Model["todayxjIncome"] 元</span><br />
                                </td>
                                <td style="color:#fff;width:30%;">
                                    <span>货到支付：@Model["todayhdfkIncome"] 元</span><br />
                                    <span>手动确认：@Model["todaysdIncome"] 元</span><br />
                                    <span>微信买单：@Model["todayWxMdIncome"] 元</span><br />
                                    <span>余额买单：@Model["todayAccountMdIncome"] 元</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 four-grid">
                <div class="four-agileinfo">
                    <div class="four-text">
                        <table style="width:80%">
                            <tr>
                                <td style="color:#fff;">
                                    <h3>今日订单</h3>
                                    <h4> @Model["saleCount"]  </h4>
                                </td>
                                <td style="color:#fff;width:24%;border-left:solid 1px #fff;">
                                    <span>@(DishEnums.PayMode.余额支付)：@Model["saleAccountCount"] 单</span><br />
                                    <span>@(DishEnums.PayMode.微信支付)：@Model["saleWxCount"] 单</span><br />
                                    <span>@(DishEnums.PayMode.线下支付)：@Model["saleXjCount"] 单</span>
                                </td>
                                <td style="color:#fff;width:30%;">
                                    <span>货到支付：@Model["saleHdfkCount"] 单</span><br />
                                    <span>手动确认：@Model["saleSdCount"] 单</span><br />
                                    <span>微信买单：@Model["wxMdCount"] 单</span><br />
                                    <span>余额买单：@Model["accountMdCount"] 单</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="panel panel-default" style="margin-top: 10px;">
        <div class="panel-header">数据统计</div>
        <div class="panel-body">
            <ul class="data-list">
                <!--<li>
                    <h3>总收入</h3>
                    <h4>0元</h4>
                </li>-->
                <li>
                    <table>
                        <tr>
                            <td><h3>总收入</h3></td>
                            <td style="padding-left:30px;">
                                <span>@(DishEnums.PayMode.余额支付)：@Model["accountIncome"] 元</span><br />
                                <span>@(DishEnums.PayMode.微信支付)：@Model["wxIncome"] 元</span><br />
                                <span>@(DishEnums.PayMode.线下支付)：@Model["xjIncome"] 元</span>
                            </td>
                        </tr>
                        <tr>
                            <td> <h4>@Model["onlineIncome"] 元</h4></td>
                            <td style="padding-left:30px;">
                                <span>货到支付：@Model["hdfkIncome"] 元</span><br />
                                <span>手动确认：@Model["sdIncome"] 元</span><br />
                                <span>微信买单：@Model["wxMdIncome"] 元</span><br />
                                <span>余额买单：@Model["accountMdIncome"] 元</span>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <h3>总订单数</h3>
                    <h4>@Model["allOrderCount"] 单</h4>
                </li>
                <li>
                    <h3>商品数</h3>
                    <h4>@Model["goodsCount"] 个</h4>
                </li>
                <li>
                    <h3>餐桌数</h3>
                    <h4>@Model["tablesCount"] 张</h4>
                </li>
                <li>
                    <h3>打印机数</h3>
                    <h4>@Model["printerCount"] 台</h4>
                </li>
                @*<li>
                        <h3>用户人数</h3>
                        <h4>@Model["userCount"] 人</h4>
                    </li>*@
            </ul>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>