@{
    ViewBag.appId = Utility.IO.Context.GetRequestInt("appId", 0);
}
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="nav-item open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">小程序-同城版</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu" style="display: block;">
                    <li class="nav-item start @(ViewBag.Title == "阿拉丁统计" ? "active" : string.Empty)">
                        <a href="/common/AladingTongJi?Id=@ViewBag.appId&appId=@ViewBag.appId&pageType=@((int)TmpType.小程序同城模板)&type=@((int)TmpType.小程序同城模板)" class="nav-link">
                            <i class="glyphicon glyphicon-stats"></i>
                            <span class="title">阿拉丁统计</span>
                        </a>
                    </li>
                    <li class="nav-item start">
                        <a href="/config/MiniAppConfig?appId=@ViewBag.appId&id=@ViewBag.appId&type=@((int)TmpType.小程序同城模板)" class="nav-link">
                            <i class="glyphicon glyphicon-wrench"></i>
                            <span class="title">小程序管理</span>
                        </a>
                    </li>
                    <li class="nav-item start @(ViewBag.Title == "商家配置" ? " active" : string.Empty)">
                        <a href="/cityminiapp/index?appId=@ViewBag.appId" class="nav-link">
                            <i class="glyphicon glyphicon-cog"></i>
                            <span class="title">商家配置</span>
                        </a>
                    </li>
                    <li class="nav-item start @(ViewBag.Title == "分类管理" ? " active" : string.Empty)">
                        <a href="/cityminiapp/cityStoreMsgType?appId=@ViewBag.appId" class="nav-link">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span class="title">分类管理</span>
                        </a>
                    </li>
                    <li class="nav-item start @(ViewBag.Title == "信息管理" ? " active" : string.Empty)">
                        <a href="/cityminiapp/cityMsg?appId=@ViewBag.appId" class="nav-link">
                            <i class="glyphicon glyphicon-align-justify"></i>
                            <span class="title">信息管理</span>
                        </a>
                    </li>
                    <li class="nav-item start @(ViewBag.Title == "用户管理" ? " active" : string.Empty)">
                        <a href="/cityminiapp/city_Users?appId=@ViewBag.appId" class="nav-link">
                            <i class="glyphicon glyphicon-user"></i>
                            <span class="title">用户管理</span>
                        </a>
                    </li>
                    <li class="nav-item start @(ViewBag.Title == "举报管理" ? " active" : string.Empty)">
                        <a href="/cityminiapp/reportMsg?appId=@ViewBag.appId" class="nav-link">
                            <i class="glyphicon glyphicon-fire"></i>
                            <span class="title">举报管理</span>
                        </a>
                    </li>


                </ul>
            </li>

        </ul>
    </div>
</div>

