@{
    var agentInfo = Request.RequestContext.RouteData.Values["agentInfo"];
}
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            @*<li class="nav-item start active open">*@
            <li class="nav-item start @(ViewBag.Title=="首页"?"active":"")">
                <a href="/agentmanager/Index" class="nav-link ">
                    <i class="glyphicon glyphicon-home"></i>
                    <span class="title">首页</span>
                </a>
            </li>
            @if (ViewBag.Password)
            {
                <li class="nav-item start @(ViewBag.Title=="客户管理"?"active":"")">
                    <a href="javascript:;" onclick="checkagentpassword()" class="nav-link ">
                        <i class="glyphicon glyphicon-user"></i>
                        <span class="title">客户管理</span>
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item start @(ViewBag.Title=="客户管理"?"active":"")">
                    <a href="/agentmanager/userlist" class="nav-link ">
                        <i class="glyphicon glyphicon-user"></i>
                        <span class="title">客户管理</span>
                    </a>
                </li>
            }

            <li class="nav-item start @(ViewBag.Title=="已开通模板管理"?"active":"")">
                <a href="/agentmanager/OpenTemplate" class="nav-link ">
                    <i class="glyphicon glyphicon-book"></i>
                    <span class="title">已开通模板管理</span>
                </a>
            </li>
            @if (ViewBag.level == 0 && (ViewBag.OpenFenXiao || ViewBag.CanOpenDistribution))
            {
                if (ViewBag.Password)
                {
                    <li class="nav-item start @(ViewBag.Title == "分销代理管理" ? "active" : "")">
                        <a href="javascript:;" onclick="checkagentpassword()" class="nav-link ">
                            <i class="glyphicon glyphicon-bullhorn"></i>
                            <span class="title">分销代理管理</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item start @(ViewBag.Title == "分销代理管理" ? "active" : "")">
                        <a href="/agentmanager/distributionlist" class="nav-link ">
                            <i class="glyphicon glyphicon-bullhorn"></i>
                            <span class="title">分销代理管理</span>
                        </a>
                    </li>
                }
            }

            @if (ViewBag.Password)
            {
                <li class="nav-item start @(ViewBag.Title=="预存款变更明细"?"active":"")">
                    <a href="javascript:;" onclick="checkagentpassword()" class="nav-link ">
                        <i class="glyphicon glyphicon-tint"></i>
                        <span class="title">预存款变更明细</span>
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item start @(ViewBag.Title=="预存款变更明细"?"active":"")">
                    <a href="/agentmanager/DepositDetail" class="nav-link ">
                        <i class="glyphicon glyphicon-tint"></i>
                        <span class="title">预存款变更明细</span>
                    </a>
                </li>
            }
            @if (agentInfo == null)
            {
                <li class="nav-item start @(ViewBag.Title=="帮助中心"?"active":"")">
                    <a href="/dzhome/programWiki" class="nav-link ">
                        <i class="glyphicon glyphicon-paperclip"></i>
                        <span class="title">帮助中心</span>
                    </a>
                </li>
            }
            @{ var exchange = (ViewBag.Title == "基础设置" || ViewBag.Title == "内容管理" || ViewBag.Title == "咨询表单" ? 1 : 0); }
            <li class="nav-item @(exchange == 1 ? "open" : "")">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="glyphicon glyphicon-tags"></i>
                    <span class="title">网页管理</span>
                    <span class="selected"></span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start @(ViewBag.Title== "基础设置" ? " active":string.Empty)">
                        <a href="/agentmanager/WebSiteIndex" class="nav-link">
                            <i class="glyphicon glyphicon-cog"></i>
                            <span class="title">基础设置</span>
                        </a>
                    </li>
                    <li class="nav-item start @(ViewBag.Title== "内容管理" ? " active":string.Empty)">
                        <a href="/agentmanager/WebSiteContent" class="nav-link">
                            <i class="glyphicon glyphicon-cloud"></i>
                            <span class="title">内容管理</span>
                        </a>
                    </li>
                    <li class="nav-item start @(ViewBag.Title == "咨询表单" ? "active" : string.Empty)">
                        <a href="/agentmanager/questionList" class="nav-link">
                            <i class="glyphicon glyphicon-th-list"></i>
                            <span class="title">咨询表单</span>
                        </a>
                    </li>
                    <li class="nav-item start @(ViewBag.Title == "案例管理" ? "active" : string.Empty)">
                        <a href="/agentmanager/agentinfocase" class="nav-link">
                            <i class="glyphicon glyphicon-th-list"></i>
                            <span class="title">案例管理</span>
                        </a>
                    </li>
                    <li class="nav-item start @(ViewBag.Title == "标签管理" ? "active" : string.Empty)">
                        <a href="/agentmanager/agentinfocasetag" class="nav-link">
                            <i class="glyphicon glyphicon-th-list"></i>
                            <span class="title">标签管理</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item start @(ViewBag.Title=="朋友圈广告合作方案"?"active":"")" style="display:none;">
                <a href="/agentmanager/friendPage" class="nav-link ">
                    <i class="glyphicon glyphicon-tree-conifer"></i>
                    <span class="title">朋友圈广告合作方案</span>
                </a>
            </li>

            @if (ViewBag.AgentType == 0 && ViewBag.level == 0 && ViewBag.IsOpenDistribution == 1)
            {
                <li class="nav-item start @(ViewBag.Title == "小未分销推广" ? "active" : "")">
                    <a href="/agentmanager/agentqrcodelist" class="nav-link ">
                        <i class="glyphicon glyphicon-bullhorn"></i>
                        <span class="title">小未分销推广</span>
                    </a>
                </li>

                if (ViewBag.Password)
                {
                    <li class="nav-item start @(ViewBag.Title == "小未返款记录" ? "active" : "")">
                        <a href="javascript:;" onclick="checkagentpassword()" class="nav-link ">
                            <i class="glyphicon glyphicon-bullhorn"></i>
                            <span class="title">小未返款记录</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item start @(ViewBag.Title == "小未返款记录" ? "active" : "")">
                        <a href="/agentmanager/agentcasebacklist" class="nav-link ">
                            <i class="glyphicon glyphicon-bullhorn"></i>
                            <span class="title">小未返款记录</span>
                        </a>
                    </li>
                }
                <li class="nav-item start @(ViewBag.Title == "商家返款处理" ? "active" : "")">
                    <a href="/agentmanager/agentcustomercaseback" class="nav-link ">
                        <i class="glyphicon glyphicon-bullhorn"></i>
                        <span class="title">商家返款处理</span>
                    </a>
                </li>
            }

            <li class="nav-item start @(ViewBag.Title=="小未平台"?"active":"")" style="display:none;">
                <a href="/Plat/MyCard/Index?aid=@ViewBag.appId" class="nav-link ">
                    <i class="glyphicon glyphicon-tree-conifer"></i>
                    <span class="title">小未平台</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<script>
    function checkagentpassword() {
        layer.open({
            type: 1,
            zIndex: 999999,
            title: "该操作需要输入代理密码",
            shade: 0.3,
            area: ['350px', '150px'], //宽高
            content: "<div style='text-align:center;margin-top:20px;'>密码：<input type='text' value='' id='slide_agentpassword'/></div>",//this.adddiv(),
            btn: ["确定", "取消"],
            end: function () {
                currenteditid = 0;
            },
            yes: function () {
                var password = window.parent.document.getElementById("slide_agentpassword").value;//$("#nameVal").val();
                if (password == undefined || password.length <= 0) {
                    return layer.msg("请输入代理密码");
                }
                $.ajax({
                    type: "Post",
                    url: "/agentmanager/CheckAgentPassowrd",
                    data:
                        {
                            password: password,
                        },
                    success: function (data) {
                        if (data.isok) {
                            window.location.href = "/agentmanager/userlist";
                        }
                        else {
                            layer.msg(data.Msg);
                        }
                    }
                });
            },
        });
    }
</script>