@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>免费领取小程序</title>
    <link rel="shortcut icon" type="image/x-icon" href="@(WebSiteConfig.cdnurl)content/newhome/image/bitbug_favicon.ico">
    @*<link href="@(WebSiteConfig.cdnurl)content/newhome/css/mBase.css" rel="stylesheet" />
    <link href="@(WebSiteConfig.cdnurl)content/newhome/css/mGeneralize.css" rel="stylesheet" />*@ <!-- 上线版 -->
    <link href="/Content/newhome/css/mobile/mBase.css" rel="stylesheet" />
    <link href="/Content/newhome/css/mobile/mGeneralize.css" rel="stylesheet" />  <!-- 开发版 -->
</head>
<body style="display:none;">
    <div class="mobile-viewport">
        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobile/freeTrial-home.png" />
        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobile/freeTrial-details.png" />
        <div class="form-area">
            <div class="row">
                <div class="input-group-i">
                    <span class="input-group-addon-i warn-star" style="color: #808080;">姓名</span>
                    <div class="m-input-text">
                        <input type="text" id="name" class="form-control form-input-i" placeholder="" required="" eletype="name">
                    </div>
                </div>
                <div class="input-group-i">
                    <span class="input-group-addon-i warn-star" style="color: #808080;">电话</span>
                    <div class="m-input-text">
                        <input type="text" id="phoneNum" class="form-control form-input-i" placeholder="" required="" eletype="captcha">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-group-i">
                    <button id="btnSubmit" class="btn-i" type="submit" style="border-radius:4px;height:42px;color:#fff">立即提交</button>
                </div>
            </div>
            <div class="rich-text" style="padding: 20px 15px 10px 15px;">
                <div class="inner">
                    <div style="text-align: center;">
                        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobile/icon-miniApp.png" />
                    </div>
                    <div style="text-align: center;">
                        <span style="font-family: inherit; display: inline !important;">
                            <font color="#c0c0c0">点赞科技提供技术支持</font>
                        </span>
                    </div>
                    <div style="text-align: center;">
                        <span style="font-family: inherit; display: inline !important;">
                            <font color="#c0c0c0">dz.vzan.com</font>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            document.body.style.display = "block";
        }
    </script>
    <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/jquery.min.js"></script>
    <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/layer-v3.1.0/layer/layer.js"></script>
    <script>
        $(function () {
            $("#btnSubmit").click(function () {
                submitInformation(1);
            })
            function submitInformation(type) {
                var name = $("#name").val();
                var phone = $("#phoneNum").val().trim();
                var typeValue = type;

                if (name == "" || phone == "") {
                    layer.msg("请填写完整信息");
                    return;
                }
                if (!(/^1[34578]\d{9}$/.test(phone))) {
                    layer.msg("请输入正确的手机号");
                    return;
                }

                $.post("/DLPT/SendUserAdvisory",
                   { Phone: phone, username: name, source: typeValue },
                   function (data) {
                       if (data.isok) {
                           layer.msg(data.Msg);
                           $("#name").val("");
                           $("#phoneNum").val("");
                       }
                   })
            }
        })
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?ddfd346c605f12b5790b9d4e90bac541";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>