@model AgentWebSiteInfo
@{
    Layout = null;
    string companyName = string.Empty;
    string phone = string.Empty;
    string addr = string.Empty;
    string email = string.Empty;
    bool videoSwitch = false;
    if (Model.pageMsgConfigModel != null)
    {
        videoSwitch = Model.pageMsgConfigModel.videoSwitch;
    }
    if (Model.seoConfigModel != null)
    {
        companyName = Model.seoConfigModel.companyName;
        phone = Model.pageMsgConfigModel.telephone;
        addr = Model.pageMsgConfigModel.address;
        email = Model.pageMsgConfigModel.email;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Cache-Control" content="max-age=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    @{
        if (Model.seoConfigModel != null)
        {
            <title>@Model.seoConfigModel.companyName</title>
            <meta name="keywords" content="@Model.seoConfigModel.keyWords" />
            <meta name="description" content="@Model.seoConfigModel.description" />
        }
        else
        {
            <title>小未程序</title>
            <meta name="keywords" content="小未程序,代理商网站" />
            <meta name="description" content="小未程序代理商网站" />
        }
    }
    <link rel="shortcut icon" type="image/x-icon" href="@(WebSiteConfig.cdnurl)content/newhome/image/indexDl/bitbug_favicon.ico">
    <link href="http://j.vzan.cc/dz/content/newhome/css/mobile/mBase.css" rel="stylesheet" />
    <link href="@(WebSiteConfig.cdnurl)content/newhome/css/mobile/mobileHome.css?@WebSiteConfig.cdnVersion" rel="stylesheet" />
    <link href="@(WebSiteConfig.cdnurl)content/newhome/lib/swiper.min.css" rel="stylesheet" />
    <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/jquery.min.js"></script>

</head>
<body style="display:none;">
    <div class="mobile-viewport">
    <div class="agent-box f fc fc-h">
        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/agent-wall.png" />
        <div class="text-box">
            <p class="font50 rv"><span class="green-tx">10万+</span>终端用户</p>
            <p class="font70 rv">终极选择 @*<img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/miniApp-icon.png" class="miniApp-icon" />*@</p>
        </div>
    </div>
    @*<div class="f fc fc-h">
               < div class="xwcx-img rv">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/xwcx.png" />
            </div>
            <div class="xwcx-text f fv fj">
                <h2 class="f-lighter">小未程序</h2>
                <div class="xwcx-text-details rv">
                    <p>1分钟免费打造自己的小程序</p>
                    <p>完全可视化拖拽操作</p>
                </div>
            </div>
        </div>*@

    @{
        string MobileBannerArry = Model.pageMsgConfigModel.MobileBannerImgs;
        if (MobileBannerArry != null || !string.IsNullOrEmpty(MobileBannerArry))
        {
            List<string> list = MobileBannerArry.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries).ToList();
            if (list != null && list.Count > 0)
            {
                <div id="bannerSwiper" class="banner-swiper-box swiper-container">
                    <div class="swiper-wrapper">
                        
                        @foreach (var item in list)
                        {
                            <div class="swiper-slide">
                                <img class="banner-img" src="@item" />
                            </div>
                        }

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                }
            }
        }
        @*<div id="bannerSwiper" class="banner-swiper-box swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="banner-img" src="@(WebSiteConfig.cdnurl)content/newhome/image/indexDl/mobile/bg-about.png" />
                </div>
                <div class="swiper-slide">
                    <img class="banner-img" src="@(WebSiteConfig.cdnurl)content/newhome/image/indexDl/mobile/bg-about.png" />
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>*@
                            @{
                                if (videoSwitch)
                                {



                                    <div class="miniAppVideo-box f fv ">
                                        <div class="title-box title-font">
                                            <h3>小程序改变一切</h3>
                                            <p class="title-sm">视频是迄今为止最深度的小程序解读</p>
                                        </div>
                                        <div class="video-box rv">
                                            <video type="video/mp4" controls="controls" style="width:100%;height: 3.9rem;" webkit-playsinline x5-playsinline playsinline></video>
                                            <div id="videoMasking" class="video-masking f fc fc-h" style="background-image:url('@(WebSiteConfig.cdnurl)content/newhome/image/indexDl/mobile/video-masking.png')">
                                                <img id="btnVideo" class="video-play" src="@(WebSiteConfig.cdnurl)content/newhome/image/video-play.png" />
                                            </div>
                                        </div>
                                        <p class="bottom-text rv">速耐心看完！可能删除！</p>
                                    </div>
                                }
                            }
                                <div class="function-box " style="background-color:#f9f9f9;">
                                    <div class="core-box">
                                        <div class="title-box title-font ">
                                            <h3>核心功能</h3>
                                            <p class="title-sm">以市场需求为核心，充分满足终端客户使用要求</p>
                                        </div>
                                        <div class="icon-box f fc-h">
                                            <ul class="icon-list f fc fc-h fw">
                                                <li class="f fc fc-h rv">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon ds"></div>
                                                        <p>电商</p>
                                                    </div>
                                                </li>
                                                <li class="f fc fc-h rv">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon yy"></div>
                                                        <p>预约</p>
                                                    </div>
                                                </li>
                                                <li class="f fc fc-h rv">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon fl"></div>
                                                        <p>分类</p>
                                                    </div>
                                                </li>
                                                <li class="f fc fc-h rv">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon zb"></div>
                                                        <p>直播</p>
                                                    </div>
                                                </li>
                                                <li class="f fc fc-h rv">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon zx"></div>
                                                        <p>咨询</p>
                                                    </div>
                                                </li>
                                                <li class="f fc fc-h rv">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon pt"></div>
                                                        <p>拼团</p>
                                                    </div>
                                                </li>
                                                <li class="f fc fc-h rv">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon kj"></div>
                                                        <p>砍价</p>
                                                    </div>
                                                </li>
                                                <li class="f fc fc-h rv">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon sp"></div>
                                                        <p>视频</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="marketing-box">
                                        <div class="title-box title-font ">
                                            <h3>营销功能</h3>
                                            <p class="title-sm">小程序营销功能为商业提供营销解决方案</p>
                                        </div>
                                        <div class="icon-box f fc-h">
                                            <ul class="icon-list f fc fc-h fw">
                                                <li class="f fc fc-h">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon vip"></div>
                                                        <p>会员卡</p>
                                                    </div>
                                                </li>
                                                <li class="f fc fc-h">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon cz"></div>
                                                        <p>储值</p>
                                                    </div>
                                                </li>
                                                <li class="f fc fc-h">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon kj2"></div>
                                                        <p>砍价</p>
                                                    </div>
                                                </li>
                                                <li class="f fc fc-h">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon pt2"></div>
                                                        <p>拼团</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="other-box">
                                        <div class="title-box title-font ">
                                            <h3>其他功能</h3>
                                            <p class="title-sm">让我们与客户更接近，为客户提供更优质服务</p>
                                        </div>
                                        <div class="icon-box f fc-h">
                                            <ul class="icon-list f fc fc-h fw">
                                                <li class="f fc fc-h rv">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon dt"></div>
                                                        <p>地图</p>
                                                    </div>
                                                </li>
                                                <li class="f fc fc-h rv">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon bm"></div>
                                                        <p>报名</p>
                                                    </div>
                                                </li>
                                                <li class="f fc fc-h rv">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon kf"></div>
                                                        <p>客服</p>
                                                    </div>
                                                </li>
                                                <li class="f fc fc-h rv">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon fx"></div>
                                                        <p>分享</p>
                                                    </div>
                                                </li>
                                                <li class="f fc fc-h rv">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon bgmusic"></div>
                                                        <p>背景音乐</p>
                                                    </div>
                                                </li>
                                                <li class="f fc fc-h rv">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon fj"></div>
                                                        <p>附近展示</p>
                                                    </div>
                                                </li>
                                                <li class="f fc fc-h rv">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon tz"></div>
                                                        <p>跳转</p>
                                                    </div>
                                                </li>
                                                <li class="f fc fc-h rv">
                                                    <div class="icon-item-box">
                                                        <div class="dl-icon dd"></div>
                                                        <p>到店</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="sixmodules-box">
                                    <div class="title-box title-font">
                                        <h3>小程序模板市场</h3>
                                        <p class="title-sm">@(companyName)程序为各种商业应用场景提供海量模板</p>
                                    </div>
                                    <div class="dy-box">
                                        <div class="versions-content f fv fj">
                                            <div class="versions-text">
                                                <h3 class="font26 rv">单页版</h3>
                                                <p class="font22 rv">
                                                    单页版是小未程序的基础版本，是现在市面上最强大的单页版。
                                                    适用于所有行业，通过附近展示功能，可以定位店铺位置，为店铺带来大量客流，是商家网络名片的最佳选择。
                                                </p>
                                            </div>
                                            <div class="versions-img ">
                                                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/dy-show.png" style="display:block;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qy-box" style="margin-top:0.4rem;">
                                        <div class="versions-content f fv fj">
                                            <div class="versions-text">
                                                <h3 class="font26 rv">企页版</h3>
                                                <p class="font22 rv">
                                                    企业版为广大中小型企业提供一个简单高效的在线推广展示工具，助力商家抢占线上流量的红利。
                                                </p>
                                            </div>
                                            <div class="versions-img rv">
                                                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/qy-show.png" style="display:block;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hy-box" style="margin-top:0.4rem;">
                                        <div class="versions-content f fv fj">
                                            <div class="versions-text">
                                                <h3 class="font26 rv">行业版</h3>
                                                <p class="font22 rv">
                                                    行业版适用于所有行业。内置14种功能组件，其中包括视频，轮播图，背景音乐，在线客服等，用户可以根据不同行业的
                                                    场景需求，自由选择搭配组件。
                                                </p>
                                            </div>
                                            <div class="versions-img rv">
                                                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/hy-show.png" style="display:block;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ds-box" style="margin-top:0.4rem;">
                                        <div class="versions-content f fv fj">
                                            <div class="versions-text">
                                                <h3 class="font26 rv">电商版</h3>
                                                <p class="font22 rv">
                                                    电商版为零售提供最先进的行业解决方案，帮助零售业打破自身局限，搭建微信端电商销售体系，实现流量聚合。
                                                </p>
                                            </div>
                                            <div class="versions-img rv">
                                                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/ds-show.png" style="display:block;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cy-box" style="margin-top:0.4rem;">
                                        <div class="versions-content f fv fj">
                                            <div class="versions-text">
                                                <h3 class="font26 rv">餐饮版</h3>
                                                <p class="font22 rv">
                                                    餐饮版为实体餐饮门店提供一个简单高效的在线营销工具，助力商家抢占线上流量的红利，为商家提供的餐厅门店解决方案。
                                                </p>
                                            </div>
                                            <div class="versions-img rv">
                                                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/cy-show.png" style="display:block;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="zy-box" style="margin-top:0.4rem;">
                                        <div class="versions-content f fv  fj">
                                            <div class="versions-text">
                                                <h3 class="font26 rv">专业版</h3>
                                                <p class="font22 rv">
                                                    专业版具备行业版的自定义特点，内置16种功能组件，商家可以根据行业的需求选择组件，自由搭配。行业拥有丰富
                                                    的营销插件——会员卡储值，会员折扣，砍价，拼团等。
                                                </p>
                                            </div>
                                            <div class="versions-img rv">
                                                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/zy-show.png" style="display:block;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="solution-box">
                                    <div class="title">
                                        <h3>行业解决方案</h3>
                                        <p>@(companyName)程序为各种商业应用场景提供小程序解决方案</p>
                                    </div>
                                    <div class="slide-show">
                                        <div class="list f fc fc-h">
                                            <ul id="solutionCase" class="f fc">
                                                <li class="p1">
                                                    <div class="swiper-item">
                                                        <div class="intro pt50">
                                                            <h4 class="title">汽车4s</h4>
                                                            <p>4s店小程序对行业资源整合进行深入思考，就“成交客户满意度调研，客户服务，车友信息交流”3个关键点，进行深入开发。</p>
                                                        </div>
                                                        <div class="func pt50">
                                                            <h4 class="title f-lighter">功能列表</h4>
                                                            <div class="func-list f fc fw">
                                                                <span class="func-item"><i class="icon-clasp"></i>店铺管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>附近展示</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>动态表单</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>会员管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>在线客服</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>信息资讯</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>线上支付</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>数据汇总</span>
                                                            </div>
                                                        </div>
                                                        <div class="case-show pt50">
                                                            <h4 class="title f-lighter">案例展示</h4>
                                                            <div class="case-list f fc">
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="p2">
                                                    <div class="swiper-item">
                                                        <div class="intro pt50">
                                                            <h4 class="title ">房地产</h4>
                                                            <p>房地产小程序具有房产中介必需的基础功能，提高企业服务效率，实现了服务与人的连接。</p>
                                                        </div>
                                                        <div class="func pt50">
                                                            <h4 class="title f-lighter">功能列表</h4>
                                                            <div class="func-list f fc fw">
                                                                <span class="func-item"><i class="icon-clasp"></i>店铺管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>楼盘资讯</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>视频展示</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>在线预约</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>会员管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>数据汇总</span>
                                                            </div>
                                                        </div>
                                                        <div class="case-show pt50">
                                                            <h4 class="title f-lighter">案例展示</h4>
                                                            <div class="case-list f fc">
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="p3">
                                                    <div class="swiper-item">
                                                        <div class="intro pt50">
                                                            <h4 class="title ">健身房</h4>
                                                            <p>健身房小程序链接商家和客户，帮助商家通过店铺的高品质内容来吸引微信9亿级活跃用户流量，帮助提高用户的身体数值，提高商家的曝光率和交易额。</p>
                                                        </div>
                                                        <div class="func pt50">
                                                            <h4 class="title f-lighter">功能列表</h4>
                                                            <div class="func-list f fc fw">
                                                                <span class="func-item"><i class="icon-clasp"></i>店铺管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>资讯发布</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>教练在线</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>预约到店</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>会员管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>数据汇总</span>
                                                            </div>
                                                        </div>
                                                        <div class="case-show pt50">
                                                            <h4 class="title f-lighter">案例展示</h4>
                                                            <div class="case-list f fc">
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="p4">
                                                    <div class="swiper-item">
                                                        <div class="intro pt50">
                                                            <h4 class="title ">家政</h4>
                                                            <p>家政小程序深入家政行业，经过调研分析市场需求，旨在解决家政公司的痛点，提供了一整套行业方法，帮助商家获取精准客户，高效管理家政人员，利用会员管理系统维护老客户，引导他们再次消费。</p>
                                                        </div>
                                                        <div class="func pt50">
                                                            <h4 class="title f-lighter">功能列表</h4>
                                                            <div class="func-list f fc fw">
                                                                <span class="func-item"><i class="icon-clasp"></i>店铺管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>在线客服</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>线上预约</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>支付便捷</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>会员管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>数据汇总</span>
                                                            </div>
                                                        </div>
                                                        <div class="case-show pt50">
                                                            <h4 class="title f-lighter">案例展示</h4>
                                                            <div class="case-list f fc">
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/content/newhome/image/indexdl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/content/newhome/image/indexdl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/content/newhome/image/indexdl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/content/newhome/image/indexdl/code.png" />*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="p5">
                                                    <div class="swiper-item">
                                                        <div class="intro pt50">
                                                            <h4 class="title ">电商</h4>
                                                            <p>电商版小程序为零售提供最先进的行业解决方案，帮助零售业打破自身局限，搭建微信端电商销售体系，实现流量聚合</p>
                                                        </div>
                                                        <div class="func pt50">
                                                            <h4 class="title f-lighter">功能列表</h4>
                                                            <div class="func-list f fc fw">
                                                                <span class="func-item"><i class="icon-clasp"></i>图片导航</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>轮播图</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>多规格</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>商品排序</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>消息模板</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>会员管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>砍价</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>云打印机</span>
                                                            </div>
                                                        </div>
                                                        <div class="case-show pt50">
                                                            <h4 class="title f-lighter">案例展示</h4>
                                                            <div class="case-list f fc">
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="p6">
                                                    <div class="swiper-item">
                                                        <div class="intro pt50">
                                                            <h4 class="title ">KTV</h4>
                                                            <p>KTV小程序旨在用数据和产品帮助线下KTV商家，口碑KTV行业解决方案链接商家和用户，围绕商家，不仅给店铺带来微信9亿活跃用户的流量，预约包厢、地图导航，在线支付等智慧KTV的解决方案。</p>
                                                        </div>
                                                        <div class="func pt50">
                                                            <h4 class="title f-lighter">功能列表</h4>
                                                            <div class="func-list f fc fw">
                                                                <span class="func-item"><i class="icon-clasp"></i>会员管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>营销推广</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>门店管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>店铺管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>资讯内容</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>自助点餐</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>在线预约</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>数据汇总</span>
                                                            </div>
                                                        </div>
                                                        <div class="case-show pt50">
                                                            <h4 class="title f-lighter">案例展示</h4>
                                                            <div class="case-list f fc">
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="p7">
                                                    <div class="swiper-item">
                                                        <div class="intro pt50">
                                                            <h4 class="title ">美容美发</h4>
                                                            <p>美容美发小程序可以让消费者需要更多的行业信息，帮助他进门店及手艺人的选择，并且当办理了会员服务，可以获取更多品质的会员服务，根据会员等级享受折扣权限。</p>
                                                        </div>
                                                        <div class="func pt50">
                                                            <h4 class="title f-lighter">功能列表</h4>
                                                            <div class="func-list f fc fw">
                                                                <span class="func-item"><i class="icon-clasp"></i>店铺管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>线上预约</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>支付便捷</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>会员管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>销售推广</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>门店管理</span>
                                                            </div>
                                                        </div>
                                                        <div class="case-show pt50">
                                                            <h4 class="title f-lighter">案例展示</h4>
                                                            <div class="case-list f fc">
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="p8">
                                                    <div class="swiper-item">
                                                        <div class="intro pt50">
                                                            <h4 class="title ">家装建材</h4>
                                                            <p>家装建材小程序，场景囊括线上到线下，致力为家装公司提供一套，高效便捷的装修行业解决方案。</p>
                                                        </div>
                                                        <div class="func pt50">
                                                            <h4 class="title f-lighter">功能列表</h4>
                                                            <div class="func-list f fc fw">
                                                                <span class="func-item"><i class="icon-clasp"></i>店铺管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>装修案例</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>工地地图</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>线上预约</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>会员管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>专家在线</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>支付便捷</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>家装商城</span>
                                                            </div>
                                                        </div>
                                                        <div class="case-show pt50">
                                                            <h4 class="title f-lighter">案例展示</h4>
                                                            <div class="case-list f fc">
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="p9">
                                                    <div class="swiper-item">
                                                        <div class="intro pt50">
                                                            <h4 class="title ">教育培训</h4>
                                                            <p>教育培训小程序，可以帮助机构塑造品牌形象全面展示机构荣誉，学习环境，师资力量，课程内容帮助机构更好招收学员，服务客户，增加互动。</p>
                                                        </div>
                                                        <div class="func pt50">
                                                            <h4 class="title f-lighter">功能列表</h4>
                                                            <div class="func-list f fc fw">
                                                                <span class="func-item"><i class="icon-clasp"></i>招生问题</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>管理问题</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>互动问题</span>
                                                            </div>
                                                        </div>
                                                        <div class="case-show pt50">
                                                            <h4 class="title f-lighter">案例展示</h4>
                                                            <div class="case-list f fc">
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="p10">
                                                    <div class="swiper-item">
                                                        <div class="intro pt50">
                                                            <h4 class="title ">医美</h4>
                                                            <p>医美小程序为医美机构带来什么产品细节展示，一键预约，选择美容师，美容产品商城，线上结算支付，会员系统管理，附近5公里展示，数据汇总统计，在线客服。</p>
                                                        </div>
                                                        <div class="func pt50">
                                                            <h4 class="title f-lighter">功能列表</h4>
                                                            <div class="func-list f fc fw">
                                                                <span class="func-item"><i class="icon-clasp"></i>店铺管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>咨讯内容</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>美容预约</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>线上商城</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>在线客服</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>会员管理</span>
                                                            </div>
                                                        </div>
                                                        <div class="case-show pt50">
                                                            <h4 class="title f-lighter">案例展示</h4>
                                                            <div class="case-list f fc">
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="p11">
                                                    <div class="swiper-item">
                                                        <div class="intro pt50">
                                                            <h4 class="title ">宠物</h4>
                                                            <p>宠物小程序可以快速让顾客了解自己想了解的信息，通过视频直观了解宠物状况，也可以主动咨询在线客服，极大方便了客户，也方便了商家管理和盈利。</p>
                                                        </div>
                                                        <div class="func pt50">
                                                            <h4 class="title f-lighter">功能列表</h4>
                                                            <div class="func-list f fc fw">
                                                                <span class="func-item"><i class="icon-clasp"></i>店铺管理</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>宠物资讯</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>视频展示</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>在线预约</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>在线客服</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>会员系统</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>数据汇总</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>宠物商城</span>
                                                            </div>
                                                        </div>
                                                        <div class="case-show pt50">
                                                            <h4 class="title f-lighter">案例展示</h4>
                                                            <div class="case-list f fc">
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="p12">
                                                    <div class="swiper-item">
                                                        <div class="intro pt50">
                                                            <h4 class="title ">餐饮</h4>
                                                            <p>餐饮小程序为实体餐饮门店提供一个简单高效的在线营销工具，助力商家抢占线上流量的红利。</p>
                                                        </div>
                                                        <div class="func pt50">
                                                            <h4 class="title f-lighter">功能列表</h4>
                                                            <div class="func-list f fc fw">
                                                                <span class="func-item"><i class="icon-clasp"></i>增加营收</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>增加效率</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>成交率</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>餐厅会员</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>销售活动</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>点餐系统</span>
                                                                <span class="func-item"><i class="icon-clasp"></i>打印机</span>
                                                            </div>
                                                        </div>
                                                        <div class="case-show pt50">
                                                            <h4 class="title f-lighter">案例展示</h4>
                                                            <div class="case-list f fc">
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                                <div class="case-item f fc ">
                                                                    @*<img src="/Content/newhome/image/indexDl/code.png" />*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dots-box">
                                        <div class="dots-bg f fc">
                                            <div class="dots"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="productcase-box">
                                    <div class="title">
                                        <h3>产品案例</h3>
                                        <p>他们都选择@(companyName)小程序</p>
                                    </div>
                                    <div class="case">
                                        @*单页版:4  企业版:2  电商版:6  餐饮版:18  行业版:27  专业版:37*@
                                        <ul id="caseLable" class="label f fc">
                                            <li class="f1 f fc fc-h active" data-type="4">单页版</li>
                                            <li class="f1 f fc fc-h" data-type="2">企业版</li>
                                            <li class="f1 f fc fc-h" data-type="6">电商版</li>
                                            <li class="f1 f fc fc-h" data-type="18">餐饮版</li>
                                            <li class="f1 f fc fc-h" data-type="27">行业版</li>
                                            <li class="f1 f fc fc-h" data-type="37">专业版</li>
                                        </ul>
                                        <div id="caseList" class="list f fw">

                                        </div>
                                    </div>
                                </div>
                                @{
                                    if (Model.pageMsgConfigModel != null)
                                    {
                                        List<CustomModel> listCustomModel = Model.pageMsgConfigModel.listCustomModel;
                                        if (Model.pageMsgConfigModel.listCustomModel != null && Model.pageMsgConfigModel.listCustomModel.Count > 0)
                                        {
                                            <div class="about">
                                                <div id="aboutSwiper" class="swiper-container myswiper-box">
                                                    <div class="swiper-wrapper">

                                                        @foreach (var aboutItem in listCustomModel)
                                                        {
                                                            <div class="swiper-slide myslide">
                                                                <div>
                                                                    <div class="imgarea" style="background-image:url(@Utility.ImgHelper.ResizeImg(aboutItem.modelBanners, 690, 370))">
                                                                        <h3>@aboutItem.modelName</h3>
                                                                        <p>@aboutItem.modelDescription</p>
                                                                    </div>
                                                                    <div class="text">
                                                                        <h3 class="f-lighter">@(companyName)</h3>
                                                                        <p>@aboutItem.modelContent</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }

                                                    </div>
                                                    <div class="swiper-pagination"></div>
                                                </div>
                                            </div>
                                        }

                                    }
                                }
                                    <div id="form" class="contact">
                                        <div class="title">
                                            <h3>立即预约</h3>
                                            <p>欢迎留下您的意见和咨询</p>
                                        </div>
                                        <div class="form-box f fv fc">
                                            <div class="item f fc">
                                                <span>姓名</span>
                                                <input id="name" placeholder="请输入您的姓名" />
                                            </div>
                                            <div class="item f fc">
                                                <span>电话</span>
                                                <input id="phone" placeholder="请输入您的电话号码" />
                                            </div>
                                            <div class="item f fc">
                                                <span>咨询</span>
                                                <input id="content" placeholder="请输入您要咨询的内容" />
                                            </div>
                                        </div>
                                        <div class="btn-contact">立即咨询</div>
                                    </div>

                                    <footer class="footer f fv fc fc-h">
                                        <div class="company-info">
                                            <div class="f fc" style="padding-bottom: 0.1rem;">
                                                <div class="f1">联系电话：@phone</div>
                                                <div class="f1">联系邮箱：@email</div>
                                            </div>
                                            <div>联系地址：@addr</div>
                                        </div>
                                        <div class="copyright">@(companyName) 版权所有</div>
                                    </footer>

                                    @* 浮动按钮 *@
                                    <div class="float-btn">
                                        <a class="item f fc fc-h" href="tel:@phone">
                                            <img src="@(WebSiteConfig.cdnurl)content/newhome/image/indexDl/mobile/icon_phone.png" style="width:0.42rem" />
                                        </a>
                                        <a class="item f fc fc-h" href="#form">
                                            <img src="@(WebSiteConfig.cdnurl)content/newhome/image/indexDl/mobile/icon_form.png" style="width:0.4rem" />
                                        </a>
                                    </div>
                                    @* 二维码放大图 *@
                                    <div class="large-box f fc fv fc-h">
                                        <div class="content f fc fv">
                                            <div class="img-box">
                                                <img id="largeUrl" class="large-img" src="" />
                                            </div>
                                            <div class="text">
                                                <p>1、浏览用户：1>长按保存图片。2>打开微信扫一扫。3>选择相册选择该图片即可打开案例</p>
                                                <p style="margin-top: 0.6rem;">2、微信用户：长按识别二维码即可查看案例</p>
                                            </div>
                                        </div>
                                        <div class="close-box">
                                            <img id="closeLarge" src="@(WebSiteConfig.cdnurl)content/newhome/image/indexDl/mobile/icon_close.png" style="width:0.9rem;" />
                                        </div>
                                    </div>
                                </div>

                        <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/swiper.min.js"></script>
                        <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/layer-v3.1.0/layer/layer.js"></script>
                        <script>
                            function fontSize() {
                                var deviceWidth = $(document).width();
                                if (deviceWidth > 750) {
                                    deviceWidth = 750;
                                }
                                var fontSize = deviceWidth / 7.5;
                                $("html").css("fontSize", fontSize);
                            }
                            fontSize();
                            $(window).resize(function () {
                                fontSize();
                            });
                        </script>
                        <script src="@(WebSiteConfig.cdnurl)content/newhome/js/mobileDl.js?@WebSiteConfig.cdnVersion"></script>

</body>
</html>
