@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>诚招全国代理</title>
    <link rel="shortcut icon" type="image/x-icon" href="@(WebSiteConfig.cdnurl)content/newhome/image/bitbug_favicon.ico">
    @*<link href="@(WebSiteConfig.cdnurl)content/css/dzbase.css" rel="stylesheet" />
        <link href="@(WebSiteConfig.cdnurl)content/newhome/css/mBase.css" rel="stylesheet" />
        <link href="@(WebSiteConfig.cdnurl)content/newhome/css/mGeneralize.css" rel="stylesheet" />*@
    <link href="/Content/newhome/css/dzbase.css" rel="stylesheet" />
    <link href="~/Content/newhome/css/mobile/mBase.css" rel="stylesheet" />
    <link href="/Content/newhome/css/mobile/mGeneralize.css" rel="stylesheet" />
</head>
<body>
    <div class="mobile-viewport f fv fc">
        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobile/mHome.png" />
        <div class="video-box">
            <video type="video/mp4" controls="controls" style="width:100%;"></video>
            <div id="videoMasking" class="video-masking f fc fc-h">
                <img id="btnPlay" src="@(WebSiteConfig.cdnurl)content/newhome/image/video-play.png" style="width:15%;cursor:pointer;" />
            </div>
        </div>
        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobile/mHome-details.png" />
    </div>
    <script>
        window.onload = function () {
            document.body.style.display = "block";
        }
    </script>
    <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/jquery.min.js"></script>
    <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/layer-v3.1.0/layer/layer.js"></script>
    <script>
        $(function () {
            $("#btnPlay").on("click", function () {
                $("video").attr("src", "http://mp4-vod.oss-cn-hangzhou.aliyuncs.com/dzan.mp4")
                $("#videoMasking").hide();
                $("video").trigger('play');
            })
            $("#btnSubmit").click(function () {
                submitInformation(1);
            })
            function submitInformation(type) {
                var name = $("#name").val();
                var phone = $("#phoneNum").val().trim();
                var typeValue = type;

                if (name == "" || phone == "") {
                    layer.msg("请填写完整信息");
                    return;
                }
                if (!(/^1[34578]\d{9}$/.test(phone))) {
                    layer.msg("请输入正确的手机号");
                    return;
                }

                $.post("/DLPT/SendUserAdvisory",
                   { Phone: phone, username: name, source: typeValue },
                   function (data) {
                       if (data.isok) {
                           layer.msg(data.Msg);
                           $("#name").val("");
                           $("#phoneNum").val("");
                       }
                   })
            }
        })
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1ff105ae8e303860d914653608b0a188";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?3f96fdff904f6902a34c3349554ade4e";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>