@{
    Layout = "~/Views/Shared/_MobileHomeLayout.cshtml";
    ViewBag.Title = "小未程序-小程序加盟|小程序代理|小程序招商";
}

<div style="padding-bottom:1.1rem;">
    <div class="agent-box f fc fc-h">
        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/agent-wall.png?@(WebSiteConfig.cdnVersion)" />
        <div class="text-box">
            <p class="font50 rv"><span class="green-tx">10万+</span>终端用户</p>
            <p class="font50 rv"><span class="green-tx">500+</span>全国代理商</p>
            <p class="font70 rv">终极选择 <img class="miniApp-icon" src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/miniApp-icon.png?@(WebSiteConfig.cdnVersion)" /></p>
        </div>
    </div>
    <div class="xwcx-box f fc fc-h">
        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/xwcx02.png?@(WebSiteConfig.cdnVersion)" />
        <a class="reg-btn" href="/mobile/mobileReg">注册开通</a>
    </div>
    <div class="domain-box">
        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/domain.png?@(WebSiteConfig.cdnVersion)" />
    </div>
    <div class="form-area-box">
        <div class="title-box title-font title-line">
            <p class="font-bold rv">如果您有意向代理小程序</p>
            <p class="font-bold rv">请提交下方表单，我们会与您联系</p>
        </div>
        <div class="form-area">
            <div class="row">
                <div class="input-group-i">
                    <span class="input-group-addon-i warn-star">姓名 </span>
                    <div class="m-input-text">
                        <input type="text" id="name" class="form-control form-input-i" placeholder="" required="" eletype="name">
                    </div>
                </div>
                <div class="input-group-i">
                    <span class="input-group-addon-i warn-star">电话 </span>
                    <div class="m-input-text">
                        <input type="text" id="phoneNum" class="form-control form-input-i" placeholder="" required="" eletype="captcha">
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top:0.2rem;">
                <div class="input-group-i">
                    <button id="btnSubmit" class="btn-i" type="submit">立即提交</button>
                </div>
            </div>
        </div>
    </div>
    <div class="miniAppVideo-box f fv ">
        <div class="title-box title-font title-line">
            <p class="font-bold rv">内含腾讯机密</p>
            <p class="font-bold rv">是迄今为止最深度的小程序解读</p>
        </div>
        <div class="video-box rv">
            <video type="video/mp4" controls="controls" style="width:100%;height: 3.2rem;" webkit-playsinline></video>
            <div id="videoMasking" class="video-masking f fc fc-h">
                @*<img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/video-masking.png" style="height:100%;"/>*@
                <img id="btnPlay" class="video-play" src="@(WebSiteConfig.cdnurl)content/newhome/image/video-play.png?@(WebSiteConfig.cdnVersion)" />
            </div>
        </div>
        <p class="bottom-text rv">速耐心看完！可能删除！</p>
        <a class="video-more-btn" href="/mobile/mobileVideoList">查看更多深度视频</a>
    </div>
    <div class="profitModel-box f fv fc ">
        <div class="title-box title-font title-line rv">
            <h3>别人挑选代理商，我们匹配代理商</h3>
        </div>
        <div style="width:90%;">
            <p class="profitModel-text rv">3大销售套路，无论您是兼职创业，小团队(3-5人)创业、企业(超过10人的业务团队)都能令你轻松盈利</p>
            <div class="rv">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/agent-table.png?@(WebSiteConfig.cdnVersion)" />
            </div>
        </div>
    </div>
    <div class="function-box ">
        <div class="core-box">
            <div class="title-box title-font title-line rv">
                <h3>核心功能</h3>
            </div>
            <div class="icon-box f fc-h">
                <ul class="icon-list f fc fc-h fw">
                    <li class="f fc fc-h rv">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileCoreds"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/core-ds-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>电商</p>
                        </div>
                    </li>
                    <li class="f fc fc-h rv">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileCoreyy"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/core-yy-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>预约</p>
                        </div>
                    </li>
                    <li class="f fc fc-h rv">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileCorefl"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/core-fl-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>分类</p>
                        </div>
                    </li>
                    <li class="f fc fc-h rv">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileCorezb"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/core-zb-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>直播</p>
                        </div>
                    </li>
                    <li class="f fc fc-h rv">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileCorezx"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/core-zx-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>咨询</p>
                        </div>
                    </li>
                    <li class="f fc fc-h rv">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileCorept"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/core-pt-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>拼团</p>
                        </div>
                    </li>
                    <li class="f fc fc-h rv">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileCorekj"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/core-kj-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>砍价</p>
                        </div>
                    </li>
                    <li class="f fc fc-h rv">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileCoresp"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/core-sp-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>视频</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="marketing-box">
            <div class="title-box title-font title-line">
                <h3>营销功能</h3>
            </div>
            <div class="icon-box f fc-h">
                <ul class="icon-list f fc fc-h fw">
                    <li class="f fc fc-h">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileMarketingvip"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/marketing-vip-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>会员卡</p>
                        </div>
                    </li>
                    <li class="f fc fc-h">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileMarketingcz"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/marketing-cz-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>储值</p>
                        </div>
                    </li>
                    <li class="f fc fc-h">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileMarketingkj"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/marketing-kj-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>砍价</p>
                        </div>
                    </li>
                    <li class="f fc fc-h">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileMarketingpt"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/marketing-pt-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>拼团</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="other-box">
            <div class="title-box title-font title-line rv">
                <h3>其他功能</h3>
            </div>
            <div class="icon-box f fc-h">
                <ul class="icon-list f fc fc-h fw">
                    <li class="f fc fc-h rv">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileOtherdt"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/other-dt-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>地图</p>
                        </div>
                    </li>
                    <li class="f fc fc-h rv">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileOtherbm"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/other-bm-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>报名</p>
                        </div>
                    </li>
                    <li class="f fc fc-h rv">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileOtherkf"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/other-kf-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>客服</p>
                        </div>
                    </li>
                    <li class="f fc fc-h rv">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileOtherfx"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/other-fx-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>分享</p>
                        </div>
                    </li>
                    <li class="f fc fc-h rv">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileOtheryy"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/other-yy-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>背景音乐</p>
                        </div>
                    </li>
                    <li class="f fc fc-h rv">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileOtherfj"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/other-fj-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>附近展示</p>
                        </div>
                    </li>
                    <li class="f fc fc-h rv">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileOthertz"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/other-tz-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>跳转</p>
                        </div>
                    </li>
                    <li class="f fc fc-h rv">
                        <div class="icon-item-box">
                            <div>
                                <a href="/mobile/mobileOtherdd"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/other-dd-icon.png?@(WebSiteConfig.cdnVersion)" /></a>
                            </div>
                            <p>到店</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="dswxMsg-box rv">
        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/dswx07.jpg?@(WebSiteConfig.cdnVersion)" />
        <div class="dswxMsg-content f fc">
            <div class="dswxMsg-text">
                <p>加大树微信</p>
                <p>xiaochengxu006</p>
                <p>获得所有案例</p>
            </div>
        </div>
    </div>
    <div class="sixmodules-box">
        <div class="title-box title-font title-line rv">
            <h3>6大模块</h3>
        </div>
        <div class="dy-box">
            <div class="versions-content f fv fj">
                <div class="versions-text">
                    <h3 class="font26 rv">单页版</h3>
                    <p class="font22 rv">
                        单页版是小未程序的基础版本，是现在市面上最强大的单页版。
                        适用于所有行业，通过附近展示功能，可以定位店铺位置，为店铺带来大量客流，是商家网络名片的最佳选择。
                    </p>
                </div>
                <div class="versions-img rv">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/dy-show.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
                </div>
            </div>
        </div>
        <div class="qy-box">
            <div class="versions-content f fv fj">
                <div class="versions-text">
                    <h3 class="font26 rv">企业版</h3>
                    <p class="font22 rv">
                        企业版为广大中小型企业提供一个简单高效的在线推广展示工具，助力商家抢占线上流量的红利。
                    </p>
                </div>
                <div class="versions-img rv">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/qy-show.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
                </div>
            </div>
        </div>
        <div class="hy-box">
            <div class="versions-content f fv fj">
                <div class="versions-text">
                    <h3 class="font26 rv">行业版</h3>
                    <p class="font22 rv">
                        行业版适用于所有行业。内置14种功能组件，其中包括视频，轮播图，背景音乐，在线客服等，用户可以根据不同行业的
                        场景需求，自由选择搭配组件。
                    </p>
                </div>
                <div class="versions-img rv">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/hy-show.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
                </div>
            </div>
        </div>
        <div class="ds-box">
            <div class="versions-content f fv fj">
                <div class="versions-text">
                    <h3 class="font26 rv">电商版</h3>
                    <p class="font22 rv">
                        电商版为零售提供最先进的行业解决方案，帮助零售业打破自身局限，搭建微信端电商销售体系，实现流量聚合。
                    </p>
                </div>
                <div class="versions-img rv">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/ds-show.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
                </div>
            </div>
        </div>
        <div class="cy-box">
            <div class="versions-content f fv fj">
                <div class="versions-text">
                    <h3 class="font26 rv">餐饮版</h3>
                    <p class="font22 rv">
                        餐饮版为实体餐饮门店提供一个简单高效的在线营销工具，助力商家抢占线上流量的红利，为商家提供的餐厅门店解决方案。
                    </p>
                </div>
                <div class="versions-img rv">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/cy-show.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
                </div>
            </div>
        </div>
        <div class="zy-box">
            <div class="versions-content f fv  fj">
                <div class="versions-text">
                    <h3 class="font26 rv">专业版</h3>
                    <p class="font22 rv">
                        专业版具备行业版的自定义特点，内置16种功能组件，商家可以根据行业的需求选择组件，自由搭配。行业拥有丰富
                        的营销插件——会员卡储值，会员折扣，砍价，拼团等。
                    </p>
                </div>
                <div class="versions-img rv">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/zy-show.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
                </div>
            </div>
        </div>
    </div>
    <div class="support-box">
        <div class="title-box title-font title-line rv">
            <h3>代理商系统支持</h3>
        </div>
        <div style="width:90%;margin:0 auto;">
            <div class="support-item f fc rv">
                <div class="support-item-img ">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/support-icon01.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <div class="support-item-text">
                    <h3>物料支持</h3>
                    <p>宣传单、易拉宝</p>
                </div>
            </div>
            <div class="support-item f fc rv">
                <div class="support-item-img">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/support-icon02.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <div class="support-item-text">
                    <h3>推广支持</h3>
                    <p>百度、今日头条百万广告费、200万粉丝公众号推广</p>
                </div>
            </div>
            <div class="support-item f fc rv">
                <div class="support-item-img">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/support-icon03.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <div class="support-item-text">
                    <h3>培训支持</h3>
                    <p>销售话术、客户资料、会销PPT、会销讲师</p>
                </div>
            </div>
            <div class="support-item f fc rv">
                <div class="support-item-img">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/support-icon04.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <div class="support-item-text">
                    <h3>总部客源</h3>
                    <p>微赞10万+企业客户转化、总部在代理区域不发展终端，直接输送给代理商</p>
                </div>
            </div>
            <div class="support-item f fc rv">
                <div class="support-item-img">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/support-icon05.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <div class="support-item-text">
                    <h3>销售模式</h3>
                    <p>销售全案支持、会销全案支持、分销全案支持、绝密小程序躺盈方案</p>
                </div>
            </div>
        </div>
    </div>
    <div class="project-box">
        <div class="title-box title-font title-line rv">
            <h3>小未程序代理合作方案</h3>
        </div>
        <div style="width: 90%;margin: 0 auto;">
            <div class="rv">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/project-table.png?@(WebSiteConfig.cdnVersion)" />
            </div>
            <p class="addwx-text rv">加大树微信：<span class="green-tx ">xiaochengxu006</span> 获得小未程序破坏性拿货价</p>
        </div>
    </div>
    <div class="superiority-box">
        <div class="title-box title-font title-line rv">
            <h3>小未程序五大优势</h3>
        </div>
        <div class="superiority-item f fc rv">
            <div class="superiority-item-img ">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/superiority-01.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
            </div>
            <div class="superiority-item-text">
                <p><span class="font-bold">全案的直销、会销、躺盈套路支持</span>让你有能力在第一周就迅速入场</p>
            </div>
        </div>
        <div class="superiority-item f fc rv">
            <div class="superiority-item-img">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/superiority-02.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
            </div>
            <div class="superiority-item-text ">
                <p><span class="font-bold">18个行业模板</span>让你承包本地建站小程序90%的市场</p>
            </div>
        </div>
        <div class="superiority-item f fc rv">
            <div class="superiority-item-img">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/superiority-03.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
            </div>
            <div class="superiority-item-text">
                <p><span class="font-bold">超低的拿货成本让你在竞争</span>中处于不败之地</p>
            </div>
        </div>
        <div class="superiority-item f fc rv">
            <div class="superiority-item-img">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/superiority-04.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
            </div>
            <div class="superiority-item-text">
                <p><span class="font-bold">比管理qq空间更容易的后台操作</span>令你爱不释手</p>
            </div>
        </div>
        <div class="superiority-item f fc rv">
            <div class="superiority-item-img">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/superiority-05.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
            </div>
            <div class="superiority-item-text">
                <p><span class="font-bold">总部每月百万预算的广告投放</span>给你强大的终端客户输送，让你轻松躺赢</p>
            </div>
        </div>
        <p class="addwx-text rv" style="padding:0;">想要获得更多小程序行业深度资讯，请加大树微信：<span class="green-tx ">xiaochengxu006</span></p>
    </div>
    <div class="form-area-box">
        <div class="title-box title-font title-line">
            <p class="font-bold rv">如果您有意向代理小程序</p>
            <p class="font-bold rv">请提交下方表单，我们会与您联系</p>
        </div>
        <div class="form-area">
            <div class="row">
                <div class="input-group-i">
                    <span class="input-group-addon-i warn-star">姓名 </span>
                    <div class="m-input-text">
                        <input type="text" id="name2" class="form-control form-input-i" placeholder="" required="" eletype="name">
                    </div>
                </div>
                <div class="input-group-i">
                    <span class="input-group-addon-i warn-star">电话 </span>
                    <div class="m-input-text">
                        <input type="text" id="phoneNum2" class="form-control form-input-i" placeholder="" required="" eletype="captcha">
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top:0.2rem;">
                <div class="input-group-i">
                    <button id="btnSubmit2" class="btn-i" type="submit">立即提交</button>
                </div>
            </div>
        </div>
        <div class="rich-text" style="padding:0.3rem 0.15rem 0.1rem 0.15rem;">
            <div class="inner">
                <div style="text-align: center;padding-bottom:0.18rem;">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/xwcx-icon.png?@(WebSiteConfig.cdnVersion)" style="width:0.7rem;" />
                </div>
                <div style="text-align: center;font-size:0.18rem;">
                    <span style="font-family: inherit; display: inline !important;">
                        <font color="#c0c0c0">小未程序提供技术支持</font>
                    </span>
                </div>
                <div style="text-align: center;font-size:0.18rem;">
                    <span style="font-family: inherit; display: inline !important;">
                        <font color="#c0c0c0">xiaochengxu.com.cn</font>
                    </span>
                </div>
            </div>
        </div>
    </div>
    @* 底部定位导航 *@
    <div class="floater f fc">
        <div id="callBtn" class="floater-text-box">
            <a id="dstel" class="floater-text" href="tel:18680288930">
                <div>
                    <img class="floater-text-icon" src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/floater-03.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <span>呼叫大树</span>
            </a>
        </div>
        <div class="floater-text-box"></div>
        <div id="freeReg" class="floater-text-box">
            <div class="floater-text ">
                <div>
                    <img class="floater-text-icon" src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/floater-01.png?@(WebSiteConfig.cdnVersion)" style="width:1.2rem;height:1.2rem;" />
                </div>
                <span>免费开通</span>
            </div>
        </div>
        <div id="addwxBtn" class="floater-text-box">
            <div class="floater-text ">
                <div>
                    <img class="floater-text-icon" src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/floater-02.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <span>加微信吧</span>
            </div>
        </div>
    </div>

</div>


@section script{

    <script src="@(WebSiteConfig.cdnurl)content/newhome/js/mobileHome.js?@(WebSiteConfig.cdnVersion)"></script>
    @*<script src="/Content/newhome/js/mobileHome.js"></script>*@
}

<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?116505b829a661ffdd32dba65acfba77";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
</script>
@*<script>
    $(window).load(function () {
        var str = "<script>" +
        "var _hmt = _hmt || [];" +
        "(function() {" +
            "var hm = document.createElement('script');" +
            "hm.src = 'https://hm.baidu.com/hm.js?6d893fca3f83f3d64ee95af3a1aaa832';" +
            "var s = document.getElementsByTagName('script')[0]; " +
            "s.parentNode.insertBefore(hm, s);" +
        "})();" +
        "<\/script>"
        $("script:last").after(str)
    })
</script>*@