@model System.Data.DataTable
@{
    ViewBag.Title = "DishTable";
    Layout = "~/Areas/DishAdmin/Views/Shared/_LayoutDishAdmin.cshtml";

    int aId = ViewBag.aId;
    int storeId = ViewBag.storeId;
}

@section styles{
    <style type="text/css">
        .four-grid { color: #ffffff; }
        .four-agileits { background: #ff4a43; text-align: center; padding: 2em 0; }
        .four-agileinfo { background: #22beef; padding: 2em 0; text-align: center; }
        .four-w3ls { background: #a2d200; padding: 2em 0; text-align: center; }
        .four-text h3 { font-size: 16px; }
        .four-text h4 { font-size: 30px; }
        .data-list { }
        .data-list li { float: left; background: #f1f1f1; margin-right: 10px; padding: 10px 50px; }
    </style>

}

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 餐桌统计 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="panel panel-default">
        <div class="panel-header">餐桌统计</div>
        <div class="panel-body">
            <form method="post" class="search-form" action="/DishAdmin/Charts/DishTable?aId=@aId&storeId=@storeId">
                <div class="" style="text-align: right;">
                    <input type="text" name="q_begin_time" id="q_begin_time" placeholder="请选择开始日期" value="@ViewBag.q_begin_time" class="input-text" style="width: 150px;">
                    &nbsp;<input type="text" name="q_end_time" id="q_end_time" placeholder="请选择结束日期" value="@ViewBag.q_end_time" class="input-text" style="width: 150px;">
                    <button name="" id="search" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
                </div>
            </form>
            <div>
                <table class="table table-border table-bordered table-bg table-hover table-sort" style="margin-top: 10px;">
                    <thead>
                        <tr class="text-c">
                            <th width="100">桌号</th>
                            <th width="60">订单数</th>
                            <th width="60">总金额</th>
                            <th width="60">微信支付</th>
                            <th width="60">其它支付</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{System.Data.DataRow dr = null;}
                        @for (int index = 0; index < Model.Rows.Count; index++)
                        {
                            dr = Model.Rows[index];
                            <tr class="text-c">
                                <td>@dr["table_name"]</td>
                                <td>@dr["order_count"]</td>
                                <td>@dr["all_total_fee"]</td>
                                <td>@dr["wx_total_fee"]</td>
                                <td>@dr["else_total_fee"]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="/Areas/DishAdmin/lib/laydate/laydate.js"></script>
    <script type="text/javascript">
        $(function () {
            laydate.render({
                elem: '#q_begin_time',
                format: 'yyyy-MM-dd',
                //istime: true,
                //type: 'datetime',
                event: 'focus'
            });
            laydate.render({
                elem: '#q_end_time',
                format: 'yyyy-MM-dd',
                //istime: true,
                //type: 'datetime',
                event: 'focus'
            });
        });
    </script>

}

