@using Entity.MiniApp.Tools
@model  List<BargainRecordList>
@{
    ViewBag.Title = "砍价帮砍记录";
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";

}
<link href="@(WebSiteConfig.cdnurl)js/umditor_common/themes/default/css/umeditor.min.css" rel="stylesheet" />
<script type="text/javascript" src="@(WebSiteConfig.cdnurl)js/umditor_common/umeditor.config.js"></script>
<script type="text/javascript" src="@(WebSiteConfig.cdnurl)js/umditor_common/umeditor.min.js"></script>
<script type="text/javascript" src="@(WebSiteConfig.cdnurl)js/Base64.js"></script>
<style>
    .lead.text-muted { margin-top: 20px; color: red; }
    .sweet-alert.showSweetAlert h2 { font-size: 20px; }
</style>
<div class="panel panel-default">
    <div class="panel-body">
        砍价帮砍记录      
    </div>
</div>
<input type="hidden" id="CName_Hidden" value="小程序" />
<table class="table table-condensed table-bordered table-hover fontSize12 fontFamilyYahei">

    <tr class="text-center">
        <th>序号</th>
        <th>帮砍人</th>
        <th>帮砍金额</th>
        <th>IP</th>
        <th>时间</th>
    </tr>
    <tbody id="bcontent">
       
        @foreach (var item in Model)
        {
            <tr>
                <td width="3%"><label>@item.Id</label> </td>
                <td width="10%">@(item.BargainUserName)</td>
                <td width="10%">@(item.Amount * 0.01)</td>
                <td width="10%">@(item.IpAddress)</td>
                <td width="10%">@(item.CreateDate.ToString("yyyy-MM-dd HH:mm:ss"))</td>
            </tr>
        }
    </tbody>

</table>
<ul class="page" style="height: 0; line-height: 0; padding-top: 12px;">
    共@(ViewBag.TotalCount)条记录&nbsp; @MvcPager.Pager(Html, "pageIndex", ViewBag.pageSize, ViewBag.TotalCount)
</ul>


