@using BLL.MiniApp;
@using User.MiniApp.Areas.Pin.Models;

@{
    /**/

    ViewBag.Title = "收入报表";
    Layout = "~/Areas/Pin/Views/Shared/_LayoutMain.cshtml";
    int aid = Utility.IO.Context.GetRequestInt("aid", 0);
    int storeid = Utility.IO.Context.GetRequestInt("storeid", 0);
    string act= Utility.IO.Context.GetRequest("act", "");
    string q_begin_time = Utility.IO.Context.GetRequest("q_begin_time","");
    string q_end_time = Utility.IO.Context.GetRequest("q_end_time","");
    string actStr = "";
    if (act == "7day")
    {
        actStr = "最近7天";
    }
    else if (act == "30day")
    {
        actStr = "最近30天";
    }
    else {
        if (!string.IsNullOrEmpty(q_begin_time) && !string.IsNullOrEmpty(q_end_time))
        {
            ViewBag.q_begin_time = q_begin_time;
            ViewBag.q_end_time = q_end_time;
            actStr = string.Format("{0}到{1}", q_begin_time, q_end_time);
        }
    }
}
<script src="~/Areas/DishAdmin/lib/echarts.common.js"></script>

<script src="~/Areas/Pin/static/js/plugins/laydate/laydate.js"></script>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-title">

                    <form method="get" action="" class="form-inline">
                        <input type="hidden" name="aid" value="@(aid)" />
                        <a href="?act=7day&aid=@(aid)" class="btn @(act=="7day"?"btn-primary":"btn-default")">最近7天</a>
                        <a href="?act=30day&aid=@(aid)" class="btn  @(act=="30day"?"btn-primary":"btn-default")">最近30天</a>

                        <input type="text" name="q_begin_time" id="q_begin_time" readonly placeholder="请选择开始日期" value="@ViewBag.q_begin_time" class="form-control form-horizontal" style="width: 150px;">
                        &nbsp;<input type="text" name="q_end_time" id="q_end_time" readonly placeholder="请选择结束日期" value="@ViewBag.q_end_time" class="form-control" style="width: 150px;">
                        <button name="" id="search" class="btn btn-primary" type="submit"> 搜索</button>
                    </form>
                    <div id="data_goods" style="height: 600px;"></div>
                    <div id="totalMoney" style="padding:20px 50px;color:red;"></div>
                </div>
                
            </div>
        </div>

    </div>

</body>
@section styles{
    <style>
    </style>
}
@section scripts{

    <script type="text/javascript">
        $(function () {

            laydate.render({
                elem: '#q_begin_time',
                format: 'yyyy-MM-dd',
                //type:'datetime',
                event: 'focus',
                //theme: 'molv'
            });
            laydate.render({
                elem: '#q_end_time',
                format: 'yyyy-MM-dd',
                //type: 'datetime',
                event: 'focus',
                //theme: 'molv'
            });
        });
        var dataAxis = [@Html.Raw(ViewBag.NameList)];
        var data = [@Html.Raw(ViewBag.ValueList)];
        if (data.length > 0) {
            var total = 0;
            for (var i = 0; i < data.length; i++) {
                total += data[i];
            }
            $("#totalMoney").html("总计：" + total+" 元");
        }
        var chartHeight = dataAxis.length * 25 < 600 ? 600 : dataAxis.length * 25;
        $("#data_goods").height(chartHeight);
        var myChart = echarts.init(document.getElementById('data_goods'));

        //var dataShadow = [];

        //for (var i = 0; i < data.length; i++) {
        //    dataShadow.push(yMax);
        //}
        var option = {
            title: {
                text: '@(actStr)销售统计',
                subtext: '',
                x: 'center'
            },
            toolbox: {
                // y: 'bottom',
                feature: {
                    dataView: {},
                    saveAsImage: {
                        pixelRatio: 2
                    }
                }
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            //xAxis: {
            //    type: 'category',
            //    data: dataAxis,
            //    axisTick: {
            //        alignWithLabel: true,
            //        interval :0,
            //    },
            //    axisLabel: {
            //        inside: true,
            //        textStyle: {
            //            color:'#333',
            //        },
            //        interval: 0,
            //        rotate: 9,
            //    },
            //    axisLine: {
            //        show: false
            //    },
            //    z: 6
            //},
            xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01],
                axisLabel: {
                    formatter: '{value}元'
                }
            },
            //yAxis: {
            //    type: 'value',
            //    boundaryGap: [0, 0.01]
            //},
            yAxis: {
                type: 'category',
                data: dataAxis,
                    axisTick: {
                    alignWithLabel: true,
                    interval :0,
                },
                axisLabel: {
                    textStyle: {
                        color:'#333',
                    },
                    interval: 0,
                    formatter: '{value}'
                },
            },
            series: [
                //{ // For shadow
                //    type: 'bar',
                //    itemStyle: {
                //        normal: { color: 'rgba(0,0,0,0.05)' }
                //    },
                //    barGap: '-100%',
                //    barCategoryGap: '40%',
                //    data: dataShadow,
                //    animation: false
                //},
                {
                    name: '销售额',
                    type: 'bar',
                    itemStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    { offset: 0, color: '#5eb95e' },
                                    { offset: 0.5, color: '#5eb95e' },
                                    { offset: 1, color: '#5eb95e' }
                                ]
                            )
                        },
                        emphasis: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    { offset: 0, color: '#5eb95e' },
                                    { offset: 0.7, color: '#5eb95e' },
                                    { offset: 1, color: '#5eb95e' }
                                ]
                            )
                        },
                    },
                    label: {
                        normal: {
                            show: true,
                            position: 'inside',
                            //textBorderWidth:0,
                            
                        },
                    },
                    data: data
                }
            ]
        };
        myChart.setOption(option);
    </script>

}