@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "关于我们";
}
@section cssSection{
}
<!--banner-->
<section class="about-banner">
    <!--轮播-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/about/showUs.png?@WebSiteConfig.cdnVersion" />
                <div class="banner-text-box f fv fc fc-h">
                    <h1 class="fz-50 c-fff">广州点赞科技有限公司</h1>
                    <div class="btn-seeVideo" id="btnSeeVideo">查看视频</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--视频-->
<div class="about-video-masking" id="videoMasking">
    <video></video>
</div>
<!--选项条-->
<section class="options-box">
    <ul class="options-list f fc" id="aboutOptions">
        <li class="active">公司简介</li>
        <li>发展历程</li>
    </ul>
</section>
<!--图文介绍-->
<section class="about-content">
    <div class="introduce-box pdy60 f fv fc">
        <div class="introduce-text">
            <h3 class="v-line">关于小未程序</h3>
            <div class="text">
                <p>小未程序是小程序建站开发市场中的佼佼者，自2017年3月份第一个小程序模板上线以来，到目前为止已经发布了1.0版本单页版、企业版、电商版；2.0自定义版本行业版、专业版、同城版；3.0高阶运营版本小未平台、智慧餐厅、企业智推版。小未程序以领先的产品优势和破坏性的价格优势在小程序建站领域迅速攻城略地，截止到2017年11月份小未程序代理商已突破500家，小程序终端用户超过10万+(同期微信发布的小程序58万)，通过小未程序累计交易额已突破8000万！小未程序用产品和市场占有率获得了广泛的市场认可。</p>
                <p class="mgt20">小未程序创始人大树，创办了小程序行业首个深度直播节目《小程序探路问大树》，截止到现在已经完成了70场超过1个小时的行业直播，累计获得超过300万的深度浏览。行业影响力巨大，很多创业者都将本节目视为每周必看直播。</p>
                <p>大树于2018年1月完成了首个深度解读小程序的著作《小程序改变一切》，并于2018年8月印刷出版！</p>
                <p class="mgt20">路漫漫其修远兮，吾将上下而求索！</p>
            </div>
            <p class="join rv">加入小未程序，跟我们一起让世界充满小程序!</p>
        </div>
        <ul class="introduce-img f fw rv">
            <li class="item">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/about/about-01.png?@WebSiteConfig.cdnVersion" />
            </li>
            <li class="item">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/about/about-02.png?@WebSiteConfig.cdnVersion" />
            </li>
            <li class="item">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/about/about-03.png?@WebSiteConfig.cdnVersion" />
            </li>
            <li class="item">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/about/about-04.png?@WebSiteConfig.cdnVersion" />
            </li>
            <li class="item">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/about/about-05.png?@WebSiteConfig.cdnVersion" />
            </li>
            <li class="item">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/about/about-06.png?@WebSiteConfig.cdnVersion" />
            </li>
            <li class="item">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/about/about-07.png?@WebSiteConfig.cdnVersion" />
            </li>
            <li class="item">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/about/about-08.png?@WebSiteConfig.cdnVersion" />
            </li>
            <li class="item">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/about/about-09.png?@WebSiteConfig.cdnVersion" />
            </li>
        </ul>
    </div>
    <div class="introduce-box" style="padding:0;">
        <div class="introduce-text">
            <h3 class="v-line rv">关于团队</h3>
        </div>
        <div class="team">
            <div class="f fc team-item mgb100">
                <div class="item-img rv">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/about/team01.png?@WebSiteConfig.cdnVersion" />
                </div>
                <div class="item-text pdl100">
                    <p class="title rv">大树<span class="f-theme">(创始人)</span></p>
                    <p class="introduce mgb28 rv">微赞直播、微赞同城商业化负责人<br>小程序行业首个深度直播节目《小程序探路问大树》主理人<br>《小程序改变一切》作者</p>
                    <p class="introduce rv">连续创业者<br>10年互联网老兵<br>10年销售及销售管理经验<br>强大的商业化能力@*<br>成功帮助微赞实现从0到600万/月的跨越式成长！*@</p>
                </div>
            </div>
            <div class="f fc team-item">
                <div class="item-text pdr100">
                    <p class="title rv">周鹏鹏<span class="f-theme">(联合创始人)</span></p>
                    <p class="introduce mgb28 rv">
                        12年互联网相关产品研发经验<br>2007至2010年，任职39健康网(39.net)技术总监，在职期间带领技术团队
                        推动网站流量百倍增长，成为健康行业头部门户网站！
                    </p>
                    <p class="introduce rv">2011至2015年，任职健客网(jianke.com)技术总监，在公司初创阶段入职带领团队充分利用技术手段和工作经验，再次推动流量百倍上涨</p>
                </div>
                <div class="item-img rv">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/about/team02.png?@WebSiteConfig.cdnVersion" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 发展历程 -->
<section class="history-box about-content c-333 mgy40 f" style="display:none;">
    <div class="year-list" id="yearList">
        <p class="active">2018</p>
        <p>2017</p>
    </div>
    <div class="month-list">
        <div class="month-item">
            <span class="month">7月</span>
            <p>7月24日，针对线下零售门店的社交电商垂直平台“拼享惠”隆重上线。帮助线下零售门店实现社交电商的战车滚滚向前。小未程序开启了一段千倍增长的奇异旅程！</p>
            <p>7月23日，针对营销型企业的的小未程序企业智推版上线，纵观整个建站市场仅两家公司开发出此类产品，两家公司获得融资金额均超过10亿。小未程序是目前市场上仅有的第三家提供商，且拿货价有巨大优势。</p>
            <p>7月16日，小未程序专业版基础版开放免费开通，所有人通过官网均可注册申请。这是迄今为止小未程 序开放的第三套免费模板</p>
        </div>
        <div class="month-item">
            <span class="month">6月</span>
            <p>6月21日，可搭建本地平台及行业平台的小未平台上线了，必须承认该产品的上线是我们应对竞争的一次战略防御，但现在的小未平台已经取得了领先的优势，小未平台是到目前为止唯一既能实现集名片、商家入驻、分类信息及商城交易的小程序平台工具！一个战略防御的产品却取得了领先的优势！</p>
            <p>6月1日，小未程序率行业之先推出了独立域名，助力优质代理商有能力晋升开发商，一举提升10倍盈利能力</p>
        </div>
        <div class="month-item">
            <span class="month">5月</span>
            <p>5月28日，小未程序餐饮2.0模板：智慧餐厅隆重上线，智慧餐厅在原来餐饮版的基础上进行了流程上的优化、体验上的优化、专业度上的大幅提升，可以一站式的满足所有餐饮商家做小程序的几乎所有功能。智慧餐厅的上线大幅的提升了当月代理商的业绩。</p>
        </div>
        <div class="month-item">
            <span class="month">4月</span>
            <p>4月28日，专业版拆分成4个模板，分别是专业版基础版、专业版高级版、专业版尊享版、专业版旗舰版进一步满足代理商开发商户时的各种自定义及价格需求</p>
            <p>4月20日，小未程序对拿货价全面降价！在主流建站领域小未程序取得绝对的价格优势</p>
        </div>
        <div class="month-item">
            <span class="month">3月</span>
            <p>3月25日，小未程序首个小程序模板企业版正式面世</p>
            <p>3月15日，小未程序同城版上线</p>
        </div>
        <div class="month-item">
            <span class="month ">1月</span>
            <p>1月15日，小未程序首个自定义商城模板专业版上线，到目前为止专业版也是使用频率最高的模板</p>
        </div>
    </div>
    <div class="month-list" style="display:none;">
        <div class="month-item">
            <span class="month">11月</span>
            <p>11月24日，小未程序首个自定义展示模板行业版上线，到目前为止行业版也是展示类模板中应用程度最高的版本</p>
            <p>11月15日，小未程序代理商数量突破500家，小未程序终端用户超过10万，小未程序日活超过15万，从此招商不再是小未程序的核心追求，产品和用户价值才是！</p>
        </div>
        <div class="month-item">
            <span class="month">10月</span>
            <p>首个小未程序餐饮版上线</p>
        </div>
        <div class="month-item">
            <span class="month ">9月</span>
            <p>9月21日，小程序改变一切巡回路演启动，并取得巨大影响力，同月首个小程序行业深度直播节目【小程序探路问大树】开播，到目前为止已经更新接近60期，每期均时长超过90分钟，已经取得接近300万的浏览量！行业影响力深远</p>
            <p>9月10日，小未程序入驻广州天安人寿中心27层，从此我们进入了持续的爆发式增长！</p>
        </div>
    </div>
</section>




@section script{
    <script>

        $(function () {
            var aboutSwiper = new Swiper('.swiper-container', {
                autoplay: {
                    delay: 1000,
                    disableOnInteraction: false
                },
                speed: 800,
                grabCursor: true,
                pagination: {   //分页器
                    el: '.swiper-pagination',
                    type: 'custom',
                    renderCustom: function (swiper, current, total) {
                        var customPaginationHtml = "";
                        for (var i = 0; i < total; i++) {
                            if (i == (current - 1)) {
                                customPaginationHtml += '<span class="swiper-pagination-customs swiper-pagination-customs-active"></span>';
                            } else {
                                customPaginationHtml += '<span class="swiper-pagination-customs"></span>';
                            }
                        }
                        return customPaginationHtml;
                    }
                },
            })
            $("#btnSeeVideo").on("click", function () {
                $("#videoMasking").show();
                $("video").attr("src", "http://vzan-img.oss-cn-hangzhou.aliyuncs.com/upload/video/20180316/9e8f7a44ed4849b7ac20723891b80bd2.mp4").trigger("play");
            })
            $("#videoMasking").on("click", function () {
                $("video").trigger("pause");
                $(this).hide();
            })

            $("#aboutOptions>li").on("click", function () {
                $("#aboutOptions>li").removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $(".about-content").hide();
                $(".about-content").eq(index).show();
            })

            $("#yearList>p").on("click", function () {
                $("#yearList>p").removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $(".month-list").hide();
                $(".month-list").eq(index).show();
            })

        })

    </script>
}
