@model ViewModelMyWorkbench
@{
    ViewBag.PageType = 0;
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
    ViewBag.Title = "小未程序-后台管理";

    string domain = Request.Url.Host;

    if (domain.Contains(WebSiteConfig.DzWebSiteDomainExt))
    {
        //表示二级域名
        domain = domain.Replace(WebSiteConfig.DzWebSiteDomainExt, "");
    }
    if (domain.Contains("xn--"))
    {
        System.Globalization.IdnMapping idn = new System.Globalization.IdnMapping();

        domain = idn.GetUnicode(domain);
    }
    AgentWebSiteInfo agentWebSiteInfo = AgentWebSiteInfoBLL.SingleModel.GetModelByDomian(domain);
    SeoConfigModel seoConfig = new SeoConfigModel();
    if (agentWebSiteInfo != null && !string.IsNullOrEmpty(agentWebSiteInfo.seoConfig))
    {
        seoConfig = JsonConvert.DeserializeObject<SeoConfigModel>(agentWebSiteInfo.seoConfig);
        if (seoConfig != null)
        {
            ViewBag.Title = seoConfig.companyName + "-后台管理";
        }
    }
}

<link href="/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" src="@(WebSiteConfig.cdnurl)content/aliosslib/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<style>
    .experience-box { position: absolute; top: 64px; background-color: black; color: #ffffff; width: 52px; height: 20px; font-size: 13px; border-radius: 0px 0px 6px 6px; opacity: 0.7; display: block; left: 50%; -webkit-transform: translateX(-50%); }  .experience-p-box { position: relative; }  .plus-button { box-shadow: none !important; border: 2px dashed #aaa; color: #888; cursor: pointer; text-align: center; height: 120px; transition: all .2s cubic-bezier(.7,0,.3,1); width: 120px; }  .plus-button .plus { font-size: 100px; line-height: 1; font-weight: 700; margin-top: -10px; }  .plus-label { font-size: 14px; position: relative; text-align: center; top: -2px; }  .spinner { margin: 100px auto; width: 50px; height: 60px; text-align: center; font-size: 10px; }  .spinner > div { background-color: #67CF22; height: 100%; width: 6px; display: inline-block; -webkit-animation: stretchdelay 1.2s infinite ease-in-out; animation: stretchdelay 1.2s infinite ease-in-out; }  .spinner .rect2 { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }  .spinner .rect3 { -webkit-animation-delay: -1.0s; animation-delay: -1.0s; }  .spinner .rect4 { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }  .spinner .rect5 { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }  @@-webkit-keyframes stretchdelay { 0%, 40%, 100% { -webkit-transform: scaleY(0.4); }  20% { -webkit-transform: scaleY(1.0); } }  @@keyframes stretchdelay { 0%, 40%, 100% { transform: scaleY(0.4); -webkit-transform: scaleY(0.4); }  20% { transform: scaleY(1.0); -webkit-transform: scaleY(1.0); } } .layui-layer-loading{display:none}
</style>
<script>
    var xcxTemplates=@Html.Raw(JsonConvert.SerializeObject(Model.Agentinfo));
</script>
<div id="MyWorkbench" @*style="margin: 0 200px;"*@ v-cloak>
    <input type="hidden" id="casetemplate_bindphone" value="@ViewBag.BindPhone" />
    <!--我的模板-->
    <section class="myTpl f fv fc" v-on:scroll="scrollevent">
        <div class="templateContent">
            <div class="tpl-title fp-font-blue f fc" @*style="background-color: #F9F9F9;margin-top: 10px;"*@><p @*style="margin:0;"*@>我已开通的模板</p></div>
            <div class="myTpl-list-box f fv fc" style="min-height:300px;">
                <!--未开通模板-->
                <div class="noTpl-box f fv fc" style="display:none;" id="nodata">
                    @*<div class="noTpl-box f fv fc" v-bind:style="['display:(mytemplates!=null && mytemplates.length>0?'none;':'')']">*@
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/noTpl.png">
                    <p class="fp-fontSize-18 fp-font-blue">啊哦，你还没开通任何模板</p>
                </div>
                <!--已开通模板-->
                <ul class="myTpl-list f fw" v-if="mytemplates!=null && mytemplates.length>0">
                    <!--单页版-->
                    <li class="tpl f fv fc " v-for="(xcxInfo,index) in mytemplates">
                        <div class="tpl-container">
                            <!--图标及名称状态-->
                            <div class="tpl-details" v-if="xcxInfo.ismodel">
                                <div class="tc fp-fontSize-14 experience-p-box">
                                    <img v-if="xcxInfo.modelimgurl!=null && xcxInfo.modelimgurl.length>0" v-bind:src="xcxInfo.modelimgurl" class="tpl-img">
                                    <img v-else v-bind:src="xcxInfo.logoimg" class="tpl-img">
                                    <div class="tpl-name">{{xcxInfo.Title}}</div>
                                </div>
                                <div class="tpl-status fp-fontSize-14 f fv fc"><div><i class="icon-appName"></i>模板名称：<span class="fp-font-drakGray">{{xcxInfo.modelname}}</span></div>
                                    <div><i class="icon-publish"></i>状态：<span class="fp-font-drakGray">{{xcxInfo.modelstate==0 || xcxInfo.modelstate==null?"未上架":"已上架"}}</span></div>
                                </div>
                            </div>
                            <div class="tpl-details" v-else>
                                <div class="tc fp-fontSize-14 experience-p-box">
                                    @*<img v-bind:src="'@(WebSiteConfig.cdnurl)content/newhome/image/'+xcxInfo.iosimg" class="tpl-img">*@
                                    <img v-bind:src="xcxInfo.logoimg" class="tpl-img">
                                    <div class="tpl-name">{{xcxInfo.Title}}</div>
                                    <span v-if="xcxInfo.IsExperience" class="experience-box">体验版</span>
                                </div>
                                <div class="tpl-status fp-fontSize-14 f fv fc">
                                    <div><i class="icon-appName"></i>小程序名称：<span class="fp-font-drakGray">{{xcxInfo.XcxName}}</span></div>
                                    <div><i class="icon-publish"></i>发布状态：<span class="fp-font-drakGray">{{xcxInfo.UploadStateName}}</span></div>
                                </div>
                            </div>
                            <div class="f fv fc" style="width: 100%;" v-if="xcxInfo.ismodel">
                                <!--按钮-->
                                <div class="tpl-button f fc fj">
                                    <div class="btn-tpl btn-color-g2 f fc fc-h" v-on:click="UpperOrLowerModel(index)"><a href="javascript:;" class="fp-font-white">{{xcxInfo.modelstate==0 || xcxInfo.modelstate==null?"上架":"下架"}}</a></div>
                                    <div class="btn-tpl btn-color-g2 f fc fc-h"><a v-bind:href="xcxInfo.Url" target="_blank" class="fp-font-white">管理</a></div>
                                </div>
                            </div>
                            <div class="f fv fc" style="width: 100%;" v-else-if="xcxInfo.TimeLength>7">
                                <!--有限期-->
                                <div class="tpl-indate fp-fontSize-14" v-if="xcxInfo.Type!=4">有效期：<span class="fp-font-drakGray">剩余{{xcxInfo.TimeLength}}天</span> <a href="javascript:;" class="fp-font-blue" style="display:none;" v-on:click="buyClick()">续期</a></div>
                                <div class="tpl-indate fp-fontSize-14" v-else>有效期：<span class="fp-font-drakGray">永久</span></div>
                                <!--按钮-->
                                <div class="tpl-button f fc fj" v-if="xcxInfo.AppId==null || xcxInfo.AppId==''">
                                    <div class="btn-tpl btn-color-g1 "><a v-bind:href="xcxInfo.bangdinurl" class="fp-font-white">去绑定</a></div>
                                    <div class="btn-tpl btn-color-g2"><a v-bind:href="xcxInfo.Url" class="fp-font-white" target="_blank">管理</a></div>
                                </div>
                                <div class="tpl-button f fc fj" v-else>
                                    <div class="btn-tpl btn-color-g2 f fc fc-h" v-on:click="GetYuLangQRCode(xcxInfo.yulang)"><a href="javascript:;" class="fp-font-white">预览</a></div>
                                    <div class="btn-tpl btn-color-g2 f fc fc-h"><a v-bind:href="xcxInfo.Url" class="fp-font-white" target="_blank">管理</a></div>
                                </div>
                            </div>
                            <div class="f fv fc" style="width: 100%;" v-else-if="xcxInfo.TimeLength<=0">
                                <!--有限期-->
                                <div class="tpl-indate fp-fontSize-14"><span class="fp-font-red">已于{{xcxInfo.outtime}}过期</span> <a href="javascript:;" class="fp-font-blue" v-on:click="buyClick()" style="display:none;">续期</a></div>
                                <!--按钮-->
                                <div class="tpl-button f fc fj">
                                    <div class="btn-tpl btn-color-g2 ">
                                        <a v-bind:href="xcxInfo.Url" class="fp-font-white" target="_blank">管理</a>
                                    </div>
                                    <div class="btn-tpl btn-color-y1 ">
                                        <a href="JavaScript:;" class="fp-font-white" v-on:click="buyClick()" style="display:none;">续期</a>
                                    </div>
                                </div>
                            </div>
                            <div class="f fv fc" style="width: 100%;" v-else>
                                <!--有限期-->
                                <div class="tpl-indate fp-fontSize-14 fp-font-red" v-if="xcxInfo.Type!=4">有效期：<span>剩余{{xcxInfo.TimeLength}}天</span> <a href="javascript:;" class="fp-font-blue" v-on:click="buyClick()" style="display:none;">续期</a></div>
                                <div class="tpl-indate fp-fontSize-14 fp-font-red" v-else>有效期：<span>永久</span></div>
                                <!--按钮-->
                                <div class="tpl-button f fc fj" v-if="xcxInfo.AppId==null || xcxInfo.AppId==''">
                                    <div class="btn-tpl btn-color-g1 "><a a v-bind:href="xcxInfo.bangdinurl" class="fp-font-white">去绑定</a></div>
                                    <div class="btn-tpl btn-color-g2"><a v-bind:href="xcxInfo.Url" class="fp-font-white" target="_blank">管理</a></div>
                                </div>
                                <div class="tpl-button f fc fj" v-else>
                                    <div class="btn-tpl btn-color-g2 f fc fc-h" v-on:click="GetYuLangQRCode(xcxInfo.yulang)"><a href="javascript:;" class="fp-font-white">预览</a></div>
                                    <div class="btn-tpl btn-color-g2 f fc fc-h"><a v-bind:href="xcxInfo.Url" class="fp-font-white" target="_blank">管理</a></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div v-show="isloading" style="position:fixed;top:45%;left:47%;">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
    <input id="editeaid" type="hidden" value="0" />
    <div id="modelInfo" hidden>
        <div style="text-align: center;float: left;margin: auto 60px;">
            <div style="margin-top:20px;">
                名称：<input type="text" class="layui-input" maxlength="50" id="tempmodelname" style="display:inline-block;width:80%;" />
            </div>
            <div style="margin-top:10px;">
                <span style="float:left;">简介：</span><textarea id='tempmodeldesc' class="layui-textarea" maxlength="100" style="display:inline-block;width:80%;"></textarea>
            </div>
            <div>
                <span style="float:left;">封面：</span>
                <div style="float:left;">
                    <div class="pimg">
                        <img style="height:150px;width:150px;" src="" id="tempmodelimgurl" onclick="UploadImg(0,0,-1)" hidden />
                        <div class="plus-button" onclick="UploadImg(0,0,-1)" id="tempmodelupload">
                            <div class="s-image-uploader-wrapper">
                                <div>
                                    <div class="plus">+</div>
                                    <div class="plus-label">上传图片</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<b class="warn">建议尺寸：750*750px</b>*@
                </div>
            </div>

        </div>
    </div>
    <!-- #region 上传图片弹窗 -->
    <div class="modal bs-example-modal" id="addModal_UploadImg" tabindex="-1" role="dialog" aria-labelledby="tipsModalLabel" aria-hidden="true" hidden style="z-index:9999999;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="border:0px;">
                    <button type="button" class="close" data-dismiss="modal" id="closeUpload"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                </div>
                <div class="modal-body" style="min-height:500px;padding:0px;">
                    <iframe id="uploadFrame" style="width:100%;min-height:500px;border:0px;" src=""></iframe>
                </div>

            </div>
        </div>
    </div>
    <input type="hidden" id="uploadImgs" name="uploadImgs" value="" />
    <!-- #endregion -->
</div>
@*<script src="@(WebSiteConfig.cdnurl)content/newhome/js/work.js" charset="utf-8"></script>*@
<script src="@(WebSiteConfig.cdnurl)content/newhome/js/caseTemplate.js?@WebSiteConfig.cdnVersion" charset="utf-8"></script>
@*<script src="@(WebSiteConfig.cdnurl)content/newhome/js/getcaselist.js"></script>
    @*<script src="~/Content/newhome/js/caseTemplate.js" charset="utf-8"></script>*@