@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "独立域名";
}
@section cssSection{
    @*<link href="@(WebSiteConfig.cdnurl)content/newhome/css/independentDomain.css?@(WebSiteConfig.cdnVersion)" rel="stylesheet" />*@
}
<script src="~/livecontent/aodianplay/player.js"></script>
<div class="domain-wrap w-full f fv fc">
    <!-- 音频 -->
    <section class="audio-box f fv fc bg-f9">
        <div class="audio-content center-width bg-f6 f fc fj rel ">
            <img class="dsphoto rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/independentDomain/audio-bg.png?@(WebSiteConfig.cdnVersion)" />
            <div class="f fv fc fc-h h-full tc">
                <p class="fz-26 rv">为什么要成为开发商？为什么要成为小未程序？</p>
                <p class="f-theme fz-28 rv" style="line-height:1.4em;">“因为成为开发商相较于代理商利润、销售额可以大幅提升”</p>
            </div>
            <div class="audio-player cp rv" >
                <div class="spinner bg-f6" id="loading">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
                <img id="audioPlay" style="position:absolute;top:0;right:0;" src="@(WebSiteConfig.cdnurl)content/newhome/image/independentDomain/audio-player.png?@(WebSiteConfig.cdnVersion)" />
                <img  hidden id="audioPause" src="@(WebSiteConfig.cdnurl)content/newhome/image/independentDomain/audio-pause.png?@(WebSiteConfig.cdnVersion)" />
                <img  hidden id="audioResumePlay" src="@(WebSiteConfig.cdnurl)content/newhome/image/independentDomain/audio-player.png?@(WebSiteConfig.cdnVersion)" />
            </div>
            <div id="audioMainBody" style="position:absolute;top:0;left:0;z-index:-1;opacity:0">
                <div style="font-size:0;width:700px;height:300px;" id="audioPlayer"></div>
            </div>
            <p id="audioTip" class="audio-tip c-666" hidden >抱歉，您没有安装flash，请点击<a href='http://get.adobe.com/cn/flashplayer/' style="color:#f12323;font-weight:bold;">安装</a>flash或使用其他浏览器</p>
        </div>
        <div class="tip center-width fz-26 text-sp rv">(点击收听<span class="t-b">8</span>分钟音频精简解读)</div>
    </section>
    <!-- 功能 -->
    <section class="module-box pdy50 w-full f fv fc">
        <div class="center-width t-b  f-theme">
            <p class="fz-28 tc text-sp rv">小未程序率行业之先推出了：</p>
            <ul class="module-list f fc fj pdt50 rv">
                <li class="rel">
                    <img class="w-full" src="@(WebSiteConfig.cdnurl)content/newhome/image/independentDomain/module-bg.png?@(WebSiteConfig.cdnVersion)" />
                    <p class="title abs fz-28">自定义底部通栏</p>
                </li>
                <li class="rel">
                    <img class="w-full" src="@(WebSiteConfig.cdnurl)content/newhome/image/independentDomain/module-bg.png?@(WebSiteConfig.cdnVersion)" />
                    <p class="title abs fz-28">独立自定义域名</p>
                </li>
                <li class="rel">
                    <img class="w-full" src="@(WebSiteConfig.cdnurl)content/newhome/image/independentDomain/module-bg.png?@(WebSiteConfig.cdnVersion)" />
                    <p class="title abs fz-28">自定义后台LOGO</p>
                </li>
                <li class="rel">
                    <img class="w-full" src="@(WebSiteConfig.cdnurl)content/newhome/image/independentDomain/module-bg.png?@(WebSiteConfig.cdnVersion)" />
                    <p class="title abs fz-28">自定义前台LOGO</p>
                </li>
            </ul>
        </div>
    </section>
    <!-- 优势1 -->
    <section class="superiority-box pdy50 bg-f6 w-full f fv fc">
        <div class="center-width ">
            <p class="fz-28 f-theme tc t-b text-sp rv">独立域名将有如下优势：</p>
            <ul class="details-list pdt50 text-sp ">
                <li class="rv">
                    <i class="dot"></i>
                    <p class="fz-26 lh14">独立域名、独立品牌、独立标识<span class="t-b c-444">彰显更强大的研发能力</span></p>
                </li>
                <li class="rv">
                    <i class="dot"></i>
                    <p class="fz-26 lh14">精明的客户得知你背后的品牌商之后，如果深度挖掘是定能知道你的拿货价，从而影响你的销售进程。</p>
                </li>
                <li class="rv">
                    <i class="dot"></i>
                    <p class="fz-26 lh14">独立标识稳定出现在所有用户的底部和后台操作界面可以帮助你<span class="t-b c-444">持续汇聚意向客户</span></p>
                </li>
                <li class="rv">
                    <i class="dot"></i>
                    <p class="fz-26 lh14">独立域名、独立品牌、独立标识除了可以放大你发展终端客户的能力之外，你还能够像小未程序一样自主发展代理商基于小未程序破坏性的拿货价，<span class="t-b c-444">通过发展代理商你将更快速的收获更多的利润</span></p>
                </li>
            </ul>
        </div>
    </section>
    <!-- 优势2 -->
    <section class="superiority-box pdy50 w-full f fv fc">
        <div class="center-width  ">
            <p class="fz-28 f-theme tc t-b text-sp rv">为什么同行不做独立域名：</p>
            <p class="fz-26 pdt50 lh14 rv">代理商成为开发商之后会侵蚀一部分品牌开发商的利润为了维护自己的利益，主流开发商均不提供独立域名的服务</p>
        </div>
    </section>
    <!-- 优势3 -->
    <section class="superiority-box pdy50 bg-f6 w-full f fv fc">
        <div class="center-width text-sp">
            <p class="fz-28 f-theme tc t-b rv">为什么小未程序敢开放独立域名：</p>
            <p class="fz-26 pdt50 lh14 rv">对代理商有益：<span class="t-b c-444">开放独立域名之后，代理商利润会得到大规模增加。</span>凡是对代理商有益的事情，就是对我们有益的事情，值得一做。</p>
            <p class="fz-26 lh14 rv">对小未程序自身有益：现在的小未程序虽说是头部开发商，但终究是单兵作战，<span class="t-b c-444">通过开放独立域名，我们就变成了兵团作战，</span>在格局上已经远超越同行让我们有机会成为那个最终的胜利者。</p>
        </div>
    </section>
    <!-- 经营理念 -->
    <section class="manage-idea pdy50 w-full f fv fc">
        <div class="center-width text-sp">
            <p class="fz-28 f-theme tc t-b rv">小未经营理念：</p>
            <p class="fz-26 pdt50 lh14 rv">纵然整个小程序头部开发市场，都不提供某个服务，如果他真的对代理商有价值，能够让代理商赚到更多钱那么我们就应该身先士卒。</p>
            <p class="fz-26 lh14 rv">像新零售模板一样率先推出——彻底开通自定义域名、自定义后台、自定义小程序前端底部<span class="t-b">Logo</span></p>
            <p class="fz-26 lh14 rv">这是<span class="t-b">2018</span>年既新零售模板、我也要做小程序、智慧餐厅、小未平台之后我们为整个行业开创的又一个创举！</p>
        </div>
    </section>
    <!-- 自定义模块 -->
    <section class="custom-module pdy50 bg-f6 w-full f fv fc">
        <div class="center-width text-sp f fv fc">
            <p class="fz-28 f-theme tc t-b rv">独立域名自定义模块：</p>
            <img class="custom-module1 w-full rv"  src="@(WebSiteConfig.cdnurl)content/newhome/image/independentDomain/custom-module1.png?@(WebSiteConfig.cdnVersion)" />
            <p class="fz-28 tc t-b pdt50 rv">独立域名+独立登陆自定义</p>
            <img class="custom-module2 w-full rv"  src="@(WebSiteConfig.cdnurl)content/newhome/image/independentDomain/custom-module2.png?@(WebSiteConfig.cdnVersion)" />
            <p class="fz-28 tc t-b pdt50 rv">独立后台logo自定义</p>
            <img class="custom-module3 rv"  src="@(WebSiteConfig.cdnurl)content/newhome/image/independentDomain/custom-module3.png?@(WebSiteConfig.cdnVersion)" />
            <p class="fz-28 tc t-b pdt50 rv">独立底部logo</p>
        </div>
    </section>
    <!-- 详细说明 -->
    <section class="specify-box pdy50 w-full f fv fc">
        <div class="center-width text-sp f fv fc">
            <p class="fz-28 f-theme tc t-b rv">关于如何自定义的详细说明:</p>
            <div class="question-box w-full rel tc rv">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/independentDomain/wenhao-bg.png?@(WebSiteConfig.cdnVersion)" />
                <p class="fz-26 nowrap">如何自定义前台<span class="t-b">logo</span></p>
            </div>
            <div class="block-bg fz-26 f-theme mgt30 rv">每一个代理商在后台直接操作即可。</div>
            <div class="question-box w-full rel tc rv">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/independentDomain/wenhao-bg.png?@(WebSiteConfig.cdnVersion)" />
                <p class="fz-26 nowrap">如何实现独立域名，独立登陆，如何实现自定义后台<span class="t-b">logo</span></p>
            </div>
            <div class="block-bg f-theme fz-26 mgt30">
                <p class="lh14 rv">1. 首先独立域名+自定义后台是一整套的服务，以保证代理商能够彻底解决标识的问题</p>
                <p class="lh14 mgt20 rv">2. 独立域名+自定义后台有数量的限制。毕竟，我们是一家主流的小程序建站开发商品牌，不可能无限制的去消解我们自己的市场，因此我们预计整个2018年开放50个自定义域名以及自定义后台logo的名额</p>
            </div>
        </div>
    </section>
    <!-- 服务收费及收益 -->
    <section class="cost-box pdy50 bg-f6 w-full f fv fc">
        <div class="center-width tc">
            <p class="fz-28 f-theme tc t-b rv">服务收费及收益：</p>
            <ul class="details-list pdt50 text-sp">
                <li class="fz-26 lh14 pdb10 rv">
                    <i class="dot"></i>
                    <p class="pdl30">自定义logo+后台标识年费：3万</p>
                </li>
                <li class="fz-26 lh14 pdb10 rv">
                    <i class="dot"></i>
                    <p class="pdl30">增值服务：开通了自定义域名和自定义后台之后，我们将在附赠可独立发展分销商的功能（仅独立域名有该功能哦）也就是说各位选择了独立域名的代理商既可以自己去做小程序终端客户的开发，也可以像小未程序一样去招募代理商由于整个后台操作没有任何的小未程序的信息，因此，这一块也将会给您带来巨大收益。</p>
                </li>
                @*<li class="fz-26 lh14 rv">
                    <i class="dot"></i>
                    <p class="pdl30">初步目测：业务能力强者年收益轻松可以上千万。</p>
                </li>*@
            </ul>
            <p class="c-ff4343 fz-28 mgt100 tc t-b rv" >再次重申！</p>
            <p class="pdt50 tc fz-28 c-ff4343 t-b lh14 rv">正是由于发展独立域名会直接冲击到小未程序的代理业务，因此我们在2018年最多仅释放50个独立域名的机会，想要的话，抓紧哦！</p>
            <img class="pdt50 rv" style="width:4.36rem;" src="@(WebSiteConfig.cdnurl)content/newhome/image/independentDomain/xiandaoxiande.png?@(WebSiteConfig.cdnVersion)" />
        </div>
    </section>
    <!-- 视频 -->
    <section class="live-video-box w-full f fv fc">
        <div class="center-width f fv fc">
            @*<div class="title nowrap">*@
            <p class="fz-38 f-theme rv">&lt;开放独立域名&gt;</p>
            <p class="fz-38 mgt30 rv">45分钟深度视频直播</p>
            @*<div class="line-border bg-63B504 mt50"></div>*@
            @*</div>*@
            <div class="video rel mgt50 rv" id="videomainbody">
                <div class="video-player" style=font-size:0; id="videoPlayer"></div>
                <img class="video-cover w-full abs" src="@(WebSiteConfig.cdnurl)content/newhome/image/independentDomain/video-cover.png?@(WebSiteConfig.cdnVersion)" />
                <div class="spinner" id="videoLoading" style="top:50%;left:50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
                <img class="player-btn abs cp" hidden src="@(WebSiteConfig.cdnurl)content/newhome/image/independentDomain/audio-player.png?@(WebSiteConfig.cdnVersion)" />
                <div id="hasFlashErr" class="video-tip">
                    <p >抱歉，您没有安装flash，为了您能更好的体验，请点击<a href='http://get.adobe.com/cn/flashplayer/'>安装</a>flash或更换其他浏览器观看</p>
                </div>
            </div>
        </div>
    </section>

</div>




@section script{
    <script src="@(WebSiteConfig.cdnurl)content/newhome/js/independentDomain.js?@(WebSiteConfig.cdnVersion)"></script>
    <script>

     
    </script>
}

