@{
    Layout = null;
}
@using Entity.MiniApp.Home
@model NewsGw
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="点赞官网,小程序代理">
    <meta name="description" content="@Model.Title">
    <link rel="shortcut icon" type="image/x-icon" href="@(WebSiteConfig.cdnurl)content/newhome/image/bitbug_favicon.ico">
    <link rel="stylesheet" href="@(WebSiteConfig.cdnurl)content/dlptcss/css/about.css" />
    <title>@Model.Title</title>
    <style>
        .more_detail img {
            width: 100%;
        }
    </style>
</head>
<body>

    <div class="more_detail">
        <h2>@Model.Title</h2>
        <span>@Model.addtime.ToString("yyyy-MM-dd")</span>

        <p class="title">@Model.Introduce</p>
        <p class="content_detail">@Html.Raw(Model.NewsContent)</p>



    </div>
</body>
</html>
