@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "小未程序-小程序加盟|小程序代理|小程序招商|微信小程序";
    //string agenttitle = "";
}
@model List<XcxTemplate>
@section cssSection{
    @*<link href="@(WebSiteConfig.cdnurl)content/newhome/css/newHome.css?@(WebSiteConfig.cdnVersion)" rel="stylesheet" />*@
}

<div class="v-nav">
    <ul class="v-nav-list">
        <li class="vnav-green-active">小程序探路！问大树</li>
        <li>《小程序改变一切》</li>
        <li>小程序为什么可以改变一切</li>
        <li>谁适合进入小程序</li>
        <li>如何盈利</li>
        <li>小未程序代理方案</li>
        <li>小未程序5大优势</li>
        <li>代理商墙</li>
        <li>13大行业解决方案</li>
        <li>小未程序模板市场</li>
        <li>产品案例</li>
        <li>办公环境</li>
        <li>小程序动态</li>
    </ul>
</div>
<div id="first" class="home-section first-box">
    <div id="bannerSwiper" class="banner-swiper swiper-container">
        <div class="swiper-wrapper">
            @*<div class="swiper-slide">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/newhome/first-bg2.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
                    <a class="banner-btn tc" href="/dzhome/videoList" target="_blank">电脑播放</a>
                </div>*@
            <div class="swiper-slide">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/newhome/banner-home-05.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
                <div class="banner-reg f fv fc">
                    <div class="banner-reg-icon">
                        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/icon-home-green.png?@(WebSiteConfig.cdnVersion)">
                    </div>
                    <input type="hidden" id="sessid" value="@Session["qrcodekey"]" />
                    <div class="input-area">
                        <img src="/QrCode/GetQrCode?code=@Session["qrcodekey"]&type=0" alt="" />

                    </div>
                    <p class="input-area-text">扫码1分钟免费创建小程序</p>
                </div>
            </div>
            <div class="swiper-slide">
                <a href="/dzhome/independentDomain">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/newhome/banner-home-09.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
                </a>
            </div>
        </div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div id="second" class="second-box home-section pdy60 f fv fc">
    <div class="img-box rv">
        <img class="lazy" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/newhome/second-img.png?@(WebSiteConfig.cdnVersion)" />
    </div>
</div>
<div id="third" class="third-box home-section pdy60 bg-f9 f fv fc">
    <div id="thirdBox-video" class="f fc fv">
        <div class="third-title rv">
            @*<p>内含腾讯机密</p>*@
            <p class="tc fz-36">内含腾讯机密和深度的小程序解读</p>
        </div>
        <div class="video-box f fc-h rv">
            <video id="dsVideo" class="video w-full" controls="controls" controlslist="nodownload" preload="metadata"></video>
            <div class="next-video-warn">正在为你加载本期下集视频...</div>
            <div id="videoMasking" class="video-masking f fc fc-h">
                <img id="btnPlay" class="play-btn" src="@(WebSiteConfig.cdnurl)content/newhome/image/newhome/eleventh-play.png?@(WebSiteConfig.cdnVersion)" />
            </div>
        </div>
        <p class="tc fz-30 pdt20 rv">速耐心看完！可能删除！</p>
        <a class="more-video-btn fz-26" href="/dzhome/videoList" target="_blank">查看更多深度视频</a>
    </div>
</div>

<div id="fourth" class="fourth-box home-section pdy60 f fv fc">
    <p class="fourth-title fz-36 tc t-b rv">为什么小程序是未来5-10年，大众创业者可以参与的重要机会？</p>
    <div class="fourth-content f fv fc">
        <div class="text-box text-box-bd  f fc rv">
            <div class="text-box-icon"></div>
            <div class="text-box-content"><p>小程序会带来新零售，小程序会帮助普遍的商家在<span class="t-b">不增加太多成本的情况下获得利润的增加，效率的提升和成本的下降。</span></p></div>
        </div>
        <div class="text-box text-box-bd  f fc rv">
            <div class="text-box-icon"></div>
            <div class="text-box-content"><p>小程序会真正引爆移动互联网时代<span class="t-b">第一个千亿级</span>的普遍商家的建站需求！</p></div>
        </div>
        <div class="text-box text-box-bd  f fc rv">
            <div class="text-box-icon"></div>
            <div class="text-box-content"><p>所有的中心化平台面临商家给平台打工的宿命！小程序将<span class="t-b">颠覆所有的中心化流量平台</span>（这个观点似乎骇人听闻），小程序将<span class="bold">成为新时代的霸主</span>（就像搜索的百度，社交的腾讯一样）</p></div>
        </div>
        <div class="text-box text-box-bd  f fc rv">
            <div class="text-box-icon"></div>
            <div class="text-box-content"><p>未来世界建立在小程序之上，你只能<span class="t-b">选择现在主动入局，亦或未来被动入局！</span></p></div>
        </div>
    </div>
    <div class="fourth-bottom fz-20 tc rv">
        <p>以上每一个结论都有改变世界的能力，如果你有疑问，《小程序改变一切》将解答你所有的问题。</p>
        <p>如果视频依然不能解答你的问题：请加微信：<span class="f-theme">dashudashu7</span></p>
    </div>
</div>
<div id="fifth" class="fifth-box home-section pdy60 bg-f9 f fv fc">
    <div class="fifth-content f fc fv rv">
        <p class="fifth-title fz-36 tc t-b rv">什么样的人？什么样的团队？什么样的公司？应该进入小程序这个浪潮之巅的爆发式增长的行业？</p>
        <div class="fifth-text c-333 text-box-bd ">
            <p class="rv">如果你的行业不好做，没钱赚，记住，<span class="t-b">你无法改变你所在行业！</span></p>
            <p class="rv">你应该考虑<span class="t-b">找到爆发式增长的行业，行业会推动着你往前走！</span></p>
            <p class="rv">就像2000年的建站，08年的淘宝，13年的公众号，现在的小程序一样！</p>
            <p class="rv">现在<span class="t-b">几乎所有传统行业经营者都可以考虑进入小程序的市场去获得新的增长。</span></p>
        </div>
        <div class="fifth-bottom fz-20 rv">
            <p>您或者您的公司是否适合进入小程序，加大树微信：<span class="f-theme">dashudashu7</span> 免费深度咨询</p>
        </div>
    </div>
</div>
<div id="sixth" class="sixth-box home-section pdy60 f fv fc">
    <div class="sixth-title fz-36 tc t-b rv"><p>进入小程序该如何盈利？</p></div>
    <div class="sixth-content">
        <div class="text-box-bd sixth-text f fc rv">
            <div class="text-box-icon"></div>
            <div class="text-box-content">
                <h3 class="rv">1.去哪里盈利？</h3>
                <p class="rv">首先，千万个商家涌入小程序要干的<span class="t-b">第一件事情是“建站”</span></p>
                <p class="rv">因此目前进入小程序<span class="t-b">能迅速盈利的项目是成为服务商，给当地的客户提供小程序建站的服务。</span></p>
            </div>
        </div>
        <div class="text-box-bd sixth-text f fc rv">
            <div class="text-box-icon"></div>
            <div class="text-box-content">
                <h3 class="rv">2.怎么盈利？</h3>
                <p class="rv">小未程序深耕本地建站服务，<span class="t-b">为代理商提供3大盈利套路：</span></p>
                <p class="rv">适合<span class="t-b">一个人</span>兼职创业的<span class="t-b">躺盈套路</span></p>
                <p class="rv">适合<span class="t-b">3-5个人</span>或者<span class="t-b">10人以内</span>的<span class="t-b">直销套路</span></p>
                <p class="rv">适合<span class="t-b">20人甚至更大团队</span>的<span class="t-b">会销套路</span></p>
            </div>
        </div>
    </div>
    <div class="sixth-bottom fz-20 rv">
        <p class="tc">免费领取小程序躺赢套路，请加大树微信：<span class="f-theme">dashudashu7</span></p>
    </div>
</div>
<div id="seventh" class="seventh-box home-section pdy60 b-fixed bg-f9 f fv fc">
    <p class="seventh-title fz-36 tc t-b rv">小未程序代理方案</p>
    <div class="seventh-content">
        <div class="seventh-table rv">
            <table class="table-box tc fz-18 t-b">
                <tr>
                    <td class="table-td">代理类型</td>
                    <td class="table-td">代理费</td>
                    <td class="table-td">预存款（万）</td>
                    <td class="table-td">拿货价</td>
                </tr>
                <tr>
                    <td class="table-td">县级代理</td>
                    <td class="table-td fz-22 c-333">0</td>
                    <td class="table-td fz-22 c-333">1</td>
                    <td class="table-td" rowspan="4">
                        <img class="img" src="@(WebSiteConfig.cdnurl)content/newhome/image/newhome/question-icon.png?@(WebSiteConfig.cdnVersion)" />
                    </td>
                </tr>
                <tr>
                    <td class="table-td">市级代理</td>
                    <td class="table-td fz-22 c-333">0</td>
                    <td class="table-td fz-22 c-333">3</td>
                </tr>
                <tr>
                    <td class="table-td">省会代理</td>
                    <td class="table-td fz-22 c-333">0</td>
                    <td class="table-td fz-22 c-333">5</td>
                </tr>
                <tr>
                    <td class="table-td">一线城市代理</td>
                    <td class="table-td fz-22 c-333">0</td>
                    <td class="table-td fz-22 c-333">10</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="seventh-bottom fz-20 rv">
        <p class="tc ">加大树微信：<span class="f-theme">dashudashu7</span> 获得小程序破坏性拿货价</p>
    </div>
</div>
<div id="eighth" class="eighth-box home-section pdy60 f fv fc">
    <p class="eighth-title fz-36 tc t-b rv">小未程序五大优势：</p>
    <div class="eighth-content text-box-bd rv">
        <p class="rv"><span class="t-b">全案的直销、会销、躺盈套路支持,</span>让你有能力在第一周就迅速入场</p>
        <p class="rv"><span class="t-b">18个行业模板</span>让你承包本地建站小程序90%的市场。</p>
        <p class="rv"><span class="t-b">超低的拿货成本让你在竞争</span>中处于不败之地。</p>
        <p class="rv"><span class="t-b">比管理qq空间更容易的后台操作</span>令你爱不释手。</p>
        <p class="rv"><span class="t-b">总部每月大量的广告预算，</span>给你强大的终端客户输送，让你轻松躺赢。</p>
    </div>
    <div class="eighth-bottom fz-20 rv">
        <p class="tc">想要获得更多小程序行业深度咨讯，请加大树微信：<span class="f-theme">dashudashu7</span></p>
    </div>
</div>
<div id="ninth" class="ninth-box home-section pdy60 bg-f9 f fv fc">
    <p class="ninth-title fz-36 tc t-b rv">超过500个城市代理商选择与小程序一起携手同行！</p>
    <div class="ninth-content f fc fc-h rv">
        <div class="ninth-img"><img class="lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/newhome/ninth-section02.png?@(WebSiteConfig.cdnVersion)" /></div>
        <div class="ninth-text t-b">
            <img class="xw-icon lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/newhome/ninth-section03.png?@(WebSiteConfig.cdnVersion)" />
            <p class="fz-50 rv"><span class="f-theme">10万+</span>终端用户</p>
            <p class="fz-50 rv"><span class="f-theme">500+</span>全国代理商</p>
            <p class="fz-70 rv">终极选择</p>
        </div>
    </div>
</div>
<div id="solution-box" class="productCenter-solution home-section pdy60 f fv fc">
    <h2 class="title rel f-theme fz-36 rv">13大行业解决方案</h2>
    <p class="fz-20 pdt20 c-999 rv">小未程序为各种商业应用场景提供小程序解决方案</p>
    <div class="solution-list-box rv">
        <ul id="solutionList" class="solution-list w-full cp f fc fj">
            <li><span class="green-current-btn">汽车4S</span></li>
            <li><span>房地产</span></li>
            <li><span>健身房</span></li>
            <li><span>家政</span></li>
            <li><span>电商</span></li>
            <li><span>KTV</span></li>
            <li><span>美容美发</span></li>
            <li><span>家装建材</span></li>
            <li><span>教育培训</span></li>
            <li><span>医美</span></li>
            <li><span>宠物</span></li>
            <li><span>汽车美容</span></li>
            <li><span>餐饮</span></li>
        </ul>
    </div>
    <div class="slide-show rel rv">
        <div class="phone-frame">
            <img src="@(WebSiteConfig.cdnurl)content/newhome/image/productCenter/phone-box.png?@WebSiteConfig.cdnVersion" />
        </div>
        <div class="swiper-container solution-swiper" id="solutionSwiper">
            <div class="swiper-wrapper tc">
                <div class="swiper-slide swiper-slide-center">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/productCenter/car4S.jpg?@WebSiteConfig.cdnVersion" alt="" />
                    <div class="list-item-masking f fv fc">
                        <div class="itme-masking-title">
                            <h2>汽车4S</h2>
                            <p>小未程序4s店小程序对行业资源整合进行深入思考，就“成交客户满意度调研，客户服务，车友信息交流”3个关键点，进行深入开发。</p>
                        </div>
                        <a class="item-btn" href="/dzhome/solution#汽车4S">查看详情</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/productCenter/realty.jpg?@WebSiteConfig.cdnVersion" alt="" />
                    <div class="list-item-masking f fv fc">
                        <div class="itme-masking-title">
                            <h2>房地产</h2>
                            <p>小未程序房地产，具有房产中介必需的基础功能，提高企业服务效率，实现了服务与人的连接。</p>
                        </div>
                        <a class="item-btn" href="/dzhome/solution#房地产">查看详情</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/productCenter/gym.jpg?@WebSiteConfig.cdnVersion" alt="" />
                    <div class="list-item-masking f fv fc">
                        <div class="itme-masking-title">
                            <h2>健身房</h2>
                            <p>小未程序健身行业链接商家和用户，通过线上场馆预订、课程预约、教练预约，物品购买等等提升新用户到店率和会员转化率；帮助用户提供健身决策，并提供在线客服咨询，降低健身门槛。</p>
                        </div>
                        <a class="item-btn" href="/dzhome/solution#健身房">查看详情</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/productCenter/homemaking.jpg?@WebSiteConfig.cdnVersion" alt="" />
                    <div class="list-item-masking f fv fc">
                        <div class="itme-masking-title">
                            <h2>家政</h2>
                            <p>小未程序深入家政行业，经过调研分析市场需求，打造点赞家政小程序。旨在解决家政公司的痛点，提供了一整套行业方法，帮助商家获取精准客户，高效管理家政人员，利用会员管理系统维护老客户，引导他们再次消费。</p>
                        </div>
                        <a class="item-btn" href="/dzhome/solution#家政">查看详情</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/productCenter/ec.jpg?@WebSiteConfig.cdnVersion" alt="" />
                    <div class="list-item-masking f fv fc">
                        <div class="itme-masking-title">
                            <h2>电商</h2>
                            <p>为零售提供最先进的行业解决方案，帮助零售业打破自身局限，搭建微信端电商销售体系，实现流量聚合。会员系统和营销插件能有效为商户带来流量和热度。砍价和拼团的等营销功能引导老用户主动带来新客户。</p>
                        </div>
                        <a class="item-btn" href="/dzhome/solution#电商">查看详情</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/productCenter/ktv.jpg?@WebSiteConfig.cdnVersion" alt="" />
                    <div class="list-item-masking f fv fc">
                        <div class="itme-masking-title">
                            <h2>KTV</h2>
                            <p>小未程序旨在用数据和产品帮助线下KTV商家，让KTV没有难做的生意。提供预订包厢、地图导航、在线支付等智慧KTV的解决方案，围绕用户，通过主题活动、丰富的内容，帮助商家提升业绩。</p>
                        </div>
                        <a class="item-btn" href="/dzhome/solution#KTV">查看详情</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/productCenter/hairdressing.jpg?@WebSiteConfig.cdnVersion" alt="" />
                    <div class="list-item-masking f fv fc">
                        <div class="itme-masking-title">
                            <h2>美容美发</h2>
                            <p>小未程序为传统的丽人行业带来了出团购以外的拉新渠道和工具，砍价，会员卡，秒杀等营销工具助力商家获取更多客源，并给客户带来更好的消费体验。</p>
                        </div>
                        <a class="item-btn" href="/dzhome/solution#美容美发">查看详情</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/productCenter/decoration.jpg?@WebSiteConfig.cdnVersion" alt="" />
                    <div class="list-item-masking f fv fc">
                        <div class="itme-masking-title">
                            <h2>家装建材</h2>
                            <p>小未家装小程序，使用场景囊括线上到线下，致力为家装公司提供一套，高效便捷的装修行业解决方案。客户在线甄别装修能力，挑选适合自家户型满足自己需求的装修风格。发挥传统实体门店选购建材家装产品的优势， 避免顾客盲目消费。</p>
                        </div>
                        <a class="item-btn" href="/dzhome/solution#家装建材">查看详情</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/productCenter/education.jpg?@WebSiteConfig.cdnVersion" alt="" />
                    <div class="list-item-masking f fv fc">
                        <div class="itme-masking-title">
                            <h2>教育培训</h2>
                            <p>小未程序帮助机构更好招收学员，服务客户，增加互动。内置教学视频，背景音乐，还能实现互动问答，导师预约等功能，为培训机构和学员提供一个交流互动的平台。</p>
                        </div>
                        <a class="item-btn" href="/dzhome/solution#教育培训">查看详情</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/productCenter/plastic.jpg?@WebSiteConfig.cdnVersion" alt="" />
                    <div class="list-item-masking f fv fc">
                        <div class="itme-masking-title">
                            <h2>医疗美容</h2>
                            <p>小未程序横空出世，为医美行业带来了新的契机。解决了传统的医美行业推广成本高，营销效果差，客户流失率高，引流困难，转化效率低下等一系列问题。</p>
                        </div>
                        <a class="item-btn" href="/dzhome/solution#医美">查看详情</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/productCenter/pet.jpg?@WebSiteConfig.cdnVersion" alt="" />
                    <div class="list-item-masking f fv fc">
                        <div class="itme-masking-title">
                            <h2>宠物</h2>
                            <p>小未程序能为宠物店附能，提供完整的售前预约咨询，售后交流服务。通过小未程序，商家不但可以展示干净整洁的店铺环境，还能通过视频和图文，直观地反应宠物的状态和样貌。</p>
                        </div>
                        <a class="item-btn" href="/dzhome/solution#宠物">查看详情</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/productCenter/cargoods.jpg?@WebSiteConfig.cdnVersion" alt="" />
                    <div class="list-item-masking f fv fc">
                        <div class="itme-masking-title">
                            <h2>汽车美容</h2>
                            <p>小未程序极易推广，设置简单，大多数传统汽车服务企业没有企划力， 也能拥有应该美观有特色的汽车美容专属的小程序。</p>
                        </div>
                        <a class="item-btn" href="/dzhome/solution#汽车美容">查看详情</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/productCenter/catering.jpg?@WebSiteConfig.cdnVersion" alt="" />
                    <div class="list-item-masking f fv fc">
                        <div class="itme-masking-title">
                            <h2>餐饮</h2>
                            <p>餐饮版是小未程序为商家提供的餐厅门店解决方案，分别从营销，服务，流量的角度来提升餐饮店铺的营收，营运效率及流量的成交转化率。</p>
                        </div>
                        <a class="item-btn" href="/dzhome/solution#餐饮">查看详情</a>
                    </div>
                </div>
            </div>
            <div id="solutionPrev" class="swiper-button-prev">&lt;</div>
            <div id="solutionNext" class="swiper-button-next">&gt;</div>
        </div>
    </div>
</div>
<div id="market" class="template-maket home-section pdy60 bg-f9 f fv fc">
    <h2 class="title rel f-theme fz-36 rv">小程序模板市场</h2>
    <p class="fz-20 pdt20 c-999 rv">小未程序为各种商业应用场景提供海量模板</p>
    <ul class="template-list f fw rv">
        <li>
            <div class="template-item" name="dy">
                <div class="template-item-title">
                    <i class="icon-01"></i>
                    <h3>单页版</h3>
                </div>
                <div class="template-item-content f fv fc ">
                    <h4>使用场景</h4>
                    <p class="line line5">市面上功能最完善的单页版、附近5公里自动展示、本地商家的网络名片</p>
                    <div class="template-item-case">
                        <h4>案例展示</h4>
                        <div class="case-list f fc">
                            <div id="itemCaseImgBox" class="item-case-img">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                            <div id="itemCaseImgBox" class="item-case-img">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                            <div id="itemCaseImgBox" class="item-case-img ">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn-know" href="/dzhome/templateMarket#4">了解详情</a>
                </div>
            </div>
        </li>
        <li>
            <div class="template-item " name="qy">
                <div class="template-item-title">
                    <i class="icon-02"></i>
                    <h3 class="c-fff">企业版</h3>
                </div>
                <div class="template-item-content f fv fc">
                    <h4>使用场景</h4>
                    <p class="line line5">相当于企业的网络名片，可以有效增加企业的曝光度。不但能满足企业宣传的需求，同时还可以辅助企业销售。企业可以利用小程序来展示产品、案例、宣传企业文化、发布资讯。</p>
                    <div class="template-item-case">
                        <h4>案例展示</h4>
                        <div class="case-list f fc">
                            <div id="itemCaseImgBox" class="item-case-img">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                            <div id="itemCaseImgBox" class="item-case-img">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                            <div id="itemCaseImgBox" class="item-case-img">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn-know" href="/dzhome/templateMarket#2">了解详情</a>
                </div>
            </div>
        </li>
        <li>
            <div class="template-item" name="ds">
                <div class="template-item-title">
                    <i class="icon-03"></i>
                    <h3>电商版</h3>
                </div>
                <div class="template-item-content f fv fc">
                    <h4>使用场景</h4>
                    <p class="line line5">可实现商品展示，排序，下单，功能齐全，可通过微信二维码直接进入，支持会员卡储值，会员卡折扣，砍价等营销插件，模块化设置，商家只需简单设置即可拥有自己的商城，省时省力！除此之外，还支持连接云打印机，支付完成就能打出小票。从线上到线下无缝衔接。</p>
                    <div class="template-item-case">
                        <h4>案例展示</h4>
                        <div class="case-list f fc">
                            <div id="itemCaseImgBox" class="item-case-img">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                            <div id="itemCaseImgBox" class="item-case-img">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                            <div id="itemCaseImgBox" class="item-case-img ">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn-know" href="/dzhome/templateMarket#6">了解详情</a>
                </div>
            </div>
        </li>
        <li>
            <div class="template-item">
                <div class="template-item-title">
                    <i class="icon-04"></i>
                    <h3>餐饮版</h3>
                </div>
                <div class="template-item-content f fv fc">
                    <h4>使用场景</h4>
                    <p class="line line5">类似于美团、大众点评，可实现线上外卖，扫码点餐功能，生成点餐小程序，实现一桌一码，极大方便了菜品订单管理。连接后厨打印机，无需服务员参与，下单自动出票，能有效提高工作效率。随着“附近的小程序”功能的推出，小程序成为餐饮行业重要的客户流量渠道。</p>
                    <div class="template-item-case">
                        <h4>案例展示</h4>
                        <div class="case-list f fc">
                            <div id="itemCaseImgBox" class="item-case-img">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                            <div id="itemCaseImgBox" class="item-case-img">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                            <div id="itemCaseImgBox" class="item-case-img ">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn-know" href="/dzhome/templateMarket#18">了解详情</a>
                </div>
            </div>
        </li>
        <li>
            <div class="template-item">
                <div class="template-item-title">
                    <i class="icon-05"></i>
                    <h3>行业版</h3>
                </div>
                <div class="template-item-content f fv fc">
                    <h4>使用场景</h4>
                    <p class="line line5">适用于所有行业。内置14种功能组件，其中包括视频，轮播图，背景音乐，在线客服等，用户可以根据不同行业的场景需求，自由选择搭配组件。目前已有“餐饮，家政，酒店，ktv，美容美发美甲，健身房，建材，教育，汽车，房地产，宠物……”等十几个行业模板案例。</p>
                    <div class="template-item-case">
                        <h4>案例展示</h4>
                        <div class="case-list f fc">
                            <div id="itemCaseImgBox" class="item-case-img">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                            <div id="itemCaseImgBox" class="item-case-img">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                            <div id="itemCaseImgBox" class="item-case-img ">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn-know" href="/dzhome/templateMarket#27">了解详情</a>
                </div>
            </div>
        </li>
        <li>
            <div class="template-item">
                <div class="template-item-title">
                    <i class="icon-06"></i>
                    <h3>专业版</h3>
                </div>
                <div class="template-item-content f fv fc">
                    <h4>使用场景</h4>
                    <p class="line line5">具备行业版的自定义特点，内置16种功能组件，其中包括视频，轮播图，背景音乐，在线客服，以及电商直播。商家可以根据行业的需求选择组件，自由搭配。行业拥有丰富的营销插件——会员卡储值，会员折扣，砍价，拼团等。可以做成多种电商形式——内容电商，直播电商，社交电商。</p>
                    <div class="template-item-case">
                        <h4>案例展示</h4>
                        <div class="case-list f fc">
                            <div id="itemCaseImgBox" class="item-case-img">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                            <div id="itemCaseImgBox" class="item-case-img">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                            <div id="itemCaseImgBox" class="item-case-img ">
                                <img />
                                <div id="itemCaseQrcode" class="item-case-qrcode f fc fc-h">
                                    <img />
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn-know" href="/dzhome/templateMarket#37">了解详情</a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div id="app" class="w-full product-case-wrap pdy60" v-cloak>
    <h2 class="fz-36 tc t-b f-theme mgb50 rv">产品案例</h2>
    <!--案例列表-->
    <section class="caseList f fv fc">
        <div class="caseContent">
            <!--小程序模板-->
            <ul class="versions-list f fc fw rv">
                <li><a href="javascript:;" v-on:click="GetDataByTid(-1)" v-bind:class="{'green-line':selTemplateIndex==-1}">全部</a></li>
                <li v-for="(xcxTemplate,index) in xcxTemplates" v-if="xcxTemplate.Id!=40&&xcxTemplate.Id!=41&&xcxTemplate.Id!=54"><a href="javascript:;" v-on:click="GetDataByTid(index)" v-bind:class="{'green-line':index==selTemplateIndex}">{{xcxTemplate.TName}}</a></li>
            </ul>
            <!--不同案例版本下显示隐藏-->
            <ul class="label-list f fc fw rv" v-if="tags.length>0">
                <li v-if="tags.length>1" v-on:click="GetDataByTagId(-1)"><div v-bind:class="['btn-label',{'current-btn':tagId==0}]">全部</div></li>
                <li v-for="(tag,index) in tags" v-if="tag!=''" v-on:click="GetDataByTagId(index)"><div v-bind:class="['btn-label',{'current-btn':tagId==tag.id||tags.length==1}]">{{tag.tagname}}</div></li>
            </ul>
            <div class="case-tpl f fv fc rv">
                <ul class="case-list f fw">
                    <li v-for="caseItem in cases">
                        <div class="case">
                            <div class="case-img">
                                <img v-bind:src="caseItem.coverPath" />
                                <div class="case-shade f fc-h fc">
                                    <img v-bind:src="caseItem.QrcodePath" />
                                </div>
                            </div>

                            <p class="case-name">{{caseItem.casename}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
<div id="eleventh" class="eleventh-box home-section pdy60 bg-f9 f fv fc">
    <p class="eleventh-title fz-36 tc t-b f-theme rv">小未程序办公环境（视频）</p>
    <div class="eleventh-content f fc-h rv">
        <div id="video-aboutus " class="rel">
            <img class="play-masking" src="@(WebSiteConfig.cdnurl)content/newhome/image/newhome/eleventh-masking.png?@(WebSiteConfig.cdnVersion)" />
            <img class="video-play play-btn" src="@(WebSiteConfig.cdnurl)content/newhome/image/newhome/eleventh-play.png?@(WebSiteConfig.cdnVersion)" />
        </div>
    </div>
</div>
<div class="video-aboutus-masking">
    <video src="http://vzan-img.oss-cn-hangzhou.aliyuncs.com/upload/video/20180316/9e8f7a44ed4849b7ac20723891b80bd2.mp4" controls preload="auto"></video>
</div>
@* 小程序动态 *@
<div id="miniAppNews" class="miniApp-news home-section pdy60 f fv fc">
    <div class="news-box">
        <h2 class="news-title fz-36 tc rv">小程序动态</h2>
        <ul class="news-classify f fj" @*id="newsClassify"*@ id="news-box" v-cloak>
            <li class="f fv fc">
                <ul class="news-details-list">
                    <li>
                        <a class="news-details f " id="newsDetails" v-bind:href="getnewsurl(listOne)" target="_blank">
                            <div class="news-img">
                                <img v-lazy="img" />
                            </div>
                            <div class="news-page f fv fj">
                                <h3 class="line line2">{{title}}</h3>
                                <div class="news-page-date f fc fj">
                                    <span>新闻资讯</span>
                                    <span>{{time}}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="news-list-more" v-for="item in list"><a v-bind:href="getnewsurl(item)" class="list-a line line1" target="_blank">{{item.Title}}</a></li>

                </ul>
                <a class="btn-more" href="/dzhome/news#newsth" target="_blank">查看更多</a>
            </li>
            <li class="f fv fc">
                <ul class="news-details-list">
                    <li>
                        <a class="news-details f " v-bind:href="getnewsurl(listTwo)" target="_blank">
                            <div class="news-img">
                                <img v-lazy="img_deep" />
                            </div>
                            <div class="news-page f fv fj">
                                <h3 class="line line2">{{title_deep}}</h3>
                                <div class="news-page-date f fc fj">
                                    <span>深度观点</span>
                                    <span>{{deep_time}}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="news-list-more" v-for="item in list_deep" target="_blank"><a v-bind:href="getnewsurl(item)" class="list-a line line1" target="_blank">{{item.Title}}</a></li>

                </ul>
                <a href="/dzhome/news#deepth" class="btn-more" target="_blank">查看更多</a>
            </li>
            <li class="f fv fc">
                <ul class="news-details-list">
                    <li>
                        <a class="news-details f " v-bind:href="'/dzhome/programWiki?showDetail=true&newsId='+id_wiki" target="_blank">

                            <div class="news-img">
                                <img class="lazy" src="@(WebSiteConfig.cdnurl)content/newhome/image/newsImg.png?@(WebSiteConfig.cdnVersion)" />
                            </div>
                            <div class="news-page f fv fj">
                                <h3 class="line line2">{{title_wiki}}</h3>
                                <div class="news-page-date f fc fj">
                                    <span>小程序百科</span>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="news-list-more" v-for="item in list_wiki"><a v-bind:href="'/dzhome/programWiki?showDetail=true&newsId='+item.id" class="list-a line line1" target="_blank">{{item.title}}</a></li>

                </ul>
                <a class="btn-more" href="/dzhome/programWiki" target="_blank">查看更多</a>
            </li>
        </ul>
    </div>
</div>
@* 加盟流程 *@
<div>
    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/newhome/join-process.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
</div>
@* 提交手机号 *@
@*<div class="floater-box f fc-h">
        <div class="floater-content f fc-h">
            <div class="floater-text-box">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/newhome/floater-text.png?@(WebSiteConfig.cdnVersion)" />
                <div class="floater-text">
                    <h3>提交手机号</h3>
                    <p><span style="color:#ffec49;">一分钟免费</span>获得小未程序代理商暴富秘诀</p>
                </div>
            </div>
            <div class="form-box f fc">
                <input id="floaterPhoneNum" type="text" placeholder="请输入您的手机号" />
                <div id="floaterBtn" class="floater-btn cp">提交</div>
            </div>
        </div>
    </div>*@

@section script{
    <script>
        var initData = {
            templateList:@Html.Raw(JsonConvert.SerializeObject(Model)),
            initTemplateIndex:-1
        }
    </script>
    @if (WebSiteConfig.Environment == "pro")
    {
        <script src="@(WebSiteConfig.cdnurl)content/newhome/js/getcaselist.js?@(WebSiteConfig.cdnVersion)"></script>
        <script src="@(WebSiteConfig.cdnurl)content/newhome/js/newHome.js?@(WebSiteConfig.cdnVersion)"></script>
    }
    else
    {
        <script src="/Content/newhome/js/getcaselist.js"></script>
        <script src="/Content/newhome/js/newHome.js"></script>
    }

}


