@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>绑定手机</title>
    <link rel="shortcut icon" type="image/x-icon" href="@(WebSiteConfig.cdnurl)content/newhome/image/bitbug_favicon.ico">
    <link href="@(WebSiteConfig.cdnurl)content/css/dzbase.css" rel="stylesheet" />
    <link href="@(WebSiteConfig.cdnurl)content/newhome/css/base.css" rel="stylesheet" />
    <link href="@(WebSiteConfig.cdnurl)content/newhome/lib/animate.css" rel="stylesheet" />
    <link href="@(WebSiteConfig.cdnurl)content/newhome/css/PhoneReg.css" rel="stylesheet" />
</head>
<body >
    <div class="phoneReg-box" id="phoneReg-box">
        <header class="phoneReg-title">
            <p class="phoneReg-font-title">请验证手机号并设置密码</p>
        </header>
        <div class="warning">
            <p class="warning-text" id="warning" style="display:none;">请输入手机号！</p>
        </div>
        <div class="input">
            <span class="text-position phoneReg-font icon-phone">手机号：</span>
            <input type="text" name="phone" id="phone" onkeyup="this.value=this.value.replace(/[^\d]/g,'');" maxlength="11" placeholder="请输入手机号，以后用作登陆账号" class="phone" />
        </div>
        <div class="input input-msg">
            <span class="text-position phoneReg-font icon-msg">短信验证码：</span>
            <input type="text" name="msg" id="code" placeholder="请输入验证码" onkeyup="this.value=this.value.replace(/[^\d]/g,'');" maxlength="4" class="msg" />
            <span class="btn-msg phoneReg-font-msg" id="btnMsg">获取验证码</span>
        </div>
        <div class="input">
            <span class="text-position phoneReg-font icon-psw">密码：</span>
            <input type="password" name="psw" id="psw" maxlength="20" placeholder="请设置6-20位包含数字或字母的密码" class="psw" />
        </div>
        <div class="input">
            <span class="text-position phoneReg-font icon-repsw">重复密码：</span>
            <input type="password" name="repsw" id="repsw" maxlength="20" placeholder="请再次输入密码" class="repsw" />
        </div>
        <p class="phoneReg-font-bottom ">设置成功后，可使用手机号登陆！</p>
        <div class="btn-confirm "><a href="javascript:;" id="saveBtn" class="phoneReg-font-msg">确定</a></div>
    </div>
    <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/jquery.min.js"></script>
    <script src="@(WebSiteConfig.cdnurl)content/newhome/js/PhoneReg.js" charset="gb2312" type="text/javascript"></script>
    <script src="@(WebSiteConfig.cdnurl)content/layer/layer.js"></script>

</body>
</html>