@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "拼享惠";
}
@section cssSection{

}
<script src="~/livecontent/aodianplay/player.js"></script>
<div class="collage-discounts w-full">
    <section class="banner bg-f7">
        <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/banner02.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
        <div class="banner-btn-box f fc fc-h">
            <div class="banner-btn code-btn f fv fc fc-h rv" style="line-height:1.2;">
                <p class="fz-20">我要创业 马上代理</p>
                <p class="fz-18">代理费用￥1688.00</p>
            </div>
            <div class="banner-btn code-btn fz-20 f fc fc-h rv">我是商家 免费入驻</div>
            <div id="phoneBtn" class="banner-btn fz-20 f fc fc-h rv" style="margin-right: 0;">我要做平台 OEM</div>
            <div class="pxh-code-box rel">
                <img class="close-btn cp" src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/close.png?@(WebSiteConfig.cdnVersion)" />
                <img class="pxh-code" src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/pxh-code.jpg?@(WebSiteConfig.cdnVersion)" />
                <p class="tc fz-18">扫码进入</p>
            </div>
            <div class="pxh-phone-box">
                <div class="h-full f fc fj">
                    <input type="text" placeholder="请输入您的手机号" />
                    <span class="submit-btn fz-22">提交</span>
                    <img class="close-btn cp" src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/close.png?@(WebSiteConfig.cdnVersion)" />
                </div>
            </div>
        </div>
    </section>
    <section class="video-box pdy80 f fv fc tc lh">
        <h3 class="fz-34 c-333 mgb40 rv">拼享惠基本介绍</h3>
        <div class="player-box bg-d9d8d9 mgb80 rel rv" id="videoPlayer1">
            <video class="w-full h-full" src="http://j.vzan.cc/dz/content/images/pinxianghui/video/pxh.mp4" preload="metadata" controlslist="nodownload" controls="controls"></video>
            <div class="cover-box">
                <img class="video-cover" src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/video-cover.png?@(WebSiteConfig.cdnVersion)" />
                <img class="player-btn cp" src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/player-btn.png?@(WebSiteConfig.cdnVersion)" />
            </div>
            <div class="video-tip">抱歉，您没有安装flash，为了您能更好的体验，请点击<a href='http://get.adobe.com/cn/flashplayer/'>安装</a>flash或更换其他浏览器观看</div>
        </div>
        <h3 class="fz-34 c-333 mgb40 rv">拼享惠深度解读</h3>
        <div class="player-box bg-d9d8d9 rel rv" id="videomainbody">
            <div class="w-full h-full" style=font-size:0; id="videoPlayer2"></div>
            <div class="cover-box">
                <img class="video-cover" src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/video-cover2.png?@(WebSiteConfig.cdnVersion)" />
                <img class="player-btn cp" src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/player-btn.png?@(WebSiteConfig.cdnVersion)" />
            </div>
            <div class="video-tip f fc fc-h">抱歉，您没有安装flash，为了您能更好的体验，请点击<a href='http://get.adobe.com/cn/flashplayer/'>安装</a>flash或更换其他浏览器观看</div>
        </div>
    </section>
    <section class="flow-path c-333 pdy80 bg-f7 f fv fc">
        <p class="fz-34 t-b rv">拼享惠社交电商流程改造</p>
        <p class="c-999 fz-20 pdt10 rv">将传统的交易流程改造成拼团流程</p>
        <p class="fz-28 pdt60 rv"><span class="c-f10033">传统的</span>零售门店交易流程:</p>
        <ul class="old-flow pdt30 f fc fj rv">
            <li class="tc">
                <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-step01.png?@(WebSiteConfig.cdnVersion)" />
                <p class="fz-24 pdt20">选商品</p>
            </li>
            <li class="tc">
                <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-step02.png?@(WebSiteConfig.cdnVersion)" />
                <p class="fz-24 pdt20">付款</p>
            </li>
            <li class="tc">
                <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-step03.png?@(WebSiteConfig.cdnVersion)" />
                <p class="fz-24 pdt20">结束</p>
            </li>
        </ul>
        <div class="arrows rv">
            <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-arrows.png?@(WebSiteConfig.cdnVersion)" />
        </div>
        <p class="fz-28 rv"><span class="c-f10033">拼享惠</span>带来的交易流程:</p>
        <ul class="new-flow mgt30 f fc fj rv">
            <li class="tc rel ">
                <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-step01.png?@(WebSiteConfig.cdnVersion)" />
                <p class="abs fz-24 ">选商品</p>
            </li>
            <li class="tc rel pdx40">
                <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-step04.png?@(WebSiteConfig.cdnVersion)" />
                <p class="abs fz-24 ">导购引导顾客扫码进去商品详情页</p>
            </li>
            <li class="tc rel pdx40">
                <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-step02.png?@(WebSiteConfig.cdnVersion)" />
                <p class="abs fz-24 ">显示<span class="c-f10033">拼单</span>享受<span class="c-f10033">现金立返</span></p>
            </li>
            <li class="tc rel pdx40">
                <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-step06.png?@(WebSiteConfig.cdnVersion)" />
                <p class="abs fz-24 ">导购引导顾客<span class="c-f10033">邀请</span>朋友一起购买</p>
            </li>
            <li class="tc rel">
                <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-step07.png?@(WebSiteConfig.cdnVersion)" />
                <p class="abs fz-24 ">一个订单<span class="c-f10033">裂变</span>成两个订单</p>
            </li>
        </ul>
        <div style="width:100%;height: 0.48rem;"></div>
    </section>
    <!--<section class="slogan-box">
        <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/slogan-02.png?@(WebSiteConfig.cdnVersion)" />
    </section>-->
    <section class="sever-box pdy80 c-333 f fv fc">
        <p class="fz-34 t-b rv">拼享惠业绩增长四大服务</p>
        <p class="fz-20 c-999 pdt10 rv">四大类服务</p>
        <ul class="sever-list pdt40 f fc fj fw rv">
            <li class="f fv fc">
                <div class="icon-box">
                    <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-sever01.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <p class="c-333 fz-24">免费开通小程序店铺</p>
            </li>
            <li class="f fv fc">
                <div class="icon-box">
                    <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-sever02.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <p class="c-333 fz-24">手机一键生成商品详情页</p>
            </li>
            <li class="f fv fc">
                <div class="icon-box">
                    <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-sever03.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <p class="c-333 fz-24">免费生成一物一码</p>
            </li>
            <li class="f fv fc">
                <div class="icon-box">
                    <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-sever04.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <p class="c-333 fz-24">通过社交电商裂变门店流量</p>
            </li>
        </ul>
    </section>
    <section class="way-box rel bg-f7">
        <!--<img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/way-bg.png?@(WebSiteConfig.cdnVersion)" />-->
        <div class="way-content pdy80 f fc fv">
            <p class="c-333 t-b fz-34 rv">你可以(二选一或均可)</p>
            <p class="c-999 fz-20 pdt10 mgb40 rv">选择你想入驻或代理的方式</p>
            <div class="way mgb40 f fc rv">
                <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-way01.png?@(WebSiteConfig.cdnVersion)" />
                <p class="fz-24 c-333">免费入驻开通自己的拼享惠店铺</p>
            </div>
            <div class="way f fc rv">
                <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-way02.png?@(WebSiteConfig.cdnVersion)" />
                <p class="fz-24 c-333">花1688元代理“拼享惠”推广拼享惠代理享受40%的抽成，推广拼享惠终端享受门店业绩交易额抽成</p>
            </div>
        </div>
    </section>
    <section class="dynamic c-333 pdy80 f fv fc">
        <p class="fz-34 t-b rv">拼享惠动态</p>
        <p class="fz-20 c-999 pdt10 rv">拼享惠动态实时更新</p>
        <ul class="dynamic-list pdt40 f fw rv"></ul>
        <a class="btn-more" style="display:none;" href="/dzhome/news#pxh" target="_blank">查看更多</a>
    </section>
    <footer class="footer-box rel">
        <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/footer-bg.png?@(WebSiteConfig.cdnVersion)" />
        <div class="footer-content f fc fc-h rv">
            <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/logo.png?@(WebSiteConfig.cdnVersion)" />
            <div class="text f fv fj mgl30">
                <img src="https://j.vzan.cc/dz/img/wxkf.png" alt="" />
                <p class="fz-24 c-333"><span class="c-999 fz-20">客服微信：</span>pinxianghui</p>
                <p class="fz-24 c-333"><span class="c-999 fz-20">小程序&公众号：</span>拼享惠</p>
                <p class="fz-24 c-333"><span class="c-999 fz-20">地址：</span>广州市天河区林和东路285号天安人寿中心27楼全层</p>
            </div>
        </div>
    </footer>
    @*<section>
        <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/footer.png?@(WebSiteConfig.cdnVersion)" />
    </section>*@
    <!-- 悬浮窗 -->
    <section class="float-box f fv fc">
        <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/float-img.png?@(WebSiteConfig.cdnVersion)" />
        <a class="float-btn" href="/pinadmin/main/reg" target="_blank">注册拼享惠</a>
        <a class="float-btn" href="/pinadmin/main/login" target="_blank">登录拼享惠</a>
    </section>
</div>

@section script{
    <script>
        $(function () {

            //检测是否安装了flash
            function flashChecker() {
                var hasFlash = 0; //是否安装了flash
                var flashVersion = 0; //flash版本
                if (document.all) {
                    var swf = new ActiveXObject('ShockwaveFlash.ShockwaveFlash');
                    if (swf) {
                        hasFlash = 1;
                        VSwf = swf.GetVariable("$version");
                        flashVersion = parseInt(VSwf.split(" ")[1].split(",")[0]);
                    }
                } else {
                    if (navigator.plugins && navigator.plugins.length > 0) {
                        var swf = navigator.plugins["Shockwave Flash"];
                        if (swf) {
                            hasFlash = 1;
                            var words = swf.description.split(" ");
                            for (var i = 0; i < words.length; ++i) {
                                if (isNaN(parseInt(words[i]))) continue;
                                flashVersion = parseInt(words[i]);
                            }
                        }
                    }
                }
                return { f: hasFlash, v: flashVersion };
            }
            var fls = flashChecker();
            if (fls.f) {
                console.log("您安装了flash,当前flash版本为: " + fls.v + ".x");
            } else {
                $(".video-tip").show();
            }
            $(".code-btn").on("click", function () {
                $(".pxh-phone-box").fadeOut();
                $(".pxh-code-box").fadeIn();
            });
            $(".pxh-code-box>.close-btn").on("click", function () {
                $(".pxh-code-box").fadeOut();
            });
            $("#phoneBtn").on("click", function () {
                $(".pxh-code-box").fadeOut();
                $(".pxh-phone-box").fadeIn();
            });
            $(".pxh-phone-box .close-btn").on("click", function () {
                $(".pxh-phone-box").fadeOut();
            });
            $(".submit-btn").on("click", function () {
                submitInformation();
            })

            //提交咨询
            function submitInformation() {
                var name = "来自拼享惠官网"
                var phone = $(".pxh-phone-box input").val().trim();

                if (phone == "") {
                    layer.msg("请填写完整信息");
                    return;
                }
                if (!(/^1[34578]\d{9}$/.test(phone))) {
                    layer.msg("请输入正确的手机号");
                    return;
                }

                $.post("/DLPT/SendUserAdvisory",
                    { Phone: phone, username: name, source: 0 },//source: 0 pc端、1 移动端
                    function (data) {
                        if (data.isok) {
                            layer.msg("提交成功");
                            $(".pxh-phone-box input").val("");
                            $(".pxh-phone-box").fadeOut();
                        } else {
                            layer.msg(data.Msg);
                        }
                    })
            }

            $("#videoPlayer1 .player-btn").on("click", function () {
                $("#videoPlayer1>.cover-box").fadeOut();
                $("#videomainbody>.cover-box").fadeIn();
                objectPlayer.pausePlay();
                $("#videoPlayer1>video").trigger('play');
            })
            $("#videomainbody .player-btn").on("click", function () {
                $("#videomainbody>.cover-box").fadeOut();
                $("#videoPlayer1>.cover-box").fadeIn();
                $("#videoPlayer1>video").trigger('pause');
                objectPlayer.startPlay();
            })
            var objectPlayer = new aodianPlayer({
                playerwrap: 'videomainbody',
                container: 'videoPlayer2',//播放器容器ID，必要参数
                hlsUrl: "http://qvod2.vzan.cc/54261/131765325382005806/replay.1532441166.34943546.m3u8?time=636681997056719750",
                /* 以下为可选参数*/
                width: "100%",
                height: "100%",
                autostart: false,
                bufferlength: 1,//设置flv的缓存时间。默认为3秒
            });
            var pageIndex = 1, pageSize =10, type = 2;
            $.ajax({
                type: "GET",
                url: "/dzhome/NewsList",
                data: "pageIndex=" + pageIndex + "&pageSize=" + pageSize + "&type=" + type,
                success: function (res) {
                    if (res.isok) {
                        //console.log(res);
                        var dynamicList = res.dataObj.list;
                        $.each(dynamicList, function (i, item) {
                            if (i < 6) {
                                var url = item.NewsURL == "" ? "/dzhome/more_detail/" + item.Id : item.NewsURL;
                                var html = '<li class="f fv rv">' +
                                               '<a href="' + url + '" target="_blank">' +
                                                    '<img src="' + item.ImgPath + '" />' +
                                                    '<p class="fz-22 line line2">' + item.Title + '</p>' +
                                               '</a>'
                                '</li>'
                                $(".dynamic-list").append(html);
                            } else {
                                $(".btn-more").show();
                            }
                        })

                    } else {
                        console.log(res.Msg);
                    }
                }
            })

        })

    </script>
}

