@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "新零售";
}
@section cssSection{
    @*<link href="@(WebSiteConfig.cdnurl)content/newhome/css/retail.css?@WebSiteConfig.cdnVersion" rel="stylesheet" />*@
}
<script src="~/livecontent/aodianplay/player.js"></script>
<div class="retail-wrap pdy60">
        <!-- 标题+视频 -->
        <section class="title-box pdy60 tc f fv fc ">
            <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/title.png?@WebSiteConfig.cdnVersion" alt="" />
            <div class="video rel rv" id="videomainbody" >
                <div class="video-player" style=font-size:0; id="videoPlayer"></div>
                <img class="cover abs" src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/cover.png?@WebSiteConfig.cdnVersion" alt="" />
                <img class="cover-btn abs cp" src="@(WebSiteConfig.cdnurl)content/newhome/image/newhome/eleventh-play.png?@WebSiteConfig.cdnVersion" />
                <div id="hasFlashErr" class="f fc fc-h" style="display:none;background:#000;width:100%;height:100%;position:absolute;top:0;left:0;">
                    <p class="w-full tc c-fff" >抱歉，您没有安装flash，为了您能更好的体验，请先<a href='http://get.adobe.com/cn/flashplayer/'>安装</a>flash或更换其他浏览器观看</p>
                </div>
            </div>
            <div class="subtitle fz-36  rv">深度解读“按了吗”：可大规模应用于足浴、按摩、水疗、美容美发、ktv等行业</div>
        </section>
        <!-- 1.模板介绍 -->
        <section class="module">
            <div class="title f fc rv" >
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/icon-01.png?@WebSiteConfig.cdnVersion" alt="" />
                <span class="text fz-36 t-b f-theme">模板介绍</span>
            </div>
            <div class="subtitle rel fz-36 t-b rv">
                <div>“按了吗”商家端</div>
            </div>
            <p class="details pdy50 rv">消费者可以看到每一个技师的年纪，现在的工作状态（上钟、休息、空闲），能够提供的服务，也可以付费看到技师的照片（2块看照片，价钱商家自己可设置），可以跟技师发起私信，技师可以通过技师端的小程序直接回复。选定技师之后，可以直接付费预约时间。</p>
            <div class="swiper-box rv">
                <div class="swiper-list-box">
                    <div class="swiper-container " id="businessSwiper">
                        <div class="swiper-wrapper tc">
                            <div class="swiper-slide swiper-slide-center none-effect">
                                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/business-01.png?@WebSiteConfig.cdnVersion" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/business-02.png?@WebSiteConfig.cdnVersion" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/business-03.png?@WebSiteConfig.cdnVersion" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/business-04.png?@WebSiteConfig.cdnVersion" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/business-05.png?@WebSiteConfig.cdnVersion" alt="" />
                            </div>
                        </div>
                        <div id="businessPrev" class="swiper-button-prev"></div>
                        <div id="businessNext" class="swiper-button-next"></div>
                    </div>
                </div> 

               @* <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/Business.png?@WebSiteConfig.cdnVersion" alt="" />*@
            </div>
            <div class="subtitle rel fz-36 t-b rv">
                <div>“按了吗”技师端</div>
            </div>
            <p class="details pdy50 rv">技师可以直接在技师端进行提现，客人看照片的钱最后都会到技师这边，技师可以通过技师端直接发起跟消费者的沟通，或者被动等待顾客来撩，有技师收到花（钱）的排行榜，各种数据统计，订单操作管理平台工作状态的更新等等，后期技师可以直接在技师端发动态，而商家端的小程序会有一个“发现”，所有的技师发布的心情都会出现在商家的发现页面，从而达到深度撩顾客的目的。</p>
            <div class="swiper-box rv">
                <div class="swiper-list-box rv">
                    @*<div class="preview-icon rv" style="">
                        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/preview-icon.png?@(WebSiteConfig.cdnVersion)" />
                    </div>*@
                    <div class="swiper-container" id="technicianSwiper">
                        <div class="swiper-wrapper tc">
                            <div class="swiper-slide swiper-slide-center none-effect">
                                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/technician-01.png?@WebSiteConfig.cdnVersion" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/technician-02.png?@WebSiteConfig.cdnVersion" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/technician-03.png?@WebSiteConfig.cdnVersion" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/technician-04.png?@WebSiteConfig.cdnVersion" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/technician-05.png?@WebSiteConfig.cdnVersion" alt="" />
                            </div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
            
            <div class="subtitle rel fz-36 t-b rv">
                <div>“按了吗”的价值解读</div>
            </div>
            <ul class="role-list f fc fj rv">
                <li class="f fv fc">
                    <img class="active" src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/role-01.png?@WebSiteConfig.cdnVersion" alt="" />
                    <span class="role-name active">对于消费者</span>    
                </li>
                <li class="f fv fc">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/role-02.png?@WebSiteConfig.cdnVersion" alt="" />
                    <span class="role-name">对于技师</span>
                </li>
                <li class="f fv fc">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/role-03.png?@WebSiteConfig.cdnVersion" alt="" />
                    <span class="role-name">对于商家</span>
                </li>
            </ul>
            <div id="roleDetails" class="role-details role-details-one rv">满足了几乎所有足浴、按摩、水疗行业经常光顾的顾客挑选技师的痒点，此点之痒，比痛点更甚。你将“按了吗”展示到任何此类顾客眼前，他们都会大喜过望，心动不已，恨不得所有的店铺都用上这个系统。从价值上来说，这个产品彻底的征服了消费者。</div>
        </section>
        <!-- 2.案例 -->
        <section class="module f fv fc">
            <div class="title f fc rv">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/icon-02.png?@WebSiteConfig.cdnVersion" alt="" />
                <span class="text f-theme">案例</span>
            </div>
            <div class="case-code-box f fv fc rv">
                    <img class="code rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/case-code.png?@WebSiteConfig.cdnVersion" alt="" />
                @*<div class="case-code f fv fc">
                    @*<img class="arrows rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/icon-arrows-tint.png?@WebSiteConfig.cdnVersion" alt="Alternate Text" />
                    <img class="arrows rv" style="margin-top: 2.875rem;" src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/icon-arrows.png?@WebSiteConfig.cdnVersion" alt="Alternate Text" />
                    <span class="text rv">扫码查看案例</span>    
                </div>*@
            </div> 
        </section>
        <!-- 3.合作方案 -->
        <section  class="module">
            <div class="title f fc rv">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/retail/icon-03.png?@WebSiteConfig.cdnVersion" alt="" />
                <span class="text f-theme">合作方案</span>
            </div>
            @*<div class="price rv">零售价：<span class="f-theme">10000元/年/套</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;代理后拿货价：<span class="f-theme">1000元/年/套</span></div>*@
            <table class="price-table rv">
                <tr>
                    <td >代理类型</td>
                    <td >预存款</td>
                </tr>
                <tr>
                    <td>县级、区级、县级市</td>
                    <td>1万</td>
                </tr>
                <tr>
                    <td>地级市</td>
                    <td>3万</td>
                </tr>
                <tr>
                    <td>省会及二线城市</td>
                    <td>5万</td>
                </tr>
                <tr>
                    <td>一线城市</td>
                    <td>10万</td>
                </tr>
            </table>
            <p class="discounts rv">代理名额有限，先到先得哦！@*<br />现在代理的优惠政策：<span class="f-theme">预存1万送1万，存得多，送得多。</span>*@</p>
        </section>
</div>




@section script{
    <script src="@(WebSiteConfig.cdnurl)content/newhome/js/retail.js?@WebSiteConfig.cdnVersion"></script>
}

