@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "产品中心-行业解决方案";
}
@model List<XcxTemplate>
@section cssSection{
    @*<link href="@(WebSiteConfig.cdnurl)content/newhome/css/solution.css?@(WebSiteConfig.cdnVersion)" rel="stylesheet" />*@
}



<div id="app" class="solution-wrap" v-cloak>
    @*<div id="tab">*@
    <div class="solution-banner f fc fc-h">
        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/solution/solution-banner.png?@(WebSiteConfig.cdnVersion)" />
        <div class="banner-text-box f fv fc fc-h">
            <h1 class="fz-56 c-fff">行业解决方案</h1>
            <p class="fz-20 pdt10">各种商业应用情景提供小程序解决方案</p>
        </div>
    </div>
    <ul class="option-list">
        <li id="option" v-bind:class="{'current-option':option==optionName}" v-for="(option,index) in optionList" v-on:click="toggleSolution(index,$event,27)">{{option}}</li>
    </ul>
    @*</div>*@
    <section>
        @* 汽车4S *@
        <div class="solution-content f fv fc" id="page-content" v-show="optionName=='汽车4S'">
            <div class="solution-topbg ">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/solution/car4s/car4s-show1.png?@(WebSiteConfig.cdnVersion)" />
            </div>
            <div class="bgnormal-container pdy100 f fv fc fc-h">
                <h2 class="fz-30 c-333 rv">小未汽车4S小程序功能</h2>
                <div class="function-list f fj">
                    <div class="function-item rv f1 f fv fc" v-for="(item,index) in basis" v-if="index<=3">
                        <img class="item-img w124 lazy" v-lazy="item.img" />
                        <h4 class="item-title c-333">{{item.title}}</h4>
                        <p class="item-content">{{item.context_1}}</p>
                        <p class="item-content">{{item.context_2}}</p>
                        <p class="item-content">{{item.context_3}}</p>
                        <p class="item-content">{{item.context_4}}</p>
                    </div>
                </div>
                <div class="function-list f fj">
                    <div class="function-item rv f1 f fv fc" v-for="(item,index) in basis" v-if="index>3">
                        <img class="item-img w124 lazy" v-lazy="item.img" />
                        <h4 class="item-title c-333">{{item.title}}</h4>
                        <p class="item-content">{{item.context_1}}</p>
                        <p class="item-content">{{item.context_2}}</p>
                        <p class="item-content">{{item.context_3}}</p>
                        <p class="item-content">{{item.context_4}}</p>
                    </div>
                </div>
            </div>
            <img class="content-img lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/car4s/car4s-show2.png?@(WebSiteConfig.cdnVersion)" style="display:block" />
        </div>
        @* 房地产 *@
        <div class="solution-content f fv fc" id="page-content" v-show="optionName=='房地产'">
            <div class="solution-topbg">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/solution/realty/realty-bg.png?@(WebSiteConfig.cdnVersion)" />
            </div>
            <div class="bgnormal-container pdy100 f fv fc">
                <h2 class="fz-30 c-333 rv">小未房地产小程序功能</h2>
                <div class="function-list f fj">
                    <div class="function-item rv f1 f fv fc" v-for="(item,index) in realty" v-if="index<=2">
                        <img class="item-img w140 lazy" v-lazy="item.img" />
                        <h4 class="item-title c-333">{{item.title}}</h4>
                        <p class="item-content">{{item.context_1}}</p>
                        <p class="item-content">{{item.context_2}}</p>
                        <p class="item-content">{{item.context_3}}</p>
                        <p class="item-content">{{item.context_4}}</p>
                    </div>
                </div>
                <div class="function-list f fj">
                    <div class="function-item rv f1 f fv fc" v-for="(item,index) in realty" v-if="index>2">
                        <img class="item-img w140 lazy" v-lazy="item.img" />
                        <h4 class="item-title c-333">{{item.title}}</h4>
                        <p class="item-content">{{item.context_1}}</p>
                        <p class="item-content">{{item.context_2}}</p>
                        <p class="item-content">{{item.context_3}}</p>
                        <p class="item-content">{{item.context_4}}</p>
                    </div>
                </div>
            </div>
            <img class="content-img lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/realty/realty-show.png?@(WebSiteConfig.cdnVersion)" />
        </div>
        @* 健身房 *@
        <div class="solution-content f fv fc" id="page-content" v-show="optionName=='健身房'">
            <div class="top-container pdx160 f fj fc">
                <div class="top-page top-gymnasium-page f fc fv rv">
                    <h2 class="fz-30 c-333 mgb40">健身房</h2>
                    <p>
                        运动健身是充满正能量的行业。小未健身行业版链接商家和用户，帮助商家通过店铺的高品质内容来吸引微信9亿级活跃用户流量，这些内容包括<span class="t-b">线上场馆预订、课程预约、教练预约、物品购买</span>
                        等等，借助这些功能<span class="t-b">提升新用户到店率和会员转化率</span>；帮助用户提供健身决策，并提供<span class="t-b">在线客服咨询、降低健身门槛</span>；希望越来越多的健身机构通过小未健身行业版来宣扬健身文化，
                        帮助提高用户的身体数值，提升商家的曝光率和交易额。
                    </p>
                </div>
                <img class="w408 lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/gymnasium/gymnasium-phone.png?@(WebSiteConfig.cdnVersion)" />
            </div>
            <img class="content-img lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/gymnasium/gymnasium-bg.png?@(WebSiteConfig.cdnVersion)" />
            <div class="bgnormal-container pdy100 f fv fc fc-h">
                <h2 class="fz-30 c-333 rv">小未健身小程序功能</h2>
                <div class="function-list f fj">
                    <div class="function-item rv f1 f fv fc" v-for="(item,index) in gymnasium" v-if="index<=2">
                        <img class="item-img w140 lazy" v-lazy="item.img" />
                        <h4 class="item-title c-333">{{item.title}}</h4>
                        <p class="item-content">{{item.context_1}}</p>
                        <p class="item-content">{{item.context_2}}</p>
                        <p class="item-content">{{item.context_3}}</p>
                        <p class="item-content">{{item.context_4}}</p>
                    </div>
                </div>
                <div class="function-list f fj">
                    <div class="function-item rv f1 f fv fc" v-for="(item,index) in gymnasium" v-if="index>2">
                        <img class="item-img w140 lazy" v-lazy="item.img" />
                        <h4 class="item-title c-333">{{item.title}}</h4>
                        <p class="item-content">{{item.context_1}}</p>
                        <p class="item-content">{{item.context_2}}</p>
                        <p class="item-content">{{item.context_3}}</p>
                        <p class="item-content">{{item.context_4}}</p>
                    </div>
                </div>
            </div>
        </div>
        @* 家政 *@
        <div v-show="optionName=='家政'">
            <div class="solution-content f fv fc" id="page-content">
                <div class="top-container f fc fj">
                    <div class="top-page f fc fv">
                        <h2 class="fz-30 c-333 mgb40">小未程序家政</h2>
                        <p class="mgb28">随着人口老年化和生活水平要求的提高，家政行业市场潜力巨大。但是缺口巨大的家政市场里，80%的家政公司却出于亏损的处境。这是为何？</p>
                        <p class="mgb28">大多数家政公司仍然以传统的中介模式运行，在获客-管理-顾客回流三个环节都严重缺少有效的手段和工具。有部分家政公司试图走员工制管理。却始终找不到一个正确的员工制管理方式，最终重蹈覆辙。</p>
                        <p class="mgb28">小未程序深入家政行业，经过调研分析市场需求，打造小未家政小程序。旨在解决家政公司的痛点，提供了一整套行业方法，帮助商家获取精准客户，高效管理家政人员，利用会员管理系统维护老客户，引导他们再次消费。</p>
                    </div>
                    <img class="homemaking-img w720 lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/homemaking/homemaking-bg.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <div class="w-full bg-3b5f89 pdy100 f fc fc-h">
                    <div class="bgnormal-container f fv fc">
                        <h2 class="fz-30 c-fff rv">小未家政小程序功能</h2>
                        <div class="function-list f fj">
                            <div class="function-item rv f1 f fv fc" v-for="(item,index) in homemaking" v-if="index<=2">
                                <img class="item-img w140 lazy" v-lazy="item.img" />
                                <h4 class="item-title c-fff">{{item.title}}</h4>
                                <p class="item-content c-fff60 ">{{item.context_1}}</p>
                                <p class="item-content c-fff60 ">{{item.context_2}}</p>
                                <p class="item-content c-fff60 ">{{item.context_3}}</p>
                                <p class="item-content c-fff60 ">{{item.context_4}}</p>
                            </div>
                        </div>
                        <div class="function-list f fj">
                            <div class="function-item rv f1 f fv fc" v-for="(item,index) in homemaking" v-if="index>2">
                                <img class="item-img w140 lazy" v-lazy="item.img" />
                                <h4 class="item-title c-fff">{{item.title}}</h4>
                                <p class="item-content c-fff60">{{item.context_1}}</p>
                                <p class="item-content c-fff60">{{item.context_2}}</p>
                                <p class="item-content c-fff60">{{item.context_3}}</p>
                                <p class="item-content c-fff60">{{item.context_4}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        @* 电商 *@
        <div class="versions-content f fv fc" id="page-content" style="display:none;" v-show="optionName=='电商'">
            <div class="versions-topbg f fc fc-h">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/ds/ec_bg.png?@(WebSiteConfig.cdnVersion)" />
                <div class="versions-toptext">
                    <h2 >电商</h2>
                    <p >为零售提供最先进的行业解决方案，帮助零售业打破自身局限，搭建微信端电商销售体系，实现流量聚合。会员系统和营销插件能有效为商户带来流量和热度。砍价和拼团的等营销功能引导老用户主动带来新客户。除此之外，还可以连接云打印机，支付完成即出小票，应用场景从线上到线下无缝衔接。</p>
                </div>
            </div>
            <div class="ec-introduce pdy60 f fc-h">
                <div class="ec-introduce-box f fc-h">
                    <div class="ec-list mgr100 f fv fc fc-h">
                        <div class="rv ec-img f fv fc" v-for="item in eclist_1">
                            <img class="ec-icon" v-bind:src="item.img" />
                            <h3 class="fz-24 c-333 pdy20">{{item.title}}</h3>
                            <p>{{item.context}}</p>
                        </div>
                    </div>
                    <img class="w600 rv" style="height:100%;" src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/ds/ec_show.png?@(WebSiteConfig.cdnVersion)" />
                </div>
            </div>
            <div class="ec-introduce pdy60 bg-f7 f fc-h">
                <div class="ec-introduce-box f fc-h">
                    <img class="w380 mgr270 lazy rv" style="height:100%;" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/ds/ec_specfi.png?@(WebSiteConfig.cdnVersion)" />
                    <div class="ec-list f fv fc fc-h">
                        <div class="rv ec-img f fv fc" v-for="item in eclist_2">
                            <img class="ec-icon lazy" v-lazy="item.img" />
                            <h3 class="fz-24 c-333 pdy20">{{item.title}}</h3>
                            <p>{{item.context}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more-func pdy60 f fv fc">
                <h3 class="fz-30 c-333 rv">更多功能</h3>
                <div class="func-list f fw fc-h">
                    <div class="func-item rv f1 f fv fc" v-for="(item,index) in moreFunc" v-if="index<=2">
                        <img class="func-icon lazy" v-lazy="item.img" />
                        <h4 class="fz-20 c-333 pdy20">{{item.title}}</h4>
                        <p>{{item.context}}</p>
                    </div>
                </div>
                <div class="func-list f fw fc-h">
                    <div class="func-item rv f1 f fv fc" v-for="(item,index) in moreFunc" v-if="index>2">
                        <img class="func-icon lazy" v-lazy="item.img" />
                        <h4 class="fz-20 c-333 pdy20">{{item.title}}</h4>
                        <p>{{item.context}}</p>
                    </div>
                </div>
            </div>
        </div>
        @* ktv *@
        <div v-show="optionName=='KTV'">
            <div class="solution-content f fv fc" id="page-content">
                <div class="solution-topbg">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/solution/ktv/ktv-bg.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <div class="bgnormal-container pdy100 f fv fc">
                    <h2 class="fz-30 c-333 rv">KTV行业三大核心功能</h2>
                    <div class="function-list f fc fj">
                        <div class="function-item f1 f fv fc">
                            <img class="w110 lazy" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/ktv/ktv-core-01.png?@(WebSiteConfig.cdnVersion)" />
                            <h4 class="item-title c-333">会员管理</h4>
                        </div>
                        <div class="function-item f1 f fv fc">
                            <img class="w110 lazy" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/ktv/ktv-core-02.png?@(WebSiteConfig.cdnVersion)" />
                            <h4 class="item-title c-333">营销推广</h4>
                        </div>
                        <div class="function-item f1 f fv fc">
                            <img class="w110 lazy" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/ktv/ktv-core-03.png?@(WebSiteConfig.cdnVersion)" />
                            <h4 class="item-title c-333">门店管理</h4>
                        </div>
                    </div>
                </div>
                <img class="lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/ktv/ktv-show.png?@(WebSiteConfig.cdnVersion)" />
                <div class="pdy100 bg-f7 w-full f fv fc">
                    <div class="bgnormal-container f fv fc">
                        <h2 class="fz-30 c-333 rv">五大功能</h2>
                        <div class="function-list f fj">
                            <div class="function-item rv f1 f fv fc" style="max-width:2.42rem;" v-for="item in ktv">
                                <img class="item-img w100 lazy" v-lazy="item.img" />
                                <h4 class="item-title c-333">{{item.title}}</h4>
                                <p class="item-content">{{item.context_1}}</p>
                                <p class="item-content">{{item.context_2}}</p>
                                <p class="item-content">{{item.context_3}}</p>
                                <p class="item-content">{{item.context_4}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        @* 美容美发 *@
        <div v-show="optionName=='美容美发'">
            <div class="solution-content f fv fc" id="page-content">
                <div class="solution-topbg">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/solution/hairdressing/hairdressing-bg.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <div class="icon-img-container f fj fc">
                    <div class="icon-box f fc fv rv">
                        <h2 class="fz-30 c-333 mgb40">小未美发小程序功能</h2>
                        <div class="icon-list f fw">
                            <div class="item rv f1 f fv fc" v-for="(item,index) in hairdressing" v-if="index<=1">
                                <img class="item-img w120 lazy" v-lazy="item.img" />
                                <h4 class="item-title c-333 ">{{item.title}}</h4>
                                <p class="item-content">{{item.context_1}}</p>
                                <p class="item-content">{{item.context_2}}</p>
                                <p class="item-content">{{item.context_3}}</p>
                                <p class="item-content">{{item.context_4}}</p>
                            </div>
                        </div>
                        <div class="icon-list f fw">
                            <div class="item rv f1 f fv fc" v-for="(item,index) in hairdressing" v-if="index>1">
                                <img class="item-img w120 lazy" v-lazy="item.img" />
                                <h4 class="item-title c-333 ">{{item.title}}</h4>
                                <p class="item-content">{{item.context_1}}</p>
                                <p class="item-content">{{item.context_2}}</p>
                                <p class="item-content">{{item.context_3}}</p>
                                <p class="item-content">{{item.context_4}}</p>
                            </div>
                        </div>
                    </div>
                    <img class="w600 lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/hairdressing/hairdressing-function-bg.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <div class="pdy100 bg-f7 w-full f fv fc">
                    <div class="bgnormal-container f fv fc">
                        <h2 class="fz-30 c-333 rv">美容美发行业三大核心功能</h2>
                        <div class="function-list f fc fj">
                            <div class="function-item f1 f fv fc">
                                <img class="w110 lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/core-01.png?@(WebSiteConfig.cdnVersion)" />
                                <h4 class="item-title c-333">会员管理</h4>
                            </div>
                            <div class="function-item f1 f fv fc">
                                <img class="w110 lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/core-02.png?@(WebSiteConfig.cdnVersion)" />
                                <h4 class="item-title c-333">营销推广</h4>
                            </div>
                            <div class="function-item f1 f fv fc">
                                <img class="w110 lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/core-03.png?@(WebSiteConfig.cdnVersion)" />
                                <h4 class="item-title c-333">门店管理</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/hairdressing/hairdressing-show.png?@(WebSiteConfig.cdnVersion)" />
            </div>

        </div>
        @* 家装建材 *@
        <div v-show="optionName=='家装建材'">
            <div class="solution-content f fv fc" id="page-content">
                <div class="solution-topbg rv">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/solution/decoration/decoration-bg.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <div class="top-container f fc fj">
                    <div class="top-page f fc fv rv">
                        <h2 class="fz-30 c-333 mgb40">小未小程序家装建材</h2>
                        <p class="mgb28">互联网时代里，传统的家装行业受到了不小的冲击。传统的家装公司常用的营销手段就是打电话，这种方式成交率即低下，也损害了家装公司的形象。</p>
                        <p class="mgb28">
                            现在的家装行业中，没有一套有效的方法让客户挑选、甄别各个装修公司，适合自家户型满足自己需求的装修风格。
                            客户盲目选择，真正有实力的装修公司通过电话销售、宣传单、站牌广告等已经很难让客户取得信任了。其实传统实
                            体门店选购建材家装产品还有比线上有很大的优势，但是如何结合优势，打破目前的窘境呢？
                        </p>
                        <p class="mgb28">小未家装小程序，场景囊括线上到线下，致力为家装公司提供一套，高效便捷的装修行业解决方案。</p>
                    </div>
                    <img class="homemaking-img w720 lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/decoration/decoration-case.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <div class="w-full bg-f2eeea pdy100 f fc fc-h">
                    <div class="bgnormal-container f fv fc fc-h">
                        <h2 class="fz-30 c-333 rv">小未家装建材小程序功能</h2>
                        <div class="function-list f fj">
                            <div class="function-item f1 f fv fc rv" v-for="(item,index) in decoration" v-if="index<=3">
                                <img class="item-img w124 lazy" v-lazy="item.img" />
                                <h4 class="item-title c-333">{{item.title}}</h4>
                                <p class="item-content">{{item.context_1}}</p>
                                <p class="item-content">{{item.context_2}}</p>
                                <p class="item-content">{{item.context_3}}</p>
                                <p class="item-content">{{item.context_4}}</p>
                            </div>
                        </div>
                        <div class="function-list f fj">
                            <div class="function-item f1 f fv fc rv" v-for="(item,index) in decoration" v-if="index>3">
                                <img class="item-img w124 lazy" v-lazy="item.img" />
                                <h4 class="item-title c-333">{{item.title}}</h4>
                                <p class="item-content">{{item.context_1}}</p>
                                <p class="item-content">{{item.context_2}}</p>
                                <p class="item-content">{{item.context_3}}</p>
                                <p class="item-content">{{item.context_4}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* 教育培训 *@
        <div class="solution-content f fv fc" id="page-content" v-show="optionName=='教育培训'">
            <div class="solution-topbg rv">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/solution/education/education-bg.png?@(WebSiteConfig.cdnVersion)" />
            </div>
            <div class="top-container pdy60 f fc fc-h">
                <div class="top-page mgr220 f fc fv rv">
                    <h2 class="fz-30 c-333 mgb40">小未程序教育培训</h2>
                    <p class="mgb28">
                        教育培训小程序可以帮助机构<span class="t-b">塑造品牌形象，全面展示机构荣誉，学习环境，师资力量，课程内容，</span>
                        已经成功案例。帮助机构更好<span class="t-b">招收学员，服务客户，增加互动。</span>内置<span class="t-b">
                            教学视频，背景音乐，还能实现互动问答，导师预约
                        </span>等功能，为培训机构和学员提供一个交流互动的平台。
                    </p>
                    <p class="mgb28">作为传统的线下培训机构，生源主要组成是方圆几公里的常驻居民，这恰恰是小程序能力最强的服务范围。</p>
                </div>
                <img class="gymnasium-img w408 lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/education/education-phone.png?@(WebSiteConfig.cdnVersion)" />
            </div>
            <div class="pdy60 w-full bg-243c5b f fv fc ">
                <div class="bgnormal-container f fv fc ">
                    <h2 class="fz-30 c-fff rv">解决教育培训行页三大痛点</h2>
                    <div class="function-list f fw fc-h">
                        <div class="function-item rv f1 f fv fc" v-for="item in education">
                            <img class="item-img w132 lazy" v-lazy="item.img" />
                            <h4 class="item-title c-fff">{{item.title}}</h4>
                            <p class="item-content c-fff60">{{item.context_1}}</p>
                            <p class="item-content c-fff60">{{item.context_2}}</p>
                            <p class="item-content c-fff60">{{item.context_3}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        @* 医美 *@
        <div v-show="optionName=='医美'">
            <div class="solution-content f fv fc" id="page-content">
                <div class="solution-topbg rel">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/solution/medicine/medicine-bg.png?@(WebSiteConfig.cdnVersion)" />
                    <div class="solution-toptext left-layout c-f46a7b ">
                        <h2 class="fz-70 mgb28 tc">医美</h2>
                        <p class="fz-18">传统的医美行业面临着推广承包高，营销效果差，客户流失率高，引流困难，转化效率地下等一系列问题。很有有想法的医疗美容机构也尝试过app，试图解决当前的困境。但是结果确实不尽人意。小程序横空出世，为医美行业带来了新的契机。</p>
                        <p class="fz-18">小程序为医美机构带来什么产品细节展示，一键预约，选择美容师，美容产品商城，线上结算支付，会员系统管理，附近5公里展示，数据汇总统计，在线客服。</p>
                    </div>
                </div>
                <div class="bgnormal-container pdy100 f fv fc fc-h">
                    <h2 class="fz-30 c-333 rv">小未医美小程序功能</h2>
                    <div class="function-list f fj">
                        <div class="function-item rv f1 f fv fc" style="max-width:2.76rem" v-for="item in medicine_01">
                            <img class="item-img w140 lazy" v-lazy="item.img" />
                            <h4 class="item-title c-333">{{item.title}}</h4>
                            <p class="item-content">{{item.context_1}}</p>
                            <p class="item-content">{{item.context_2}}</p>
                            <p class="item-content">{{item.context_3}}</p>
                            <p class="item-content">{{item.context_4}}</p>
                        </div>
                    </div>
                </div>
                <img class="lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/medicine/medicine-show.png?@(WebSiteConfig.cdnVersion)" />
                <div class="bgnormal-container pdy100 f fv fc">
                    <h2 class="fz-30 c-333 rv">小未医美小程序三大支持</h2>
                    <div class="function-list f fj">
                        <div class="function-item rv f1 f fv fc" v-for="item in medicine_02">
                            <img class="item-img w160 lazy" v-lazy="item.img" />
                            <h4 class="item-title c-333">{{item.title}}</h4>
                            <p class="item-content">{{item.context_1}}</p>
                            <p class="item-content">{{item.context_2}}</p>
                            <p class="item-content">{{item.context_3}}</p>
                            <p class="item-content">{{item.context_4}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* 宠物 *@
        <div v-show="optionName=='宠物'">
            <div class="solution-content f fv fc" id="page-content">
                <div class="solution-topbg rel">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/solution/pet/pet-bg.png?@(WebSiteConfig.cdnVersion)" />
                    <div class="solution-toptext center-layout">
                        <h2 class="fz-70 mgb28 c-fff tc">宠物</h2>
                        <p class="fz-18 c-fff60 " style="max-width:6rem;">宠物店提供的服务一般包括宠物洗澡，宠物售卖等服务。所以消费者一般集中在店铺的附近居民区，想要做好服务本地客户，不仅要有干净优美的店铺环境，专业的技师。还需要提供更加完整的售前预约咨询，售后交流服务。顾客进行几步简单地操作，就可以在小程序接收自己想了解的信息，通过视频直观了解宠物状况，也可以主动咨询在线客服，极大方便了客户，也方便了商家管理和盈利。</p>
                    </div>
                </div>
                <div class="bgnormal-container pdy100 f fv fc fc-h">
                    <h2 class="fz-30 c-333 rv">小未宠物小程序功能</h2>
                    <div class="function-list f fj">
                        <div class="function-item rv f1 f fv fc" v-for="(item,index) in pet" v-if="index<=3">
                            <img class="item-img w124 lazy" v-lazy="item.img" />
                            <h4 class="item-title c-333">{{item.title}}</h4>
                            <p class="item-content">{{item.context_1}}</p>
                            <p class="item-content">{{item.context_2}}</p>
                            <p class="item-content">{{item.context_3}}</p>
                            <p class="item-content">{{item.context_4}}</p>
                        </div>
                    </div>
                    <div class="function-list f fj">
                        <div class="function-item rv f1 f fv fc" v-for="(item,index) in pet" v-if="index>3">
                            <img class="item-img w124 lazy" v-lazy="item.img" />
                            <h4 class="item-title c-333">{{item.title}}</h4>
                            <p class="item-content">{{item.context_1}}</p>
                            <p class="item-content">{{item.context_2}}</p>
                            <p class="item-content">{{item.context_3}}</p>
                            <p class="item-content">{{item.context_4}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <img class="lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/pet/pet-show.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
        </div>
        @* 汽车美容 *@
        <div v-show="optionName=='汽车美容'">
            <div class="solution-content f fv fc" id="page-content">
                <div class="solution-topbg rel">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/solution/autoBeauty/autoBeauty-bg.png?@(WebSiteConfig.cdnVersion)" />
                    <div class="solution-toptext center-layout">
                        <h2 class="fz-70 mgb28 c-fff tc">汽车后市场</h2>
                        @*<h3>Auto Beauty</h3>*@
                        <p class="fz-18 c-fff60  rv" style="max-width:6rem;">随着移动互联网的飞速发展，网络营销模式层出不穷。但是，坐店经营仍然是大多数传统汽车服务企业主要的营销模式。品牌营销、服务营销、网络营销、差异化营销几乎无从谈起。又该如何找准落脚点？ 点赞小程序极易推广，设置简单，大多数传统汽车服务企业没有企划力，也能拥有应该美观有特色的汽车美容专属的小程序。</p>
                    </div>
                </div>
                <div class="icon-img-container pdy60 f fc fc-h">
                    <div class="top-hairdressing-page mgr250 f fc fv rv">
                        <div class="icon-box f fc fv rv">
                            <div class="icon-list f fw">
                                <div class="item rv f1 f fv fc">
                                    <img class="item-img w100" src="@(WebSiteConfig.cdnurl)content/newhome/image/solution/autoBeauty/autoBeauty-logo-01.png?@(WebSiteConfig.cdnVersion)" />
                                    <h4 class="item-title c-333">保养维修</h4>
                                </div>
                                <div class="item rv f1 f fv fc">
                                    <img class="item-img w100" src="@(WebSiteConfig.cdnurl)content/newhome/image/solution/autoBeauty/autoBeauty-logo-02.png?@(WebSiteConfig.cdnVersion)" />
                                    <h4 class="item-title c-333">预约美容</h4>
                                </div>
                            </div>
                            <div class="icon-list f fw">
                                <div class="item rv f1 f fv fc">
                                    <img class="item-img w100" src="@(WebSiteConfig.cdnurl)content/newhome/image/solution/autoBeauty/autoBeauty-logo-03.png?@(WebSiteConfig.cdnVersion)" />
                                    <h4 class="item-title c-333">预约装潢</h4>
                                </div>
                                <div class="item rv f1 f fv fc">
                                    <img class="item-img w100" src="@(WebSiteConfig.cdnurl)content/newhome/image/solution/autoBeauty/autoBeauty-logo-04.png?@(WebSiteConfig.cdnVersion)" />
                                    <h4 class="item-title c-333">商城</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="w380 lazy rv" data-original="@(WebSiteConfig.cdnurl)content/newhome/image/solution/autoBeauty/autoBeauty-show.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <div class="pdy100 bg-f7 w-full f fv fc">
                    <div class="bgnormal-container bg-f7 f fv fc fc-h">
                        <h2 class="fz-30 c-333 rv">小未汽车美容小程序功能</h2>
                        <div class="function-list f fj">
                            <div class="function-item rv f1 f fv fc" v-for="(item,index) in autoBeauty" v-if="index<=2">
                                <img class="item-img w140 lazy" v-lazy="item.img" />
                                <h4 class="item-title c-333">{{item.title}}</h4>
                                <p class="item-content">{{item.context_1}}</p>
                                <p class="item-content">{{item.context_2}}</p>
                                <p class="item-content">{{item.context_3}}</p>
                                <p class="item-content">{{item.context_4}}</p>
                            </div>
                        </div>
                        <div class="function-list f fj">
                            <div class="function-item rv f1 f fv fc" v-for="(item,index) in autoBeauty" v-if="index>2">
                                <img class="item-img w140 lazy" v-lazy="item.img" />
                                <h4 class="item-title">{{item.title}}</h4>
                                <p class="item-content">{{item.context_1}}</p>
                                <p class="item-content">{{item.context_2}}</p>
                                <p class="item-content">{{item.context_3}}</p>
                                <p class="item-content">{{item.context_4}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        @* 餐饮 *@
        <div class="versions-content f fv fc" v-show="optionName=='餐饮'">
            <div class="versions-topbg f fc ">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/cy/catering-bg.png?@(WebSiteConfig.cdnVersion)"  />
                <div class="versions-toptext" style="left:30%">
                    <h2 class="c-ff5d6e">餐饮</h2>
                    <p class="c-ff5d6e w455"> 为实体餐饮门店提供一个简单高效的在线营销工具，助力商家抢占线上流量的红利。</p>
                </div>
            </div>
            <div class="catering-introduce pdy60 f fc-h">
                <div class="content-box f fc fc-h">
                    <div class="introduce-context mgr220 rv ">
                        <h3 class="fz-30 tc c-333 mgb50">小未小程序餐饮版</h3>
                        <p>为实体餐饮门店提供一个简单高效的在线营销工具，助力商家抢占线上流量的红利。</p>
                        <p>餐饮版能完美整合<span class="t-b">会员，外卖，线上支付，营销工具</span>等餐厅经营过程中所需所有功能。扎根于微信的9亿用户流量，借助<span class="t-b">会员卡折扣，砍价</span>等营销工具吸引线上用户到店消费。再通过多样化的营销促成客户进行二次消费，让老客户主动为商家带来新的客流。小未餐饮版旨在为餐饮商户提供一个先进高效的行业解决方案。</p>
                        <p>小未餐饮版是小未科技为商家提供的餐厅门店解决方案，分别从营销，服务，流量的角度来提升餐饮店铺的营收，营运效率及流量的成交转化率。</p>
                    </div>
                    <img class="w450 rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/cy/catering-phone.png?@(WebSiteConfig.cdnVersion)" />
                </div>
            </div>
            <div class="catering-row bg-f7 f fc">
                <div class="catering-show rv f1 f fv fc" v-for="item in show">
                    <img class="show-icon" v-bind:src="item.img" />
                    <div class="show-context f fv fc">
                        <h3 class="fz-24 c-333 pdy20">{{item.title}}</h3>
                        <p>{{item.content_1}}</p>
                        <p>{{item.content_2}}</p>
                        <p>{{item.content_3}}</p>
                    </div>
                </div>
            </div>
            <div class="catering-manager pdy60 f fc fj">
                <img class="w380 rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/pro_manar.png?@(WebSiteConfig.cdnVersion)" />
                <div class="manager-content  f fv fc ">
                    <h3 class="fz-30 c-333 mgb40 rv">小未餐饮门店管理</h3>
                    <p class="tc rv">在小程序中能上传营业执照、门店环境照片、可提供的服务、营业时间等开店基本的信息，能展示门店环境、地址等信息。</p>
                    <div class="manager-list f fc fw">
                        <div class="manager-item tc rv f1 f fv fc" v-for="(item,index) in manager" v-if="index<=1">
                            <img class="manager-icon" v-bind:src="item.img" />
                            <h4 class="fz-20 c-333 pdy30">{{item.title}}</h4>
                            <p>{{item.content_1}}</p>
                            <p>{{item.content_2}}</p>
                            <p>{{item.content_3}}</p>
                        </div>
                    </div>
                    <div class="manager-list f fc fw">
                        <div class="manager-item tc rv f1 f fv fc" v-for="(item,index) in manager" v-if="index>1">
                            <img class="manager-icon" v-bind:src="item.img" />
                            <h4 class="fz-20 c-333 pdy30">{{item.title}}</h4>
                            <p>{{item.content_1}}</p>
                            <p>{{item.content_2}}</p>
                            <p>{{item.content_3}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!--不同案例版本下显示隐藏-->
    @Html.Partial("/views/dzhome/_caseListPartial.cshtml")
</div>
@section script{
    <script>
        var initData = {
            templateList:@Html.Raw(JsonConvert.SerializeObject(Model)),
        }
    </script>
    <script src="@(WebSiteConfig.cdnurl)content/newhome/js/getcaselist.js?@(WebSiteConfig.cdnVersion)"></script>
}

