@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "产品中心-小程序模板市场";

}
@model List<XcxTemplate>
@section cssSection{
    @*<link href="@(WebSiteConfig.cdnurl)content/newhome/css/templateMarket.css" rel="stylesheet" />*@
}
<div id="app" class="templateMarket-wrap" v-cloak>
    <div class="templateMarket-banner f fc fc-h">
        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/templateMarket-banner.png?@(WebSiteConfig.cdnVersion)" />
        <div class="banner-text-box f fv fc fc-h">
            <h1 class="banner-text">小程序模板市场</h1>
            <p>小未程序为各种商业应用场景提供海量模板</p>
        </div>
    </div>
    <ul class="option-list">
        <li v-bind:data-versionsId="[tpl.Id]"
            v-bind:class="{'current-option':tpl.Id==versionsId}"
            v-for="(tpl,index) in xcxTemplates"
            v-on:click="toggleOption(index,$event)"
            v-if="tpl.Id==2||tpl.Id==4||tpl.Id==6||tpl.Id==18||tpl.Id==27||tpl.Id==37">
            {{tpl.TName}}
        </li>
    </ul>
    <section>
        @* 单页版 *@
        <div class="versions-content f fv fc" id="page-content" style="display:none;" v-show="versionsId=='4'">
            <div class="versions-topbg f fc fc-h">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/dy/page_bg.png?@(WebSiteConfig.cdnVersion)" />
                <div class="versions-toptext f fv fc fc-h">
                    <h2>单页版</h2>
                    <p class="w618">单页版是小未程序的基础版本，是现在市面上最强大的单页版，支持轮播图，视频，背景音乐，自定义表单等组件。可随意拉拽，进行可视化界面设计，适用于所有行业。通过附近展示功能，可以定位店铺位置，为店铺带来大量客流，是商家网络名片的最佳选择。</p>
                    <div class="versions-topbtn f fj">
                        <span v-on:click="TestTemplate(4)" class="rv">免费开通</span>
                        <span class="btn_gotobuy rv">立即订购</span>
                    </div>
                </div>
            </div>
            <div class="page-banner f fv fc">
                <div class="banner-txt f fv fc">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/dy/log-banner.png?@(WebSiteConfig.cdnVersion)" class="rv page-icon" />
                    <h3 class="c-333 fz-26 pdy20 rv">轮播图</h3>
                    <p class="rv">banner是一种广告展示形式，banner一般是放在小程序的顶部位置，在用户浏览小程序信息的同时，吸引用户对于焦点信息的关注</p>
                </div>
                <img class="w1135 rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/dy/banner_show.png?@(WebSiteConfig.cdnVersion)" />
            </div>
            <div class="page-richtxt f fc-h">
                <div class="richtxt-box f fc fc-h">
                    <div class="richtxt mgr160 f fv fc fc-h">
                        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/dy/logo-richtxt.png?@(WebSiteConfig.cdnVersion)" class="rv page-icon" />
                        <h3 class="c-333 fz-26 pdy20 rv">富文本文本</h3>
                        <p class="w470 rv">文本，不用多说，是人们经常使用的交流形式，小程序的重要信息也是以文本为主。文本能准确地传达信息的内容。富文本支持格式和图文，信息独特，排版优美的小程序文本很具吸引力。</p>
                    </div>
                    <img class="w470 rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/dy/rich-show.png?@(WebSiteConfig.cdnVersion)" />
                </div>
            </div>
            <div class="page-img pdy60 f fc fc-h">
                <img class="w750 mgr100 rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/dy/img_bg.png?@(WebSiteConfig.cdnVersion)" />
                <div class="imgtxt f fv fc">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/dy/logo-img.png?@(WebSiteConfig.cdnVersion)" class="rv page-icon" />
                    <h3 class="c-333 fz-26 pdy20 rv">图片</h3>
                    <p class="rv">图像在小程序中具有提供信息，展示形象，美化界面，表达小程序独特风格的重要作用</p>
                </div>
            </div>
            <div class="page-richtxt f fc-h">
                <div class="richtxt-box f fc fc-h">
                    <div class="richtxt mgr220 f fv fc fc-h">
                        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/dy/logo-form.png?@(WebSiteConfig.cdnVersion)" class="rv page-icon" />
                        <h3 class="c-333 fz-26 pdy20 rv">自定义表单</h3>
                        <p class="w470 rv">企业用户可以通过自定义表单，根据自己的实际情况独立进行业务配置，来进行个性化、行业化定制。可以实现各个行业的在线预约需求。还支持导出表单，方便商家管理报名数据。</p>
                    </div>
                    <img class="w446 rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/dy/form-show.png?@(WebSiteConfig.cdnVersion)" />
                </div>
            </div>
            <div class="more pdy60 f fv fc">
                <h3 class="fz-30 c-333 rv">更多功能</h3>
                <div class="more-box-row f fc fj">
                    <div class="more-box f1 tc rv" v-for="item in pageMore">
                        <img v-bind:src="item.img" />
                        <h4 class="fz-22 c-333">{{item.title}}</h4>
                        <div class="more-content pdt20 f fv fc">
                            <p>{{item.content_1}}</p>
                            <p>{{item.content_2}}</p>
                            <p>{{item.content_3}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* 企业版 *@
        <div class="versions-content f fv fc" id="page-content" style="display:none;" v-show="versionsId=='2'">
            <div class="versions-topbg f fc fc-h">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/qy/firm_bg.png?@(WebSiteConfig.cdnVersion)" />
                <div class="versions-toptext f fv fc fc-h">
                    <h2>企业版</h2>
                    <p>为广大中小型企业提供一个简单高效的在线推广工具，助力商家抢占线上流量红利</p>
                    <div class="versions-topbtn f fc-h">
                        @*<span v-on:click="TestTemplate(4)" class="rv">免费开通</span>*@
                        <span class="btn_gotobuy rv">立即订购</span>
                    </div>
                </div>
            </div>
            <div class="imageText-item pdy60 bg-f7 f fc-h">
                <div class="imageText-itembox  f fc fc-h">
                    <div class="imageText-context mgr250 f fv fc fc-h rv">
                        <h3 class="fz-30 c-333 mgb40">公司简介</h3>
                        <p>详细的公司介绍，全面展示公司发展情况</p>
                        <p>便于用户对企业的了解，也有助于企业快速的推广和宣传</p>
                    </div>
                    <img class="w494 rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/qy/firm_show1.png?@(WebSiteConfig.cdnVersion)" />
                </div>
            </div>
            <div class="imageText-item pdy60 bg-fff f fc-h">
                <div class="imageText-itembox f fc fc-h">
                    <img class="w494 mgr250 rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/firm_show2.png?@(WebSiteConfig.cdnVersion)" />
                    <div class="rv imageText-context  f fv fc fc-h">
                        <h3 class="fz-30 c-333 mgb40">公司产品展示</h3>
                        <p>公司产品全面展示，方便用户了解咨询，促进企业业绩</p>
                    </div>
                </div>
            </div>
            <div class="imageText-item pdy60 bg-4da1e8 f fc-h">
                <div class="imageText-itembox f fc fc-h">
                    <div class="imageText-context mgr250 rv f fv fc fc-h">
                        <h3 class="fz-30 c-fff mgb40">企业动态展示</h3>
                        <p class="c-fff">公司产品全面展示，方便用户了解咨询，促进企业业绩</p>
                    </div>
                    <img class="w494 rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/qy/firm_show3.png?@(WebSiteConfig.cdnVersion)" />
                </div>
            </div>
            <div class="imageText-item pdy60 bg-fff f fc-h">
                <div class="imageText-itembox f fc fc-h">
                    <img class="w455 mgr270 rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/qy/firm_show4.png?@(WebSiteConfig.cdnVersion)" />
                    <div class="imageText-context rv f fv fc fc-h">
                        <h3 class="fz-30 c-333 mgb40">企业发展历程展示</h3>
                        <p>企业发展历程时间轴展示，全方位展示企业发展历程</p>
                    </div>
                </div>
            </div>
            <div class="imageText-item pdy60 bg-f7 f fc-h">
                <div class="imageText-itembox f fc fc-h">
                    <div class="imageText-context mgr370 rv f fv fc fc-h">
                        <h3 class="fz-30 c-333 mgb40">企业联系方式展示</h3>
                        <p>方便用户实时联系咨询</p>
                    </div>
                    <img class="w422 rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/firm_show5.png?@(WebSiteConfig.cdnVersion)" />
                </div>
            </div>
        </div>
        @* 电商版 *@
        <div class="versions-content f fv fc" id="page-content" style="display:none;" v-show="versionsId=='6'">
            <div class="versions-topbg f fc fc-h">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/ds/ec_bg.png?@(WebSiteConfig.cdnVersion)" />
                <div class="versions-toptext f fv fc fc-h">
                    <h2>电商版</h2>
                    <p class="w618">为零售提供最先进的行业解决方案，帮助零售业打破自身局限，搭建微信端电商销售体系，实现流量聚合。会员系统和营销插件能有效为商户带来流量和热度。砍价和拼团的等营销功能引导老用户主动带来新客户。除此之外，还可以连接云打印机，支付完成即出小票，应用场景从线上到线下无缝衔接。</p>
                    <div class="versions-topbtn f fc-h">
                        @*<span v-on:click="TestTemplate(4)" class="rv">免费开通</span>*@
                        <span class="btn_gotobuy rv">立即订购</span>
                    </div>
                </div>
            </div>
            <div class="ec-introduce pdy60 f fc-h">
                <div class="ec-introduce-box f fc fc-h">
                    <div class="ec-list mgr100 f fv fc fc-h">
                        <div class="ec-img rv f fv fc" v-for="item in eclist_1">
                            <img class="ec-icon" v-bind:src="item.img" />
                            <h3 class="fz-24 c-333 pdy20">{{item.title}}</h3>
                            <p>{{item.context}}</p>
                        </div>
                    </div>
                    <img class="w600 rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/ds/ec_show.png?@(WebSiteConfig.cdnVersion)" />
                </div>
            </div>
            <div class="ec-introduce pdy60 bg-f7 f fc-h">
                <div class="ec-introduce-box f fc fc-h">
                    <img class="w380 mgr270 rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/ds/ec_specfi.png?@(WebSiteConfig.cdnVersion)" />
                    <div class="ec-list f fv fc fc-h">
                        <div class="ec-img rv f fv fc" v-for="item in eclist_2">
                            <img class="ec-icon" v-bind:src="item.img" />
                            <h3 class="fz-24 c-333 pdy20">{{item.title}}</h3>
                            <p>{{item.context}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more-func pdy60 f fv fc">
                <h3 class="fz-30 c-333 rv">更多功能</h3>
                <div class="func-list f fw fc-h">
                    <div class="func-item rv f1 f fv fc" v-for="(item,index) in moreFunc" v-if="index<=2">
                        <img class="func-icon" v-bind:src="item.img" />
                        <h4 class="fz-20 c-333 pdy20">{{item.title}}</h4>
                        <p>{{item.context}}</p>
                    </div>
                </div>
                <div class="func-list f fw fc-h">
                    <div class="func-item rv f1 f fv fc" v-for="(item,index) in moreFunc" v-if="index>2">
                        <img class="func-icon" v-bind:src="item.img" />
                        <h4 class="fz-20 c-333 pdy20">{{item.title}}</h4>
                        <p>{{item.context}}</p>
                    </div>
                </div>
            </div>
        </div>
        @* 餐饮版 *@
        <div class="versions-content f fv fc" id="page-content" style="display:none;" v-show="versionsId=='18'">
            <div class="versions-topbg f fc ">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/cy/catering-bg.png?@(WebSiteConfig.cdnVersion)" style="width:100%;" />
                <div class="versions-toptext f fv fc fc-h" style="left:30%">
                    <h2 class="c-ff5d6e">餐饮版</h2>
                    <p class="c-ff5d6e w455"> 为实体餐饮门店提供一个简单高效的在线营销工具，助力商家抢占线上流量的红利。</p>
                    <div class="versions-topbtn f fc-h">
                        @*<span v-on:click="TestTemplate(4)" class="rv">免费开通</span>*@
                        <span class="btn_gotobuy rv">立即订购</span>
                    </div>
                </div>
            </div>
            <div class="catering-introduce pdy60 f fc-h">
                <div class="content-box f fc fc-h">
                    <div class="introduce-context mgr220 rv ">
                        <h3 class="fz-30 tc c-333 mgb50">小未小程序餐饮版</h3>
                        <p>为实体餐饮门店提供一个简单高效的在线营销工具，助力商家抢占线上流量的红利。</p>
                        <p>餐饮版能完美整合<span class="t-b">会员，外卖，线上支付，营销工具</span>等餐厅经营过程中所需所有功能。扎根于微信的9亿用户流量，借助<span class="t-b">会员卡折扣，砍价</span>等营销工具吸引线上用户到店消费。再通过多样化的营销促成客户进行二次消费，让老客户主动为商家带来新的客流。小未餐饮版旨在为餐饮商户提供一个先进高效的行业解决方案。</p>
                        <p>小未餐饮版是小未科技为商家提供的餐厅门店解决方案，分别从营销，服务，流量的角度来提升餐饮店铺的营收，营运效率及流量的成交转化率。</p>
                    </div>
                    <img class="w450 rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/cy/catering-phone.png?@(WebSiteConfig.cdnVersion)" />
                </div>
            </div>
            <div class="catering-row bg-f7 f fc">
                <div class="catering-show rv f1 f fv fc" v-for="item in show">
                    <img class="show-icon" v-bind:src="item.img" />
                    <div class="show-context f fv fc">
                        <h3 class="fz-24 c-333 pdy20">{{item.title}}</h3>
                        <p>{{item.content_1}}</p>
                        <p>{{item.content_2}}</p>
                        <p>{{item.content_3}}</p>
                    </div>
                </div>
            </div>
            <div class="catering-manager pdy60 f fc fj">
                <img class="w380 rv" src="@(WebSiteConfig.cdnurl)content/newhome/image/pro_manar.png?@(WebSiteConfig.cdnVersion)" />
                <div class="manager-content  f fv fc ">
                    <h3 class="fz-30 c-333 mgb40 rv">小未餐饮门店管理</h3>
                    <p class="tc rv">在小程序中能上传营业执照、门店环境照片、可提供的服务、营业时间等开店基本的信息，能展示门店环境、地址等信息。</p>
                    <div class="manager-list f fc fw">
                        <div class="manager-item tc rv f1 f fv fc" v-for="(item,index) in manager" v-if="index<=1">
                            <img class="manager-icon" v-bind:src="item.img" />
                            <h4 class="fz-20 c-333 pdy30">{{item.title}}</h4>
                            <p>{{item.content_1}}</p>
                            <p>{{item.content_2}}</p>
                            <p>{{item.content_3}}</p>
                        </div>
                    </div>
                    <div class="manager-list f fc fw">
                        <div class="manager-item tc rv f1 f fv fc" v-for="(item,index) in manager" v-if="index>1">
                            <img class="manager-icon" v-bind:src="item.img" />
                            <h4 class="fz-20 c-333 pdy30">{{item.title}}</h4>
                            <p>{{item.content_1}}</p>
                            <p>{{item.content_2}}</p>
                            <p>{{item.content_3}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* 行业版 *@
        <div class="versions-content f fv fc" id="page-content" style="display:none;" v-show="versionsId=='27'">
            <div class="versions-topbg f fc fc-h">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/zy/trade-bg.png?@(WebSiteConfig.cdnVersion)" />
                <div class="versions-toptext f fv fc fc-h">
                    <h2>行业版</h2>
                    <p class="w618">行业版，适用于所有行业。内置14种功能组件，其中包括视频，轮播图，背景音乐，在线客服等，用户可以根据不同行业的场景需求，自由选择搭配组件。目前已有"餐饮，家政，酒店，ktv，美容美发美甲，健身房，建材，教育，汽车，房地产，宠物......"等十几个行业模板案例。</p>
                    <div class="versions-topbtn f fc-h">
                        @*<span v-on:click="TestTemplate(4)" class="rv">免费开通</span>*@
                        <span class="btn_gotobuy rv">立即订购</span>
                    </div>
                </div>
            </div>
            <div class="trade-module pdy80">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/hy/trade-description.png?@(WebSiteConfig.cdnVersion)" class="rv" />
            </div>
            <div class="pro-nbfunction  pdt80 f fv fc bg-4da1e8">
                <div class="pro-nbfunction-box mgb50 f fv fc">
                    <div class="pro-nbfunction-context rv f fv fc fc-h">
                        <h3 class="fz-30 c-fff pdy20">可视化操作，所做所见即所想</h3>
                        <p class="fz-20" style="color:rgba(255,255,255,.8)">随意拖拽组件完成小程序界面设计,提高搭建效率</p>
                    </div>
                </div>
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/hy/trade-show01.png?@(WebSiteConfig.cdnVersion)" class="rv" style="display: block;" />
            </div>
            <div class="pro-nbfunction pdt80 f fc-h">
                <div class="pro-nbfunction-box f fv fc">
                    <div class="pro-nbfunction-context mgb50 rv f fv fc fc-h">
                        <h3 class="fz-30 c-333 pdy20">一键分享,轻松裂变</h3>
                        <p class="fz-20">自带7种分享样式图,一键转发朋友圈</p>
                    </div>
                    <div class="share-iconbox mgb50 f fc fj rv">
                        <div class="share-icon">
                            <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/hy/icon-share01.png?@(WebSiteConfig.cdnVersion)" />
                            <p class="fz-20 c-333 pdt20">发朋友圈</p>
                        </div>
                        <div class="share-icon center-icon">
                            <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/hy/icon-share02.png?@(WebSiteConfig.cdnVersion)" />
                            <p class="fz-20 c-333 pdt20">保存图片</p>
                        </div>
                        <div class="share-icon">
                            <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/hy/icon-share03.png?@(WebSiteConfig.cdnVersion)" />
                            <p class="fz-20 c-333 pdt20">分享给朋友</p>
                        </div>
                    </div>
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/hy/trade-show02.png?@(WebSiteConfig.cdnVersion)" class="w1433 rv" style="display: block;" />
                </div>
            </div>
            <div class="imageText-item pdt80 bg-4da1e8 f fc-h">
                <div class="imageText-itembox f fc-h">
                    <div class="rv imageText-context f fv fc fc-h">
                        <h3 class="fz-30 c-fff pdy20">线上预约,上门服务更便捷</h3>
                        <p class="fz-20" style="color:rgba(255,255,255,.8)">提前预订，顾客不用排队等待,商家合理排班</p>
                    </div>
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/hy/trade-show03.png?@(WebSiteConfig.cdnVersion)" class="w750 rv" style="height:100%;display: block;" />
                </div>
            </div>
            <div class="imageText-item pdt80 bg-f7 f">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/hy/trade-show04.png?@(WebSiteConfig.cdnVersion)" class="w956 mgr185 rv" />
                <div class="imageText-context rv f fv fc fc-h">
                    <h3 class="fz-30 c-333 pdy20">一键发布,轻松升级</h3>
                    <p class="fz-20">小未程序无需打包下载,一键完成代码升级</p>
                </div>
            </div>
            <div class="imageText-item f fc-h" style="background:#14244b;">
                <div class="imageText-itembox f fc fc-h">
                    <div class="rv imageText-context f fv fc fc-h">
                        <h3 class="fz-30 c-fff pdy20">数据分析</h3>
                        <p class="fz-20" style="color:rgba(255,255,255,.8)">基于小程序的用户大数据,为商家提供用户画像分析</p>
                        <p class="fz-20" style="color:rgba(255,255,255,.8)">方便商家进行精准营销和运营</p>
                    </div>
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/hy/trade-show05.png?@(WebSiteConfig.cdnVersion)" class="w750 rv" />
                </div>
            </div>
        </div>
        @* 专业版 *@
        <div class="versions-content f fv fc" id="page-content" style="display:none;" v-show="versionsId=='37'">
            <div class="versions-topbg f fc fc-h">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/zy/trade-bg.png?@(WebSiteConfig.cdnVersion)" />
                <div class="versions-toptext f fv fc fc-h">
                    <h2>专业版</h2>
                    <p class="w618">全面自定义版本，内置二十多种功能组件，其中包括在线商城，视频资讯，积分商城等。商家可以根据需求选择组件，自由搭配，满足全行业的多样需求。同时还可随时修改更新页面模板布局，管理更新更加方便。</p>
                    <div class="versions-topbtn f fc-h">
                        @*<span v-on:click="TestTemplate(4)" class="rv">免费开通</span>*@
                        <span class="btn_gotobuy rv">立即订购</span>
                    </div>
                </div>
            </div>
            <div class="pro-sixfunction pdy80 f fv fc">
                <div class="pro-sixfunctionTitle tc">
                    <h3 class="fz-30 c-333 pdy20 rv">专业版六大功能</h3>
                    <p class="fz-20 rv">专业版六大功能全新升级</p>
                </div>
                <div class="pro-functionlist f fc-h fw">
                    <div class="pro-functionitem rv f1 f fv fc" v-for="(item,index) in pro" v-if="index<=2">
                        <img class="pro-icon" v-bind:src="item.img" />
                        <div class="pro-context mgt20 f fv fc">
                            <h4 class="fz-24 c-333">{{item.title}}</h4>
                            @*<p class="pdt20">{{item.context}}</p>*@
                        </div>
                    </div>
                </div>
                <div class="pro-functionlist f fc-h fw">
                    <div class="pro-functionitem rv f1 f fv fc" v-for="(item,index) in pro" v-if="index>2">
                        <img class="pro-icon" v-bind:src="item.img" />
                        <div class="pro-context mgt20 f fv fc">
                            <h4 class="fz-24 c-333">{{item.title}}</h4>
                            @*<p class="pdt20">{{item.context}}</p>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="pro-nbfunction pdt60 bg-4da1e8 f fc-h">
                <div class="pro-nbfunction-box f fv fc">
                    <div class="pro-nbfunction-context rv f fv fc fc-h">
                        <h3 class="fz-30 c-fff pdy20">营销插件，商家活动利器</h3>
                        <p class="fz-20 c-fff60">提供丰富的营销插件，会员卡储值，会员折扣，砍价，拼团</p>
                        <p class="fz-20 c-fff60">等营销插件，助力商家暴增</p>
                    </div>
                    <div class="pro-functionlist f fc fj">
                        <div class="pro-functionitem rv f1 f fv fc" v-for="(item,index) in proNbFunc" v-if="index<=3">
                            <img class="pro-fun-icon" v-bind:src="item.img" />
                            <div class="pro-context f fv fc">
                                <h4 class="fz-20 c-fff pdt30">{{item.title}}</h4>
                                @*<p class="pdt10 c-fff60">{{item.context}}</p>*@
                            </div>
                        </div>
                    </div>
                    <div class="pro-functionlist f fc fj">
                        <div class="pro-functionitem rv f1 f fv fc" v-for="(item,index) in proNbFunc" v-if="index>3">
                            <img class="pro-fun-icon" v-bind:src="item.img" />
                            <div class="pro-context f fv fc">
                                <h4 class="fz-20 c-fff pdt30">{{item.title}}</h4>
                                @*<p class="pdt10 c-fff60">{{item.context}}</p>*@
                            </div>
                        </div>
                    </div>
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/zy/pro-show03.png?@(WebSiteConfig.cdnVersion)" class="w1260 pdt80 rv" style="display: block;" />
                </div>
            </div>
            <div class="w-full pdy80 bg-f7 f fv fc">
                <div class="pro-sixfunction">
                    <div class="pro-sixfunctionTitle tc mgb20">
                        <h3 class="fz-30 c-333 pdy20 rv">专业版其他功能</h3>
                    </div>
                    <div class="pro-functionlist f fc-h fw">
                        <div class="pro-functionitem rv f1 f fv fc" v-for="(item,index) in proOther" v-if="index<=3">
                            <img class="pro-icon" v-bind:src="item.img" />
                            <div class="pro-context mgt30 f fv fc">
                                <h4 class="fz-24 c-333">{{item.title}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="pro-functionlist f fc-h fw">
                        <div class="pro-functionitem rv f1 f fv fc" v-for="(item,index) in proOther" v-if="index>3">
                            <img class="pro-icon" v-bind:src="item.img" />
                            <div class="pro-context mgt30 f fv fc">
                                <h4 class="fz-24 c-333">{{item.title}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="imageText-item pdy60 bg-f7 f fc-h">
                    <div class="imageText-itembox f fc fc-h">
                        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/zy/pro-show01.png?@(WebSiteConfig.cdnVersion)" class="w618 mgr220 rv" />
                        <div class="imageText-context rv f fv fc fc-h">
                            <h3 class="fz-30 c-333 pdy30">在线商城，购物车管理</h3>
                            <p>微信担保交易，一键完成线上支付</p>
                        </div>
                    </div>
                </div>
                <div class="imageText-item pdy60 f fc-h">
                    <div class="imageText-itembox f fc fc-h">
                        <div class="rv imageText-context mgr100 f fv fc fc-h">
                            <h3 class="fz-30 c-333 pdy30">直播电商，跨空间交流</h3>
                            <p>支持电商直播，交互场景更丰富，引流裂变一触即发</p>
                        </div>
                        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/templateMarket/zy/pro-show02.png?@(WebSiteConfig.cdnVersion)" class="w738 rv" />
                    </div>
                </div>*@

        </div>
        <!--不同案例版本下显示隐藏-->
        @Html.Partial("/views/dzhome/_caseListPartial.cshtml")
    </section>

</div>

@section script{
    <script>
        var initData = {
            templateList:@Html.Raw(JsonConvert.SerializeObject(Model)),
        }
    </script>
    @if (WebSiteConfig.Environment == "pro")
    {
        <script src="@(WebSiteConfig.cdnurl)content/newhome/js/getcaselist.js?@(WebSiteConfig.cdnVersion)"></script>
    }
    else
    {
        <script src="/Content/newhome/js/getcaselist.js"></script>
    }

}

