@model EditModel<DishSetting>
@{
    ViewBag.Title = "Setting";
    Layout = "~/Areas/Dish/Views/Shared/_LayoutAdmin.cshtml";
}

<body class="gray-bg">

    <div id="top-alert" class="top-alert-tips alert-error" style="display: none;">
        <a class="close" href="javascript:;"><b class="fa fa-times-circle"></b></a>
        <div class="alert-content"></div>
    </div>
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-title">
                    <h5>系统配置</h5>
                </div>
                <div class="ibox-content xcx-list">

                    <form method="post" class="form-horizontal" id="post_from">
                        <input type="hidden" name="aid" value="@Model.DataModel.aid" />
                        <input type="hidden" name="id" value="@Model.DataModel.Id" />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">店铺分享开关:</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="dish_share" value="1" @(Model.DataModel.dish_share == 1 ? "checked" : "")>开启
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="dish_share" value="0" @(Model.DataModel.dish_share == 0 ? "checked" : "")>关闭
                                </label>
                                <span class="help-block m-b-none">建议提交审核前关闭，防止被微信判为诱导分享审核失败</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">公众号关注:</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="dish_focus_wx" value="1" @(Model.DataModel.dish_focus_wx == 1 ? "checked" : "")>开启
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="dish_focus_wx" value="0" @(Model.DataModel.dish_focus_wx == 0 ? "checked" : "")>关闭
                                </label>
                                <span class="help-block m-b-none">
                                    提示：<br />
                                    1，使用组件前，需前往小程序后台(微信的小程序后台)，在“设置”->“接口设置”->“公众号关注组件”中设置要展示的公众号。 <b>注：设置的公众号需与小程序主体一致。</b><br />
                                    <br />
                                    2，只有从以下场景进入小程序，才具有展示引导关注公众号组件的能力:<br />

                                    当小程序从扫二维码场景打开时 <br />
                                    当小程序从扫小程序码场景打开时 <br />
                                    当小程序从聊天顶部场景中的“最近使用”内打开时，若小程序之前未被销毁，则该组件保持上一次打开小程序时的状态<br />
                                    当从其他小程序返回小程序时，若小程序之前未被销毁，则该组件保持上一次打开小程序时的状态<br />
                                    <br />
                                    <span class="">只有满足以上两个条件，公众号关注组件才会显示</span>
                                </span>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label class="col-sm-2 control-label">入驻开关:</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        <input type="radio" name="dish_rz_open" value="1" @(Model.DataModel.dish_rz_open == 1 ? "checked" : "")>开启
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="dish_rz_open" value="0" @(Model.DataModel.dish_rz_open == 0 ? "checked" : "")>关闭
                                    </label>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">入驻费用</label>
                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <input type="text" class="form-control" id="dish_rz_jiner" name="dish_rz_jiner" value="@Model.DataModel.dish_rz_jiner" required><span class="input-group-addon"> 元</span>
                                    </div>
                                    <span class="help-block m-b-none">入驻费用，为0则免费</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">入驻说明</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="dish_rz_shuoming" name="dish_rz_shuoming" value="@Model.DataModel.dish_rz_shuoming" required>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">提现自动审核:</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        <input type="radio" name="dish_auto_cash" value="1" @(Model.DataModel.dish_auto_cash == 1 ? "checked" : "")>开启
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="dish_auto_cash" value="0" @(Model.DataModel.dish_auto_cash == 0 ? "checked" : "")>关闭
                                    </label>
                                    <span class="help-block m-b-none">开启后，商家提现将自动审核</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">支付自动到帐:</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        <input type="radio" name="dish_auto_one_pay" value="1" @(Model.DataModel.dish_auto_one_pay == 1 ? "checked" : "")>开启
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="dish_auto_one_pay" value="0" @(Model.DataModel.dish_auto_one_pay == 0 ? "checked" : "")>关闭
                                    </label>
                                    <span class="help-block m-b-none">开启后，订单支付后将自动提现到商家帐户</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">最低提现金额</label>
                                <div class="col-sm-10">
                                    <div class="input-group m-b">
                                        <input type="text" class="form-control" id="cash_limit_jiner" name="cash_limit_jiner" value="@Model.DataModel.cash_limit_jiner" required><span class="input-group-addon"> 元</span>
                                    </div>
                                    <span class="help-block m-b-none">最低提现金额不能小于1元，建议填写整数，不填写为不限制</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">提现费率</label>
                                <div class="col-sm-10 m-b">
                                    <div class="input-group m-b">
                                        <input type="text" class="form-control" name="cash_fee" value="@Model.DataModel.cash_fee"><span class="input-group-addon"> %</span>
                                    </div>
                                    <span class="help-block m-b-none">商户申请提现时，每笔申请提现扣除的费用，默认为空，即提现不扣费，支持填写小数</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">销量显示方式:</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        <input type="radio" name="dish_xiaoliang_show_type" value="1" @(Model.DataModel.dish_xiaoliang_show_type == 1 ? "checked" : "")>最近30天
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="dish_xiaoliang_show_type" value="0" @(Model.DataModel.dish_xiaoliang_show_type == 0 ? "checked" : "")>每月销量
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <hr />
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">自有配送:</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        <input type="radio" name="dish_own_peisong_status" value="1" @(Model.DataModel.dish_own_peisong_status == 1 ? "checked" : "")>开启
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="dish_own_peisong_status" value="0" @(Model.DataModel.dish_own_peisong_status == 0 ? "checked" : "")>关闭
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">配送名称:</label>
                                <div class="col-sm-10 m-b">
                                    <input type="text" class="form-control" id="dish_own_peisong_name" name="dish_own_peisong_name" value="@Model.DataModel.dish_own_peisong_name" required>
                                    <span class="help-block m-b-none">自定义配送名称，如：商家配送</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">AppKey:</label>
                                <div class="col-sm-10 m-b">
                                    <input type="text" class="form-control" id="dish_own_peisong_key" name="dish_own_peisong_key" value="@Model.DataModel.dish_own_peisong_key" required>
                                    <span class="help-block m-b-none">请到公众号->跑腿接单进行配置</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Sign:</label>
                                <div class="col-sm-10 m-b">
                                    <input type="text" class="form-control" id="dish_own_peisong_sign" name="dish_own_peisong_sign" value="@Model.DataModel.dish_own_peisong_sign" required>
                                    <span class="help-block m-b-none">请到公众号->跑腿接单进行配置</span>
                                </div>
                            </div>*@

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary ajax-post" target-form="form-horizontal" id="submit" type="button">确定</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#submit").click(function () {
                var layerIndex = layer.load(2);
                $("#post_from").ajaxSubmit({
                    dataType: "json",
                    url: "/dish/config/SaveSetting",
                    success: function (data) {
                        layer.close(layerIndex);
                        layer.msg(data.msg);
                    }
                });
            })
        })

    </script>
}