
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="nav-item open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">小程序餐饮多门店版</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu" style="display: block;">

                    @{ var checkthis1 = ((ViewBag.Title == "店铺信息" || ViewBag.Title == "餐饮打印机管理" || ViewBag.Title == "小程序模板消息") ? 1 : 0); }
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-bar-chart"></i>
                            <span class="title">店铺管理</span>
                            <span class="selected"></span>
                            <span class="arrow"></span>
                        </a>

                        <ul class="sub-menu">
                            <li class="nav-item start">
                                <a href="/foods/index_food?appId=@ViewBag.appId&pageType=51" class="nav-link">
                                    <span class="title">店铺信息</span>
                                </a>
                            </li>
                            <li class="nav-item start">
                                <a href="/foods/Renovation?appId=@ViewBag.appId&pageType=51" class="nav-link">
                                    <span class="title">店铺装修</span>
                                </a>
                            </li>
                            <li class="nav-item start">
                                <a href="/foods/TakeoutSetting?appId=@ViewBag.appId&pageType=51" class="nav-link">
                                    <span class="title">外卖</span>
                                </a>
                            </li>
                            <li class="nav-item start @(ViewBag.Title == "扫码点餐" ? " active" : string.Empty)">
                                <a href="/foods/ScanCode?appId=@ViewBag.appId&pageType=51" class="nav-link">
                                    <span class="title">扫码点餐</span>
                                </a>
                            </li>
                            <li class="nav-item start @(ViewBag.Title == "预约点餐" ? " active" : string.Empty)">
                                <a href="/foods/Reservation?appId=@ViewBag.appId&pageType=51" class="nav-link">
                                    <span class="title">预约点餐</span>
                                </a>
                            </li>
                            <li class="nav-item start @(ViewBag.Title == "打印机管理" ? "active" : string.Empty)">
                                <a href="/common/PrintList?appId=@ViewBag.appId&pageType=51" class="nav-link">
                                    <span class="title">打印机管理</span>
                                </a>
                            </li>
                            <li class="nav-item start">
                                <a href="/common/SortQueueManager?appId=@ViewBag.appId&pageType=51#tab_page=queueing" class="nav-link">
                                    <span class="title">排队拿号</span>
                                </a>
                            </li>
                        </ul>
                    </li>



                    @{ var checkthis2 = ((ViewBag.Title == "菜品分类" || ViewBag.Title == "菜品标签" || ViewBag.Title == "菜品规格" || ViewBag.Title == "菜品列表") ? 1 : 0); }
                    <li class="nav-item  @(checkthis2 == 1 ? "open" : "")">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            <span class="title">菜品管理</span>
                            <span class="selected"></span>
                            <span class="arrow @(checkthis2 == 1 ? "open" : "")"></span>
                        </a>

                        <ul class="sub-menu" style="@(checkthis2 == 1 ? "display:block;": "display:none;")">
                            <li class="nav-item start  @(ViewBag.Title== "菜品列表" ? " active":string.Empty) ">
                                <a href="/foods/FoodGoodsList?appId=@ViewBag.appId&pageType=51" class="nav-link">
                                    <span class="title">菜品列表</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item start @(ViewBag.Title== "餐饮订单管理" ? " active":string.Empty) ">
                        <a href="/foods/FoodGoodsOrderList?appId=@ViewBag.appId&pageType=51" class="nav-link">
                            <i class="glyphicon glyphicon-barcode"></i>
                            <span class="title">订单管理</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>

