@{
    bool isshow = true;
    ViewBag.Id = Utility.IO.Context.GetRequestInt("appId", 0);
    XcxAppAccountRelation xcxmodel = XcxAppAccountRelationBLL.SingleModel.GetModel(Convert.ToInt32(ViewBag.Id));
    if (xcxmodel != null && xcxmodel.agentId >= 0)
    {
        isshow = false;
    }
    ViewBag.appId = Utility.IO.Context.GetRequestInt("appId", 0);

}

<style>
    .footerMenu { margin: 20px; }
    .first { font-size: large; font-family: arial; font-weight: 700; }
    .footerMenu p { margin-top: 10px; }
</style>
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="nav-item start open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">小程序单页版</span>
                    <span class="selected"></span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu" style="display: block;">
                    @if (WebSiteConfig.UseALaDing)
                    {
                        <li class="nav-item start @(ViewBag.Title == "阿拉丁统计" ? "active" : string.Empty)">
                            <a href="/common/AladingTongJi?appId=@ViewBag.Id&pageType=@((int)TmpType.小程序单页模板)" class="nav-link">
                                <i class="glyphicon glyphicon-stats"></i>
                                <span class="title">阿拉丁统计</span>
                            </a>
                        </li>
                    }
                    <li class="nav-item start @(ViewBag.Title== "首页" ? " active":string.Empty)">
                        <a href="/pageindex/index?appId=@ViewBag.Id" class="nav-link">
                            <i class="glyphicon glyphicon-barcode"></i>
                            <span class="title">自定义页面</span>
                        </a>
                    </li>
                    <li class="nav-item start @(ViewBag.Title== "表单数据列表" ? " active":string.Empty)">
                        <a href="/pageindex/FormDataList?appId=@ViewBag.Id" class="nav-link">
                            <i class="glyphicon glyphicon-stats"></i>
                            <span class="title">表单数据</span>
                        </a>
                    </li>


                    <li class="nav-item start @(ViewBag.Title== "小程序管理" ? " active":string.Empty)">
                        <a href="/config/MiniAppConfig?appId=@ViewBag.Id&id=@ViewBag.Id&type=@ViewBag.PageType" class="nav-link">
                            <i class="glyphicon glyphicon-wrench"></i>
                            <span class="title">小程序管理</span>
                        </a>
                    </li>
                    @*<li class="nav-item start @(ViewBag.Title== "导入旧数据" ? " active":string.Empty)">
            <a href="/pageindex/Import?appId=@ViewBag.Id" class="nav-link">
                <i class="glyphicon glyphicon-tint"></i>
                <span class="title">导入旧数据</span>
            </a>
        </li>*@

                </ul>
            </li>
        </ul>
        @if (isshow)
        {
            <div class="footerMenu">
                <p class="first">有问题可联系客服哦</p>
                <p>客服电话:18613137642</p>
                <p>微信号:vzan10002</p>
                <p>扫码添加客服微信</p>
                <div style="margin-top:10px;">
                    <img src="@(WebSiteConfig.cdnurl)content/images/kf.png" />
                    <p>服务时间:9:00-20:30</p>
                </div>
            </div>
        }
    </div>

</div>


