
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @*<meta http-equiv="Access-Control-Allow-Origin" content="*">*@
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="@(WebSiteConfig.cdnurl)/content/newhome/image/bitbug_favicon.ico">
    <link href="@(WebSiteConfig.cdnurl)content/css/dzbase.css" rel="stylesheet" />
    <link href="@(WebSiteConfig.cdnurl)content/newhome/css/base.css" rel="stylesheet" />
    <link href="@(WebSiteConfig.cdnurl)content/assets/global/plugins/dropzone/dropzone.css" rel="stylesheet" />
    <link href="@(WebSiteConfig.cdnurl)content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="@(WebSiteConfig.cdnurl)content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/html5shiv/html5shiv.min.js"></script>
    <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/respond/respond.min.js"></script>
    <![endif]-->
    @*@RenderSection("css", false)*@
    @*<style>
        .contentcontainer { margin-top: 0px !important; }
        .contentcontainer li { text-align: left; }
        /*html, body, .rightheight { height: 100%; }*/

        body { background-color: #f5f5f5; font-family: "微软雅黑"; }
        a { color: #337ab7; text-decoration: none; }
        /*分页样式*/
        .page { background: #fff; padding: 0 10px; margin-top: 12px; font-size: 12px; }
        .page a { padding: 4px 10px; border: 1px solid #cce6f5; margin: 0 4px; color: #198dd2; }
        .page a:hover { background: #198dd2; color: #fff; border: 1px solid #198dd2; }
        ul.page { height: 30px !important; padding-top: 0 !important; }
        .contentcontainer { margin-top: 0px !important; }
        #dropdown > a { text-decoration: underline; font-size: 16px; color: #fff; margin-right: 20px; padding: 5px; }
        .layui-layer-shade { z-index: 1000000 !important; }
        .layui-layer-dialog { z-index: 1000001 !important; }
        .nobr { white-space: nowrap; }
        [v-cloak] { display: none; }

        .panel-body:after, .panel-body:before { display: inline; }
    </style>*@

    <!--工具方法-->
    <script src="@(WebSiteConfig.cdnurl)content/enterprise/utils.js"></script>
    <script src="@WebSiteConfig.MiniappZyUrl/js/jquery.min.js"></script>
    <script src="@(WebSiteConfig.cdnurl)content/jsPolyfill/Polyfill.js?v=@WebSiteConfig.cdnVersion"></script>
    <script src="@WebSiteConfig.MiniappZyUrl/layer/layer.js"></script>
    <script src="@WebSiteConfig.MiniappZyUrl/js/vue.js"></script>
    <script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="@WebSiteConfig.MiniappZyUrl/layui/layui.js"></script>
    <script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/dropzone/dropzone.js?n=1234522222"></script>

    <script src="@(WebSiteConfig.cdnurl)content/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="@(WebSiteConfig.cdnurl)content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>

    <script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootstrap-colorpicker/bootstrap-clockpicker.min.js"></script>
    <script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootbox/bootbox.min.js"></script>
    <script src="@(WebSiteConfig.cdnurl)content/assets/global/scripts/appTools.js"></script>
    <script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

</head>
<body>
    
    <div class="f fv fc" style="min-width:768px;max-width:1920px;margin:0 auto;">
    <nav class="nav f fc-h fc" style="background-color:#fff;">
        <div class="logo-box f fc ">
            <a href="/dzhome/newHome">
                <img src="@(WebSiteConfig.cdnurl)/content/newhome/image/logo.png" class="icon-logo" />
            </a>
        </div>
        <div class="agent f fc f1 ">
            <div class="personal f fc">
                    @*<a href="javascript:;" class="query" id="query"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/help.png" /></a>*@
                    <a id="exit" href="javascript:;" class="setting" title="退出"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/setting.png" /></a>
                </div>
              
                  <!--提示框-->
                <div class="tishi f fv fc" id="tishi" style="display: none">
              </div>
            </div>
       </nav>
        @RenderBody()
        @*<div style="width:100%;height: 90%;">
            @if (ViewBag.PageType == 0)
            {
                <div class="rightheight" style="width:100%;background-color:#fff;">
                    @*工作台*@
                    @*@RenderBody()*@
                @*</div>*@
            @*} 
            else
            {
                <div class="layui-row  contentcontainer rightheight" style="background-color:#f5f5f5;">
                    <div class="page-container contentcontainer" style="float:left;">*@
                        @*@switch ((int)ViewBag.PageType)
                        {
                            case -1:@RenderPage("~/Views/Shared/CityInfo/_SliderNav.cshtml"); break;//代理后台
                            case 1:@RenderPage("~/Views/Shared/officialweb/_SliderNav.cshtml"); break;//企业版
                            case 4:@RenderPage("~/Views/Shared/pageindex/_SliderNav.cshtml"); break;//单页版
                            case 6:@RenderPage("~/Views/Shared/stores/_SliderNav.cshtml"); break;//电商版
                            case 8:@RenderPage("~/Views/Shared/foods/_SliderNav.cshtml"); break;//餐饮版
                            case 12:@RenderPage("~/Views/Shared/enterprise/_SliderNav.cshtml"); break;//行业版
                            case 13:@RenderPage("~/Views/Shared/gw/_SliderNav.cshtml"); break;
                            case 22:@RenderPage("~/Views/Shared/enterprisepro/_SliderNav.cshtml"); break;//专业版
                            case 25:@RenderPage("~/Views/Shared/footbath/_SliderNav.cshtml"); break;//足浴版
                        }*@
                    @*</div>*@
                    @*<div style="background-color: #fff;padding: 30px 20px;width: 87.7%;float: right;">*@
                    @*<div class="page-content-wrapper rightheight" style="float: none;">
                        <div class="page-content rightheight">*@
                            @*@if (ViewBag.PageType != 12 && ViewBag.PageType != 22)
                            {
                                <ol class="breadcrumb">
                                    @if (ViewBag.PageType != -1)
                                    {
                                        <li><a href="/dzhome/casetemplate" class="list-city">小未程序</a></li>
                                    }
                                    <li class="active">@ViewBag.Title</li>
                                </ol>
                            }*@
                            @*@RenderBody()*@
                        @*</div>
                    </div>
                </div>*@

                @*@RenderPage("~/Views/Shared/CityInfo/_FooterNav.cshtml")*@
            @* } *@
        </div>
        
        <!-- 蒙板弹窗 -->
        <div class="popup-box" style="display:none" id="templatemodel" data-children="">
            @* 新版弹窗 *@
            @* 1-修改手机号、绑定手机号、先绑定手机号*@
            <div class="change-phone-new stopevent" style="display:none;" id="updatephonediv">
                <div class="change-phone-content f fv fc">
                    <i class="popup-close btn-cancel" style="cursor:pointer;"></i>
                    <h3 id="phonetitle">修改手机号</h3>
                    <div class="input-box">
                        <div class="input-container">
                            <label class="f fc">
                                <span class="input-type">手机号</span>
                                <input id="phone" onkeyup="this.value=this.value.replace(/[^\d]/g,'');" maxlength="11" type="text" placeholder="请输入新的手机号" />
                            </label>
                        </div>
                        <div class="input-container">
                            <label class="f fc">
                                <span class="input-type">验证码</span>
                                <input type="text" placeholder="请输入验证码" id="code" onkeyup="this.value=this.value.replace(/[^\d]/g,'');" maxlength="4" />
                                <a class="get-msg btnsendcode" href="javascript:;" data-type="" id="btnMsg">获取验证码</a>
                            </label>
                        </div>
                    </div>
                    <div class="btn-ok btnsave">确定</div>
                </div>
            </div>
            @* 2-修改密码 *@
            <div class="change-phone-new stopevent" style="display:none" id="updatepwd">
                <div class="change-phone-content f fv fc">
                    <i class="popup-close btn-cancel" style="cursor:pointer;"></i>
                    <h3>修改密码</h3>
                    <i class="popup-close btn-cancel" style="cursor:pointer;"></i>
                    <div class="input-box">
                        <div class="input-container">
                            <label class="f fc">
                                <span class="input-type">新密码</span>
                                <input type="password" id="pwd1" maxlength="20" placeholder="请设置6-20位密码" />
                            </label>
                        </div>
                        <div class="input-container">
                            <label class="f fc">
                                <span class="input-type">重复密码</span>
                                <input type="password" id="pwd2" maxlength="20" placeholder="请再次输入密码" />
                            </label>
                        </div>
                    </div>
                    <div class="btn-ok btnupdatepwd">确定</div>
                </div>
            </div>
            @* 3-立即报名*@
            <div id="apply" class="change-phone-new stopevent" style="display:none;">
                <div class="change-phone-content f fv fc">
                    <i class="popup-close btn-cancel" style="cursor:pointer;"></i>
                    <h3>立即报名</h3>
                    <div class="input-box">
                        <div class="input-container">
                            <label class="f fc">
                                <span class="input-type">姓名</span>
                                <input id="applyContacts" type="text" placeholder="请输入您的姓名" />
                            </label>
                        </div>
                        <div class="input-container">
                            <label class="f fc">
                                <span class="input-type">手机号</span>
                                <input id="applyContactsPhone" type="text" placeholder="请输入手机号" />
                            </label>
                        </div>
                    </div>
                    <div id="btnOk" class="btn-ok" data-type="2">确定</div>
                </div>
            </div>
            @* 免费使用（已开通）*@
            <div class="free-use free-use1 f fv fc stopevent" id="useopendtemplate" style="display:none">
                <div class="freeImg-box">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/freeUse.png" />
                    <p class="fp-fontSize-14 free-use-text">您已经开通了该模板的免费试用， 去工作台看看吧！</p>
                </div>
                @*<div class="btn-container">*@
                <p class="btn-free fp-font-white" onclick="window.location.reload();">好的</p>
                @*</div>*@
            </div>
            @* 免费使用（已开通）*@
            <div class="orderNow f fv fc stopevent" id="gotobuy" style="display:none">
                <div class="popup-title f fc fc-h">
                    <p class="fp-font-green ">立即订购</p>
                </div>
                <div class="popup-content f fv fc">
                    <p class="fp-font-drakGray">您可以通过以下方式咨询订购我们产品！</p>
                    <div class="qrcode-box f fv fc">
                        <div class="qrCode">
                            <img src="@(WebSiteConfig.cdnurl)content/newhome/image/code.png" />
                        </div>
                        <p class="wx-name fp-fontSize-14">扫码加微信 @*<span class="fp-fontSize-12">dashu</span>*@</p>
                        <p class="phone-number fp-fontSize-14">联系电话: <span class="fp-fontSize-12">18680288930</span></p>
                    </div>
                    <div class="maybe fp-fontSize-14 fp-font-drakGray">或者</div>
                    <p style="text-align: center;width: 95%;">留下您的联系方式，我们会有专人联系您！</p>
                    <div class="input-box f fv fc">
                        <div class="input">
                            <span class="text-position icon-name">姓名：</span>
                            <input id="contacts" class="name phone-input" maxlength="50" type="text" name="name" placeholder="请输入您的称呼" />
                        </div>
                        <div class="input">
                            <span class="text-position icon-number">联系电话：</span>
                            <input id="contactsPhone" class="number phone-input" maxlength="11" onkeyup="this.value=this.value.replace(/[^\d]/g,'');" type="text" name="number" placeholder="请输入您的联系电话" />
                        </div>
                        @*<div class="btn-container" id="admintmsg">*@
                        <div class="btn-free fp-font-white" id="admintmsg">提交</div>
                        @*</div>*@
                    </div>
                    <span class="popwin-close" onclick="$('#gotobuy').hide();$('#templatemodel').hide();$(document.body).css('overflow-y', '')"></span>
                </div>
            </div>
        </div>
        <script>
            $(function () {


                $("#touxiang").hover(
                 function () {
                     $(".user-setting").show();
                 },
                 function () {
                     $(".user-setting").hide();
                 }
             )


                $(".versions-list>li>a").click(function () {
                    $(".versions-list>li>a").css("color", "").removeClass("current-blue");
                    $(this).css("color", "#3296FA").addClass("current-blue");
                });

                $(".btn-label").click(function () {
                    $(".btn-label").removeClass("btn-label-blue fp-font-white");
                    $(this).addClass("btn-label-blue fp-font-white");
                })


                $.post("/dzhome/GetUserCookie", function (data) {
                    if (data.isok) {
                        if (data.dataObj._Account != null) {
                            $("#logined").show();
                            $("#userloginid").html(data.dataObj._Account.LoginId);
                            if (data.dataObj.Agentinfo != null) {
                                $("#showagent").show();
                            }
                            else {
                                if(@ViewBag.PageType==0)
                                {
                                    $("#showagent").hide();
                                }
                                else{
                                    $("#showagent").show();
                                }
                            }
                            if (data.dataObj._Account.ConsigneePhone == null || data.dataObj._Account.ConsigneePhone == undefined || data.dataObj._Account.ConsigneePhone.length <= 0) {
                                $("#updatephone").attr("data-type", "1");
                                $("#updatephone").html("去绑定");

                                $("#phonetitle").html("绑定手机号");
                                show("updatephonediv", 0);
                            }
                            else {
                                $("#updatephone").attr("data-type", "2");
                                $("#updatephone").html("去修改");
                                $("#phonetitle").html("修改手机号");
                                $("#userphone").html(data.dataObj._Account.ConsigneePhone);
                                $("#editphone").html(data.dataObj._Account.ConsigneePhone);
                            }
                        }
                    }
                })
            });

            $(function () {
                if ('@ViewBag.title'.length !== 0) {
                    var jq = $("span:contains(@ViewBag.title)").closest("li");
                    jq.addClass("active open");
                    while (jq.length > 0) {
                        jq = jq.parent("ul").parent("li");
                        jq.addClass("active open");
                        jq.children("a").find(".arrow").addClass("open");
                    }
                }
                if ($('#CName_Hidden').val() != undefined && $('#CName_Hidden').val() != '') {
                    localStorage.cityName = $('#CName_Hidden').val();
                }
            });
        </script>
        <script>

            //提交信息
            function submitInformation() {
                var name = $("#contacts").val();
                var phone = $("#contactsPhone").val().trim();
                var typeValue = 2;

                if (name == "" || phone == "") {
                    layer.msg("请填写完整信息");
                    return;
                }
                if (!(/^1[34578]\d{9}$/.test(phone))) {
                    layer.msg("请输入正确的手机号");
                    return;
                }

                $.post("/DLPT/SendUserAdvisory",
                    { Phone: phone, username: name, datasource: typeValue },
                    function (data) {
                        if (data.isok) {
                            layer.msg(data.Msg);
                            var name = $("#contacts").val("");
                            var phone = $("#contactsPhone").val("");
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        }
                    })
            }


            //$(".user").bind("click", function () {

            //    var type = $(this).attr("data-type");

            //    hide("usertemplate", 0);
            //    if (type == "1") {
            //        //绑定手机号
            //        show("bindphone", 0);
            //    }
            //    else if (type == "2") {
            //        //修改手机号
            //        show("showupdatephone", 0);
            //    }
            //    else if (type == "3") {
            //        //修改秘密啊
            //        show("updatepwd", 0);
            //    }
            //    else {
            //        //打开用户设置
            //        show("usertemplate", 0);
            //    }
            //});

            ////发送验证码
            //$(".btnsendcode").on("click", function () {
            //    var ptype = $(this).attr("data-type");
            //    var id = this.id;
            //    var phone = $("#phone" + ptype).val().trim();
            //    var type = ptype == "_update" ? 0 : 1;
            //    var warnid = 'warningphone' + ptype;
            //    sendValidCode(id, warnid, phone, type);
            //})


            ////确定绑定手机号
            //$(".btnsave").on("click", function () {
            //    var ptype = $(this).attr("data-type");
            //    var warmid = "warningphone" + ptype;
            //    var phone = $("#phone").val().trim() + ptype;
            //    var code = $("#code").val().trim() + ptype;
            //    var type = ptype == "_update" ? 3 : 2;
            //    resetpwdnext(warmid, phone, code, type);
            //})


            ////修改密码
            //$(".btnupdatepwd").on("click", function () {
            //    var warmid = "warningpwd";
            //    var pwd1 = $("#pwd1").val();
            //    var pwd2 = $("#pwd2").val();
            //    hide(warmid);
            //    if (pwd1 == '') {
            //        html(warmid, "请输入密码");
            //        return;
            //    }

            //    if (pwd2 == "") {
            //        html(warmid, "重复密码不能为空");
            //        return;
            //    }

            //    if (pwd2 != pwd1) {
            //        html(warmid, "两次密码不一致，请重新输入");
            //        return;
            //    }
            //    if (!confirm("确定更改密码？")) {
            //        return;
            //    }
            //    $.post("/dzhome/SaveUserInfo", { password: pwd1, checkphone: 1, type: 1 }, function (data) {
            //        if (data.isok) {
            //            layer.msg(data.Msg);
            //            setTimeout(function () {
            //                window.location.reload();
            //            }, 1000);
            //        }
            //        else {
            //            html(warmid, data.Msg);
            //        }
            //    })
            //})


            ////取消
            //$(".btn-cancel").bind("click", function () {
            //    var cid = $("#templatemodel").attr("data-children");
            //    hide(cid, 0);
            //});


            //$("#templatemodel").bind("click", function () {
            //    var cid = $(this).attr("data-children");
            //    hide(cid, 0);
            //});


            //$(".stopevent").bind("click", function () {
            //    event.stopPropagation();
            //});


            ////获取当前屏幕宽高
            //function popUp(id) {
            //    var height = $(window).height()
            //    var width = $(window).width()
            //    //$("#" + id).css("top", (height / 2) + "px")
            //    //$("#" + id).css("left", (width / 2) + "px")
            //    window.location.href = "#" + id;
            //    console.log(height)
            //    console.log(width)
            //}


            ////start公共方法
            ////保存手机号手机号
            //function resetpwdnext(warmid, phone, code, type) {
            //    hide(warmid);

            //    if (phone == '') {
            //        html(warmid, "手机号不能为空");
            //        return;
            //    }
            //    if (!(/^1[34578]\d{9}$/.test(phone))) {
            //        html(warmid, "请输入正确的手机号");
            //        return;
            //    }

            //    if (code == "") {
            //        html(warmid, "请输入验证码");
            //        return;
            //    }

            //    $.post("/dzhome/SaveUserInfo", { phone: phone, code: code, type: type }, function (data) {
            //        if (data.isok) {
            //            layer.msg(data.Msg);
            //            setTimeout(function () {
            //                window.location.reload();
            //            }, 1000);
            //        }
            //        else {
            //            html(warmid, data.Msg);
            //        }
            //    })
            //}

            ////发送验证码
            //function sendValidCode(id, warnid, phone, type) {
            //    if (timer > 0) {
            //        return;
            //    }
            //    hide(warnid);
            //    if (phone == '') {
            //        html(warnid, "手机号不能为空");
            //        show(warnid);
            //        return;
            //    }
            //    if (!(/^1[34578]\d{9}$/.test(phone))) {
            //        html(warnid, "请输入正确的手机号");
            //        show(warnid);
            //        return;
            //    }

            //    $.post("/dzhome/GetVaildCode", { phonenum: phone, type: type }, function (data) {
            //        if (data.code == 1) {
            //            layer.msg("发送成功");
            //            $("#" + id).css("background-color", "#DCDCDC")
            //            //启动计时器
            //            setTimer(id, 1, 60);
            //        }
            //        else {
            //            html(warnid, data.Msg);
            //            show(warnid);
            //        }
            //    })
            //}
            ////发送验证码后计时
            //var timerseconds;
            //var timer = 0;


            //function setTimer(id, seconde, initcount) {
            //    timerseconds = initcount;
            //    $("#" + id).html(timerseconds + "秒");
            //    timer = setInterval(function () {
            //        timerseconds -= seconde;
            //        $("#" + id).html(timerseconds + "秒");
            //        if (timerseconds < 0) {
            //            $("#" + id).html("重新获取");
            //            $("#" + id).css("background-color", "#3296FA")
            //            timerseconds = initcount;
            //            clearInterval(timer)
            //            timer = 0;
            //        }
            //    }, seconde * 1000)
            //}


            //function hide(id, type) {
            //    $("#" + id).hide();
            //    if (type == 0) {
            //        $("#templatemodel").css("display", "none");
            //        $("#templatemodel").attr("data-children", "");
            //    }
            //}


            //function show(id, type) {
            //    $("#" + id).show();
            //    $("#templatemodel").css("display", "");
            //    if (type == 0) {
            //        $("#templatemodel").attr("data-children", id);
            //    }
            //}


            //function html(id, msg) {
            //    $("#" + id).html(msg);
            //    show(id);
            //}
            ////end公共方法

            //进入代理商小程序后台
            function login() {
                $.post("/dzhome/GoToAgentBackground", function (data) {
                    if (data.isok) {
                        window.location.href = "/dzhome/casetemplate"
                    }
                    else {
                        layer.msg(data.Msg);
                    }
                })
            }
        </script>
                @RenderSection("script", false)
                <script src="@(WebSiteConfig.cdnurl)content/newhome/js/work.js" charset="utf-8"></script>
    @*</div>*@
</body>

</html>