@{
    ViewBag.appId = Utility.IO.Context.GetRequestInt("appId", 0);
    int storeId = Utility.IO.Context.GetRequestInt("storeId", 0);
}
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="nav-item start @(ViewBag.Title== "首页" ? " active":string.Empty)">
                <a href="/common/dashboard?appId=@ViewBag.appId&type=@ViewBag.PageType&storeId=@(storeId)" class="nav-link">
                    <i class="glyphicon glyphicon-home"></i>
                    <span class="title">首页</span>
                </a>
            </li>
            <li class="nav-item open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">门店管理</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu" style="display: block;">

                    @{ var checkthis1 = ((ViewBag.Title == "门店信息" || ViewBag.Title == "门店装修" || ViewBag.Title == "配送方式" || ViewBag.Title == "模板消息" || ViewBag.Title == "多门店管理" || ViewBag.Title == "管理门店商品") ? 1 : 0); }
                    <li class="nav-item @(checkthis1 == 1 ? "open" : "")">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-bar-chart"></i>
                            <span class="title">门店管理</span>
                            <span class="selected"></span>
                            <span class="arrow @(checkthis1 == 1 ? "open" : "")"></span>
                        </a>

                        <ul class="sub-menu " style="@(checkthis1 == 1 ? "display:block;": "display:none;")">
                            <li class="nav-item start">
                                <a href="/MultiStore/StoresManager/index?appId=@ViewBag.appId&storeId=@(storeId)" class="nav-link">
                                    <span class="title">门店信息</span>
                                </a>
                            </li>
                            <li class="nav-item start">
                                <a href="/MultiStore/StoresManager/pageset?appId=@ViewBag.appId&storeId=@(storeId)&SouceFrom=TemplateDecoration#tab_page=PersonRenovation" class="nav-link">
                                    <span class="title">门店装修</span>
                                </a>
                            </li>
                            <li class="nav-item start">
                                <a href="/MultiStore/StoresManager/TakeoutSetting?appId=@ViewBag.appId&storeId=@(storeId)" class="nav-link">
                                    <span class="title">配送方式</span>
                                </a>
                            </li>
                        </ul>
                    </li>



                    @{ var checkthis2 = ((ViewBag.Title == "产品列表" ||
                      ViewBag.Title == "产品管理" ||
                        ViewBag.Title == "产品分类" ||
                        ViewBag.Title == "产品规格" ||
                        ViewBag.Title == "编辑产品" ||
                        ViewBag.Title == "产品参数" ||
                       ViewBag.Title == "产品标签") ? 1 : 0); }
                    <li class="nav-item  @(checkthis2 == 1 ? "open" : "")">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            <span class="title">产品管理</span>
                            <span class="selected"></span>
                            <span class="arrow @(checkthis2 == 1 ? "open" : "")"></span>
                        </a>

                        <ul class="sub-menu" style="@(checkthis2 == 1 ? "display:block;": "display:none;")">
                            <li class="nav-item start ">
                                <a href="/MultiStore/GoodsManager/subgoodlist?appId=@ViewBag.appId&storeId=@(storeId)" class="nav-link">
                                    <span class="title">产品管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item start ">
                        <a href="/MultiStore/OrdersManager/OrderTotalList?appId=@ViewBag.appId&storeId=@(storeId)" class="nav-link">
                            <i class="glyphicon glyphicon-barcode"></i>
                            <span class="title">订单管理</span>
                        </a>
                    </li>
                    @{ var checkthis3 = ((ViewBag.Title == "拼团") ? 1 : 0); }
                    <li class="nav-item @(checkthis3 == 1 ? "open" : "")">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-key"></i>
                            <span class="title">营销工具管理</span>
                            <span class="selected"></span>
                            <span class="arrow @(checkthis3 == 1 ? "open" : "")"></span>
                        </a>
                        <ul class="sub-menu" style="@(checkthis3 == 1 ? "display:block;": "display:none;")">
                            <li class="nav-item start @(ViewBag.Title == "拼团" ? "active" : string.Empty)">
                                <a href="/MultiStore/GoodsManager/subgrouplist?appId=@ViewBag.appId&storeId=@(storeId)" class="nav-link">
                                    <i class="glyphicon glyphicon-link"></i>
                                    <span class="title">拼团</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>

