@using User.MiniApp.comment;
@using Entity.MiniApp.Stores
@model List<StoreGoodsType>
@{
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
    ViewBag.PageType = 6;//1是行业版同城，用于母版页的左侧菜单区分
    ViewBag.Title = "商品分类";
}

<script src="//j.vzan.cc/scripts/common/verify_input.js"></script>
<script src="@WebSiteConfig.SourceContent/scripts/min/juicer-min.js"></script>
<script src="@(WebSiteConfig.cdnurl)content/active/date/js/mobiscroll_002.js" type="text/javascript"></script>
<script src="@(WebSiteConfig.cdnurl)content/active/date/js/mobiscroll_004.js" type="text/javascript"></script>
<link href="@(WebSiteConfig.cdnurl)content/active/date/css/mobiscroll_004.css" rel="stylesheet" type="text/css">
<link href="@(WebSiteConfig.cdnurl)content/active/date/css/mobiscroll.css" rel="stylesheet" type="text/css">
<script src="@(WebSiteConfig.cdnurl)content/active/date/js/mobiscroll.js" type="text/javascript"></script>
<script src="@(WebSiteConfig.cdnurl)content/active/date/js/mobiscroll_003.js" type="text/javascript"></script>
<script src="@(WebSiteConfig.cdnurl)content/active/date/js/mobiscroll_005.js" type="text/javascript"></script>
<link href="@(WebSiteConfig.cdnurl)content/active/date/css/mobiscroll_003.css" rel="stylesheet" type="text/css">
<div class="panel panel-default">
    <div class="panel-body">
        <a href="javascript:;" class="btn btn-success temp-btn-setting" data-itemid="0" data-name="" id="btnBatch_Pass">
            <span class="glyphicon glyphicon-ok"></span>
            添加分类
        </a>
        &nbsp;
        <a href="javascript:;" class="btn btn-info SaveSort">
            保存排序
        </a>
    </div>
    <div>
        最多可添加50个分类
    </div>
</div>
<style>
    .dropzone.dz-clickable {
    width: 300px!important;
}
</style>
<input type="hidden" id="CName_Hidden" value="小程序" />
<table class="table table-condensed table-bordered table-hover fontSize12 fontFamilyYahei">
    <tr class="text-center">
        <th>序号</th>
        <th>分类名称</th>
        <th>Logo图片</th>
        <th>排序</th>
        <th>添加时间</th>
        <th>操作</th>
    </tr>
    <tbody id="bcontent">
        @{ int i = 1; }
        @foreach (var item in Model)
        {
            <tr>
                <td><label>@(i++)</label> </td>
                <td>@(item.Name)</td>
                <td ><img src="@item.LogImg" style="width:50px;height:50px;"/></td>
                <td><input type="text" title="整数,数字越大越靠前" class="form-control" value="@item.SortVal" name="sortVal" dataid="@item.Id" style="width:100px;" /></td>
                <td>@(item.CreateDate.ToString("yyyy-MM-dd HH:mm"))</td>
                <td>
                    <a style="margin-top: 5px;" href="#" data-itemid="@(item.Id)" data-name="@(item.Name)" class="btn btn-primary btn-xs temp-btn-setting editegoodtype">
                        <span class="glyphicon glyphicon-edit"></span>
                        编辑
                    </a>
                    <a style="margin-top: 5px;" href="#" class="btn btn-danger btn-xs temp-btn-del" data-itemid="@(item.Id)" data-name="@(item.Name)" data-setval="-1" data-typename="state">
                        <span class="glyphicon glyphicon-remove"></span>
                        删除
                    </a>
                   
                </td>
            </tr>
        }
    </tbody>
</table>
@*<div id="id_typeconfigtitle" >
        <table>
            <tr>
                <td>类型logo : </td>
                <td>
                    <div class="width200">
                        @Html.FileUploadFor("CarouselImgUrl")
                    </div>
                </td>
            </tr>
            <tr>
                <td><span>分类名称：</span></td>
                <td><input maxlength="8" placeholder="分类名称" id="nameVal" type="text" class="form-control" value="{#name#}"></td>
            </tr>
        </table>
    </div>*@

<div class="modal bs-example-modal" id="addModal" tabindex="-1" role="dialog" aria-labelledby="tipsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    添加商品分类
                </h4>
            </div>
            <div class="modal-body">
                <table class="table table-add">
                    <tr>
                        <td>类型logo : </td>
                        <td>
                            <div class="width300">
                                @Html.FileUploadFor("CarouselImgUrl",controllerWidth:300)
                            </div>
                            <label class="forinputmassage">( 建议上传60*60px，大小不超过1M，格式为jpg或png的图片 )</label>
                        </td>
                    </tr>
                    <tr>
                        <td><span>分类名称：</span></td>
                        <td><input maxlength="10" placeholder="分类名称" id="nameVal" type="text" class="form-control" value=""></td>
                    </tr>
                    <tr>
                        <td><span>顺序：</span></td>
                        <td><input placeholder="顺序越大越靠前" id="SortVal" type="text" class="form-control" value="">*整数,数字越大越靠前</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-primary" data-itemid="" id="btnAdd">确定</button>
            </div>
        </div>
    </div>
</div>

<script>
    // 删除Logo
    function removeLogoFun(file) {
        $("#hiddenimg").val("");
    }
    var storeId =@(ViewBag.StoreId);
    //$(function () {
        $('#btnAdd').on('click', function() {
            //一修改名称
            var itemid = $(this).data("itemid")
            var imgUrl = $('input[name="CarouselImgUrl"]').val();
            if(itemid>0 && imgUrl==undefined)
            {
                imgUrl = $("#hiddenimg").val();
            }
            if (!imgUrl) {
                AppTools.Alert("请选择须上传的图片或图片正在上传，请稍候 !");
                $(this).removeAttr('disabled');
                return false;
            }
            var _title = $("#nameVal").val().replace(/(^\s*)|(\s*$)/g, "");
            if (_title == "") {
                alert("请输入名称");
                return;
            }
            
            var SortVal=$("#SortVal").val();
            var reg = /^[0-9]*$/;
            if (!reg.test(SortVal)) {
                alert("请输入合法的整数")
                return false;
            }


            $(this).attr('disabled', 'disabled');

            $.ajax({
                type: "Post",
                url: "/stores/AddGoodType",
                data:
                    {
                        appId:@(ViewBag.appId),
                        Name:_title,
                        StoreId:storeId,
                        Id:itemid,
                        LogImg: imgUrl,
                        SortVal:SortVal
                    },
                success: function (data) {
                    if (data.isok) {
                        layer.alert("保存成功");
                        window.location.reload();
                    }
                    else {
                        $("#btnAdd").removeAttr("disabled");
                        layer.alert(data.msg);
                    }
                }
            });
        });
        $(document).on("click", ".editegoodtype", function() {
            var id = $(this).data('itemid');
            $('#editModalHidden').val($(this).data('itemid'));
            $('#addModal').modal('show');
            $.post('/stores/CityCarouselEditPartail', { id: id }, function(result) {
                $('#btnAdd').attr("data-itemid",id);
                $('#addModal .modal-body').html(result);
                //$('#editModal .modal-body').html(result);
            });
        });
        //添加分类
        $(document).on("click", "#btnBatch_Pass", function () {

            $("#selType").val($(this).val());
            $('#addModal').modal('show');

            $('#txtLink').val("");
            $("#nameVal").val("");
            $("#SortVal").val("");
            if ($('#addModal .dz-remove').length > 0) {
                $('#addModal .dz-remove')[0].click();
            }
            $('#btnAdd').attr("data-itemid",0);
            //$('#btnAdd').attr("data-bannercount", $(this).attr("data-bannercount"));


            //一修改名称
            @*var $thisobj = $(this);
            var title = $thisobj.attr("data-name");
            var itemid = $thisobj.attr("data-itemid");
            layer.open({
                title: "",
                content: $("#id_typeconfigtitle").html().replace("{#name#}",title),
                btn: ["保存", "取消"],
                yes: function () {
                    var imgUrl = $('input[name="CarouselImgUrl"]').val();
                    if (!imgUrl) {
                        AppTools.Alert("请选择须上传的图片或图片正在上传，请稍候 !");
                        $(this).removeAttr('disabled');
                        return false;

                    }
                    var _title = $("#nameVal").val().replace(/(^\s*)|(\s*$)/g, "");
                    if (_title == "") {
                        alert("请输入名称");
                        return;
                    }
                    $.ajax({
                        type: "Post",
                        url: "/stores/AddGoodType",
                        data:
                            {
                                appId:@(ViewBag.appId),
                                Name:_title,
                                StoreId:storeId,
                                Id:itemid,
                                ImageUrl: imgUrl,
                            },
                        success: function (data) {
                            if (data.isok) {
                                layer.alert("保存成功");
                                window.location.reload();
                            }
                            else {
                                layer.alert(data.msg);
                            }
                        }
                    });
                },
                no: function () { layer.closeAll(); },
                cancel: function () {
                    layer.closeAll();
                }
            })*@
        }).on("click",".temp-btn-del",function(){
            var $thisobj = $(this);
            var title = $thisobj.attr("data-name");
            var itemid = $thisobj.attr("data-itemid");
            layer.open({
                title: "删除确认",
                content: "确定要删除该分类么？",
                btn: ["确定", "取消"],
                yes: function () {
                    var _title =title;
                    $.ajax({
                        type: "Post",
                        url: "/stores/AddGoodType",
                        data:
                            {
                                appId:@(ViewBag.appId),
                                Name:_title,
                                StoreId:storeId,
                                Id:itemid,
                                State:-1
                            },
                        success: function (data) {
                            if (data.isok) {
                                layer.alert("保存成功");
                                window.location.reload();
                            }
                            else {
                                layer.alert(data.msg);
                            }
                        }
                    });
                }
            })
        });
    //})
</script>

<script>
    $(function(){
        //保存排序
        $(".SaveSort").click(function () {
            var arr = new Array();
            var isvalid = true;
            $.each($('input[name="sortVal"]'), function (i, v) {
                var sort = $(v).val();
                if (!/^-?[0-9]\d*$/.test(sort)) {
                    layer.msg("请输入0~9999999之间的数字");
                    isvalid = false;
                    return false;
                }
                if (sort < 0 || sort > 999999999) {
                    layer.msg("请输入0~9999999之间的数字");
                    isvalid = false;
                    return false;
                }
                var obj = {
                    Id:$(v).attr("dataid"),
                    SortVal: sort
                }
                arr.push(obj);
            });


            if (isvalid) {
                if (arr.length <= 0) {
                    layer.msg("没有数据");
                    return;
                }
                var layerIndex = layer.load(2);
                $.post("/stores/SaveGoodsTypeSort", { list: arr, appId:@ViewBag.appId }, function (data) {
                    layer.close(layerIndex);
                    if (data.isok) {
                        layer.msg(data.msg, { anim: 0, time: 1000 }, function () {
                            window.location.reload();
                        });
                    } else {
                        layer.msg(data.msg);
                    }
                })
            }
        })

    });
</script>