@using User.MiniApp.comment
@using Entity.MiniApp.Conf
@model Moduls
@{
    ViewBag.PageType = 1;//1是行业版同城，用于母版页的左侧菜单区分
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
}
<script src="@(WebSiteConfig.cdnurl)content/active/date/js/mobiscroll_002.js" type="text/javascript"></script>
<script src="@(WebSiteConfig.cdnurl)content/active/date/js/mobiscroll_004.js" type="text/javascript"></script>
<link href="@(WebSiteConfig.cdnurl)content/active/date/css/mobiscroll_002.css" rel="stylesheet" type="text/css">
<link href="@(WebSiteConfig.cdnurl)content/active/date/css/mobiscroll.css" rel="stylesheet" type="text/css">
<script src="@(WebSiteConfig.cdnurl)content/active/date/js/mobiscroll.js" type="text/javascript"></script>
<script src="@(WebSiteConfig.cdnurl)content/active/date/js/mobiscroll_003.js" type="text/javascript"></script>
<script src="@(WebSiteConfig.cdnurl)content/active/date/js/mobiscroll_005.js" type="text/javascript"></script>
<link href="@(WebSiteConfig.cdnurl)content/active/date/css/mobiscroll_003.css" rel="stylesheet" type="text/css">


<style>
    .edui-modal { margin-top: 150px; }

    .twxq-new-kuang { border: 1px solid #ccc; padding: 10px; margin-right: 10px; background: #fff; }

    .twxq-edit-zhanshi { border: 2px dashed #fc7d7d; padding: 10px; min-height: 108px; position: relative; }

    .spgl-bianji-bt { position: absolute; bottom: 0; right: 0; display: inline-block; background-color: rgba(0,0,0,0.3); color: #fff; padding: 0 5px; margin-left: 1px; font-size: 12px; }

    .bz { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

    .spxqq-f p:first-child { font-size: 17px; }

    .spxqq-f { text-align: center; margin-top: 17px; line-height: 25px; }

    #label_1 { color: white; display: none; }

    .checkKey { background-color: coral; color: white !important; border-color: transparent; }

    .noCheckKey { background-color: white; border-color: black; color: black; }
</style>
@Html.HiddenFor(m => m.Id)

<input type="hidden" id="CName_Hidden" value="小程序" />
<div class="row">
    <form id="dataForm">
        <table class="table table-condensed table-hover cancel-table-td-border ">
            <tr>
                <td><p class="model_right_t_font">标题</p></td>
                <td>
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control width400", maxlength = "20" })
                </td>
            </tr>
            <tr>
                <td style="width: 130px;">图片</td>
                <td>
                    @Html.FileUploadFor("xcxImgUrl", initImageList: (List<object>)ViewBag.xcxImgUrlList, controllerWidth: 120, removeCallback: "removeAttachmentFunction")
                    <label class="forinputmassage">点击灰色区域选择上传图片（750*150）</label>
                </td>
            </tr>
            @if (ViewBag.Level == 8)
            {
                <tr>
                    <td><p class="model_right_t_font">概述</p></td>
                    <td>
                        @Html.TextBoxFor(m => m.Content2, new { @class = "form-control width400", maxlength = "45" })
                    </td>
                </tr>
            }
            else
            {

            }


                <tr>
                    <td>简介</td>
                    <td>
                        <script type="text/plain" id="editor" style="width:100%;height:260px;">
                        </script>
                    </td>
                </tr>
            
           
            <!--隐藏值-->
            <input type="hidden" id="appId" value="@ViewBag.appId" />
            <input type="hidden" id="Level" value="@ViewBag.Level" />
            <input type="hidden" id="keyid" value="@Model.Id" />
        </table>
    </form>
</div>

<div class="col-md-offset-2">
    <input type="button" class="btn btn-primary width100" id="saveBtn" value="保存" />
    <input type="button" class="btn btn-default width100" onclick="self.location=document.referrer;" value="返回" />
</div>
<!-- Modal -->
<div class="modal bs-example-modal-sm" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="loadModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <span>提示</span>
            </div>
            <div class="modal-body text-center">
                正在保存 . . .
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary" id="loadModalComfirm">确定</button>*@
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal bs-example-modal-sm" id="loadvoiceModal" tabindex="-1" role="dialog" aria-labelledby="loadvoiceModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <span>提示</span>
            </div>
            <div class="modal-body text-center">
                正在上传 . . .
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary" id="loadModalComfirm">确定</button>*@
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal bs-example-modal-sm" id="tipsModal" tabindex="-1" role="dialog" aria-labelledby="tipsModalLabel" aria-hidden="true">
    <input type="hidden" value="" id="tipsModalHidden" />
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body text-center">
                确定删除这张图片吗 ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="tipsModalComfirm">确定</button>
            </div>
        </div>
    </div>
</div>
@*<link href="@(WebSiteConfig.cdnurl)js/umditor_common/themes/default/css/umeditor.min.css" rel="stylesheet" />
    <script type="text/javascript" src="@(WebSiteConfig.cdnurl)js/umditor_common/umeditor.config.js"></script>
    <script type="text/javascript" src="@(WebSiteConfig.cdnurl)js/umditor_common/umeditor.min.js"></script>*@

<!-- #region 百度编辑器 -->
@*<script src="@(WebSiteConfig.cdnurl)js/ueditor1_4_3_3-utf8-net/utf8-net/ueditor.config.js"></script>
<script src="@(WebSiteConfig.cdnurl)js/ueditor1_4_3_3-utf8-net/utf8-net/ueditor.all.min.js"></script>*@
<script src="/js/ueditor1_4_3_3-utf8-net/utf8-net/ueditor.config.js"></script>
<script src="/js/ueditor1_4_3_3-utf8-net/utf8-net/ueditor.all.min.js"></script>
<!-- #endregion -->

<script type="text/javascript" src="@(WebSiteConfig.cdnurl)js/Base64.js"></script>
<script type="text/html" id="js_article_content">
    @Html.Raw(Model.Content)
</script>
@section script{
    <script>
        $(function () {
            //#region 在线富文本编辑器
            var ue = UE.getEditor('editor', {
                //toolbar: [
                //    ' undo redo | bold italic underline strikethrough |  forecolor backcolor |',
                //    '| justifyleft justifycenter justifyright justifyjustify | image ',

                //],
                toolbars: [
                    ['source', '|', 'undo', 'redo', '|', 'bold', ' italic', ' underline', 'strikethrough', '|', 'forecolor', 'backcolor', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify'],
                    ['paragraph', 'fontsize', ' |', 'insertorderedlist', 'insertunorderedlist', 'horizontal', 'autotypeset', 'pasteplain'],
                    ['simpleupload', 'insertimage']
                ],
                imageUrl: "/Upload/Image?cityid=" + localStorage.cityInfoId,
                autoHeight: false
            });
            //对编辑器的操作最好在编辑器ready之后再做
            ue.ready(function () {
                if ($("#js_article_content").html() != "") {
                    var vHtml = $("#js_article_content").html();
                    ue.setContent(vHtml);
                }
            });
            //当富文本框内容发生改变时,展示框也要发生改变
            ue.addListener('selectionchange', function (editor) {
                if (ue.hasContents()) {
                    jQuery(".spgl-bianji-bt").siblings().remove();
                    jQuery(".spgl-bianji-bt").before(ue.getContent());
                } else {
                    var html = '<div class="spxqq-f"><p>内容</p><p>可自由编辑</p></div><a class="spgl-bianji-bt">编辑</a>'
                    jQuery('.twxq-edit-zhanshi').html(html);
                }
            });
            //#endregion

            // #region 保存
            $('#saveBtn').click(function () {

                saveStore();
            });

            function saveStore() {
                var imgArray = [];
                var imgs = $('input[name="xcxImgUrl"]');
                for (var j = 0; j < imgs.length; j++) {
                    imgArray.push($(imgs[j]).val());
                }
                var ImgUrl = imgArray.join();



                var appId = $('#appId').val();
                var Level = $("#Level").val();
                var keyid = $("#keyid").val();
                var Content = "";
                //if(@ViewBag.Level == 8)
                {
                    Content = ue.getContent();
                }
                //else{
                //    Content = $("#Content").val();
                //}
                var Content2 = "";
                var title = $("#Title").val();
                if (title == undefined || title.length <= 0) {
                    AppTools.Alert("请输入标题");
                    return;
                }
                if(ImgUrl=='' )
                {
                    if('@Model.ImgUrl'=="")
                    {
                        AppTools.Alert("请上传图片");
                        return;
                    }
                    else{
                        ImgUrl = '@Model.ImgUrl'
                    }
                }
                if (@ViewBag.Level == 8)
                {
                    Content2 = $("#Content2").val();
                    if (Content2.length > 45) {
                        AppTools.Alert("输入概述不能超过45字");
                        return;
                    }
                    if (Content2.length<=0) {
                        AppTools.Alert("请输入概述");
                        return;
                    }
                }

                if (Content == undefined || Content.length <= 0) {
                    AppTools.Alert("请输入简介");
                    return;
                }


                //Base64加密
                var b = new Base64();
                Content = b.encode(Content);

                $('#saveBtn').attr('disabled', "true");

                $('#loadModal').modal('show');
                $.post('/officialweb/AddOrEdit',
                    {
                        Id: keyid,
                        appId: appId,
                        Level: Level,
                        Content: Content,
                        Content2: Content2,
                        ImgUrl: ImgUrl,
                        Title: title,
                        State: 1,
                        isdecode:true,
                    },
                    function (data) {
                        if(data.Success)
                        {
                            if (@ViewBag.Level == 8)
                            {
                                window.location.href="/officialweb/ModelData?Id=@ViewBag.rappId&storename=@ViewBag.Title&Level=8";
                            }
                            else
                            {
                                window.location.href="/officialweb/ModelData?Id=@ViewBag.rappId&storename=@ViewBag.Title&Level=5";
                            }
                        }
                        else{
                            AppTools.Alert(data.Message);
                            $('#loadModal').modal('hide');
                            $('#saveBtn').removeAttr('disabled');
                        }

                    });
            }
            // #endregion
        });
    </script>
}
