@using Entity.MiniApp.Conf
@model List<UserXcxTemplate>
@{
    ViewBag.Title = "小程序模板中心";
    ViewBag.PageType = 1;//1是行业版同城，用于母版页的左侧菜单区分
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
}
<style>
    table th {
        text-align: center;
    }

    td {
        word-break: break-all;
        word-wrap: break-word;
    }

    table tr td, th {
        vertical-align: middle;
    }

    img {
        max-width: 100%;
    }
</style>
<input type="hidden" id="CName_Hidden" value="小程序" />
<ul id="myTab" class="nav nav-tabs">
    <li onclick="location.href='/officialweb/XcxManageIndex?Id=@(ViewBag.rappId)&Active=1'"><a href="" data-toggle="tab">小程序模板</a></li>
    <li class="active"><a href="#incomelistTab" data-toggle="tab">小程序中心</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    @*小程序中心*@
    <div class="tab-pane fade @(ViewBag.Active==2?"in active":"")" id="incomelistTab2">
        <div class="panel-body">
            <div class="form-inline form-group">
                @if (ViewBag.AuthodUrl != null && ViewBag.AuthodUrl != "")
                {
                    <a target="_blank" class="btn btn-primary" href="@ViewBag.AuthodUrl">进入授权页</a>
                }
            </div>
        </div>

        <table class="table table-condensed table-bordered table-hover fontSize12 fontFamilyYahei">
            <tr class="text-center">
                <th style="width: 30px;">#</th>
                <th style="width: 14%;">小程序名称</th>
                <th style="width: 14%;">模板名称</th>
                <th style="width: 14%;">版本</th>
                <th style="width: 17%;">简介</th>
                <th style="width: 17%;">原因</th>
                <th style="width: 17%;">微信小程序状态</th>
                <th style="width: 17%;">修改时间</th>
                @*<th style="width: 17%;">操作</th>*@
            </tr>
            @{ var index = 0; }
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    if (item == null)
                    {
                        continue;
                    }
                    <tr>
                        <td>@( ++index)</td>
                        <td>@item.XName</td>
                        <td>@item.TName</td>
                        <td>@item.Version</td>
                        <td>@item.Desc</td>
                        <td>@item.Reason</td>
                        <td>@(Enum.GetName(typeof(C_Enums.XcxTypeEnum), item.State))</td>
                        <td>@item.UpdateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        @*<td>
                            <a style="margin-top: 5px;" href="javascript:;" class="btn btn-primary btn-xs temp-btn-setstore" id="uploadcode" data-itemid="@(item.Id)">
                                <span class="glyphicon glyphicon-edit"></span>
                                重新上传
                            </a>
                            <a style="margin-top: 5px;" href="javascript:;" class="btn btn-danger btn-xs temp-btn-setstore" id="del" data-itemid="@(item.Id)">
                                <span class="glyphicon glyphicon-remove"></span>
                                删除
                            </a>
                                                </td>*@
                    </tr>
                }
            }

        </table>
    </div>
</div>

<script>
    $(function () {

        $("#uploadcode").click(function () {
            var itemid = $(this).data("itemid");
            layer.open({
                title: '上传代码',
                btn: ["确定", "取消"],
                content: "确定重新上传小程序模板？",
                yes: function () {

                    $.ajax({
                        type: "Get",
                        url: "/XcxManage/ReUploadCode?id=@ViewBag.cityInfoId&userid=" + itemid,
                        success: function (data) {
                            alert(data.msg);
                            if (data.isok == 1) {
                                location.reload(true);
                            }
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                },
                no: function () { layer.closeAll(); },
                cancel: function () {
                    layer.closeAll();
                },
                success: function () {
                }
            });
        });

        $("#del").click(function () {
            var itemid = $(this).data("itemid");
            layer.open({
                title: '删除模板',
                content: "确定删除该模板？",
                btn: ["确定", "取消"],
                yes: function () {
                    $.post('/XcxManage/DelUserXcxTemplate',
            {
                Id: itemid,
            },
            function (data) {
                AppTools.Notify(data.msg);
                location.reload(true);
            });
                },
                no: function () { layer.closeAll(); },
                cancel: function () {
                    layer.closeAll();
                }
            });
        });
    })

</script>


