
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="nav-item start open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">点赞官网小程序数据管理</span>
                    <span class="selected"></span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu" style="display: block;">
                    <li class="nav-item start @(ViewBag.Title== "列表" ? " active":string.Empty)">
                        <a href="/gw/index?appId=@ViewBag.Id" class="nav-link">
                            <i class="glyphicon glyphicon-barcode"></i>
                            <span class="title">列表</span>
                        </a>
                    </li>
                    <li class="nav-item start @(ViewBag.Title== "排行榜" ? " active":string.Empty)">
                        <a href="/gw/RangeList?appId=@ViewBag.Id" class="nav-link">
                            <i class="icon-bar-chart"></i>
                            <span class="title">排行榜</span>
                        </a>
                    </li>
                    <li class="nav-item start @(ViewBag.Title== "新闻资讯" ? " active":string.Empty)">
                        <a href="/gw/NewsList?appId=@ViewBag.Id" class="nav-link">
                            <i class="glyphicon glyphicon-tasks"></i>
                            <span class="title">新闻资讯</span>
                        </a>
                    </li>
                    <li class="nav-item start @(ViewBag.Title== "深度观点" ? " active":string.Empty)">
                        <a href="/gw/NewsList?appId=@ViewBag.Id&Type=1" class="nav-link">
                            <i class="glyphicon glyphicon-bullhorn"></i>
                            <span class="title">深度观点</span>
                        </a>
                    </li>
                    <li class="nav-item start @(ViewBag.Title== "日志管理" ? " active":string.Empty)">
                        <a href="/gw/ExceptionLog?appId=@ViewBag.Id&Type=1" class="nav-link">
                            <i class="glyphicon glyphicon-comment"></i>
                            <span class="title">日志管理</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>


