@model EditModel<DishGood>
@{
    ViewBag.Title = "GoodEdit";
    Layout = "~/Areas/DishAdmin/Views/Shared/_LayoutDishAdmin.cshtml";
}

<div class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <input type="hidden" name="act" value="edit" />
        <input type="hidden" name="id" value="@(Model.DataModel.id)" />
        <input type="hidden" name="aid" value="@(Model.aId)" />
        <input type="hidden" name="storeId" value="@(Model.storeId)" />
        <div id="tab-system" class="HuiTab">
            <div class="tabBar cl">
                <span>基本信息</span>
                <span>商品属性</span>
            </div>
            <div class="tabCon">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        人气值：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="g_renqi" placeholder="1" value="@(Model.DataModel.g_renqi)" class="input-text">
                        <div class="dish_m_tips">人气值大于20时显示人气商品</div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        商品名称：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="g_name" placeholder="控制在25个字以内" value="@(Model.DataModel.g_name)" class="input-text">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        商品分类：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <select name="cate_id" class="select">
                            <option value="">请选择</option>
                            @if (ViewBag.dishCategoryList != null)
                            {
                                foreach (var item in ViewBag.dishCategoryList)
                                {
                                    <option value="@(item.id)" @(Model.DataModel.cate_id == item.id ? "selected" : "")>@(item.title)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        打印标签：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <select name="g_print_tag" class="select">
                            <option value="0">请选择</option>
                            @if (ViewBag.dishPrintTagList != null)
                            {
                                foreach (DishTag item in ViewBag.dishPrintTagList)
                                {
                                    <option value="@item.id" @(Model.DataModel.g_print_tag == item.id ? "selected" : "")>@item.name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        商品图片：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <div class="controls">
                            <div class="controls uploadrow2" data-max="1" title="点击修改图片" rel="img">
                                <input type="hidden" name="img" id="cover_id_img" value="@(Model.DataModel.img)">
                                <div class="upload-img-box">
                                    @if (!string.IsNullOrEmpty(Model.DataModel.img))
                                    {
                                        <div class="upload-pre-item2">
                                            <img src="@(Model.DataModel.img)" width="100" height="100">
                                            <em class="edit_img_icon"> </em>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        是否外卖：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                        <div class="radio-box">
                            <input name="is_waimai" value="1" type="radio" @(Model.DataModel.is_waimai == 1 ? "checked" : "")>
                            <label for="is_waimai-1">是</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" value="0" name="is_waimai" @(Model.DataModel.is_waimai == 0 ? "checked" : "")>
                            <label for="is_waimai-2">否</label>
                        </div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        商品价格：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="shop_price" placeholder="0.00" value="@(Model.DataModel.shop_price)" class="input-text">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        商品原价：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="market_price" placeholder="0.00" value="@(Model.DataModel.market_price)" class="input-text">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        打包费：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="dabao_price" placeholder="0" value="@(Model.DataModel.dabao_price)" class="input-text">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        每日库存：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="day_kucun" placeholder="0" value="@(Model.DataModel.day_kucun)" class="input-text" style="width: 150px;">
                        <div class="dish_m_tips">每日按库存量销售，售完即止，第二天重新恢复，设置为-1表示不限制</div>
                    </div>
                </div>
                <!--<div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        今日已售：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="sale_day_num" placeholder="" value="0" class="input-text" style="width: 200px;">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        总销量：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="sale_all_num" placeholder="" value="0" class="input-text" style="width: 200px;">
                    </div>
                </div>-->
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        月销量：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="yue_xiaoliang" placeholder="" value="@(Model.DataModel.yue_xiaoliang)" class="input-text" style="width: 200px;">
                        <div class="dish_m_tips">可以自定义，0表示由系统自动统计</div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        商品描述：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <textarea name="g_description" placeholder="商品描述..." style="width:700px; height:200px;">@(Html.Raw(Model.DataModel.g_description))</textarea>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        商品单位：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="g_danwei" placeholder="份" value="@(Model.DataModel.g_danwei)" class="input-text" style="width: 200px;">
                        <div class="dish_m_tips">份、斤、半斤、个 等</div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        是否上架：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                        <div class="radio-box">
                            <input name="state" value="1" type="radio" @(Model.DataModel.state == 1 ? "checked" : "")>
                            <label for="is_shangjia-1">上架</label>
                        </div>
                        <div class="radio-box">
                            <input name="state" value="0" type="radio" @(Model.DataModel.state == 0 ? "checked" : "")>
                            <label for="is_shangjia-2">下架</label>
                        </div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        排序：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="is_order" placeholder="99" value="@(Model.DataModel.is_order)" class="input-text" style="width: 500px;">
                        <div class="dish_m_tips">数字越小越靠前</div>
                    </div>
                </div>
            </div>
            <style type="text/css">
                #attrTable .label { background-color: #fff; color: #000; }
            </style>
            <div class="tabCon">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        商品类型
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <select name="goods_type" onChange="getAttrList(this.value)" class="select">
                            <option value="0">请选择</option>
                            @if (ViewBag.dishAttrTypeList != null)
                            {
                                foreach (var item in ViewBag.dishAttrTypeList)
                                {
                                    <option value="@(item.id)" @(Model.DataModel.goods_type == item.id ? "selected" : "")>@(item.cat_name)</option>
                                }
                            }
                        </select>
                        <table class="table table-border table-bordered table-bg table-hover table-sort" id="attrTable"></table>
                        <div class="dish_m_tips">
                            如果有重复属性，将只保存第一个<br />
                            注意：多规格产品价格=规格1价格+规格2价格+规格3价格...  选多个规格时，价格是累加的
                        </div>

                    </div>
                    <br />
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit" id="submit_button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button class="btn btn-default radius" id="cancel_button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>


@section scripts{
    <!--如果需要图片上传-->
    <script src="~/Areas/DishAdmin/lib/jquery.dragsort-0.5.2.min.js"></script>
    <script src="~/Areas/DishAdmin/lib/dialog.js"></script>
    <script src="~/Areas/DishAdmin/lib/admin_common.js"></script>

    <script>
        var UPLOAD_URL = "/tools/UpLoadImgFrm?appId=@(Model.aId)&storeId=@(Model.storeId)&multi_selection=0&frontMethod=1&maxImgSize=1&objType=1";
        $(function () {
            //初始化上传图片插件
            initUploadImg();
        });
    </script>


    <script src="@(WebSiteConfig.cdnurl)js/ueditor1_4_3_3-utf8-net/utf8-net/ueditor.config.js"></script>
    <script src="@(WebSiteConfig.cdnurl)js/ueditor1_4_3_3-utf8-net/utf8-net/ueditor.all.min.js"></script>
    <script type="text/javascript">
        var comeditor = null;
        $(function () {
            $("#cancel_button").click(function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
                return;
            });

            $('textarea[name="g_description"]').attr('id', 'editor_id_g_description');
            if (comeditor != null) {
                comeditor.reset();
            }

            var mytoolbars = [[
                'source', 'removeformat', 'formatmatch', '|',
                'fontsize', 'fullscreen', '|',
                'bold', 'italic', 'underline', 'forecolor', 'backcolor', '|',
                'indent', 'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|',
                'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
                'insertunorderedlist', 'insertorderedlist', '|',
                'simpleupload', 'insertimage',
            ]];
            //编辑器
            comeditor = UE.getEditor('editor_id_g_description', {
                toolbars: [
                    ['source', '|', 'undo', 'redo', '|', 'bold', ' italic', ' underline', 'strikethrough', '|', 'forecolor', 'backcolor', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify'],
                    ['simpleupload', 'insertimage', 'insertvideo', 'paragraph', 'fontsize', ' |', 'insertorderedlist', 'insertunorderedlist', 'horizontal', 'autotypeset', 'pasteplain']
                ],
                imageUrl: "/Upload/Image?cityid=" + 1088,
                autoHeight: true
            });
            comeditor.ready(function () {
                //comeditor.setContent(that.p.description);
            });
            comeditor.addListener("contentChange", function () {
                //if (comeditor != null) {
                //    that.p.description = comeditor.getContent();
                //}
            });


            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });
            $("#tab-system").Huitab("#tab-system .tabBar span", "#tab-system .tabCon", "current", "click", "0")

            if ('@(Model.DataModel.id)' > 0) {
                getAttrList(@(Model.DataModel.goods_type));
            }

            //表单验证
            $("#form-article-add").validate({
                rules: {
                    g_renqi: {
                        digits: true,
                        min:1,
                    },
                    g_name: {
                        required: true,
                        minlength: 2
                    },
                    shop_price: {
                        required: true,
                        min:0,
                    },
                    market_price: {
                        required: true,
                    },
                    cate_id: {
                        required: true
                    },
                    g_description: {
                        required: true
                    },
                    is_order: {
                        digits: true,
                    },
                    img: {
                        required: true,
                    },
                    dabao_price: {
                        min: 0,
                    },
                    yue_xiaoliang: {
                        min: 0,
                    }
                },
                onkeyup: false,
                //focusCleanup: true,
                success: "valid",
                submitHandler: function (form) {   //表单提交句柄,为一回调函数，带一个参数：form
                    var l_index = layer.msg('@(Model.DataModel.id==0?"数据添加中": "数据更新中")', {
                        icon: 16,
                        shade: 0.5
                    });
                    $("#submit_button").attr("disabled", true);
                    $(form).ajaxSubmit({
                        type: 'post',
                        dataType: "json",
                        success: function (data) {
                            $("#submit_button").attr("disabled", false);
                            layer.close(l_index);
                            if (data.code == 0) {
                                layer.alert(data.msg, { icon: 0 });
                            } else {
                                layer.alert(data.msg, { icon: 1 }, function (index) {
                                    parent.layer.close(index);
                                    parent.location.reload();
                                });
                            }
                        }
                    });
                }
            });

        });
        function getAttrList(cat_id) {
            $.ajax({
                type: "POST",
                data: { goods_type: cat_id, goods_id: @(Model.DataModel.id), aid: @(Model.aId), storeid: @(Model.storeId) },
                dataType: "html",
                url: "/DishAdmin/Dish/GetAttrList",
                success: function (data) {
                    $("#attrTable").html(data);
                }
            })
        }
        var Browser = new Object();

        Browser.isMozilla = (typeof document.implementation != 'undefined') && (typeof document.implementation.createDocument != 'undefined') && (typeof HTMLDocument != 'undefined');
        Browser.isIE = window.ActiveXObject ? true : false;
        Browser.isFirefox = (navigator.userAgent.toLowerCase().indexOf("firefox") != - 1);
        Browser.isSafari = (navigator.userAgent.toLowerCase().indexOf("safari") != - 1);
        Browser.isOpera = (navigator.userAgent.toLowerCase().indexOf("opera") != - 1);

        function rowindex(tr) {
            if (Browser.isIE) {
                return tr.rowIndex;
            }
            else {
                table = tr.parentNode.parentNode;
                for (i = 0; i < table.rows.length; i++) {
                    if (table.rows[i] == tr) {
                        return i;
                    }
                }
            }
        }

        function addSpec(obj) {
            var src = obj.parentNode.parentNode;
            var idx = rowindex(src);//$("#attrTable tr").length - 1;
            var tbl = document.getElementById('attrTable');
            var row = tbl.insertRow(idx + 1);
            var cell1 = row.insertCell(-1);
            var cell2 = row.insertCell(-1);
            var regx = /<a([^>]+)<\/a>/i;

            var rownum = $("#attrTable tr").length-1 ;
            //cell1.className = 'label';
            cell1.innerHTML = $(src).find("td").eq(0).html().replace(/(.*)(addSpec)(.*)(\[)(\+)/i, "$1removeSpec$3$4-").replace(/(attr\[)(\d)(\]\.)/gim, "$1" + (rownum) + "$3");
            cell2.innerHTML = $(src).find("td").eq(1).html().replace(/readOnly([^\s|>]*)/i, '').replace(/(attr\[)(\d+)(\]\.)/gim, "$1" + (rownum) + "$3");
            $("input:hidden[name='attr[" + rownum + "].id']").attr("value","0");
        }
        function removeSpec(obj) {
            var row = rowindex(obj.parentNode.parentNode);
            var tbl = document.getElementById('attrTable');
            tbl.deleteRow(row);

            $("#attrTable tr").each(function(i,o){
              $(o).find("td").eq(1).html($(o).find("td").eq(1).html().replace(/readOnly([^\s|>]*)/i, '').replace(/(attr\[)(\d+)(\]\.)/gim, "$1" + (i) + "$3"));
            });

        }
    </script>

}
