@model ViewModel<DishGood>
@{
    ViewBag.Title = "Goods";
    Layout = "~/Areas/DishAdmin/Views/Shared/_LayoutDishAdmin.cshtml";
}

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 数据管理 <span class="c-gray en">&gt;</span> 商品管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        <form method="get" class="search-form" action="/DishAdmin/Dish/Goods">
            <input type="hidden" name="aid" value="@(Model.aId)" />
            <input type="hidden" name="storeId" value="@(Model.storeId)" />
            <input type="hidden" name="pageSize" value="@(Model.PageSize)" />
            <input type="hidden" name="pageIndex" value="@(Model.PageIndex)" />
            <span class="select-box inline">
                <select name="cate_id" id="s_cate_id" class="select">
                    <option value="0">全部</option>
                    @if (ViewBag.dishCategoryList != null)
                    {
                        foreach (DishCategory item in ViewBag.dishCategoryList)
                        {
                            <option value="@(item.id)" @(Utility.IO.Context.GetRequestInt("cate_id", 0) == item.id ? "selected" : "")>@(item.title)</option>
                        }
                    }
                </select>
            </span>
            <input type="text" name="kw" id="kw" placeholder="商品名称" value="@(Utility.IO.Context.GetRequest("kw",""))" style="width:250px" class="input-text">
            <button name="" id="search" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a onclick="batch_sort()" href="javascript:void(0);" class="btn btn-secondary radius"><i class="Hui-iconfont">&#xe675;</i> 一键排序</a>
            <a class="btn btn-primary radius" onclick="goods_add('添加商品','/DishAdmin/Dish/GoodEdit?aid=@(Model.aId)&storeid=@(Model.storeId)')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加商品</a>
        </span>
        <span class="r">共有数据：<strong>@Model.TotalCount</strong> 条</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
                <tr class="text-c">
                    <th width="25">排序</th>
                    <th width="80">序号</th>
                    <th width="300">商品名称</th>
                    <th width="80">分类</th>
                    <th width="80">价格</th>
                    <th width="120">每日库存</th>
                    @*<th width="60">总销量</th>*@
                    <th width="60">是否上架</th>
                    <th width="120">操作</th>
                </tr>
            </thead>
            @if (Model.DataList != null && Model.DataList.Count() > 0)
            {
                <tbody>
                    @foreach (DishGood item in Model.DataList)
                    {
                        <tr class="text-c">
                            <td class="td-status"><input type="text" name="is_order[]" value="@(item.is_order)" data-id="@(item.id)" data-pre="@(item.is_order)" class="input-text is_order_val" style="width: 100px;" /></td>
                            <td>@(item.id)</td>
                            <td class="text-l"><img src="@(item.img)" width="40" height="40" style="border:1px solid #eeeeee;" /> @(item.g_name)</td>
                            <td>@(item.cat_name)</td>
                            <td>@(item.shop_price)</td>
                            <td>
                                @if (item.day_kucun == -1)
                                {
                                    <span class="label radius">未启用</span>
                                }
                                else
                                {
                                    @(item.day_kucun)
                                }
                            </td>
                            @*<td>@(item.sale_all_num)</td>*@
                            <td>
                                @if (item.state == 1)
                                {
                                    <span class="label label-success radius">已上架</span>
                                }
                                else if (item.state == 0)
                                {
                                    <span class="label radius">已下架</span>
                                }

                            </td>
                            <td class="f-14 td-manage">
                                <a style="text-decoration:none" class="btn btn-primary radius size-MINI" onclick="goods_edit('编辑商品','/DishAdmin/Dish/GoodEdit?aid=@(item.aId)&storeid=@(item.storeId)&id=@(item.id)')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i> 编辑</a>
                                <a style="text-decoration:none" class="btn btn-danger radius size-MINI del" data-id="@(item.id)" title="删除"><i class="Hui-iconfont">&#xe6e2;</i> 删除</a>
                            </td>
                        </tr>
                    }
                </tbody>
            }

        </table>
        @if (Model.TotalCount > Model.PageSize)
        {
            <div class="page">
                @MvcPager.Pager(Html, "pageIndex", Model.PageSize, Model.TotalCount)
            </div>
        }
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        /*添加*/
        function goods_add(title, url) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }
        /*编辑*/
        function goods_edit(title, url, id) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }
        /*删除*/
        function article_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: '?act=del&aId=@(Model.aId)&storeId=@(Model.storeId)',
                    dataType: 'json',
                    success: function (data) {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', { icon: 1, time: 1000 });
                    },
                    error: function (data) {
                        console.log(data.msg);
                    },
                });
            });
        }

        /*下架*/
        function article_stop(obj, id) {
            layer.confirm('确认要下架吗？', function (index) {
                $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
                $(obj).remove();
                layer.msg('已下架!', { icon: 5, time: 1000 });
            });
        }
        function batch_sort() {

            var sort_data = [];
            $(".is_order_val").each(function () {
                var sort_item = $(this);
                if (sort_item.data("pre") != sort_item.val()) {
                    sort_data.push(sort_item.data("id") + "_" + sort_item.val());
                }
            })
            if (sort_data.length <= 0) {
                layer.msg('没有检测到要修改的行')
                return;
            }
            var l_index = layer.msg('数据提交中', {
                icon: 16,
                shade: 0.5
            });
            $.ajax({
                type: "POST",
                url: "/DishAdmin/Dish/Goods?act=sort",
                data: { sortData: sort_data.join(","), t: Math.random(),storeId:@(Model.storeId) },
                dataType: "json",
                success: function (data) {
                    layer.close(l_index);
                    if (data.code == 1) {
                        layer.alert(data.msg, { icon: 1 }, function (index) {
                            window.location.reload();
                        });
                    } else {
                        layer.msg(data.msg, { time: 1500 });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.close(l_index);
                    layer.alert('系统错误，请重试', { icon: 5 });
                }
            });
        }
        $(function () {

            //回车自动提交
            $('.search-form').find('input').keyup(function (event) {
                if (event.keyCode === 13) {
                    $("#search").click();
                }
            });

            $(".del").on("click", function (e) {
                var id = $(this).data("id");
                if (confirm('确定要删除吗?')) {
                    $.ajax({
                        type: "POST",
                        url: "?act=del&aid=@(Model.aId)&storeId=@(Model.storeId)",
                        data: { act: 'del', id: id, t: Math.random() },
                        dataType: "json",
                        success: function (data) {
                            if (data.code == 1) {
                                layer.msg(data.msg, { time: 2000 }, function () {
                                    window.location.reload();
                                });
                            } else {
                                layer.msg(data.msg, { time: 2000 });
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            layer.alert('系统错误，请重试', { icon: 5 });
                        }
                    });

                }
            })
        })
    </script>

}