@{
    Layout = null;
    string menuFirstName = "首页";
    if (ViewBag.menuFirstName != null && !string.IsNullOrEmpty(ViewBag.menuFirstName))
    {
        menuFirstName = ViewBag.menuFirstName;
    }
    if (string.IsNullOrEmpty(ViewBag.Description))
    {
        ViewBag.Description = "小未程序,专注微信小程序开发平台,无需懂代码,0门槛,拖拽可视化组件即可完成,帮助千万商户一键生成微信小程序，让您把握9亿微信用户的流量红利，现火爆招小程序代理商中，小程序代理，小程序招商，小程序加盟。";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="baidu-site-verification" content="wQlG5leAPG" />
    <meta name="sogou_site_verification" content="qVbXpV2628" />
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="Cache-Control" content="max-age=1800" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="小程序,微信小程序,小程序代理,小程序加盟,小程序招商,小程序开发代理,小未程序代理,小程序定制,小程序平台,小程序开发,小程序制作,小程序工具,微信小程序开发,微信小程序定制,微信小程序代理" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="@(WebSiteConfig.cdnurl)content/newhome/image/bitbug_favicon.ico">
    <link href="@(WebSiteConfig.cdnurl)content/newhome/lib/swiper-4.3.3.min.css" rel="stylesheet" />
    <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/jquery.min.js"></script>
    <script>
        $(function () {
            function fontSize() {
                var deviceWidth = $(document).width();
                if (deviceWidth > 1920) {
                    deviceWidth = 1920;
                    //console.log(deviceWidth);
                }
                var fontSize = deviceWidth / 19.2;
                $("html").css("fontSize", fontSize);
                //console.log(fontSize)
            }
            fontSize();
            $(window).resize(function () {
                fontSize();
            });
            document.body.style.display = "block"
        })
    </script>
    @if (WebSiteConfig.Environment == "pro")
    {
        <link href="@(WebSiteConfig.cdnurl)content/newhome/css/dzbase.css?@(WebSiteConfig.cdnVersion)" rel="stylesheet" />
        <link href="@(WebSiteConfig.cdnurl)content/newhome/css/app.css?@(WebSiteConfig.cdnVersion)" rel="stylesheet" />
    }
    else
    {
        <link href="/Content/newhome/css/dzbase.css" rel="stylesheet" />
        <link href="/Content/newhome/css/app.css" rel="stylesheet" />
    }

    @RenderSection("cssSection", false)

    <!--[if lt IE 9]>
    <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/html5shiv/html5shiv.min.js"></script>
    <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/respond/respond.min.js"></script>
    <![endif]-->


</head>
<body style="position:relative;display:none;">
    <div class="content f fv fc ">
        @* 导航条 *@
        <nav class="f fc" id="top">
            <div id="iconHome" class="icon-home f fc fc-h">
                <a href="/"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/icon-home-green.png?@(WebSiteConfig.cdnVersion)"></a>
            </div>
            <ul class="f fc-h fc" id="nav">
                <li id="home">
                    <a href="/" class="nav-active">@menuFirstName</a>
                </li>
                <li id="newRetail" style="width:1.6rem;">
                    <a href="/dzhome/pinxianghui">拼享惠代理加盟</a>
                    <!--产品中心扩展-->
                    @*<div class="pro-show">
                            <ul class="pro-ul f fc">
                                <li class="mgl650">
                                    <a id="pinxianghui" class="current-navItem" href="/dzhome/pinxianghui">拼享惠</a>
                                    <a id="retail" class="current-navItem " href="/dzhome/retail">按了吗</a>
                                </li>
                            </ul>
                        </div>*@
                    <!--产品中心扩展-->
                </li>
                <li id="videos">
                    <a href="/dzhome/videoList">大树视频</a>
                </li>
                <li id="center">
                    @*<a href="/dzhome/productCenter" style="{'color':IsInArray(productOP,url)?'#FFF':''}">产品中心</a>*@
                    <a href="/dzhome/productCenter">产品中心</a>
                    <!--产品中心扩展-->
                    <div class="pro-show">
                        <ul class="pro-ul f fc">
                            <li class="mgl850">
                                <a id="solution" class="current-navItem " href="/dzhome/solution">行业解决方案</a>
                                <a id="templateMarket" class="current-navItem" href="/dzhome/templateMarket">小程序模板市场</a>
                            </li>
                        </ul>
                    </div>
                    <!--产品中心扩展-->
                </li>
                <li id="case">
                    <a href="/dzhome/productCase">案 例</a>
                </li>
                @*<li id="shop">
                        <a href="/dzhome/miniAppShop">小程序商店</a>
                    </li>*@
                <li id="about">
                    <a href="/dzhome/about">关于我们</a>
                </li>
            </ul>
            <div id="navRight" class="right f fc-h">
                <div class="Login-module f fc-h" style="display:none" id="nologin">
                    <div class="reg">
                        <a href="/dzhome/wxReg">注册</a>
                    </div>
                    <div class="login">
                        <a href="/dzhome/login">登录</a>
                    </div>
                </div>
                @* 已登录状态 *@
                <div class="agent f fc f1 " style="display:none" id="logined">
                    @*@if (Request.Url.ToString().IndexOf("/dzhome/pinxianghui") != -1)
                        {
                            <a href="">注册</a>
                            <a href="">登陆</a>
                        }
                        else
                        {*@
                    <!--代理商后台按钮-->
                    <div class="btn-backstage" id="showagent">
                        @if (ViewBag.PageType == 0)
                        {
                            <a href="/agentmanager/index" class="fp-font-white">进入代理商后台</a>
                        }
                        else
                        {
                            <a href="/dzhome/casetemplate" class="fp-font-white">进入小程序后台</a>
                        }
                    </div>
                    <div class="personal f  fc">
                        <div id="touxiang" class="touxiang f fv fc-h rel cp" title="用户">
                            <img src="@(WebSiteConfig.cdnurl)content/newhome/image/touxiang.png?@(WebSiteConfig.cdnVersion)">
                            <div class="user-setting">
                                <div class="user-setting-content f fv fc">
                                    <div class="user-headshot"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/touxiang.png?@(WebSiteConfig.cdnVersion)" /></div>
                                    <div class="setting-item f fc t-b">
                                        <div class="user-msg">账号：</div>
                                        <div class="user-value" id="userloginid"></div>
                                    </div>
                                    <div class="setting-item f fc">
                                        <div class="user-msg">密码：</div>
                                        <div class="user-value">
                                            ********
                                            <a href="javascript:;" class="user" data-type="3">修改</a>
                                        </div>
                                    </div>
                                    <div class="setting-item f fc">
                                        <div class="user-msg nowrap">手机号：</div>
                                        <div class="user-value">
                                            <span id="userphone">没有绑定手机号</span>
                                            <a href="javascript:;" class="user" data-type="1" id="updatephone">绑定</a>
                                        </div>
                                    </div>
                                    <div class="setting-item f fc" id="agentauthodbox">
                                        <div class="user-msg nowrap">授权码：</div>
                                        <div class="user-value" id="agentauthod"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="person-id cp" id="editphone" title="手机号">未绑定</span>
                        @*<a href="javascript:;" class="query" id="query"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/help.png" /></a>*@
                        <a id="exit" href="javascript:;" class="setting f fc" title="退出"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/setting.png?@(WebSiteConfig.cdnVersion)" style="margin: 0 auto" /></a>
                        <div class="sysmsg-box f fc" style="height: 100%;" id="sysmsg">
                            <div class="sysmsg-img f fc rel">
                                <img src="@(WebSiteConfig.cdnurl)content/images/sysmsg.png?@(WebSiteConfig.cdnVersion)" />
                                <i class="sysmsg" style="display:none;"></i>
                            </div>
                            <div class="sysmsg-setting" style="display:none;">
                                <div class="sysmsg-title fz-14">
                                    <div style="display: inline;">通知</div>
                                    <div class="allreadclick">全部已读</div>
                                </div>
                                <div id="sysmsg_content">
                                    @*通知内容*@
                                </div>
                                <div class="sysmsg-bottom fz-14 tc">
                                    <a href="/dzhome/SystemMessageList">前往消息中心</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*}*@
                </div>
            </div>
        </nav>

        @RenderBody()

        <!--版权信息-->
        <footer class="footer">
            <div>
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/bottom.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
                </div>
            @*<div class="enter-keyword rel">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/keyword/bottom2.png?@(WebSiteConfig.cdnVersion)" style="display:block;" />
                <div class="text f fc">
                    <p class="fz-38 c-fff">1万个小程序名称低价转让</p>
                    <a href="/dzhome/keyword" target="_blank" class="enter-btn c-fff fz-22 tc">马上挑选</a>
                </div>
            </div>*@
            <div class="copyright-box f fv fc">
                <ul class="copyright-title-list f fj ">
                    <li class="rv">
                        <p class="copyright-title">公司</p>
                        <ul class="copyright-details-list">
                            <li><a href="/">首页</a></li>
                            <li><a href="/dzhome/about">关于我们</a></li>
                            @*<li><a href="/dzhome/home">代理招商</a></li>*@
                        </ul>
                    </li>
                    <li class="rv">
                        <p class="copyright-title">产品</p>
                        <ul class="copyright-details-list">
                            <li><a href="/dzhome/templateMarket#4">单页版</a></li>
                            <li><a href="/dzhome/templateMarket#2">企业版</a></li>
                            <li><a href="/dzhome/templateMarket#6">电商版</a></li>
                            <li><a href="/dzhome/templateMarket#18">餐饮版</a></li>
                            <li><a href="/dzhome/templateMarket#27">行业版</a></li>
                            <li><a href="/dzhome/templateMarket#37">专业版</a></li>
                        </ul>
                    </li>
                    <li class="rv">
                        <p class="copyright-title">服务</p>
                        <ul class="copyright-details-list">
                            <li><a href="/dzhome/authorization" target="_blank">代理商授权查询</a></li>
                            <li><a href="/dzhome/wxReg" target="_blank" class="cp">免费试用</a></li>
                            <li><span class="btn_gotobuy cp">预约了解</span></li>
                            <li><span class="btn_payment cp">打款说明</span></li>
                        </ul>
                    </li>
                    <li class="rv">
                        <p class="copyright-title">友情链接</p>
                        <ul class="copyright-details-list">
                            @*<li><a href="https://mp.weixin.qq.com/" target="_blank">微信公众平台</a></li>
                                <li><a href="https://mp.weixin.qq.com/cgi-bin/wx" target="_blank">微信小程序</a></li>*@
                            <li><a href="https://www.vzan.com/" target="_blank">微赞</a></li>
                            <li><a href="http://www.555westore.com/" target="_blank">小程序应用商店</a></li>
                            <li><a href="http://www.qingyy.net" target="_blank">小程序商店</a></li>
                            <li><a href="http://www.xiaochengxuwang.cn" target="_blank">小程序</a></li>
                            <li><a href="http://www.wxappclub.com" target="_blank">微信小程序社区</a></li>
                        </ul>
                    </li>
                    <li class="rv cp">
                        <p class="copyright-title">了解小未</p>
                        <div class="wx-like">
                            <img src="@(WebSiteConfig.cdnurl)content/newhome/image/footerCode.jpg" />
                        </div>
                        <p class="tc">扫一扫关注</p>
                    </li>
                    <li class="rv">
                        <p class="copyright-title">联系我们</p>
                        <ul class="copyright-details-list">
                            <li>18680288930</li>
                            <li class="address"><a href="http://j.map.baidu.com/ro7mN" target="_blank">广州市天河区林和东路天安人寿中心27楼全层</a></li>
                        </ul>
                    </li>
                </ul>
                <p class="copyright tc">
                    Copyright &copy; 2017 All Rights Reserved 广州点赞科技有限公司 版权所有
                    <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备17161852号-1</a>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;投资有风险 选择需谨慎 </span>
                </p>
            </div>
        </footer>
    </div>
    <!--右侧浮动按键-->
    <section class="right-list cp">
        <div id="btn_top" class="right-item pdy10 top">
            <img src="@(WebSiteConfig.cdnurl)content/newhome/image/newhome/backtoTop.png?@(WebSiteConfig.cdnVersion)" />
            <p>回到顶部</p>
        </div>
        <div class="right-item pd10 middle f fv fc">
            <p class="item-line c-333 pdy10 rel t-b">电话咨询</p>
            <p class="pdy10 t-b fz-28">大树</p>
            <p class="c-666">(小未程序创始人)</p>
            <p id="dsNum" class="fz-26 pdy10 t-b">186 8028 8930</p>
            <img id="rListCode" src="@(WebSiteConfig.cdnurl)content/newhome/image/newhome/right-list-code07.png?@(WebSiteConfig.cdnVersion)" />
            <p class="c-666 pdy10">扫码加微信</p>
        </div>
        <img id="freeBuild" class="bottom" data-rightList="rightList" src="@(WebSiteConfig.cdnurl)content/newhome/image/newhome/create-free.gif?@(WebSiteConfig.cdnVersion)" />
    </section>
    <!-- 蒙板弹窗 -->
    <div class="popup-box f fc fc-h" style="display:none;" id="templatemodel" data-children="">
        @* 1-修改手机号、绑定手机号、先绑定手机号*@
        <div class="change-phone-new stopevent" style="display:none;" id="updatephonediv">
            <div class="popup-item f fv fc">
                <img class="popup-close btn-cancel" src="@(WebSiteConfig.cdnurl)content/newhome/image/popup-close.png?@(WebSiteConfig.cdnVersion)" />
                <h3 class="fz-24 c-333" id="phonetitle">修改手机号</h3>
                <div>
                    <div class="input-item f f-end">
                        <span class="input-type t-b c-333">手机号</span>
                        <input id="phone" onkeyup="this.value=this.value.replace(/[^\d]/g,'');" maxlength="11" type="text" placeholder="请输入新的手机号" />
                    </div>
                    <div class="input-item f f-end">
                        <span class="input-type t-b c-333">验证码</span>
                        <input type="text" placeholder="请输入验证码" id="code" onkeyup="this.value=this.value.replace(/[^\d]/g,'');" maxlength="4" />
                        <div class="get-msg btnsendcode" data-type="" id="btnMsg">获取验证码</div>
                    </div>
                    <div class="btn-ok btnsave">确定</div>
                </div>
            </div>
        </div>
        @* 2-修改密码 *@
        <div class="change-phone-new stopevent" style="display:none" id="updatepwd">
            <div class="popup-item f fv fc">
                <img class="popup-close btn-cancel" src="@(WebSiteConfig.cdnurl)content/newhome/image/popup-close.png?@(WebSiteConfig.cdnVersion)" />
                <h3 class="fz-24 c-333">修改密码</h3>
                <div>
                    <div class="input-item f f-end">
                        <span class="input-type t-b c-333">新密码</span>
                        <input type="password" id="pwd1" maxlength="20" placeholder="请设置6-20位密码" />
                    </div>
                    <div class="input-item f f-end">
                        <span class="input-type t-b c-333">重复密码</span>
                        <input type="password" id="pwd2" maxlength="20" placeholder="请再次输入密码" />
                    </div>
                    <div class="btn-ok btnupdatepwd">确定</div>
                </div>
            </div>
        </div>
        @* 3-立即报名*@
        <div id="apply" class="change-phone-new stopevent" style="display:none;">
            <div class="popup-item f fv fc">
                <img class="popup-close" src="@(WebSiteConfig.cdnurl)content/newhome/image/popup-close.png?@(WebSiteConfig.cdnVersion)" />
                <h3 class="fz-24 c-333">立即报名</h3>
                <div>
                    <div class="input-item f f-end">
                        <span class="input-type t-b c-333">姓名</span>
                        <input id="applyContacts" type="text" placeholder="请输入您的姓名" />
                    </div>
                    <div class="input-item f f-end">
                        <span class="input-type t-b c-333">手机号</span>
                        <input id="applyContactsPhone" type="text" placeholder="请输入手机号" />
                    </div>
                    <div id="btnOk" class="btn-ok" data-type="2">确定</div>
                </div>
            </div>
        </div>
        @* 免费使用（已开通）*@
        <div class="free-use free-use1 f fv fc stopevent" id="useopendtemplate" style="display:none">
            <div class="freeImg-box">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/freeUse.png" />
                <p class="fp-fontSize-14 free-use-text">您已经开通了该模板的免费试用， 去工作台看看吧！</p>
            </div>
            <p class="btn-free fp-font-white" onclick="window.location.reload();">好的</p>
        </div>
        @* 预约了解 *@
        <div class="orderNow f fv fc stopevent" id="gotobuy" style="display:none">
            <div class="popup-title">立即订购</div>
            <div class="popup-content f fv fc">
                <p class="c-333 tc">您可以通过以下方式咨询订购我们产品！</p>
                <div class="qrcode-box f fv fc">
                    <img class="qrCode" src="@(WebSiteConfig.cdnurl)content/newhome/image/newhome/right-list-code07.png?@(WebSiteConfig.cdnVersion)" />
                    <p class="wx-name">扫码加微信 </p>
                    <p class="phone-number">联系电话: <span class="fp-fontSize-12">18680288930</span></p>
                </div>
                <p class="fz-14 pdy20 c-333">或者</p>
                <p class="tc">留下您的联系方式，我们会有专人联系您！</p>
                <div class="input-item">
                    <span class="text-position icon-name">姓名：</span>
                    <input id="contacts" class="name phone-input" maxlength="50" type="text" name="name" placeholder="请输入您的称呼" />
                </div>
                <div class="input-item">
                    <span class="text-position icon-number">联系电话：</span>
                    <input id="contactsPhone" class="number phone-input" maxlength="11" onkeyup="this.value=this.value.replace(/[^\d]/g,'');" type="text" name="number" placeholder="请输入您的联系电话" />
                </div>
                <div class="btn-free" id="admintmsg">提交</div>
            </div>
            <span class="popwin-close" onclick="$('#gotobuy').hide();$('#templatemodel').hide();$(document.body).css('overflow-y', '')"></span>
        </div>
        @* 打款说明 *@
        <div id="payment" class="payment-box" style="display:none;">
            <img src="@(WebSiteConfig.cdnurl)content/newhome/image/payment.jpg" />
        </div>
    </div>
    @if (WebSiteConfig.Environment == "pro")
    {
        <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/??swiper-4.3.3.min.js,vue.min.js,vue-lazyload.js,jquery.lazyload.min.js,scrollreveal.min.js,jquery.cookie.js,Base64.js"></script>
        <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/layer-v3.1.0/layer/layer.js"></script>
        <script src="@(WebSiteConfig.cdnurl)content/newhome/js/work.js?@(WebSiteConfig.cdnVersion)" charset="utf-8"></script>
        <script src="@(WebSiteConfig.cdnurl)content/newhome/js/homeLayout.js?@(WebSiteConfig.cdnVersion)"></script>
    }
    else
    {
        <script src="http://j.vzan.cc/dz/content/newhome/lib/??swiper-4.3.3.min.js,vue-lazyload.js,jquery.lazyload.min.js,scrollreveal.min.js,jquery.cookie.js,Base64.js"></script>
        <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/vue.js"></script>
        <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/layer-v3.1.0/layer/layer.js"></script>
        <script src="/Content/newhome/js/work.js" charset="utf-8"></script>
        <script src="/Content/newhome/js/homeLayout.js"></script>
    }



    @RenderSection("script", false)
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?116505b829a661ffdd32dba65acfba77";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    @*<script>
            var _hmt = _hmt || []; (function () {
                var hm = document.createElement('script');
                hm.src = 'https://hm.baidu.com/hm.js?6d893fca3f83f3d64ee95af3a1aaa832';
                hm.async = true;
                hm.setAttribute("defer", "defer")
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>*@

</body>

</html>