@using Entity.MiniApp.User
@using BLL.MiniApp.Footbath;
@using Entity.MiniApp.Footbath

@{
    Layout = null;
    var controlName = ViewContext.RouteData.Route.GetRouteData(this.Context).Values["controller"];
    int storeId = Utility.IO.Context.GetRequestInt("storeId", 0);//门店ID
    int appId = Utility.IO.Context.GetRequestInt("appId", 0);
    //是否为总店
    bool isMainStore = true;
    switch ((int)ViewBag.PageType)
    {
        case (int)TmpType.小程序多门店模板:
            FootBath store =  FootBathBLL.SingleModel.GetModel(storeId);
            if (store == null || store.HomeId == 0)
            {
                isMainStore = true;
            }
            else
            {
                isMainStore = false;
            }
            break;
    }

    string manageType = Utility.IO.Context.GetRequest("manageType", "");

    string domain = Request.Url.Host;
    domain = domain.GetUnicodeDomain();

    if (domain.Contains(WebSiteConfig.DzWebSiteDomainExt))
    {
        //表示二级域名
        domain = domain.Replace(WebSiteConfig.DzWebSiteDomainExt, "");
    }
    if (domain.Contains("xn--"))
    {
        System.Globalization.IdnMapping idn = new System.Globalization.IdnMapping();

        domain = idn.GetUnicode(domain);
    }
    AgentWebSiteInfo agentWebSiteInfo = AgentWebSiteInfoBLL.SingleModel.GetModelByDomian(domain);
    SeoConfigModel seoConfig = new SeoConfigModel();
    if (agentWebSiteInfo != null && !string.IsNullOrEmpty(agentWebSiteInfo.seoConfig))
    {
        seoConfig = JsonConvert.DeserializeObject<SeoConfigModel>
    (agentWebSiteInfo.seoConfig);
        if (seoConfig != null)
        {
            agentWebSiteInfo.seoConfigModel = seoConfig;
        }
    }
    Request.RequestContext.RouteData.Values["agentInfo"] = agentWebSiteInfo;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>@ViewBag.Title</title>
    @if (seoConfig != null && !string.IsNullOrEmpty(seoConfig.iconImg))
    {
        <link rel="shortcut icon" href="@seoConfig.iconImg" />
    }
    else
    {
        <link rel="shortcut icon" type="image/x-icon" href="@(WebSiteConfig.cdnurl)content/newhome/image/bitbug_favicon.ico">
    }

    @if (WebSiteConfig.Environment == "pro")
    {
        <link href="@(WebSiteConfig.cdnurl)content/newhome/css/??dzbase.css,base.css?@WebSiteConfig.cdnVersion" rel="stylesheet" />
    }
    else
    {
        <link href="/Content/newhome/css/dzbase.css" rel="stylesheet" />
            <link href="/Content/newhome/css/base.css" rel="stylesheet" />
    }
    <link href="@(WebSiteConfig.cdnurl)content/assets/global/plugins/dropzone/dropzone.css" rel="stylesheet" />
    <link href="@(WebSiteConfig.cdnurl)content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="@(WebSiteConfig.cdnurl)content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />


    @if (ViewBag.PageType != 0)
    {
        <link href="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="@WebSiteConfig.MiniappZyUrl/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="@WebSiteConfig.MiniappZyUrl/css/light2.min.css" rel="stylesheet" type="text/css" id="style_color" />

        <style>
            td { word-break: break-all; word-wrap: break-word; border-top: none !important; margin: 0px 10px; }

            .width400 { width: 400px !important; }
        </style>
    }
    @if (ViewBag.PageType == (int)TmpType.小程序行业模板 ||
                ViewBag.PageType == (int)TmpType.小程序专业模板 ||
                ViewBag.PageType == (int)TmpType.小程序多门店模板)
    {
        <link href="@(WebSiteConfig.cdnurl)content/enterprise/css/main.css?@WebSiteConfig.cdnVersion" rel="stylesheet" />
    }
    @if (controlName.ToString() != "common")
    {
        <link rel="stylesheet" type="text/css" href="@WebSiteConfig.MiniappZyUrl/layui/css/layui.css?v=1" />

        }
        <!--[if lt IE 9]>
        <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/html5shiv/html5shiv.min.js"></script>
        <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/respond/respond.min.js"></script>
        <![endif]-->
        @RenderSection("css", false)


        <style>
            .contentcontainer { margin-top: 0px !important; }

            .contentcontainer li { text-align: left; }

            .rightheight { max-height: 840px; min-height: 800px !important; }

            body { background-color: #f5f5f5; font-family: "微软雅黑"; }

            a { color: #337ab7; text-decoration: none; }
            /*分页样式*/
            .page { background: #fff; padding: 0 10px; margin-top: 12px; font-size: 12px; }

            .page a { padding: 4px 10px; border: 1px solid #cce6f5; margin: 0 4px; color: #198dd2; }

            .page a:hover { background: #198dd2; color: #fff; border: 1px solid #198dd2; }

            ul.page { height: 30px !important; padding-top: 0 !important; }

            .contentcontainer { margin-top: 0px !important; }

            #dropdown > a { text-decoration: underline; font-size: 16px; color: #fff; margin-right: 20px; padding: 5px; }

            .nobr { white-space: nowrap; }

            [v-cloak] { display: none; }

            .panel-body:after, .panel-body:before { display: inline; }
        </style>

        <!--工具方法-->
        @*
            <script src="@(WebSiteConfig.cdnurl)content/enterprise/utils.js"></script>*@
        <script src="@(WebSiteConfig.cdnurl)content/enterprise/utils.js?v=@WebSiteConfig.cdnVersion"></script>
        @if (WebSiteConfig.Environment == "pro")
        {
            <script src="@WebSiteConfig.cdnurl/js/??jquery.min.js,jquery.cookie.js,vue.min.js?v=@WebSiteConfig.cdnVersion"></script>
        }
        else
        {
            <script src="@WebSiteConfig.cdnurl/js/??jquery.min.js,jquery.cookie.js,vue.js?v=@WebSiteConfig.cdnVersion"></script>
        }
        <script src="@(WebSiteConfig.cdnurl)content/jsPolyfill/Polyfill.js?v=@WebSiteConfig.cdnVersion"></script>
        <script src="@WebSiteConfig.MiniappZyUrl/layer/layer.js"></script>
        <script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootstrap/js/bootstrap.js"></script>
        <script src="@WebSiteConfig.MiniappZyUrl/layui/layui.js"></script>
        <script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/dropzone/dropzone.js?n=1234522222"></script>

        <script src="@(WebSiteConfig.cdnurl)content/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="@(WebSiteConfig.cdnurl)content/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>

        <script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootstrap-colorpicker/bootstrap-clockpicker.min.js"></script>
        <script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootbox/bootbox.min.js"></script>
        <script src="@(WebSiteConfig.cdnurl)content/assets/global/scripts/appTools.js"></script>
        <script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
        <script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    </head>
    <body>
        <a href="" id="orderalert"></a>
        <audio id="orderAlert" src="@(WebSiteConfig.cdnurl)content/music/2370.wav" hidden></audio>
        <div class="f fv fc" style="min-width:768px;max-width:1920px;margin:0 auto;">
            <nav class="nav f fc-h fc" style="background-color:#fff;">
                <div class="logo-box f fc ">

                    @if (seoConfig != null && !string.IsNullOrEmpty(seoConfig.logo))
                    {
                    <img src="@(seoConfig.logo)" class="icon-logo" id="homeleftlogo" style="height:50px;" />
                    }
                    else
                    {
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/logo-green.png" class="icon-logo" id="homeleftlogo" style="width:190px;height:60px;" />
                    }
                </div>
                <div class="agent f fc f1 " style="visibility:@(ViewBag.ishidden==null || !ViewBag.ishidden?" ":" hidden")">
                    <div class="personal f fc">
                        <!--代理商后台按钮-->
                        <div class="btn-backstage" hidden id="showagent">
                            @if (ViewBag.PageType > 0 || ViewBag.PageType == -2)
                            {
                            <a href="/dzhome/casetemplate" class="fp-font-white">进入小程序后台</a>
                            }
                            else if (ViewBag.PageType == -1)
                            {
                            @*<a href="javascript:;" onclick="login('/dzhome/casetemplate','dz_UserCookieNew')" class="fp-font-white">进入小程序后台</a>*@
                            <a href="javascript:;" onclick="CommandCookie('/dzhome/casetemplate','agentdz_UserCookieNew')" class="fp-font-white">进入小程序后台</a>
                            }
                            else
                            {
                            <a href="javascript:;" onclick="CommandCookie('/agentmanager/index','agent_UserCookieNew')" class="fp-font-white">进入代理商后台</a>
                            }
                        </div>
                        <div class="btn-backstage" hidden style="margin-left:5px;" id="experiencebtn">
                            <a href="javascript:;" onclick="Experience()" class="fp-font-white">免费开通体验</a>
                        </div>
                        <div class="btn-backstage" hidden style="margin-left:5px;" id="distributionbox">
                            <a href="/customerdistribution/CustomerDistributionUser" class="fp-font-white">推广获客情况</a>
                        </div>
                        <div id="touxiang" class="touxiang f fv fc-h" title="用户" style="cursor:pointer;">
                            <img src="@(WebSiteConfig.cdnurl)content/newhome/image/touxiang.png" style="width:100%">
                            <div class="user-setting" style="display:none;">
                                <div class="user-setting-content f fv fc">
                                    <div class="user-headshot"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/touxiang.png" /></div>
                                    <div class="setting-item">
                                        <div class="user-msg">账号：</div>
                                        <span>
                                            <label id="userloginid"></label>
                                            <a href="javascript:;" onclick="changeUserInfo()">更换账号</a>
                                        </span>
                                    </div>
                                    <div class="setting-item">
                                        <div class="user-msg">密码：</div>
                                        <span>
                                            ******<a href="javascript:;" class="user" data-type="3">修改</a>
                                        </span>
                                    </div>
                                    @*<div class="setting-item" id="agentauthodbox">
                                            <div class="user-msg">换绑：</div>
                                            <span>
                                                <a href="javascript:;" onclick="changeUserInfo()">更换账号</a>
                                            </span>
                                        </div>*@
                                    <div class="setting-item">
                                        <div class="user-msg">手机号：</div>
                                        <span>
                                            <span id="userphone">没有绑定手机号</span>
                                            <a href="javascript:;" class="user" data-type="1" id="updatephone">绑定</a>
                                        </span>
                                    </div>
                                    <div class="setting-item" id="agentauthodbox">
                                        <div class="user-msg">授权码：</div>
                                        <span id="agentauthod"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="person-id" id="editphone" title="手机号">未绑定</span>
                        @*<a href="javascript:;" class="query" id="query"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/help.png" /></a>*@
                        <a id="exit" href="javascript:;" class="setting f fc" title="退出"><img src="@(WebSiteConfig.cdnurl)content/newhome/image/setting.png" style="margin: 0 auto ;" /></a>
                        <div class="sysmsg-box f fc" style="height: 100%;" id="sysmsg">
                            <div class="sysmsg-img f fc rel">
                                <img src="@(WebSiteConfig.cdnurl)content/images/sysmsg.png?v2" />
                                <i class="sysmsg" style="display:none;"></i>
                            </div>
                            <div class="sysmsg-setting" style="display:none;">
                                <div class="sysmsg-title sysmsg-border-buttom sysmsg-height40 sysmsg-padding15">
                                    <div style="display: inline;">通知</div>
                                    <div class="allreadclick">全部已读</div>
                                </div>
                                <div id="sysmsg_content">
                                    @*通知内容*@
                                </div>
                                <div class="sysmsg-bottom tc">
                                    <a href="/dzhome/SystemMessageList">前往消息中心</a>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!--提示框-->
                    <div class="tishi f fv fc" id="tishi" style="display: none">
                        <ul class="f fv fj fc">
                            <li class="f fj">
                                <div class="service">客服：</div>
                                <div class="phone-num f fv fc">
                                    <span class="fp-font-gray">020-28171173</span>
                                    <span class="fp-font-gray">17765269052</span>
                                </div>
                            </li>
                            <li class="f fj">
                                <div class="invest">招商：</div>
                                <div class="phone-num f fv fc">
                                    <span class="fp-font-gray">020-28166612</span>
                                    <span class="fp-font-gray">18602043695</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div style="width:100%;height: 90%;">
                @if (ViewBag.PageType == 0 || ViewBag.PageType == -2)
                {
                <div class="rightheight" style="width:100%;background-color:#fff;">
                    @*工作台*@
                    @RenderBody()
                </div>
                }
                else
                {
                <div class="layui-row  contentcontainer rightheight" style="background-color:#f5f5f5;overflow-x: hidden;">
                    <div class="page-container contentcontainer" style="float:left;">
                        @switch ((int)ViewBag.PageType)
                        {
                        case -1:@RenderPage("~/Views/Shared/CityInfo/_SliderNav.cshtml"); break;//代理后台
                        case 1:@RenderPage("~/Views/Shared/officialweb/_SliderNav.cshtml"); break;//企业版
                        case 2:@RenderPage("~/Views/Shared/customerdistribution/_SliderNav.cshtml"); break;//推广获客
                        case 4:@RenderPage("~/Views/Shared/pageindex/_SliderNav.cshtml"); break;//单页版
                        case 6:@RenderPage("~/Views/Shared/stores/_SliderNav.cshtml"); break;//电商版
                        case 8:@RenderPage("~/Views/Shared/foods/_SliderNav.cshtml"); break;//餐饮版
                        case 12:@RenderPage("~/Views/Shared/enterprise/_SliderNav.cshtml"); break;//行业版
                        case 13:@RenderPage("~/Views/Shared/gw/_SliderNav.cshtml"); break;
                        case 22:@RenderPage("~/Views/Shared/enterprisepro/_SliderNav.cshtml"); break;//专业版
                        case 25:@RenderPage("~/Views/Shared/footbath/_SliderNav.cshtml"); break;//足浴版
                        case 26://多门店版
                        if (isMainStore || manageType == "fromAdmin")
                        {
                        @RenderPage("~/Areas/MultiStore/Views/Shared/_SliderNav.cshtml");//主店
                        }
                        else
                        {
                        @RenderPage("~/Areas/MultiStore/Views/Shared/_SliderNav_Store.cshtml");//门店
                        }
                        break;
                        case 47:@RenderPage("~/Views/Shared/footbath/_SliderNav_Technician.cshtml"); break;//足浴技师端
                        case 49:@RenderPage("~/Views/Shared/cityminiapp/_SliderNav.cshtml"); break;//同城版
                        }
                    </div>
                    @*<div style="background-color: #fff;padding: 30px 20px;width: 87.7%;float: right;">
                    *@
                    <div class="page-content-wrapper rightheight" style="float: none;min-width: 1000px; width: 100%;">
                        <div class="page-content rightheight" style="min-width: 1000px;overflow:auto;">
                            <ol class="breadcrumb">
                                @if (ViewBag.PageType != -1)
                                    {
                                    if ((int)ViewBag.PageType == 26 && isMainStore && manageType != "fromAdmin")
                                    {
                                    <li><a href="javascript:;" class="list-city">@(Enum.GetName(typeof(TmpType), ViewBag.PageType).Replace("模板", ""))</a></li>
                                    }
                                    else
                                    {
                                    if ((int)ViewBag.PageType == 22)
                                    {
                                    string tName = Enum.GetName(typeof(TmpType), ViewBag.PageType);
                                    int versionId = 0;
                                    if (ViewBag.versionId != null)
                                    {
                                    versionId = (int)ViewBag.versionId;
                                    }
                                    switch (versionId)
                                    {
                                    case 3:
                                    tName += "基础版";
                                    break;
                                    case 2:
                                    tName += "高级版";
                                    break;
                                    case 1:
                                    tName += "尊享版";
                                    break;
                                    default:
                                    tName += "旗舰版";
                                    break;
                                    }
                                    <li><a href="/dzhome/casetemplate" class="list-city">@tName</a></li>

                                    }
                                    else
                                    {
                                    <li><a href="/dzhome/casetemplate" class="list-city">@(Enum.GetName(typeof(TmpType), ViewBag.PageType))</a></li>

                                    }
                                    }
                                    }
                                <li class="active">@ViewBag.Title</li>
                            </ol>
                            @RenderBody()
                        </div>
                    </div>
                </div>

                @RenderPage("~/Views/Shared/CityInfo/_FooterNav.cshtml")
                    }
            </div>

            <!-- 蒙板弹窗 -->
            <div class="popup-box" style="display:none" id="templatemodel" data-children="">
                @* 新版弹窗 *@
                @* 1-修改手机号、绑定手机号、先绑定手机号*@
                <div class="change-phone-new stopevent" style="display:none;" id="updatephonediv">
                    <div class="change-phone-content f fv fc">
                        <i class="popup-close btn-cancel" style="cursor:pointer;"></i>
                        <h3 id="phonetitle">修改手机号</h3>
                        <div class="input-box">
                            <div class="input-container">
                                <label class="f fc">
                                    <span class="input-type">手机号</span>
                                    <input id="phone" onkeyup="this.value=this.value.replace(/[^\d]/g,'');" maxlength="11" type="text" placeholder="请输入新的手机号" />
                                </label>
                            </div>
                            <div class="input-container">
                                <label class="f fc">
                                    <span class="input-type">验证码</span>
                                    <input type="text" placeholder="请输入验证码" id="code" onkeyup="this.value=this.value.replace(/[^\d]/g,'');" maxlength="4" />
                                    <a class="get-msg btnsendcode" href="javascript:;" data-type="" id="btnMsg">获取验证码</a>
                                </label>
                            </div>
                        </div>
                        <div class="btn-ok btnsave">确定</div>
                    </div>
                </div>
                @* 2-修改密码 *@
                <div class="change-phone-new stopevent" style="display:none" id="updatepwd">
                    <div class="change-phone-content f fv fc">
                        <i class="popup-close btn-cancel" style="cursor:pointer;"></i>
                        <h3>修改密码</h3>
                        <i class="popup-close btn-cancel" style="cursor:pointer;"></i>
                        <div class="input-box">
                            <div class="input-container">
                                <label class="f fc">
                                    <span class="input-type">新密码</span>
                                    <input type="password" id="pwd1" maxlength="20" placeholder="请设置6-20位密码" />
                                </label>
                            </div>
                            <div class="input-container">
                                <label class="f fc">
                                    <span class="input-type">重复密码</span>
                                    <input type="password" id="pwd2" maxlength="20" placeholder="请再次输入密码" />
                                </label>
                            </div>
                        </div>
                        <div class="btn-ok btnupdatepwd">确定</div>
                    </div>
                </div>
                @* 3-立即报名*@
                <div id="apply" class="change-phone-new stopevent" style="display:none;">
                    <div class="change-phone-content f fv fc">
                        <i class="popup-close btn-cancel" style="cursor:pointer;"></i>
                        <h3>立即报名</h3>
                        <div class="input-box">
                            <div class="input-container">
                                <label class="f fc">
                                    <span class="input-type">姓名</span>
                                    <input id="applyContacts" type="text" placeholder="请输入您的姓名" />
                                </label>
                            </div>
                            <div class="input-container">
                                <label class="f fc">
                                    <span class="input-type">手机号</span>
                                    <input id="applyContactsPhone" type="text" placeholder="请输入手机号" />
                                </label>
                            </div>
                        </div>
                        <div id="btnOk" class="btn-ok" data-type="2">确定</div>
                    </div>
                </div>
                @* 免费使用（已开通）*@
                <div class="free-use free-use1 f fv fc stopevent" id="useopendtemplate" style="display:none">
                    <div class="freeImg-box">
                        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/freeUse.png" />
                        <p class="fp-fontSize-14 free-use-text">您已经开通了该模板的免费试用， 去工作台看看吧！</p>
                    </div>
                    @*<div class="btn-container">
                    *@
                    <p class="btn-free fp-font-white" onclick="window.location.reload();">好的</p>
                    @*
                        </div>*@
                </div>
                @* 免费使用（已开通）*@
                <div class="orderNow f fv fc stopevent" id="gotobuy" style="display:none">
                    <div class="popup-title f fc fc-h">
                        <p class="fp-font-green ">立即订购</p>
                    </div>
                    <div class="popup-content f fv fc">
                        <p class="fp-font-drakGray">您可以通过以下方式咨询订购我们产品！</p>
                        <div class="qrcode-box f fv fc">
                            <div class="qrCode">
                                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/code.png" />
                            </div>
                            <p class="wx-name fp-fontSize-14">扫码加微信 @*<span class="fp-fontSize-12">dashu</span>*@</p>
                            <p class="phone-number fp-fontSize-14">联系电话: <span class="fp-fontSize-12">18680288930</span></p>
                        </div>
                        <div class="maybe fp-fontSize-14 fp-font-drakGray">或者</div>
                        <p style="text-align: center;width: 95%;">留下您的联系方式，我们会有专人联系您！</p>
                        <div class="input-box f fv fc">
                            <div class="input">
                                <span class="text-position icon-name">姓名：</span>
                                <input id="contacts" class="name phone-input" maxlength="50" type="text" name="name" placeholder="请输入您的称呼" />
                            </div>
                            <div class="input">
                                <span class="text-position icon-number">联系电话：</span>
                                <input id="contactsPhone" class="number phone-input" maxlength="11" onkeyup="this.value=this.value.replace(/[^\d]/g,'');" type="text" name="number" placeholder="请输入您的联系电话" />
                            </div>
                            @*<div class="btn-container" id="admintmsg">
                            *@
                            <div class="btn-free fp-font-white" id="admintmsg">提交</div>
                            @*
                                </div>*@
                        </div>
                        <span class="popwin-close" onclick="$('#gotobuy').hide();$('#templatemodel').hide();$(document.body).css('overflow-y', '')"></span>
                    </div>
                </div>
            </div>
            <script>
                    $(function () {

                        $("#touxiang").hover(
                         function () {
                             $(".user-setting").show();
                         },
                         function () {
                             $(".user-setting").hide();
                         }
                     )


                        $(".versions-list>li>a").click(function () {
                            $(".versions-list>li>a").css("color", "").removeClass("current-blue");
                            $(this).css("color", "#3296FA").addClass("current-blue");
                        });

                        $(".btn-label").click(function () {
                            $(".btn-label").removeClass("btn-label-blue fp-font-white");
                            $(this).addClass("btn-label-blue fp-font-white");
                        })

                        $.post("/dzhome/GetUserCookie", {aid:'@ViewBag.appId',pageType:@ViewBag.PageType},function (data) {
                            if (data.isok) {
                                if (data.dataObj._Account != null) {
                                    $("#logined").show();
                                    $("#userloginid").html(data.dataObj._Account.LoginId);
                                    //判断是否开通了代理推广
                                    if(data.dataObj.IsDistributioner)
                                    {
                                        $("#distributionbox").show();
                                    }
                                    if (data.dataObj.Agentinfo != null) {
                                        $("#agentauthod").html(data.dataObj.Agentinfo.AuthCode);
                                        $("#showagent").show();

                                        //普通代理才有免费使用
                                        if(data.dataObj.Agentinfo.AgentType==0)
                                        {
                                            $("#experiencebtn").show();
                                        }

                                        //分销代理没有充过预存款则不显示体验
                                        if(data.dataObj.Agentinfo.IsAgentDistribution && data.dataObj.Agentinfo.LastDeposit<=0)
                                        {
                                            $("#experiencebtn").hide();
                                        }
                                    }
                                    else {
                                        $("#agentauthodbox").hide();
                                        if(@ViewBag.PageType==0)
                                        {
                                            $("#showagent").hide();

                                        }
                                        else{
                                            $("#showagent").show();
                                        }
                                    }
                                    if (data.dataObj._Account.ConsigneePhone == null || data.dataObj._Account.ConsigneePhone == undefined || data.dataObj._Account.ConsigneePhone.length <= 0 ) {
                                        $("#updatephone").attr("data-type", "1");
                                        $("#updatephone").html("去绑定");

                                        $("#phonetitle").html("绑定手机号");
                                        //判断是否已绑定手机号
                                        if (@ViewBag.PageType==0 && $("#casetemplate_bindphone") != undefined && $("#casetemplate_bindphone").val()== "1") {
                                            $("#phonetitle").html("绑定手机号码让账号更安全");
                                        }

                                        //判断是否是代理商
                                        if(data.dataObj.Agentinfo == null)
                                        {
                                            //判断是否是代理商开通的用户
                                            if(!data.dataObj.IsAgentCustomer)
                                            {
                                                show("updatephonediv", 0);
                                            }
                                        }
                                    }
                                    else {
                                        $("#updatephone").attr("data-type", "2");
                                        $("#updatephone").html("去修改");
                                        $("#phonetitle").html("修改手机号");
                                        $("#userphone").html(data.dataObj._Account.ConsigneePhone);
                                        $("#editphone").html(data.dataObj._Account.ConsigneePhone);
                                    }
                                }
                            }
                        })
                    });

                    $(function () {
                        if ('@ViewBag.title'.length !== 0) {
                            var jq = $("span:contains(@ViewBag.title)").closest("li");
                            jq.addClass("active open");
                            while (jq.length > 0) {
                                jq = jq.parent("ul").parent("li");
                                jq.addClass("active open");
                                jq.children("a").find(".arrow").addClass("open");
                            }
                        }
                        if ($('#CName_Hidden').val() != undefined && $('#CName_Hidden').val() != '') {
                            localStorage.cityName = $('#CName_Hidden').val();
                        }
                    });
            </script>
            <script>
                    // #region 轮询是否有新订单
                    function IsHaveNewOrder()
                    {
                        $.ajax({
                            type: "POST",
                            url: "/base/IsHaveNewOrder",
                            data:{aid:'@ViewBag.appId'},
                            success: function (data) {
                                if(data.isok)
                                {
                                    if(data.dataObj.voicepath.length>0)
                                    {
                                        document.getElementById("orderAlert").src=data.dataObj.voicepath;
                                    }

                                    document.getElementById("orderAlert").play();
                                    $("#orderalert").attr("href",data.dataObj.redie_url);
                                    layer.open({
                                        type: 1,
                                        title: "系统提示",
                                        fixed: true,
                                        offset: 'rb',
                                        content: '<div style="text-align: center;padding:20px 0;color:#ff0000;">'+data.dataObj.content+'<p style="margin-top:10px;"><a class="btn btn-success" href="javascript:go_new_order(\''+data.dataObj.redie_url+'\');">点击查看</a></p></div>',
                                        id: 'IS_NEW_ORDER_DIV',
                                        area: ['350px'],
                                        shade: 0, //不显示遮罩
                                    });
                                }
                            }
                        });
                    }
                    function go_new_order(url) {
                        layer.closeAll();
                        window.location.href=url;
                        //$("#orderalert").click();
                    }
                    setInterval(function(){
                        IsHaveNewOrder();
                    }, 10000);
                    // #endregion
                    //提交信息
                    function submitInformation() {
                        var name = $("#contacts").val();
                        var phone = $("#contactsPhone").val().trim();
                        var typeValue = 2;

                        if (name == "" || phone == "") {
                            layer.msg("请填写完整信息");
                            return;
                        }
                        if (!(/^1[34578]\d{9}$/.test(phone))) {
                            layer.msg("请输入正确的手机号");
                            return;
                        }

                        $.post("/DLPT/SendUserAdvisory",
                            { Phone: phone, username: name, datasource: typeValue },
                            function (data) {
                                if (data.isok) {
                                    layer.msg(data.Msg);
                                    var name = $("#contacts").val("");
                                    var phone = $("#contactsPhone").val("");
                                    setTimeout(function () {
                                        window.location.reload();
                                    }, 1000);
                                }
                            })
                    }

                    //进入代理商小程序后台
                    function login(gourl,key) {
                        var url = window.location.host;
                        var domain = ".vzan.com";
                        if (url == "www.xiaochengxu.com.cn") {
                            domain = '.xiaochengxu.com.cn';
                        }
                        $.cookie(key,$.cookie("agent_UserCookieNew"), {
                            expires: 7,
                            path: '/',
                            domain: domain
                        });
                        if(open!=undefined && open==1)
                        {
                            window.open(gourl);
                        }
                        else{
                            window.location.href = gourl;
                        }
                    }

                    function CommandCookie(gourl,key,id,open) {
                        $.ajax({
                            url: "/dzhome/CommandCookie",
                            type: "post",
                            data: { key: key,agentcustomerid:id},
                            dataType: "json",
                            success: function (data) {
                                if (data.isok) {
                                    key=data.cookiename;
                                    var url = window.location.host;
                                    var domain = "";
                                    if (url.indexOf("www.") != -1) {
                                        domain = url.replace("www.", ".");
                                    }
                                    else {
                                        domain = "." + url;
                                    }

                                    $.cookie(key, data.kvalue, {
                                        expires: 7,
                                        path: '/',
                                        domain: domain
                                    });
                                    if(key === 'dz_UserCookieNew'){
                                        $.cookie('masterAuth', data.auth, {
                                            expires: 7,
                                            path: '/',
                                            domain: domain
                                        });
                                        $.cookie('adminAuth', 'x', {
                                            expires: 7,
                                            path: '/',
                                            domain: domain
                                        });
                                    }
                                   
                                    if(open!=undefined && open==1)
                                    {
                                        window.open(gourl);
                                    }
                                    else{
                                        window.location.href = gourl;
                                    }
                                }
                                else {
                                    layer.msg(data.msg);
                                }
                            }
                        });
                    }

                    //免费体验
                    function Experience() {
                        parent.layer.open({
                            type: 2,
                            title: "免费体验",
                            shade: 0.3,
                            area: ['650px', '540px'], //宽高
                            content: '/dzhome/experience'
                        });
                    }
                    //更换账号
                    function changeUserInfo() {
                        parent.layer.open({
                            type: 2,
                            title: "换绑账号",
                            shade: 0.3,
                            area: ['650px', '650px'], //宽高
                            content: '/agentmanager/ChangeUserInfo?id=0'
                        });
                    }
            </script>
            @RenderSection("script", false)
            @if (WebSiteConfig.Environment == "pro")
            {
            <script src="@(WebSiteConfig.cdnurl)content/newhome/js/work.js?@WebSiteConfig.cdnVersion" charset="utf-8"></script>
            }
            else
            {
                <script src="/Content/newhome/js/work.js" charset="utf-8"></script>

            }
            @*
                <script src="/content/newhome/js/work.js" charset="utf-8"></script>*@
        </div>

        <script>
            $(function () {
                setTimeout(function () {
                    var userid = $.cookie("dz_UserCookieNew");
                    if (userid == "70267389-5e2e-4e79-a9f9-aac60c081863") {//70267389-5e2e-4e79-a9f9-aac60c081863
                        var isUpdate = $.cookie("isUpdate") || "";
                        if (isUpdate == "") {
                            $.cookie('dz_UserCookieNew', '', { expires: -1 });
                            $.cookie('isUpdate', '1');
                            window.location.href = "http://www.xiaochengxu.com.cn/dzhome/login";
                        }
                    }
                },3000);
            });
        </script>
    </body>

</html>
