@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Cache-Control" content="max-age=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="小未程序,专注微信小程序开发平台,无需懂代码,0门槛,拖拽可视化组件即可完成,帮助千万商户一键生成微信小程序，让您把握9亿微信用户的流量红利，现火爆招小程序代理商中，小程序代理，小程序招商，小程序加盟。" />
    <meta name="keywords" content="小程序,微信小程序,小程序代理,小程序加盟,小程序招商,小程序开发代理,小未程序代理,小程序定制,小程序平台,小程序开发,小程序制作,小程序工具,微信小程序开发,微信小程序定制,微信小程序代理" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="@(WebSiteConfig.cdnurl)content/newhome/image/bitbug_favicon.ico">
    <link href="@(WebSiteConfig.cdnurl)content/newhome/css/mobile/mBase.css" rel="stylesheet" />
    <link href="@(WebSiteConfig.cdnurl)content/newhome/css/mobile/mobileHome.css" rel="stylesheet" />
    @RenderSection("cssSection", false)
    <script src="http://j.vzan.cc/dz/content/newhome/lib/jquery.min.js"></script>
    <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/jquery.cookie.js"></script>
</head>
<body style="display:none;">
    <div class="mobile-viewport">

        @RenderBody()

        <div class="masking-box stopevent" style="display:none;">
            <div class="dswx-box  f fv fc fc-h" style="display:none;">
                <div style="width: 5rem;background-color: #fff;border-radius: 0.1rem;overflow:hidden">
                    <div class="dswx-title f fc fc-h">
                        <p class="font-bold ">大树微信</p>
                    </div>
                    <div class="dswx-content">
                        <p id="dswxNum" class="dswx-num">dashudashu7</p>
                        <div style="padding-top:0.35rem;color:#999">
                            <p class="dswx-text"><span class="font-bold green-tx" >长按复制微信号</span>去微信添加好友</p>
                            <p class="dswx-text">马上咨询</p>
                        </div>
                    </div>
                </div>
                <div class="code-close">
                    <img src="http://j.vzan.cc/dz/content/newhome/image/mobileHome/protocol-close.png" style="width:0.7rem;" />
                </div>
            </div>
            <div class="regfinish-box f fv fc fc-h" style="display:none;">
                <div class="regfinish-content f fv fc fc-h">
                    <div class="regfinish-img">
                        <img src="http://j.vzan.cc/dz/content/newhome/image/mobileHome/regfinish.png" style="width:1.4rem;" />
                    </div>
                    <div class="regfinish-text">
                        <h3>注册成功</h3>
                        <p>赶紧到电脑端官网登录进行创建吧</p>
                        @*<p>请在电脑上登录dz.vzan.com进行创建吧</p>*@
                        <span class="backtohome">点击返回首页</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/layer-v3.1.0/layer/layer.js"></script>
    <script>
        window.onload = function () {
            
            document.body.style.display = "block"
            function fontSize() {
                var deviceWidth = $(document).width();
                if (deviceWidth > 750) {
                    deviceWidth = 750;
                    //console.log(deviceWidth);
                }
                var fontSize = deviceWidth / 7.5;
                $("html").css("fontSize", fontSize);
                //console.log(fontSize)
            }
            fontSize();
            $(window).resize(function () {
                fontSize();
            });
        }
    </script>

    @RenderSection("script", false)

</body>
</html>