@{
    ViewBag.PageType = 26; //多门店版
    Layout = null;
    //Layout = "~/Areas/MultiStore/Views/Shared/_MultiStoreLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>门店管理系统</title>
    <link rel="shortcut icon" type="image/x-icon" href="@(WebSiteConfig.cdnurl)content/newhome/image/bitbug_favicon.ico">
    <link href="@(WebSiteConfig.cdnurl)content/css/dzbase.css" rel="stylesheet" />
    <link href="@(WebSiteConfig.cdnurl)content/css/MultiStore/login.css" rel="stylesheet" />
</head>
<body id="bodykey" class="f fv fc" style="display:none;overflow-y:hidden">
    <div class="content-container f fv fc">
        <div class="bg-title">
            <span>门店管理系统</span>
        </div>
        <div class="login-box f fc fv" id="login-box">
            <header id="loginTitle" class="login-title f fc fc-h" @*style="display:none"*@>
                @*<div id="login-num" class="login-font-blue title-line f fc fc-h">账户登录</div>*@
                <div id="login-qrcode" class="f fc fc-h">扫码登录</div>
            </header>
            <header id="storeTitle" class="login-title f fc fc-h" style="display:none">
                <div class=" f fv fc-h">请选择您要管理的门店</div>
            </header>
            <header id="accountTitle" class="login-title f fc fc-h" style="display:none">
                <div class=" f fv fc-h">请选择管理账号</div>
            </header>
            <ul class="login-list f fv fc" @*style="display: none;"*@>
                <!--
                <li class="details f fv fc" id="num">
                    <div class="input">
                        <span class="text-position login-font-gray f fc-h fc">商户号：</span>
                        <input type="text"  id="multiStore_merchant_name" class="merchant" />
                    </div>
                    <div class="input">
                        <span class="text-position login-font-gray f fc-h fc">账号：</span>
                        <input type="text"  id="multiStore_user_name"  class="self" />
                    </div>
                    <div class="input">
                        <span class="text-position login-font-gray f fc-h fc">密码：</span>
                        <input type="password"  id="multiStore_user_pwd" maxlength="20"  class="psw" />
                    </div>
                    @*<div class="forget-hint" >
                        <p id="hint" style="color:red;">若忘记密码，请联系您的店铺管理员</p>
                    </div>*@
                    <div class="btn-confirm-container">
                        <div class="btn-confirm " id="login">登录</div>
                    </div>
                    <div class="forget-hint">
                        <p>若忘记密码，请联系您的店铺管理员</p>
                    </div>
                </li>
                    -->
                <li class="qrcode" id="qrcode">
                    <div class="f fc fv">
                        <div style="width:130px;height:130px;background-color:skyblue;">
                            <input id="sessid" value="@Session["qrcodekey"]" hidden />
                            <img src="/QrCode/GetQrCode?code=@Session["qrcodekey"]" alt="" style="width: 100%;height: 100%;" />
                        </div>
                        <p style="padding-top:9px; font-size:0.875rem;" class="login-font-gray">微信扫描二维码登录</p>
                    </div>
                </li>
            </ul>
            <div class="account-manage" style="display:none;">
                <div id="checkAccounts" style="padding:4% 4%;height:100%;">
                    <div class="account-item-box" >
                        <div class="account-item f fc">
                            <div class="account-icon">
                                <img src="@(WebSiteConfig.cdnurl)content/images/MultiStore/selected.png" />
                            </div>
                            <div class="account-content">
                                <h4 class="account-name">番禺市桥店</h4>
                                <p class="account-details">(广州市番禺市桥地铁A出口百越广场131档口)</p>
                            </div>
                        </div>
                    </div>

                    <div class="btn-accountbox f fc fj">
                        <div id="btnAccountCancel" class="btn-store" style="color:#3296fa;">取消</div>
                        <div id="btnAccontConfirm" class="btn-store" style="background-color:#3296fa;color:#fff;">确定</div>
                    </div>
                </div>

            </div>

            <div class="store-manage" style="width:100%;display:none">
                <div id="checkStore" style="padding:4% 4%;height:100%;">
                    <div id="checkStore_check" class="store-item-box">

                    </div>
                    <div class="btn-storebox f fc fj">
                        <div id="btnStoreCancel" class="btn-store" style="color:#3296fa;">取消</div>
                        <div id="btnStoreConfirm" class="btn-store" style="background-color:#3296fa;color:#fff;">确定</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            document.body.style.display = "block";
        }
    </script>
    <script src="@(WebSiteConfig.cdnurl)js/jquery-2.1.4.min.js"></script>
    <script src="@(WebSiteConfig.cdnurl)js/jquery.cookie.js"></script>
    <script src="@(WebSiteConfig.cdnurl)content/layer/layer.js"></script>
    <script src="@(WebSiteConfig.cdnurl)js/MultiStore/login.js?v4" charset="gb2312"></script>

</body>
</html>
