@{
    ViewBag.appId = Utility.IO.Context.GetRequestInt("appId", 0);
}
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="nav-item start open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="glyphicon glyphicon-home"></i>
                    <span class="title">小程序行业版</span>
                    <span class="selected"></span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu" style="display: block;">
                    @if (WebSiteConfig.UseALaDing)
                    {
                        <li class="nav-item start @(ViewBag.Title == "阿拉丁统计" ? "active" : string.Empty)">
                            <a href="/common/AladingTongJi?appId=@ViewBag.appId&pageType=@((int)TmpType.小程序行业模板)" class="nav-link">
                                <i class="glyphicon glyphicon-stats"></i>
                                <span class="title">阿拉丁统计</span>
                            </a>
                        </li>
                    }
                    <li class="nav-item start ">
                        <a href="/enterprise/pageset?appId=@ViewBag.appId" class="nav-link">
                            <i class="glyphicon glyphicon-book"></i>
                            <span class="title">小程序编辑</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="/config/MiniAppConfig?appId=@ViewBag.appId&id=@ViewBag.appId&type=12" class="nav-link">
                            <i class="icon-wrench"></i>
                            <span class="title">小程序管理</span>
                        </a>
                    </li>
                    @{ var checkthis2 = ((ViewBag.Title == "产品分类"
                        || ViewBag.Title == "产品列表"
                        || ViewBag.Title == "产品标签"
                        || ViewBag.Title == "产品参数"
                        || ViewBag.Title == "产品单位"
                        || ViewBag.Title == "产品预约") ? 1 : 0); }
                    <li class="nav-item @(checkthis2 == 1 ? "open" : "")">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="glyphicon glyphicon-shopping-cart"></i>
                            <span class="title">产品管理</span>
                            <span class="selected"></span>
                            <span class="arrow @(checkthis2 == 1 ? "open" : "")"></span>
                        </a>

                        <ul class="sub-menu" style="@(checkthis2 == 1 ? "display:block;": "display:none;")">
                            <li class="nav-item start @(ViewBag.Title == "产品分类" ? " active" : string.Empty)">
                                <a href="/enterprise/ptype?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">产品分类</span>
                                </a>
                            </li>
                            <li class="nav-item start @(ViewBag.Title == "产品列表" ? "active" : string.Empty)">
                                <a href="/enterprise/p?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">产品列表</span>
                                </a>
                            </li>
                            <li class="nav-item start @(ViewBag.Title == "产品标签" ? "active" : string.Empty)">
                                <a href="/enterprise/plabel?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">产品标签</span>
                                </a>
                            </li>
                            <li class="nav-item start @(ViewBag.Title == "产品参数" ? "active" : string.Empty)">
                                <a href="/enterprise/cartypelist?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">产品参数</span>
                                </a>
                            </li>
                            <li class="nav-item start @(ViewBag.Title == "产品单位" ? "active" : string.Empty)">
                                <a href="/enterprise/punit?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">产品单位</span>
                                </a>
                            </li>
                            <li class="nav-item start @(ViewBag.Title == "产品预约" ? "active" : string.Empty)">
                                <a href="/enterprise/subscribeForm?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">产品预约</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    @{ var checkthis1 = ((ViewBag.Title == "内容分类" || ViewBag.Title == "内容列表") ? 1 : 0); }
                    <li class="nav-item @(checkthis1 == 1 ? "open" : "")">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="glyphicon glyphicon-folder-open"></i>
                            <span class="title">内容管理</span>
                            <span class="selected"></span>
                            <span class="arrow @(checkthis1 == 1 ? "open" : "")"></span>
                        </a>

                        <ul class="sub-menu" style="@(checkthis1 == 1 ? "display:block;": "display:none;")">
                            <li class="nav-item start @(ViewBag.Title == "内容分类" ? " active" : string.Empty)">
                                <a href="/enterprise/newstype?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">内容分类</span>
                                </a>
                            </li>
                            <li class="nav-item start @(ViewBag.Title == "内容列表" ? "active" : string.Empty)">
                                <a href="/enterprise/news?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">内容列表</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item start ">
                        <a href="/enterprise/appform?appId=@ViewBag.appId" class="nav-link">
                            <i class="icon-list"></i>
                            <span class="title">自定义表单</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="/common/wxconcat?appId=@ViewBag.appId&id=@ViewBag.appId&type=@((int)TmpType.小程序行业模板)" class="nav-link">
                            <i class="glyphicon glyphicon-user"></i>
                            <span class="title">微信在线客服</span>
                        </a>
                    </li>


                    @*<li class="nav-item start ">
            <a href="/stores/AddAttrSpecList?appId=@ViewBag.appId" class="nav-link">
                <i class="glyphicon glyphicon-barcode"></i>
                <span class="title">规格管理</span>
            </a>
        </li>

        <li class="nav-item start ">
            <a href="/stores/AddFreight?appId=@ViewBag.appId" class="nav-link">
                <i class="glyphicon glyphicon-wrench"></i>
                <span class="title">运费模板管理</span>
            </a>
        </li>
        <li class="nav-item start ">
            <a href="/stores/OrderList?appId=@ViewBag.appId" class="nav-link">
                <i class="glyphicon glyphicon-barcode"></i>
                <span class="title">订单管理</span>
            </a>
        </li>
        <li class="nav-item start">
            <a href="/stores/XcxManageIndex?appId=@ViewBag.appId" class="nav-link">
                <i class="glyphicon glyphicon-tint"></i>
                <span class="title">小程序模板</span>
            </a>
        </li>*@
                </ul>
            </li>
        </ul>
    </div>
</div>