@model EditModel<DishPrint>
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/DishAdmin/Views/Shared/_LayoutDishAdmin.cshtml";
}

<div class="page-container">
    <form class="form form-horizontal" id="form-article-add" method="post">
        <input type="hidden" name="act" value="edit" />
        <input type="hidden" name="id" value="@(Model.DataModel.id)" />
        <input type="hidden" name="aId" value="@(Model.aId)" />
        <input type="hidden" name="storeId" value="@(Model.storeId)" />

        <div id="tab-system" class="HuiTab">
            <div class="tabCon">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        是否启用：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                        <div class="radio-box">
                            <input name="state" value="1" type="radio" @(Model.DataModel.state == 1 ? "checked" : "")>
                            <label for="print_isopen-1">启用</label>
                        </div>
                        <div class="radio-box">
                            <input name="state" type="radio" value="0" @(Model.DataModel.state == 0 ? "checked" : "")>
                            <label for="print_isopen-2">关闭</label>
                        </div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        打印机名称：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="print_name" placeholder="请输入打印机名称" value="@(Model.DataModel.print_name)" class="input-text">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        打印方式：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                        <div class="radio-box">
                            <input name="print_type" type="radio" value="2" @(Model.DataModel.print_type == 2 ? "checked" : "")>
                            <label for="is_show-2">只打印已支付订单</label>
                        </div>
                        <div class="radio-box">
                            <input name="print_type" value="1" type="radio" @(Model.DataModel.print_type == 1 ? "checked" : "")>
                            <label for="is_show-1">下单即打印，无需支付</label>
                        </div>
                        <div class="dish_m_tips"></div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        打印机类型：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9" >
                        <select name="print_name_type" class="select" @(Model.DataModel.id > 0 ? "disabled" : "")>
                            @*<option value="0" @(Model.DataModel.print_name_type == 0 ? "checked" : "")>请选择</option>
                    <option value="1" @(Model.DataModel.print_name_type == 1 ? "checked" : "")>飞鹅打印机</option>
                    <option value="2" @(Model.DataModel.print_name_type == 2 ? "checked" : "")>365打印机</option>*@
                            <option value="3" @(Model.DataModel.print_name_type == 3 ? "checked" : "")>易联云(K4)</option>
                        </select>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2" >
                        <span class="c-red">*</span>
                        用户名称：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="platform_userName" placeholder="用户名称" value="@(Model.DataModel.platform_userName)" class="input-text" @(Model.DataModel.id > 0 ? "disabled" : "")>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        用户Id：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="platform_userId" placeholder="用户Id" value="@(Model.DataModel.platform_userId)" class="input-text" @(Model.DataModel.id > 0 ? "disabled" : "")>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        API密钥：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="apiPrivateKey" placeholder="API密钥" value="@(Model.DataModel.apiPrivateKey)" class="input-text" @(Model.DataModel.id > 0 ? "disabled" : "")>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        打印机设备编码：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="print_bianma" placeholder="打印机设备编码" value="@(Model.DataModel.print_bianma)" class="input-text" @(Model.DataModel.id > 0 ? "disabled" : "")>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        打印机识别码：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="print_shibiema" placeholder="打印机识别码" value="@(Model.DataModel.print_shibiema)" class="input-text" @(Model.DataModel.id > 0 ? "disabled" : "")>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        是否为整单打印：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                        <div class="radio-box">
                            <input name="print_d_type" value="1" type="radio" @(Model.DataModel.print_d_type == 1 ? "checked" : "")>
                            <label for="print_d_type-1">整单</label>
                        </div>
                        <div class="radio-box">
                            <input name="print_d_type" type="radio" value="2" @(Model.DataModel.print_d_type == 2 ? "checked" : "")>
                            <label for="print_d_type-2">分单</label>
                        </div>
                        <div class="dish_m_tips">整单打印为： 打印订单的全部产品条目信息</div>
                        <div class="dish_m_tips">分单打印为： 订单里的全部产品每个打印一次</div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        打印联数：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="print_dnum" placeholder="1" value="@(Model.DataModel.print_dnum)" class="input-text">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">设置可打印的标签：</label>
                    <div class="formControls skin-minimal col-xs-8 col-sm-9">
                        @if (ViewBag.dishPrintTagList != null)
                        {
                            foreach (DishTag item in ViewBag.dishPrintTagList)
                            {
                                <div class="check-box " >
                                    <input type="checkbox" id="checkbox-@(item.id)" value="@(item.id)" name="printtags[]" @(Model.DataModel.print_tags.Split(new char[] { ','}).Any(t => t==item.id.ToString()) ? "checked":"")>
                                    <label for="checkbox-@(item.id)">@(item.name)</label>
                                </div>
                            }
                        }
                        <div class="dish_m_tips">当您设置了标签后，该打印机就只关心来自标签的订单，若不勾选，则默认打印所有的订单</div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        字体大小：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                        <div class="radio-box">
                            <input name="print_ziti_type" value="0" type="radio" @(Model.DataModel.print_ziti_type == 0 ? "checked" : "")>
                            <label for="print_ziti_type-0">小</label>
                        </div>
                        <div class="radio-box">
                            <input name="print_ziti_type" type="radio" value="1" @(Model.DataModel.print_ziti_type == 1 ? "checked" : "")>
                            <label for="print_ziti_type-1">大</label>
                        </div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        商品字体显示大小：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                        <div class="radio-box">
                            <input name="print_goods_ziti_type" value="0" type="radio" @(Model.DataModel.print_goods_ziti_type == 0 ? "checked" : "")>
                            <label for="print_goods_ziti_type-0">默认</label>
                        </div>
                        <div class="radio-box">
                            <input name="print_goods_ziti_type" type="radio" value="1" @(Model.DataModel.print_goods_ziti_type == 1 ? "checked" : "")>
                            <label for="print_goods_ziti_type-1">超大</label>
                        </div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        头部自定义信息：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="print_top_copy" placeholder="建议少于20字" class="input-text" value="@(Model.DataModel.print_top_copy)" >
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        底部自定义信息：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="print_bottom_copy" placeholder="建议少于20字" class="input-text" value="@(Model.DataModel.print_bottom_copy)">
                    </div>
                </div>
                <!--
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">
            打印二维码：</label>
        <div class="formControls col-xs-8 col-sm-9 skin-minimal">
            <div class="radio-box">
                <input name="print_iswxcode" value="1" type="radio" checked>
                <label for="print_iswxcode-1">开启</label>
            </div>
            <div class="radio-box">
                <input name="print_iswxcode" type="radio" value="0">
                <label for="print_iswxcode-2">关闭</label>
            </div>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">
            二维码网址：</label>
        <div class="formControls col-xs-8 col-sm-9 skin-minimal">
            <div class="radio-box">
                <input name="print_wxcode_url" value="1" type="radio" checked>
                <label for="print_wxcode_url-1">门店首页</label>
            </div>
            <div class="radio-box">
                <input name="print_wxcode_url" type="radio" value="2">
                <label for="print_wxcode_url-2">订单信息</label>
            </div>
        </div>
    </div>-->
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit" id="submit_button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button class="btn btn-default radius" id="cancel_button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });
            $("#cancel_button").click(function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
                return;
            });
            $("#tab-system").Huitab("#tab-system .tabBar span", "#tab-system .tabCon", "current", "click", "0")
            //表单验证
            $("#form-article-add").validate({
                rules: {
                    print_name: {
                        required: true
                    },
                    print_bianma: {
                        required: true
                    },
                    print_shibiema: {
                        required: true
                    },
                    platform_userName: {
                        required:true
                    },
                    platform_userId:{
                        required: true
                    },
                    apiPrivateKey: {
                        required: true
                    }
                },
                onkeyup: false,
                focusCleanup: true,
                success: "valid",
                submitHandler: function (form) {
                    var l_index = layer.msg('数据提交中', {
                        icon: 16,
                        shade: 0.5
                    });
                    $("#submit_button").attr("disabled", true);
                    $(form).ajaxSubmit({
                        dataType: "json",
                        success: function (data) {
                            $("#submit_button").attr("disabled", false);
                            layer.close(l_index);
                            if (data.code == 0) {
                                layer.alert(data.msg, { icon: 0 });
                            } else {
                                layer.alert(data.msg, { icon: 1 }, function (index) {
                                    parent.layer.close(index);
                                    parent.location.reload();
                                });
                            }
                        }
                    });
                }
            });

        });
    </script>

}

