@using User.MiniApp.comment
@model Entity.MiniApp.Fds.FoodLabel
<table class="table table-add form-horizontal">
    <input hidden id="editAttrId" value="@Model.Id" />
    <tr>
        <td><span>标签名称：</span></td>
        <td><input maxlength="8" placeholder="标签名称,最多8字" id="nameVal" type="text" class="form-control" value="@Model.LabelName"></td>
    </tr>
    <tr>
        <td><span>排序：</span></td>
        <td><input type="text"  value="@Model.Sort" id="sort"  class="form-control"></td>
    </tr>
    @*<tr>
            <td width="120px"><span>规格值：</span></td>
            <td width="480px" class="spacTd">
                @foreach (var x in Model.SpecList)
                {
                    <div style="width:200px;float:left;" data-state="@x.State" class="item">
                        <input class="col-sm-2 specInput form-control" id="spac_@x.Id" style="width:150px" data-id="@x.Id" data-state="@x.State" maxlength="8" placeholder="规格值,最多8字" type="text" value="@x.SpecName">
                        <a href="javascript:void(0)" class="deleteSpec" data-id="@x.Id">
                            <img src="~/Content/Miniapp/imgs/u474.png" style="margin-top:7px; height:27px;width:27px;" />
                        </a>
                        <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                    </div>
                }
            </td>
        </tr>*@
</table>