@using User.MiniApp.comment
@model Entity.MiniApp.Fds.FoodGoodsAttr
<table class="table table-add form-horizontal">
    <input hidden id="editAttrId" value="@Model.Id" />
    <tr>
        <td><span>参数名称：</span></td>
        <td><input maxlength="8" placeholder="参数名称,最多8字" id="nameVal" type="text" class="form-control" value="@Model.AttrName"></td>
    </tr>
    @*<tr>
        <td><span>排序：</span></td>
        <td><input type="text" value="@Model.Sort" id="sort" class="form-control"></td>
    </tr>*@

    <tr>
        <td width="120px"><span>参数值：</span></td>
        <td width="480px" class="spacTd">
            @foreach (var x in Model.SpecList)
            {
                @*<div width="200px">
                        <input class="specInput" data-id="@x.Id" data-State ="@x.State" maxlength="8" placeholder="参数值,最多8字" type="text" class="form-control" value="@x.SpecName">
                        <img class="deleteSpec" data-id="@x.Id" src="" />
                    </div>*@
                <div style="width:200px;float:left;" data-state="@x.State" class="item f">
                    <input class="col-sm-2 specInput form-control" id="spac_@x.Id" style="width:150px" data-id="@x.Id" data-state="@x.State" maxlength="8" placeholder="参数值,最多8字" type="text" value="@x.SpecName">
                    <a href="javascript:void(0)" class="deleteSpec" data-id="@x.Id">
                        <img src="@(WebSiteConfig.cdnurl)content/Miniapp/imgs/u474.png" style="margin-top:7px; height:27px;width:27px;" />
                    </a>
                    <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                </div>
            }
        </td>
    </tr>
</table>