@model EditModel<DadaMerchant>
@{
    ViewBag.Title = "DaDaPeiSongConfig";
    Layout = "~/Areas/DishAdmin/Views/Shared/_LayoutDishAdmin.cshtml";
}

<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span>
    配送设置
    <span class="c-gray en">&gt;</span>
    达达(商户资料)
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <form class="form form-horizontal" id="form-article-add" method="post">
        <input type="hidden" name="act" value="edit" />
        <input type="hidden" name="id" value="@(Model.DataModel.id)" />
        <input type="hidden" name="aId" value="@(Model.aId)" />
        <input type="hidden" name="storeId" value="@(Model.storeId)" />

        <div id="tab-system" class="HuiTab">
            <div class="tabBar cl">
                <span>达达(绑定门店)</span>
            </div>
            <div class="Huialert Huialert-success" style="margin-top: 10px;">
                已开通城市：
                <span class="label label-warning radius">上海</span>&nbsp;<span class="label label-warning radius">北京</span>&nbsp;<span class="label label-warning radius">合肥</span>&nbsp;<span class="label label-warning radius">南京</span>&nbsp;<span class="label label-warning radius">苏州</span>&nbsp;<span class="label label-warning radius">武汉</span>&nbsp;<span class="label label-warning radius">无锡</span>&nbsp;<span class="label label-warning radius">常州</span>&nbsp;<span class="label label-warning radius">杭州</span>&nbsp;<span class="label label-warning radius">广州</span>&nbsp;<span class="label label-warning radius">深圳</span>&nbsp;<span class="label label-warning radius">重庆</span>&nbsp;<span class="label label-warning radius">长沙</span>&nbsp;<span class="label label-warning radius">成都</span>&nbsp;<span class="label label-warning radius">天津</span>&nbsp;<span class="label label-warning radius">厦门</span>&nbsp;<span class="label label-warning radius">福州</span>&nbsp;<span class="label label-warning radius">大连</span>&nbsp;<span class="label label-warning radius">青岛</span>&nbsp;<span class="label label-warning radius">哈尔滨</span>&nbsp;<span class="label label-warning radius">济南</span>&nbsp;<span class="label label-warning radius">郑州</span>&nbsp;<span class="label label-warning radius">西安</span>&nbsp;<span class="label label-warning radius">宁波</span>&nbsp;<span class="label label-warning radius">温州</span>&nbsp;<span class="label label-warning radius">芜湖</span>&nbsp;<span class="label label-warning radius">南通</span>&nbsp;<span class="label label-warning radius">南昌</span>&nbsp;<span class="label label-warning radius">石家庄</span>&nbsp;<span class="label label-warning radius">潍坊</span>&nbsp;<span class="label label-warning radius">嘉兴</span>&nbsp;<span class="label label-warning radius">烟台</span>&nbsp;<span class="label label-warning radius">扬州</span>&nbsp;<span class="label label-warning radius">昆山</span>&nbsp;<span class="label label-warning radius">佛山</span>&nbsp;<span class="label label-warning radius">东莞</span>&nbsp;<span class="label label-warning radius">马鞍山</span>&nbsp;<span class="label label-warning radius">镇江</span>&nbsp;<span class="label label-warning radius">贵阳</span>&nbsp;<span class="label label-warning radius">昆明</span>&nbsp;<span class="label label-warning radius">泰安</span>&nbsp;<span class="label label-warning radius">南宁</span>&nbsp;<span class="label label-warning radius">廊坊</span>&nbsp;<span class="label label-warning radius">常熟</span>&nbsp;<span class="label label-warning radius">太仓</span>&nbsp;<span class="label label-warning radius">临安</span>&nbsp;
            </div>
            <div class="Huialert Huialert-info">
                <p>提示：如果您所在的城市未开通达达配送，请在基本设置配置其它方式配送</p>
                <p>一：注册达达商户帐号 <a href="https://newopen.imdada.cn/#/merchantRegister?_k=gfl7ec" target="_blank">点击注册</a></p>
                <p>二：添加商户门店信息 <a href="https://newopen.imdada.cn/#/manager/shop/store?_k=dgqgr1" target="_blank">点击添加</a> </p>
                <p>三：绑定门店信息(进入达达商户平台，找到对应的数据输入到下面的信息中) <a href="http://xrs.duoguan.com/2017-10-09_59db3633b2087.png" target="_blank">查看商家信息</a>  <a href="http://xrs.duoguan.com/2017-10-09_59db3b82d5886.png" target="_blank">查看门店信息</a> </p>
                <p>四：接受开发者绑定 <a href="https://newopen.imdada.cn/#/manager/account/binding?_k=hxnhew" target="_blank">点击查看</a> </p>
            </div>
            <div class="tabCon">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        商户手机号：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="mobile" placeholder="" maxlength="20" onkeyup="value=value.replace(/[^\d]/g,'')" value="@(Model.DataModel.mobile)" class="input-text" style="width:200px;">
                        <div class="dish_m_tips">请输入您在达达注册的商户手机号码</div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        选择城市：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <select name="city_name" class="select">
                            <option value="0">请选择</option>
                            @if (Model.DataModel.CityList != null && Model.DataModel.CityList.Count > 0)
                            {
                                foreach (DadaCity item in Model.DataModel.CityList)
                                {
                                    <option value="@item.cityName|@item.cityCode" @(item.cityName+"|"+item.cityCode == Model.DataModel.city_name?"selected":"")>@item.cityName</option>
                                }
                            }
                            @*<option value="上海|021">上海</option>
                            <option value="北京|010">北京</option>
                            <option value="合肥|0551">合肥</option>
                            <option value="南京|025">南京</option>
                            <option value="苏州|0512">苏州</option>
                            <option value="武汉|027">武汉</option>
                            <option value="无锡|0510">无锡</option>
                            <option value="常州|0519">常州</option>
                            <option value="杭州|0571">杭州</option>
                            <option value="广州|020">广州</option>
                            <option value="深圳|0755">深圳</option>
                            <option value="重庆|023">重庆</option>
                            <option value="长沙|0731">长沙</option>
                            <option value="成都|028">成都</option>
                            <option value="天津|022">天津</option>
                            <option value="厦门|0592">厦门</option>
                            <option value="福州|0591">福州</option>
                            <option value="大连|0411">大连</option>
                            <option value="青岛|0532">青岛</option>
                            <option value="哈尔滨|0451">哈尔滨</option>
                            <option value="济南|0531">济南</option>
                            <option value="郑州|0371">郑州</option>
                            <option value="西安|029">西安</option>
                            <option value="宁波|0574">宁波</option>
                            <option value="温州|0577">温州</option>
                            <option value="芜湖|0553">芜湖</option>
                            <option value="南通|0513">南通</option>
                            <option value="南昌|0791">南昌</option>
                            <option value="石家庄|0311">石家庄</option>
                            <option value="潍坊|0536">潍坊</option>
                            <option value="嘉兴|0573">嘉兴</option>
                            <option value="烟台|0535">烟台</option>
                            <option value="扬州|0514">扬州</option>
                            <option value="昆山|0512">昆山</option>
                            <option value="佛山|0757">佛山</option>
                            <option value="东莞|0769">东莞</option>
                            <option value="马鞍山|0555">马鞍山</option>
                            <option value="镇江|0511">镇江</option>
                            <option value="贵阳|0851">贵阳</option>
                            <option value="昆明|0871">昆明</option>
                            <option value="泰安|0538">泰安</option>
                            <option value="南宁|0771">南宁</option>
                            <option value="廊坊|0316">廊坊</option>
                            <option value="常熟|0512">常熟</option>
                            <option value="太仓|0512">太仓</option>
                            <option value="临安|0571">临安</option>*@
                        </select>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        商户编号：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="sourceid" placeholder="" maxlength="11" onkeyup="value=value.replace(/[^\d]/g,'')"  value="@(Model.DataModel.sourceid)" class="input-text" style="width:350px;">
                        <div class="dish_m_tips">请输入您在达达注册的商户编号</div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        门店编号：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="origin_shop_id" placeholder="" maxlength="20" value="@(Model.DataModel.origin_shop_id)" class="input-text" style="width:350px;">
                        <div class="dish_m_tips">请输入您在达达添加的门店编号</div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">
                        <span class="c-red">*</span>
                        企业全称：
                    </label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" name="enterprise_name" placeholder="" maxlength="100" value="@(Model.DataModel.enterprise_name)" class="input-text" style="width:350px;">
                        <div class="dish_m_tips">请输入您在达达注册的商户企业全称</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit" id="submit_button"><i class="Hui-iconfont">&#xe632;</i> 确定绑定</button>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script type="text/javascript">
	$(function(){
		$('.skin-minimal input').iCheck({
			checkboxClass: 'icheckbox-blue',
			radioClass: 'iradio-blue',
			increaseArea: '20%'
		});
        $("#tab-system").Huitab("#tab-system .tabBar span", "#tab-system .tabCon", "current", "click", "0")
		//表单验证
		$("#form-article-add").validate({
			rules:{
				dish_name:{
					required:true,
					minlength:2
				}
			},
			onkeyup:false,
			focusCleanup:true,
			success:"valid",
			submitHandler: function(form){   //表单提交句柄,为一回调函数，带一个参数：form
				var l_index = layer.msg('数据更新中', {
					icon: 16,
					shade: 0.5
				});
				$("#submit_button").attr("disabled",true);
				$(form).ajaxSubmit({
					dataType:"json",
					success:function( data ){
						$("#submit_button").attr("disabled",false);
						layer.close(l_index);
						if( data.code == 0 ){
							layer.alert(data.msg, {icon: 0});
						}else{
							layer.alert(data.msg, {icon: 1},function(index){
								window.location.reload();
							});
						}
					}
				});
			}
		});

	});
    </script>

}

