@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0">
    <title>关于我们</title>
    <!-- 引入swiper -->
    <link rel="stylesheet" href="@(WebSiteConfig.cdnurl)content/dlptcss/css/swiper.min.css">
    <!-- 引入Bootstrap -->
    <link href="@(WebSiteConfig.cdnurl)content/dlptcss/css/bootstrap.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="css/reset.css"/>-->
    <link rel="stylesheet" type="text/css" href="@(WebSiteConfig.cdnurl)content/dlptcss/css/common.css" />
    <link rel="stylesheet" type="text/css" href="@(WebSiteConfig.cdnurl)content/dlptcss/css/about.css" />
</head>
<body>
    <div class="caroul">
        <div class="container">
            <nav id="laya_nav" class="navbar navbar-inverse layabox_nav">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#laya_nav_collapse" aria-expanded="true">
                            <span class="sr-only"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand navbar-logo" href="">
                            <p>点赞科技</p>
                            <p>DZAN</p>
                        </a>
                    </div>
                    <div id="laya_nav_collapse" class="navbar-collapse collapse in" aria-expanded="true">
                        <ul class="nav navbar-nav">
                            <li><a href="/dlpt/agency">代理加盟</a></li>
                            <li><a href="/dlpt/shop">小程序商店</a></li>
                            <li class="dro">
                                <a href="/dlpt/abou_xiao">关于小程序</a>
                                <ul class="drop">
                                    <span class="sharp_top"></span>
                                    <a href="/dlpt/abou_xiao"><li class="tab">小程序排行榜</li></a>
                                    <a href="/dlpt/abou_xiao"><li class="tab">新闻资讯</li></a>
                                    <a href="/dlpt/abou_xiao"><li class="tab">深度观点</li></a>
                                    @*<a href="/dlpt/abou_xiao"><li class="tab">行业报告</li></a>*@
                                    <a href="/dlpt/Question" target="_blank"><li class="tab">小程序百科</li></a>
                                </ul>
                            </li>
                            <li class="active"><a href="/dlpt/about_US">关于我们</a></li>
                            <li><a href="https://www.vzan.com" target="_blank">微赞官网</a></li>
                            <li>
                                <a href="/CustomerHome/login" target="_blank"><button class="btn_in">小程序后台</button></a>
                                <a href="/home/login" target="_blank"><button class="btn hover">代理商后台</button></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </div>
   
                <img class="about_us_img" src="@(WebSiteConfig.cdnurl)content/dlptcss/images/about_1920.jpg" />
           
            @*<li>
                <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/shop_1920.png" />
            </li>
            <li>
                <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/xiao_1920.png" />
            </li>*@
    
    <div class="about_us ">
        <img  src="@(WebSiteConfig.cdnurl)content/dlptcss/images/img1.jpg" />
        <img  src="@(WebSiteConfig.cdnurl)content/dlptcss/images/img2.jpg" />
        <img  src="@(WebSiteConfig.cdnurl)content/dlptcss/images/img3.jpg" />
        <img  src="@(WebSiteConfig.cdnurl)content/dlptcss/images/img4.jpg" />
        <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/img5.jpg" />
        <img  src="@(WebSiteConfig.cdnurl)content/dlptcss/images/img6.jpg" />
        <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/img7.jpg" />
        <div class="about_content">
            <h2>点赞科技</h2>
            <p style="text-align: justify;">
                点赞科技（dz.vzan.com）是微赞的全资子公司，2017年年初，一经小程序上线，点赞科技便开始独立研发小程序，目前技术研
                发团队超过30人，开发的应用模板超过15个行业，并且还在保持高数的持续更新的状态，包括婚庆、电商、餐饮、健身、同城、
                美容、食品、服饰鞋帽、同城等。点赞科技基于强大的研发背景，给平台商提供小程序定制开发；给服务商提供系统代理销售，给
                万千企业提供丰富的小程序模板。
            </p>
        </div>
        
        <div class="about_link">
            <div class="about_top">
               <span class="about_right">DZAN</span>
                <p class="about_left">点赞科技</p>
            </div>

            <div class="about_down">
                <span class="about_call">
                    联系我们
                </span>
                <div class="about_info">
                    <p><img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/phone.png" /> 18680288930</p>
                    <p><img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/place.png" /> 广州市天河区天安人寿中心27层整层</p>
                </div>
            </div>
        </div>
    </div>

        <!-- 固定视口下方 -->
        <div id="fixed_bottom">
            <p>
                招商热线：18680288930
                <span class="code">
                    <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/code.png" />
                    <small>扫码加微信</small>
                </span>
            </p>

            <div id="close_fixed">
                <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/close.png" />
            </div>
        </div>
    <!--导航等组件可以放在container之外-->
    <script src="@(WebSiteConfig.cdnurl)content/dlptcss/js/jquery-2.1.0.js"></script>
    <script src="@(WebSiteConfig.cdnurl)content/dlptcss/js/swiper.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@(WebSiteConfig.cdnurl)content/dlptcss/js/bootstrap.js"></script>
    <script>

        window.onload = function () {
            var close = document.getElementById("close_fixed");
            var fixe = document.getElementById("fixed_bottom");
            close.onclick = function () {
                fixe.style.display = "none"
            }


		 	$(".nav li").eq(2).mousemove(function(){
	   			$(".dro a").eq(0).css("border-width","0")
		 		$(".drop").eq(0).css("display","block")
		 	});
		 	$(".nav li").eq(2).mouseout(function(){
	   			$(".drop").eq(0).css("display","none")
		 	});
		 	var ul = document.getElementById('ul');
		 	var li = ul.querySelectorAll('li');
		 	var lis = li.length;
		 	for (var i = 0; i < lis; i++) {
		 	    li[i].style.width = document.body.offsetWidth + "px";
		 	}
		 	//var ul = $("#ul");
		 	//ul.append($("#ul li").eq(0).clone());
		 	//ul.prepend($("#ul li").eq($("#ul li").length - 2).clone());
		 	var i = 1;
		 	var btn = true;

		 	var width = $("#ul li")[0].offsetWidth;
		 	ul.css("margin-left", "-" + width + "px")

		    //				滚动函数------------------
		 	//function go() {
		 	//    ul.animate({ "margin-left": "-" + i * width + "px" }, 200, function () {
		 	//        btn = true;

		 	        //						向左滚动到最后一张时调回第一张---------------
		 	//        if (i == $("#ul li").length - 1) {
		 	//            i = 1;
		 	//            ul.css("margin-left", "-" + width + "px")
		 	//        }

		 	//    })
		 	//}

		    //				自动向左轮播----------------
		 	//var time = setInterval(function () {
		 	//    i++;
		 	//    go();
		 	//}, 2000);
		}
    </script>
</body>
</html>