@{
    Layout = null;
}
@using Entity.MiniApp.Home
@{ 
    List<RangeGw> listRangTotal = ViewBag.listRangTotal == null ? new List<RangeGw>() : ViewBag.listRangTotal;
    List<RangeGw> listRangWeekTop = ViewBag.listRangWeekTop == null ? new List<RangeGw>() : ViewBag.listRangWeekTop;
    List<RangeGw> listRangWeekAdd = ViewBag.listRangWeekAdd == null ? listRangTotal : ViewBag.listRangWeekAdd;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0">
    <title>关于小程序</title>
    <!-- 引入swiper -->
    <link rel="stylesheet" href="@(WebSiteConfig.cdnurl)content/dlptcss/css/swiper.min.css">
    <!-- 引入Bootstrap -->
    <link href="@(WebSiteConfig.cdnurl)content/dlptcss/css/bootstrap.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="css/reset.css"/>-->
    <link rel="stylesheet" type="text/css" href="@(WebSiteConfig.cdnurl)content/dlptcss/css/about.css" />
    <link href="@(WebSiteConfig.cdnurl)content/dlptcss/css/common.css" rel="stylesheet" />
    <style type="text/css">
        .navbar-inverse .navbar-nav > li > a {
            color: #c6c7cb;
        }

        a { color: #337ab7; text-decoration: none; }
        /*分页样式*/
        .page { background: #fff; padding: 0 10px; height: 58px; margin-top: 12px; font-size: 12px; line-height: 58px; }
            .page a { padding: 4px 10px; border: 1px solid #cce6f5; margin: 0 4px; color: #198dd2; }

                .page a:hover { background: #198dd2; color: #fff; border: 1px solid #198dd2; }

        ul.page { height: 30px !important; padding-top: 0 !important; }
    </style>
</head>
<body>
    <div class="swiper-container" style="width:100%;min-width:1000px">
        <div class="swiper-wrapper ">

            <div class="swiper-slide" >
                <div class="container" >
                    <nav id="laya_nav" class="navbar navbar-inverse layabox_nav">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#laya_nav_collapse" aria-expanded="true">
                                    <span class="sr-only"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand navbar-logo" href="">
                                    <p>点赞科技</p>
                                    <p>DZAN</p>
                                </a>
                            </div>
                            <div id="laya_nav_collapse" class="navbar-collapse collapse in" aria-expanded="true">
                                <ul class="nav navbar-nav">
                                    <li><a href="/dlpt/agency">代理加盟</a></li>
                                    <li><a href="/dlpt/shop">小程序商店</a></li>
                                    <li class="dro active">
                                        <a href="/dlpt/abou_xiao">关于小程序</a>
                                        <ul class="drop">
                                            <span class="sharp_top"></span>
                                            <a href="#"><li class="tab">小程序排行榜</li></a>
                                            <a href="#"><li class="tab">新闻资讯</li></a>
                                            <a href="#"><li class="tab">深度观点</li></a>
                                            @*<a href="#"><li class="tab">行业报告</li></a>*@
                                            <a href="/dlpt/Question" target="_blank"><li class="tab">小程序百科</li></a>
                                        </ul>
                                    </li>
                                    <!--<li><a href="question.html">小程序百问百答</a></li>-->
                                    <li><a href="/dlpt/about_US">关于我们</a></li>
                                    <li><a href="https://www.vzan.com" target="_blank">微赞官网</a></li>
                                    <li>
                                        <a href="/CustomerHome/login" target="_blank"><button class="btn_in">小程序后台</button></a>
                                        <a href="/home/login" target="_blank"><button class="btn hover">代理商后台</button></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="about_xiao_title">
                    <p><span class="fl"></span><span class="fr"></span>小程序排行总榜</p>
                    </div>
                    @*小程序总榜*@
                    <div class="row" >
                        <div class="col-xs-4 list" >
                            <div class="list_titl">
                                <span>小程序总榜</span>
                                <span style="float:right">@(DateTime.Now.ToString("yyyy-MM-dd"))</span>
                            </div>
                             <div class="list_contain" id="templateList">
                                 @{
                                                 int i = 1;
                                                 foreach (RangeGw item in listRangTotal)
                                                 {
                                                     
                                        <div class="list_data">
                                            <div class="list_left">
                                                <span class="list_number">@(i++)</span>
                                               
                                                <div class="photo">
                                                    <div class="photo_con" >
                                                        <img src="@item.Logo" />
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <span class="line_name">@item.Title</span>
                                            <span class="list_right">
                                                <div></div>
                                                <p>@item.ViewNumbers</p>
                                            </span>
                                            <div class="clear"></div>
                                        </div>
                                     }
                                }
                            </div>
                             <div class="footer_btn"><a href="/dlpt/more_total" style="text-decoration:none;color:#1AAD19">查看更多</a></div>
                        </div>
                        @*本周上升榜*@
                        <div class="col-xs-4 list">
                            <div class="list_titl">
                                <span>本周上升榜</span>
                                <span style="float:right">@(DateTime.Now.ToString("yyyy-MM-dd"))</span>
                            </div>
                            <div class="list_contain" id="templateList">
                                @{
                                    int j = 1;
                                    foreach (RangeGw item in listRangWeekTop)
                                    {

                                        <div class="list_data">
                                            <div class="list_left">
                                                <span>@(j++)</span>
                                                <div class="photo">
                                                    <div class="photo_con">
                                                        <img src="@item.Logo" />
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <span class="line_name">@item.Title</span>
                                            <span class="list_right">
                                                <div></div>
                                                <p>@item.ViewNumbers</p>
                                            </span>
                                            <div class="clear"></div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="footer_btn"><a href="/dlpt/more_total?type=1" style="text-decoration:none;color:#1AAD19">查看更多</a></div>
                        </div>
                        @*本周新增榜*@
                        <div class="col-xs-4 list">
                            <div class="list_titl">
                                <span >本周新增榜</span>
                                <span style="float:right">@(DateTime.Now.ToString("yyyy-MM-dd"))</span>
                            </div>
                            <div class="list_contain" id="templateList">
                                @{
                                    int k = 1;
                                    listRangWeekAdd = listRangWeekAdd.Count > 0 ? listRangWeekAdd : listRangTotal;
                                    foreach (RangeGw item in listRangWeekAdd)
                                    {

                                        <div class="list_data">
                                            <div class="list_left">
                                                <span>@(k++)</span>
                                                <div class="photo">
                                                    <div class="photo_con">
                                                        <img src="@item.Logo" />
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <span class="line_name">@item.Title</span>
                                            <span class="list_right">
                                                <div></div>
                                                <p>@item.ViewNumbers</p>
                                            </span>
                                            <div class="clear"></div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="footer_btn"><a href="/dlpt/more_total?type=2" style="text-decoration:none;color:#1AAD19">查看更多</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide gray">
                <div class="container" id="templateList3">
                    <div class="about_xiao_title">
                        <p><span class="fl"></span><span class="fr"></span>新闻资讯</p>
                    </div>
                    <div class="row new"  v-if="templatelist3!=null && templatelist3.length>0" v-for="templateinfo3 in templatelist3">
                        <div class="col-xs-2" >
                            <div class="time">
                                <p style="font-size:22px">{{templateinfo3.time}}</p>
                                <span style="color:#fff;font-size:16px">{{templateinfo3.date}}</span>
                            </div>
                        </div>
                        <div class="col-xs-10 new_contain">
                            <a v-bind:href="getnewsurl(templateinfo3)"  target="_blank"><span>{{templateinfo3.title}}</span></a>
                            <p>
                                {{templateinfo3.introduce}}
                            </p>
                        </div>
                    </div>
                </div>
                <a href="/dlpt/miappnew" target="_blank"><button>查看更多</button></a>
            </div>

            <div class="swiper-slide white_think">
                <div class="container" id="templateList4">
                    <div class="about_xiao_title">
                        <p><span class="fl"></span><span class="fr"></span>深度观点</p>
                    </div>
                    <div class="row new"  v-if="templatelist4!=null && templatelist4.length>0" v-for="templateinfo4 in templatelist4">
                        <div class="col-xs-2">
                            <div class="time">
                                
                                <span style="color:#fff;font-size:16px">{{templateinfo4.sort}}</span>
                                <div class="time_j"></div>
                            </div>
                        </div>
                        <div class="col-xs-10 new_contain">
                            <a v-bind:href="getnewsurl(templateinfo4)" target="_blank"><span>{{templateinfo4.title}}</span></a>
                            <p>
                                {{templateinfo4.introduce}}
                            </p>
                        </div>
                    </div>
                </div>
                <a href="/dlpt/miappnew?type=1" target="_blank"><button>查看更多</button></a>
            </div>

                    <div class="swiper-slide gray">
                        <div class="container">
                            <div class="msg">
                                <div class="code">
                                    <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/code.png" />
                                </div>
                                <p style="margin-top:9px">扫码加微信</p>
                                <p>招商热线：18680288930</p>
                                <p>联系人：大树</p>
                                <p>地址：天河区林和东路天安人寿中心27楼全层</p>
                            </div>
                        </div>
                    </div>
        </div>
        
        <!-- 固定视口下方 -->
        <div id="fixed_bottom">
            <p>
                招商热线：18680288930
                <span class="code">
                    <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/code.png" />
                    <small>扫码加微信</small>
                </span>
            </p>

            <div id="close_fixed">
                <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/close.png" />
            </div>
        </div>
    </div>

    <script src="@(WebSiteConfig.cdnurl)content/dlptcss/js/jquery-2.1.0.js"></script>
    <script src="@(WebSiteConfig.cdnurl)content/dlptcss/js/swiper.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@(WebSiteConfig.cdnurl)content/dlptcss/js/bootstrap.js"></script>
    <script src="@WebSiteConfig.SourceContent/fcontent/plugin/vue.min.js"></script>


    <script>
        var array3 = []
        var vm3 = new Vue({
            el: "#templateList3",
            data: {
                pageIndex: 1,
                pagesize: 10,
                templatelist3: [],
            },
            methods: {
                gettemplatelist: function () {
                    var list = this;
                    $.ajax({
                        url: "https://wtapi.vzan.com/apiMiniAppGw/NewsList?pageIndex=1&pageSize=5&type=0",
                        type: "get",
                        obj: {},
                        dataType: "json",
                        success: function (res) {
                            if (res.isok ==1) {
                                array3=[]
                                if (res.obj != undefined && res.obj != null && res.obj.length > 0)
                                {
                                    for (var i = 0; i < res.obj.length; i++) {
                                        var model = res.obj[i]
                                        var date = res.obj[i].addtime;
                                        var time=res.obj[i].addtime
                                        array3.push({ Id:model.Id,title: model.Title, introduce: model.Introduce, newsUrl: model.NewsURL, date: data_string(date), time: time_string(time) })
                                    }
                                }
                                list.templatelist3 = array3;
                                console.log(list.templatelist3)
                            }
                            else {
                                alert(res.msg)
                            }
                        }
                    });
                },
                getnewsurl: function (newsitem) {
                    return newsitem.NewsURL == "" ? "/dlpt/more_detail/" + newsitem.Id : newsitem.NewsURL;
                }
            },
            created: function () {
                $("#templateList3").show();
                this.gettemplatelist();
            }
        })
        function data_string(str) {
            var d = eval('new ' + str.substr(1, str.length - 2));
            var ar_date = [d.getFullYear(), d.getMonth() + 1];
            for (var i = 0; i < ar_date.length; i++) ar_date[i] = dFormat(ar_date[i]);
            return ar_date.join('-');

            function dFormat(i) { return i < 10 ? "0" + i.toString() : i; }
        }
        function time_string(str) {
            var d = eval('new ' + str.substr(1, str.length - 2));
            var ar_date = [d.getDate()];
            for (var i = 0; i < ar_date.length; i++) ar_date[i] = dFormat(ar_date[i]);
            return ar_date.join('-');

            function dFormat(i) { return i < 10 ? "0" + i.toString() : i; }
        }
    </script>



    <script>
        var array4 = []
        var vm4 = new Vue({
            el: "#templateList4",
            data: {
                pageIndex: 1,
                pagesize: 10,
                templatelist4: [],
            },
            methods: {
                gettemplatelist: function () {
                    var list = this;
                    $.ajax({
                        url: "https://wtapi.vzan.com/apiMiniAppGw/NewsList?pageIndex=1&pageSize=5&type=1",
                        type: "get",
                        obj: {},
                        dataType: "json",
                        success: function (res) {
                            if (res.isok ==1) {
                                array4=[]
                                if (res.obj != undefined && res.obj != null && res.obj.length > 0)
                                {
                                    for (var i = 0; i < res.obj.length; i++) {
                                        var model = res.obj[i]
                                        //var date = res.obj[i].addtime;
                                        //var time=res.obj[i].addtime
                                        //array4.push({ title: model.Title, introduce: model.Introduce, newsUrl: model.NewsURL, date: data_string(date), time: time_string(time) })
                                        array4.push({ Id:model.Id, title: model.Title, introduce: model.Introduce, newsUrl: model.NewsURL, sort: model.Sort })

                                    }
                                }
                                list.templatelist4 = array4;
                                console.log(list.templatelist4)
                            }
                            else {
                                alert(res.msg)
                            }
                        }
                    });
                },
                getnewsurl: function (newsitem) {
                    return newsitem.newsUrl == "" ? "/dlpt/more_detail/" + newsitem.Id : newsitem.newsUrl;
                }
            },
            created: function () {
                $("#templateList4").show();
                this.gettemplatelist();
            }
        })
        function data_string(str) {
            var d = eval('new ' + str.substr(1, str.length - 2));
            var ar_date = [d.getFullYear(), d.getMonth() + 1];
            for (var i = 0; i < ar_date.length; i++) ar_date[i] = dFormat(ar_date[i]);
            return ar_date.join('-');

            function dFormat(i) { return i < 10 ? "0" + i.toString() : i; }
        }
        function time_string(str) {
            var d = eval('new ' + str.substr(1, str.length - 2));
            var ar_date = [d.getDate()];
            for (var i = 0; i < ar_date.length; i++) ar_date[i] = dFormat(ar_date[i]);
            return ar_date.join('-');

            function dFormat(i) { return i < 10 ? "0" + i.toString() : i; }
        }
    </script>







    <script>
    	var close = document.getElementById("close_fixed");
		var fixe = document.getElementById("fixed_bottom");
		close.onclick = function(){
			fixe.style.display = "none"
		}


    	var swiper_index = 0;
	  	var mySwiper = new Swiper ('.swiper-container', {
		    direction: 'vertical',
		    //是否循环滑动
		    loop: false,

		    paginationClickable: true,
			//显示视图个数
		    slidesPerView: 1,

		    //鼠标滑动切换
		    mousewheelControl: true,

		    // 如果需要分页器
		    pagination: '.swiper-pagination',

//		    	切换试图时触发
		    onSlideChangeEnd:function(swiper){
		        fixe.style.display = "block"
//		    	向下切换视图时操作
//		    	if(swiper.activeIndex > swiper_index){
//					fixe.style.display = "block"
//		    	}
//		    	向上切换视图时操作
//		    	if(swiper.activeIndex < swiper_index){
//					fixe.style.display = "block"
//		    	}
//		    	swiper_index = swiper.activeIndex;
//		        swiper.activeIndex 这个就是索引， 从 0 开始！ 可看一共有多少元素！
		    },

		    width: window.innerWidth,
			height: window.innerHeight,
	 	});

	 	$(".nav li").eq(2).mousemove(function(){
   			$(".dro a").eq(0).css("border-width","0")
	 		$(".drop").eq(0).css("display","block")
	 	});
	 	$(".nav li").eq(2).mouseout(function(){
   			$(".dro a").eq(0).css("border-width","4px")
   			$(".drop").eq(0).css("display","none")
	 	});

	  	$(".tab").eq(1).click(function(){
	  		mySwiper.slideTo(1,200,true);
	  	});
	  	$(".tab").eq(2).click(function(){
	  		mySwiper.slideTo(2,200,true);
	  	});
	  	$(".tab").eq(3).click(function(){
	  		mySwiper.slideTo(3,200,true);
	  	});

	  
    </script>
</body>
</html>
