@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>关于小程序</title>
    <!-- 引入swiper -->
    <link rel="stylesheet" href="@(WebSiteConfig.cdnurl)content/dlptcss/css/swiper.min.css">
    <!-- 引入Bootstrap -->
    <link href="@(WebSiteConfig.cdnurl)content/dlptcss/css/bootstrap.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="css/reset.css"/>-->
    <link rel="stylesheet" type="text/css" href="@(WebSiteConfig.cdnurl)content/dlptcss/css/about.css"/>
    <link href="@(WebSiteConfig.cdnurl)content/dlptcss/css/common.css" rel="stylesheet" />
    <style type="text/css">
		.navbar-inverse .navbar-nav > li > a {
		  color: #c6c7cb ;
		}
    </style>
</head>
<body>
	<div class="swiper-container">
	    <div class="swiper-wrapper ">
	        
	        <div class="swiper-slide slide2 ">
	        	<div class="container">
	        		<nav id="laya_nav" class="navbar navbar-inverse layabox_nav">
						<div class="container">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#laya_nav_collapse" aria-expanded="true">
									<span class="sr-only"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand navbar-logo" href="">
									<p>点赞科技</p>
									<p>DZAN</p>
								</a>
							</div>
							<div id="laya_nav_collapse" class="navbar-collapse collapse in" aria-expanded="true">
								<ul class="nav navbar-nav">
                                    <li><a href="/home/agency">代理加盟</a></li>
                                    <li class="active"><a href="/home/shop">小程序商店</a></li>
                                    <li><a href="~/home/abou_xiao">关于小程序</a></li>
                                    <li><a href="/home/about_US">关于我们</a></li>
                                    <li><a href="https://www.vzan.com/home/Login" target="_blank"><button class="btn_in">小程序后台</button></a><a href="/home/login"><button class="btn hover">代理商后台</button></a></li>
								</ul>
							</div>
							
						</div>
					</nav>
	        	</div>
	        </div>
	        <div class="swiper-slide">
	        	<div class="container">
	        		<div class="titl"><p>小程序排行榜</p></div>
	        		<div class="row">
	        			<div class="col-xs-4 list">
	        				<div class="list_titl">
	        					<span class="list_name">小程序总榜</span>
	        					<span class="list_time">2017-08-09</span>
	        				</div>
	        				<div class="list_contain">
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>1</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							王卡申请助手
	        						<span class="list_data3">
	        							<div></div>
	        							<p>1000</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>2</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>3</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>4</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>5</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>6</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>7</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        				</div>
	        			</div>
	        			<div class="col-xs-4 list">
	        				<div class="list_titl">
	        					<span class="list_name">本周上升榜</span>
	        					<span class="list_time">2017-08-09</span>
	        				</div>
	        				<div class="list_contain">
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>1</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							王卡申请助手
	        						<span class="list_data3">
	        							<div></div>
	        							<p>1000</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>2</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>3</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>4</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>5</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>6</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>7</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        				</div>
	        			</div>
	        			<div class="col-xs-4 list">
	        				<div class="list_titl">
	        					<span class="list_name">本周新增榜</span>
	        					<span class="list_time">2017-08-09</span>
	        				</div>
	        				<div class="list_contain">
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>1</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							王卡申请助手
	        						<span class="list_data3">
	        							<div></div>
	        							<p>1000</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>2</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>3</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>4</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>5</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>6</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        					<div class="list_data">
	        						<div class="list_data1">
	        							<span>7</span>
	        							<div class="photo">
	        								<div class="photo_con">
	        									<img src="images/11111.png"/>
	        								</div>
	        							</div>
	        							<div class="clear"></div>
	        						</div>
	        							摩拜单车
	        						<span class="list_data3">
	        							<div></div>
	        							<p>964</p>
	        						</span>
	        						<div class="clear"></div>
	        					</div>
	        				</div>
	        			</div>
	        		</div>
	        	</div>
	        </div>
		    <div class="swiper-slide gray">
		    	<div class="container">
	        		<div class="titl padding_bon"><p><span class="fl"></span><span class="fr"></span>新闻资讯</p></div>
					<div class="row new">
						<div class="col-xs-2">
							<div class="time">
								<span>04</span>
								<p>2017-9</p>
								<div class="time_j"></div>
							</div>
						</div>
						<div class="col-xs-10 new_contain">
							<a href="http://mp.weixin.qq.com/s/rnmriKAcL30MUA3anQQh8Q" target="_blank"><span>小程序让百度、淘宝坐卧不安，你该如何入局？</span></a>
							<p>
								微信坐拥9.63亿日活，是百度的9倍，是淘宝的5-6倍。如果公众号改变了中国的媒体业，那么小程序将改变中国的商业。
							</p>
						</div>
					</div>
					<div class="row new">
						<div class="col-xs-2">
							<div class="time">
								<span>04</span>
								<p>2017-9</p>
								<div class="time_j"></div>
							</div>
						</div>
						<div class="col-xs-10 new_contain">
							<a href="http://mp.weixin.qq.com/s/x7pmJKEvjePgsf_nsy5LkQ" target="_blank"><span>张小龙：微信重启！ 订阅号+小程序，新一轮的红利！</span></a>
							<p>
								站在地球前面的这个男人，4年前发明了微信，总用户达几十亿，日均活跃用户达8亿之多。当我们觉得微信已经如日中天的时候，他再次走到公众面前，轻描淡写的说： 下一站 Let's reset ！
							</p>
						</div>
					</div>
					<div class="row new">
						<div class="col-xs-2">
							<div class="time">
								<span>24</span>
								<p>2017-8</p>
								<div class="time_j"></div>
							</div>
						</div>
						<div class="col-xs-10 new_contain">
							<a href="http://mp.weixin.qq.com/s/rAGUXgqb5sK_2T7ZLK1RDg" target="_blank"><span>点赞科技深度解读小程序三部曲</span></a>
							<p>
								网站是pc互联网时代所有企业的天然应用，小程序是每一个企业在移动互联网时代天然的应用
							</p>
						</div>
					</div>
					<div class="row new">
						<div class="col-xs-2">
							<div class="time">
								<span>06</span>
								<p>2017-9</p>
								<div class="time_j"></div>
							</div>
						</div>
						<div class="col-xs-10 new_contain">
							<a href="http://mp.weixin.qq.com/s/Uh33_Lzyz73Ijr0Huce5Lg" target="_blank"><span>悲剧！马云喊出新零售，却让小程序入了局</span></a>
							<p>
								新零售将通过小程序得以实现。这将改变电商行业、传统线下业务、本地生活服务。这也意味着比电商大10倍的市场！
								比公众号大1000倍的市场！比美团+饿了么+大众点评大100倍的市场！比传统线下零售业大数倍的市场得以出现！
							</p>
						</div>
					</div>
					<div class="row new">
						<div class="col-xs-2">
							<div class="time">
								<span>24</span>
								<p>2017-8</p>
								<div class="time_j"></div>
							</div>
						</div>
						<div class="col-xs-10 new_contain">
							<a href="http://mp.weixin.qq.com/s/wBCcc_Og49hIgflwO2n6vg" target="_blank"><span>行业大咖深度解读小程序</span></a>
							<p>
								微信红包、微信支付让马云爸爸很受挫,微信搜索功能让百度很受挫,小程序会让所有大佬都很受挫
							</p>
						</div>
					</div>
					<a href="new.html" target="_blank"><button>查看更多</button></a>
					
		    	</div>
		    </div>
		    <div class="swiper-slide slide3">
		    	<div class="container">
	        		<div class="titl"><p><span class="fl"></span><span class="fr"></span>深度观点</p></div>
	        		<p class="how">为什么布局小程序</p>
	        		<span class="line"></span>
	        		<div class="row">
	        			<div class="col-xs-4 fll">
	        				<div class="circle">
	        					<span>1</span>
	        				</div>
	        				<p class="answer">小程序是强流量入口，小程序是未来商业竞争的主战场</p>
	        			</div>
	        			<div class="col-xs-4 fll">
	        				<div class="circle">
	        					<span>2</span>
	        				</div>
	        				<p class="answer">网站是PC互联网时代所有企业的天然应用，小程序是每一个企业在移动互联网时代天然的应用</p>
	        			</div>
	        			<div class="col-xs-4 fll">
	        				<div class="circle">
	        					<span>3</span>
	        				</div>
	        				<p class="answer">可以轻易的获取用户数据</p>
	        			</div>
	        		</div>
	        		<div class="row">
	        			<div class="col-xs-4 fll">
	        				<div class="circle">
	        					<span>4</span>
	        				</div>
	        				<p class="answer">附近的小程序是未来O2O第一平台</p>
	        			</div>
	        			<div class="col-xs-4 fll">
	        				<div class="circle">
	        					<span>5</span>
	        				</div>
	        				<p class="answer">微信搜索将超越百度成为搜索流量最大的平台</p>
	        			</div>
	        			<div class="col-xs-4 fll">
	        				<div class="circle">
	        					<span>6</span>
	        				</div>
	        				<p class="answer">关于微信小程序的41个庞大流量入口</p>
	        			</div>
	        		</div>
	        		<div class="row">
	        			<div class="col-xs-4 fll">
	        				<p class="how">如何布局小程序</p>
	        				<span class="line"></span>
	        				<div>
	        					<div class="circle">
		        					<span>1</span>
		        				</div>
		        				<p class="answer">成为服务商</p>
	        				</div>
	        				<div>
	        					<div class="circle">
		        					<span>2</span>
		        				</div>
		        				<p class="answer">成为平台商</p>
	        				</div>
	        				<div>
	        					<div class="circle">
		        					<span>3</span>
		        				</div>
		        				<p class="answer">万千企业如何布局</p>
	        				</div>
	        			</div>
	        			<div class="col-xs-8 fll">
	        				<p class="how">小程序市场究竟有多大</p>
	        				<span class="line"></span>
	        				<div>
	        					<div class="circle">
		        					<span>1</span>
		        				</div>
		        				<p class="answer">附近的小程序将深度应用到本地生活服务行业，深刻的改变行业的经营模式</p>
	        				</div>
	        				<div>
	        					<div class="circle">
		        					<span>2</span>
		        				</div>
		        				<p class="answer">微信搜索将深度应用到企业推广营销中，深刻的改变行业的经营模式</p>
	        				</div>
	        			</div>
	        		</div>
	        		<a href="http://mp.weixin.qq.com/s/rAGUXgqb5sK_2T7ZLK1RDg" target="_blank"><button>查看更多</button></a>
		    	</div>
		    </div>
		    <div class="swiper-slide slide4">
		    	<div class="container">
	        		<div class="titl"><p class="color_white"><span class="fl"></span><span class="fr"></span>行业报告</p></div>
		    		<a href="http://www.aldzs.com/baogao/aldzs_com.pdf" target="_blank"><button>查看更多</button></a>
		    	</div>
		    </div>
		    <div class="swiper-slide gray">
		    	<div class="container">
		    		<div class="msg">
			    		<div class="code">
			    			<img src="images/code.png"/>
			    		</div>
			    		<p>扫码加微信</p>
			    		<p>招商热线：18680288930</p>
			    		<p>联系人：大树</p>
			    		<p>地址：天河区林和东路天安人寿中心27楼全层</p>
		    		</div>
		    	</div>
		    </div>
	    </div>
	    <!-- 如果需要分页器 -->
	    <div class="swiper-pagination"></div>
	</div>
	
    <script src="@(WebSiteConfig.cdnurl)js/jquery-2.1.0.js"></script>
    <script src="@(WebSiteConfig.cdnurl)js/swiper.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@(WebSiteConfig.cdnurl)js/bootstrap.js"></script>
    <script>
	  var mySwiper = new Swiper ('.swiper-container', {
	    direction: 'vertical',
	    //是否循环滑动
	    loop: false,
	    
	    paginationClickable: true,
		//显示视图个数
	    slidesPerView: 1,
	    
	    //鼠标滑动切换
	    mousewheelControl: true,
		    
	    // 如果需要分页器
	    pagination: '.swiper-pagination',
	  })
	  var msg = document.getElementsByClassName("msg")[0];
	  var gray = document.getElementsByClassName("gray")[0];
	  msg.style.margin = (gray.offsetHeight - msg.offsetHeight)/2 + "px";
	  </script>
	</body>
</html>