@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta title="点赞小程序-微信小程序|微信小程序开发|微信小程序百科|微信小程代理加盟" />
    <meta keyword="小程序,微信小程序,点赞小程序,微信点赞小程序,小程序工具,微信小程序工具,小程序开发,微信小程序开发,小程序百科,微信小程序百科,小程序平台,微信小程序平台" />
    <meta description="点赞科技是微赞的全资子公司，2017年年初，一经小程序上线，点赞科技便开始独立研发小程序，目前技术研发团队超过30人，开发的应用模板超过15个行业，并且还在保持高数的持续更新的状态，包括婚庆、电商、餐饮、健身、同城、美容、食品、服饰鞋帽、同城等。点赞科技基于强大的研发背景，给平台商提供小程序定制开发；给服务商提供系统代理销售，给万千企业提供丰富的小程序模板。" />
    <title>代理加盟</title>
    <!-- 引入swiper -->
    <link rel="stylesheet" href="@(WebSiteConfig.cdnurl)content/dlptcss/css/swiper.min.css?ver=@(DateTime.Now.Ticks)">
    <!-- 引入Bootstrap -->
    <link href="@(WebSiteConfig.cdnurl)content/dlptcss/css/bootstrap.css?ver=@(DateTime.Now.Ticks)" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="css/reset.css"/>-->
    <link rel="stylesheet" type="text/css" href="@(WebSiteConfig.cdnurl)content/dlptcss/css/common.css?ver=@(DateTime.Now.Ticks)" />
    <link rel="stylesheet" type="text/css" href="@(WebSiteConfig.cdnurl)content/dlptcss/css/agency.css?ver=@(DateTime.Now.Ticks)" />
</head>

<body>

    <div class="swiper-container">
        <div class="swiper-wrapper ">
            <div class="swiper-slide slide1 ">
                <div class="container">
                    <nav id="laya_nav" class="navbar navbar-inverse layabox_nav">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#laya_nav_collapse" aria-expanded="true">
                                    <span class="sr-only"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand navbar-logo" href="">
                                    <p>点赞科技</p>
                                    <p>DZAN</p>
                                </a>
                            </div>
                            <div id="laya_nav_collapse" class="navbar-collapse collapse in" aria-expanded="true">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="/dlpt/agency">代理加盟</a></li>
                                    <li><a href="/dlpt/shop">小程序商店</a></li>
                                    <li class="dro">
                                        <a href="/dlpt/abou_xiao">关于小程序</a>
                                        <ul class="drop">
                                            <span class="sharp_top"></span>
                                            <a href="/dlpt/abou_xiao"><li class="tab">小程序排行榜</li></a>
                                            <a href="/dlpt/abou_xiao"><li class="tab">新闻资讯</li></a>
                                            <a href="/dlpt/abou_xiao"><li class="tab">深度观点</li></a>
                                            @*<a href="/dlpt/abou_xiao"><li class="tab">行业报告</li></a>*@
                                            <a href="/dlpt/Question" target="_blank"><li class="tab">小程序百科</li></a>
                                        </ul>
                                    </li>
                                    <li><a href="/dlpt/about_US">关于我们</a></li>
                                    <li><a href="https://www.vzan.com" target="_blank">微赞官网</a></li>
                                    <li>
                                        <a href="/CustomerHome/login" target="_blank"><button class="btn_in">小程序后台</button></a>
                                        <a href="/home/login" target="_blank"><button class="btn hover">代理商后台</button></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

            </div>
            <div class="swiper-slide gray">
                <div class="container">
                    <div class="titl">
                        <p><span class="fl"></span><span class="fr"></span>小程序应用场景</p>
                    </div>
                    <div class="scene_view">
                        <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/bg2.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="swiper-slide ">
                <div class="container">
                    <div class="titl">
                        <p><span class="fl"></span><span class="fr"></span>小程序的41个流量入口</p>
                    </div>
                    <div class="xcx_flow">
                        <dl>
                            <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/index-01.png" alt="公众号" />
                            <dt>公众号</dt>
                            <dd>关联50个公众号</dd>
                            <dd>ID互通</dd>
                            <dd>群发图文</dd>
                            <dd>自定义菜单</dd>
                            <dd>模板消息</dd>
                            <dd>客服消息</dd>
                            <dd>资料页</dd>
                            <dd>关联通知</dd>
                            <dd>快速创建</dd>
                            <dd>支付后关注</dd>
                            <div class="clear"></div>
                        </dl>
                        <dl>
                            <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/index-02.png" alt="会话" />
                            <dt>会话</dt>
                            <dd>小程序卡片</dd>
                            <dd>获取群ID</dd>
                            <dd>显示群名称</dd>
                            <dd>显示到聊天顶部</dd>
                            <dd>状态信息显示</dd>
                            <dd>页面内分享</dd>
                            <dd>自定义图片</dd>
                            <div class="clear"></div>
                        </dl>
                        <dl>
                            <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/index-03.png" alt="扫码" />
                            <dt>扫码</dt>
                            <dd>突出品牌的小程序码</dd>
                            <dd>长按识别</dd>
                            <dd>无数量限制</dd>
                            <dd>兼容线下二维码</dd>
                            <div class="clear"></div>
                        </dl>
                        <dl>
                            <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/index-04.png" alt="APP" />
                            <dt>APP</dt>
                            <dd>用户识别</dd>
                            <dd>分享卡片</dd>
                            <dd>登录信息</dd>
                            <div class="clear"></div>
                        </dl>
                        <dl>
                            <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/index-05.png" alt="附近的小程序" />
                            <dt>附近的小程序</dt>
                            <dd>地理位置分享</dd>
                            <dd>类目筛选</dd>
                            <dd>功能标签外露</dd>
                            <dd>LBS推广</dd>
                            <div class="clear"></div>
                        </dl>
                        <dl>
                            <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/index-06.png" alt="微信搜索" />
                            <dt>微信搜索</dt>
                            <dd>搜索小程序名称</dd>
                            <dd>模糊匹配</dd>
                            <dd>10个关键词推广</dd>
                            <dd>服务直达</dd>
                            <div class="clear"></div>
                        </dl>
                        <dl>
                            <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/index-07.png" alt="其他" />
                            <dt>其他</dt>
                            <dd>历史列表</dd>
                            <dd>星标小程序</dd>
                            <dd>支付凭证</dd>
                            <dd>支付完成页</dd>
                            <dd>社交立减金</dd>
                            <dd>礼品卡</dd>
                            <dd>微信连WIFI</dd>
                            <dd>更多</dd>
                            <dd>...</dd>
                            <div class="clear"></div>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="swiper-slide gray">
                <div class="titl">
                    <p><span class="fl"></span><span class="fr"></span>小程序通用模板零售价</p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 padding_0">
                            <div class="bg_contain">
                                <div class="bg_head head01">
                                    <p>1999/年</p>
                                    <span>单页版</span>
                                </div>
                                <dl>
                                    <dt class="bg_main01">产品核心功能</dt>
                                    <dd>自定义页面</dd>
                                    <dd>在线预约</dd>
                                    <dd>在线呼叫</dd>
                                    <dd>焦点图轮播</dd>
                                    <dd>各种长度的设计效果</dd>
                                </dl>
                                <div class="bg_foot">
                                    <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/bg_foot01.png" />
                                    <small>版本案例</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 padding_0">
                            <div class="bg_contain">
                                <div class="bg_head head02">
                                    <p>5999/年</p>
                                    <span>企业版</span>
                                </div>
                                <dl>
                                    <dt class="bg_main02">产品核心功能</dt>
                                    <dd>在线预约</dd>
                                    <dd>单页自定义</dd>
                                    <dd>在线呼叫</dd>
                                    <dd>企业官网</dd>
                                    <dd>企业咨询流</dd>
                                    <dd>产品展示</dd>
                                    <dd>发展历程</dd>
                                </dl>
                                <div class="bg_foot">
                                    <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/bg_foot02.png" />
                                    <small>版本案例</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 padding_0">
                            <div class="bg_contain">
                                <div class="bg_head head03">
                                    <p>11999/年</p>
                                    <span>电商版</span>
                                </div>
                                <dl>
                                    <dt class="bg_main03">产品核心功能</dt>
                                    <dd>在线预约</dd>
                                    <dd>商品分类</dd>
                                    <dd>商品上传</dd>
                                    <dd>在线支付</dd>
                                    <dd>个人中心</dd>
                                    <dd>数据统计</dd>
                                    <dd>订单管理</dd>
                                    <dd>商品分享</dd>
                                    <dd>首焦轮播图</dd>
                                </dl>
                                <div class="bg_foot">
                                    <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/bg_foot03.png" />
                                    <small>版本案例</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 padding_0">
                            <div class="bg_contain">
                                <div class="bg_head head04">
                                    <p>15大行业深度新零售解决方案即将出炉</p>
                                </div>
                                <dl>
                                    <dd>医美、足浴、</dd>
                                    <dd>餐饮、电商、</dd>
                                    <dd>零售、家政、</dd>
                                    <dd>酒店、KTV、</dd>
                                    <dd>美容美发美甲、</dd>
                                    <dd>健身房、家装建材、</dd>
                                    <dd>教育培训、汽车、</dd>
                                    <dd>房地产、宠物</dd>
                                </dl>
                                <div class="bg_foot">
                                    <span>十月金秋</span>
                                    <p>15大行业模板即将批量上线</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide slide4">
                <div class="container">
                    <div class="titl color_white">
                        <p><span class="fl"></span><span class="fr"></span>小程序代理方案</p>
                    </div>
                    <table border="0" class="sus_table">
                        <tr>
                            <th>城市类别</th>
                            <th>预存款(可抵扣)</th>
                            <th>代理商数限制</th>
                            <th>后期补货(万)</th>
                        </tr>
                        <tr class="hover_gray">
                            <td>县/县级市</td>
                            <td>1万</td>
                            <td>3-5</td>

                            <td rowspan="4" class="bg_white">1</td>
                        </tr>
                        <tr class="hover_gray">
                            <td>地级市</td>
                            <td>3万</td>
                            <td>3-5</td>
                        </tr>
                        <tr class="hover_gray">
                            <td>二线城市</td>
                            <td>5万</td>
                            <td>3-5</td>
                        </tr>
                        <tr class="hover_gray">
                            <td>一线城市</td>
                            <td>10万</td>
                            <td>5-8</td>
                        </tr>
                    </table>
                    <div class="titl color_white">
                        <p><span class="fl"></span><span class="fr"></span>代理收益来源</p>
                    </div>
                    <table border="0" class="sus_table">
                        <tr>
                            <th>收益方式</th>
                            <th>适用代理类型</th>
                            <th>收益率</th>
                        </tr>
                        <tr class="hover_gray">
                            <td>被动收益</td>
                            <td>首家代理商</td>
                            <td>(后期代理商代理费+充值)X10%</td>
                        </tr>
                        <tr class="hover_gray">
                            <td>主动收益</td>
                            <td>所有代理商</td>
                            <td>自定义零售-成本</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="titl">
                        <p><span class="fl"></span><span class="fr"></span>代理商支持</p>
                    </div>
                    <div class="xcx_flow sustain_catain">
                        <dl>
                            <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/sustain01.png" alt="公众号" />
                            <dt>物料支持</dt>
                            <dd>宣传单</dd>
                            <dd>易拉宝</dd>
                            <div class="clear"></div>
                        </dl>
                        <dl>
                            <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/sustain02.png" alt="会话" />
                            <dt>推广支持</dt>
                            <dd>百度推广</dd>
                            <dd>今日头条推广</dd>
                            <dd>公众号(200万粉丝)推广</dd>
                            <div class="clear"></div>
                        </dl>
                        <dl>
                            <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/sustain03.png" alt="扫码" />
                            <dt>培训支持</dt>
                            <dd>销售话术</dd>
                            <dd>客户资料</dd>
                            <dd>会销PPT</dd>
                            <dd>会销讲师</dd>
                            <div class="clear"></div>
                        </dl>
                        <dl>
                            <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/sustain04.png" alt="APP" />
                            <dt>总部客源</dt>
                            <dd>微赞10万+企业客户转化</dd>
                            <dd>总部在代理区域不发展终端</dd>
                            <dd>而是直接输送给代理商</dd>
                            <div class="clear"></div>
                        </dl>
                        <dl>
                            <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/sustain05.png" alt="附近的小程序" />
                            <dt>销售模式</dt>
                            <dd>直销全案支持</dd>
                            <dd>会销全案支持</dd>
                            <dd>分销全案支持</dd>
                            <dd id="red">绝密小程序躺赢方案</dd>
                            <div class="clear"></div>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="swiper-slide gray">
                <div class="container_1">
                    <div class="titl">
                        <p><span class="fl"></span><span class="fr"></span>代理商收入预测</p>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <table border="0" class="sus_table">
                                <tr>
                                    <th>类别</th>
                                    <th>商户及企业数量</th>
                                    <th>假设开发率</th>
                                    <th>市场价值</th>
                                </tr>
                                <tr class="hover_gray">
                                    <td>县及县级市</td>
                                    <td>2000家</td>
                                    <td>10%</td>
                                    <td>500万以上</td>
                                </tr>
                                <tr class="hover_gray">
                                    <td>地级市</td>
                                    <td>2万家</td>
                                    <td>10%</td>
                                    <td>5000万-2亿</td>
                                </tr>
                                <tr class="hover_gray">
                                    <td>省会城市</td>
                                    <td>20万家</td>
                                    <td>10%</td>
                                    <td>5亿-20亿</td>
                                </tr>
                                <tr class="hover_gray">
                                    <td>一线城市</td>
                                    <td>100万家</td>
                                    <td>10%</td>
                                    <td>25亿-1000亿</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <table border="0" class="sus_table">
                                <tr>
                                    <th>代理收入来源</th>
                                    <th>成本收益率</th>
                                </tr>
                                <tr class="hover_gray">
                                    <td>销售小程序模板</td>
                                    <td>2倍-10倍</td>
                                </tr>
                                <tr class="hover_gray">
                                    <td>小程序模板+装修设计(小程序建站)</td>
                                    <td>3倍以上</td>
                                </tr>
                                <tr class="hover_gray">
                                    <td>小程序模板+装修设计(小程序建站)+全年运营</td>
                                    <td>5倍以上</td>
                                </tr>
                                <tr class="hover_gray">
                                    <td>首家代理商后续代理返款(10%/家)</td>
                                    <td>1:1-2</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>



            <div class="swiper-slide white">
                <div class="container">
                    <div id="consulting">
                        <div class="titl">
                            <p><span class="fl"></span><span class="fr"></span>获得详细代理方案</p>
                        </div>
                        <form id="consulting_form" name="consulting_form" class="form_consulting">
                            <input type="text" name="Username" id="Username" placeholder="请输入您的称呼" value="" />
                            <input type="text" name="Phone" id="Phone" placeholder="请输入您的联系电话" value="" />
                            <input type="hidden" name="Source" id="Source" value="0" />
                            <input type="button" name="" id="submit" onclick="submitTest()" value="提交" />
                        </form>
                        <div id="result"></div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide white">
                <div class="container">
                    <div class="msg">
                        <div class="code">
                            <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/code.png" />
                        </div>
                        <p>扫码加微信</p>
                        <p>招商热线：18680288930</p>
                        <p>联系人：大树</p>
                        <p>地址：天河区林和东路天安人寿中心27楼全层</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 如果需要分页器 -->
        <div class="swiper-pagination">

        </div>

        <!-- 固定视口下方 -->
        <div id="fixed_bottom">
            <p>
                招商热线：18680288930
                <span class="code">
                    <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/code.png" />
                    <small>扫码加微信</small>
                </span>
            </p>

            <div id="close_fixed">
                <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/close.png" />
            </div>
        </div>


    </div>
    <!--导航等组件可以放在container之外-->
    <script src="@(WebSiteConfig.cdnurl)content/dlptcss/js/jquery-2.1.0.js"></script>

    <script src="@(WebSiteConfig.cdnurl)content/dlptcss/js/swiper.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@(WebSiteConfig.cdnurl)content/dlptcss/js/bootstrap.js"></script>

    <script>
        var close = document.getElementById("close_fixed");
        var fixe = document.getElementById("fixed_bottom");
        close.onclick = function () {
            fixe.style.display = "none"
        }


        var swiper_index = 0;
        var mySwiper = new Swiper('.swiper-container', {
            direction: 'vertical',
            //是否循环滑动
            loop: false,

            paginationClickable: true,
            //显示视图个数
            slidesPerView: 1,

            //鼠标滑动切换
            mousewheelControl: true,

            // 如果需要分页器
            pagination: '.swiper-pagination',

            //		    	切换试图时触发
            onSlideChangeEnd: function (swiper) {
                fixe.style.display = "block"
                //		    	向下切换视图时操作
                //		    	if(swiper.activeIndex > swiper_index){
                //					fixe.style.display = "block"
                //		    	}
                //		    	向上切换视图时操作
                //		    	if(swiper.activeIndex < swiper_index){
                //					fixe.style.display = "block"
                //		    	}
                //		    	swiper_index = swiper.activeIndex;
                //		        swiper.activeIndex 这个就是索引， 从 0 开始！ 可看一共有多少元素！
            },
        })



        //var bg_contain = document.getElementsByClassName("bg_contain");
        //var bg_foot = document.getElementsByClassName("bg_foot");
        //var heigh = 0;
        //var foot_heigh = 0;
        //for (var i = 0;i<bg_contain.length;i++) {
        //	if (bg_contain[i].offsetHeight>heigh) {
        //		heigh = bg_contain[i].offsetHeight;
        //	}
        //	if (bg_foot[i].offsetHeight>foot_heigh) {
        //		foot_heigh = bg_foot[i].offsetHeight;
        //	}
        //}

        //for (var i = 0;i<bg_contain.length;i++) {
        //	bg_contain[i].style.height =  heigh + foot_heigh +"px";
        //	bg_foot[i].style.height =  foot_heigh +"px";
        //}

        $(".nav li").eq(2).mousemove(function () {
            $(".dro a").eq(0).css("border-width", "0")
            $(".drop").eq(0).css("display", "block")
        });
        $(".nav li").eq(2).mouseout(function () {
            $(".drop").eq(0).css("display", "none")
        });

        //var sus_data = document.getElementsByClassName("sus_data");
        //sus_data[1].style.lineHeight = (sus_data[0].offsetHeight - 20)/3 + "px";





        var consulting = document.getElementById("consulting");
        var sub = document.getElementById("submit");
        var Username = document.getElementById("Username");
        var Phone = document.getElementById("Phone");
        var Source = document.getElementById("Source");
        var result = document.getElementById("result");


        function submitTest() {
            if (Username.value.length > 20 || Username.value == "" || Username.value == null) {
                result.innerHTML = "<span>请输入正确姓名</span>";
                result.style.display = "block";
                result.style.marginTop = "-" + result.offsetHeight / 2 + "px";
                result.style.marginLeft = "-" + result.offsetWidth / 2 + "px";
                setTimeout(function () {
                    result.style.display = "none";
                }, 1000)
                return false;
            }
            if (!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(Phone.value)) || Phone.value == "" || Phone.value == null || Phone.value.length != 11) {
                result.innerHTML = "<span>请输入正确手机号</span>";
                result.style.display = "block";
                result.style.marginTop = "-" + result.offsetHeight / 2 + "px";
                result.style.marginLeft = "-" + result.offsetWidth / 2 + "px";
                setTimeout(function () {
                    result.style.display = "none";
                }, 1000)
                return false;
            }
            $.post("/dlpt/SendUserAdvisory", { Phone: Phone.value, username: Username.value }, function (data) {
                result.innerHTML = "<span>" + data.Msg + "</span>";
                result.style.display = "block";
                result.style.marginTop = "-" + result.offsetHeight / 2 + "px";
                result.style.marginLeft = "-" + result.offsetWidth / 2 + "px";
                if (data.isok) {
                    setTimeout(function () {
                        consulting.style.display = "block";
                        result.style.display = "none";
                    }, 2000)
                } else {
                    setTimeout(function () {
                        result.style.display = "none";
                    }, 1000)
                }

                $("#Username").val("");
                $("#Phone").val("");
            });

        }









    </script>
</body>
</html>