
@{
    Layout = null;
}
@using Entity.MiniApp.Home
@model   List<NewsGw>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@(ViewBag.Type > 0 ? "深度观点" : "新闻资讯")</title>
    <!-- 引入Bootstrap -->
    <link href="@(WebSiteConfig.cdnurl)content/dlptcss/css/bootstrap.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="css/reset.css"/>-->
    <link rel="stylesheet" type="text/css" href="@(WebSiteConfig.cdnurl)content/dlptcss/css/common.css"/>
    <style type="text/css">
        .web { width: 100%; background: #F3F3F3; }

        .navbar-inverse .navbar-nav > li > a { color: #333333; }
        .white { width: 100%; padding: 0 20px; background: white; color: #666666; line-height: 90px; }
            .white p { font-size: 24px; }
        .new:first-of-type { margin-top: 30px; }
        .new { padding-top: 30px; }
        .time { width: 100px; height: 100px; position: relative; background: #1AAD19; color: white; display: table-cell; vertical-align: middle; text-align: center; }
            .time span { font-size: 28px; }
            .time p { font-size: 16px; }
        .time_j { width: 0; height: 0; border-left: 16px solid #1AAD19; border-top: 9px solid transparent; border-bottom: 9px solid transparent; position: absolute; top: 30px; right: -16px; }
        .new_contain span { display: block; padding-bottom: 20px; font-size: 30px; color: #333333; }
        .new_contain p { padding-bottom: 30px; color: #666666; font-size: 20px; border-bottom: 1px solid #e2e2e2; margin: 0; }

       a { color: #337ab7; text-decoration: none; }
        /*分页样式*/
        .page { padding: 0 10px; height: 58px; margin-top: 12px; font-size: 12px; line-height: 58px;text-align:center; }
            .page a { padding: 4px 10px; border: 1px solid #cce6f5; margin: 0 4px; color: #198dd2; }

                .page a:hover { background: #198dd2; color: #fff; border: 1px solid #198dd2; }

        ul.page { height: 30px !important; padding-top: 0 !important; }
        .page .disabled { padding: 4px 10px; border: 1px solid #cce6f5; margin: 0 4px; color: #198dd2; }

    </style>
</head>
<body>
	<div class="web">
		<div class="container">
            <nav id="laya_nav" class="navbar navbar-inverse layabox_nav">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#laya_nav_collapse" aria-expanded="true">
                            <span class="sr-only"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand navbar-logo" href="">
                            <p>点赞科技</p>
                            <p>DZAN</p>
                        </a>
                    </div>
                    <div id="laya_nav_collapse" class="navbar-collapse collapse in" aria-expanded="true">
                        <ul class="nav navbar-nav">
                            <li><a href="/dlpt/agency">代理加盟</a></li>
                            <li><a href="/dlpt/shop">小程序商店</a></li>
                            <li class="dro active">
                                <a href="/dlpt/abou_xiao">关于小程序</a>
                                <ul class="drop">
                                    <span class="sharp_top"></span>
                                    <a href="/dlpt/abou_xiao"><li class="tab">小程序排行榜</li></a>
                                    <a href="/dlpt/abou_xiao"><li class="tab">新闻资讯</li></a>
                                    <a href="/dlpt/abou_xiao"><li class="tab">深度观点</li></a>
                                    @*<a href="/dlpt/abou_xiao"><li class="tab">行业报告</li></a>*@
                                    <a href="/dlpt/Question" target="_blank"><li class="tab">小程序百科</li></a>
                                </ul>
                            </li>
                            <li><a href="/dlpt/about_US">关于我们</a></li>
                            <li><a href="https://www.vzan.com" target="_blank">微赞官网</a></li>
                            <li>
                                <a href="/CustomerHome/login" target="_blank"><button class="btn_in">小程序后台</button></a>
                                <a href="/home/login" target="_blank"><button class="btn hover">代理商后台</button></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
		</div>
		<div class="white">
			<div class="container">
				<p class="now">当前位置：<strong>关于小程序</strong>&nbsp;&nbsp;>&nbsp;@(ViewBag.Type>0?"深度观点":"新闻资讯")&nbsp;>&nbsp;详情</p>
			</div>
		</div>
		<div class="container">
			
            @{
                foreach (NewsGw item in Model)
                {
                    <div class="row new">
                        <div class="col-xs-2">
                            <div class="time">
                                @{
                                    if (ViewBag.Type > 0)
                                    {
                                        <span>@item.Sort</span>
                                        
                                    }
                                    else
                                    {
                                        <span>@item.addtime.ToString("MM")</span>
                                        <p>@item.addtime.ToString("yyyy-dd")</p>
                                    }
                                }
                               
                                <div class="time_j"></div>
                            </div>
                        </div>
                        <div class="col-xs-10 new_contain">
                            <a href="@(string.IsNullOrEmpty(item.NewsURL)?"/dlpt/more_detail/"+item.Id:item.NewsURL)" target="_blank"><span>@item.Title</span></a>
                            <p>
                                @item.Introduce
                            </p>
                        </div>
                    </div>
                }
            }
			
            <ul class="page" style="height: 0; line-height: 0; padding-top: 12px;">
                共@(ViewBag.TotalCount)条记录&nbsp; @MvcPager.Pager(Html, "pageIndex", ViewBag.pageSize, ViewBag.TotalCount)
            </ul>
			
		</div>
	</div>
	
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    @*<script src="@(WebSiteConfig.cdnurl)content/dlptcss/js/jquery/1.12.4/jquery.min.js"></script>*@
    <script src="@(WebSiteConfig.cdnurl)content/dlptcss/js/jquery-2.1.0.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@(WebSiteConfig.cdnurl)content/dlptcss/js/bootstrap.js"></script>
    <script>
		window.onload = function(){
		    $(".nav li").eq(2).mousemove(function(){
	   		    $(".dro a").eq(0).css("border-width","0")
		 	    $(".drop").eq(0).css("display","block")
		    });
		    $(".nav li").eq(2).mouseout(function(){
	   		    $(".drop").eq(0).css("display","none")
		    });
		    $(document).on("keydown", "input[custompage]", function (event) {
		        var url = $(this).attr("address");
		        var page = $(this).val();
		        if (event.keyCode == 13) { window.location = url.replace("replace", page) }

		    });
		}
    </script>
	</body>
</html>