@using Entity.MiniApp.Home
@model List<RangeGw>
    @{
        Layout = null;
    }
    @{
        int type = ViewBag.Type;
        string curName = "小程序总榜";
        if (type == 1)
        {
            curName = "本周上升榜";
        }
        if (type == 2)
        {
            curName = "本周新增榜";
        }

    }
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>关于小程序</title>
        <!-- 引入swiper -->
        <link rel="stylesheet" href="@(WebSiteConfig.cdnurl)content/dlptcss/css/swiper.min.css">
        <!-- 引入Bootstrap -->
        <link href="@(WebSiteConfig.cdnurl)content/dlptcss/css/bootstrap.css" rel="stylesheet">
        <!--<link rel="stylesheet" type="text/css" href="css/reset.css"/>-->
        <link rel="stylesheet" type="text/css" href="@(WebSiteConfig.cdnurl)content/dlptcss/css/about.css" />
        <link href="@(WebSiteConfig.cdnurl)content/dlptcss/css/common.css" rel="stylesheet" />
        <style type="text/css">
            .navbar-inverse .navbar-nav > li > a {
                color: #c6c7cb;
            }

            a {
                color: #337ab7;
                text-decoration: none;
            }
            /*分页样式*/
            .page {
                background: #fff;
                padding: 0 10px;
                height: 58px;
                margin-top: 12px;
                font-size: 12px;
                line-height: 58px;
                text-align: center;
            }

                .page a {
                    padding: 4px 10px;
                    border: 1px solid #cce6f5;
                    margin: 0 4px;
                    color: #198dd2;
                }

                    .page a:hover {
                        background: #198dd2;
                        color: #fff;
                        border: 1px solid #198dd2;
                    }

            ul.page {
                height: 30px !important;
                padding-top: 0 !important;
            }
        </style>
    </head>
    <body>


        <div class="swiper-slide">
            <div class="container">
                <nav id="laya_nav" class="navbar navbar-inverse layabox_nav">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#laya_nav_collapse" aria-expanded="true">
                                <span class="sr-only"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand navbar-logo" href="">
                                <p>点赞科技</p>
                                <p>DZAN</p>
                            </a>
                        </div>
                        <div id="laya_nav_collapse" class="navbar-collapse collapse in" aria-expanded="true">
                            <ul class="nav navbar-nav">
                                <li><a href="/dlpt/agency">代理加盟</a></li>
                                <li><a href="/dlpt/shop">小程序商店</a></li>
                                <li class="dro active">
                                    <a href="/dlpt/abou_xiao">关于小程序</a>
                                    <ul class="drop">
                                        <span class="sharp_top"></span>
                                        <a href="/dlpt/abou_xiao"><li class="tab">小程序排行榜</li></a>
                                        <a href="/dlpt/abou_xiao"><li class="tab">新闻资讯</li></a>
                                        <a href="/dlpt/abou_xiao"><li class="tab">深度观点</li></a>
                                        @*<a href="/dlpt/abou_xiao"><li class="tab">行业报告</li></a>*@
                                        <a href="/dlpt/Question" target="_blank"><li class="tab">小程序百科</li></a>
                                    </ul>
                                </li>
                                <!--<li><a href="question.html">小程序百问百答</a></li>-->
                                <li><a href="/dlpt/about_US">关于我们</a></li>
                                <li><a href="https://www.vzan.com" target="_blank">微赞官网</a></li>
                                <li>
                                    <a href="/CustomerHome/login" target="_blank"><button class="btn_in">小程序后台</button></a>
                                    <a href="/home/login" target="_blank"><button class="btn hover">代理商后台</button></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>


            <div class="header_title">
                <p>当前位置:</p>
                <a href="/dlpt/abou_xiao" style="text-decoration:none;color:#333;float:left">关于小程序</a>
                <p>></p>
                <a href="/dlpt/more_total?type=@type" style="text-decoration:none;color:#333;float:left">
                    @curName
                </a>
                <p>></p>
                <p>详情</p>
            </div>

            <div class="more">
                <div class="more_list">
                    <div class="more_title">
                        <span class="more_name2">排名</span>
                        <span class="more_name1">名称</span>
                        <span class="more_name">热度</span>
                    </div>
                    <div class="more_contain" id="templateList">
                        @{
                            int rangId = ViewBag.StartRang;
                            foreach (RangeGw item in Model)
                            {
                                rangId++;
                                <div class="more_data">
                                    <div class="more_data1">
                                        <span @(ViewBag.pageIndex > 1 ? "style=color:black;" : string.Empty)>@rangId</span>
                                        <div class="more_photo" @(ViewBag.pageIndex > 1 ? "style=background:none;" : string.Empty)>
                                            <div class="more_photo_con">
                                                <img src="@item.Logo" />
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <span class="more_line_name">@item.Title</span>
                                    <span class="more_data3">
                                        <div></div>
                                        <p>@item.ViewNumbers</p>
                                    </span>
                                    <div class="clear"></div>
                                </div>
                            }
                        }


                        <ul class="page" style="height: 0; line-height: 0; padding-top: 12px;">
                            共@(ViewBag.TotalCount)条记录&nbsp; @MvcPager.Pager(Html, "pageIndex", ViewBag.pageSize, ViewBag.TotalCount)
                        </ul>

                    </div>
                </div>



            </div>



        </div>



        <script src="@(WebSiteConfig.cdnurl)content/dlptcss/js/jquery-2.1.0.js"></script>
        <script src="@(WebSiteConfig.cdnurl)content/dlptcss/js/swiper.min.js"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="@(WebSiteConfig.cdnurl)content/dlptcss/js/bootstrap.js"></script>
        <script src="@WebSiteConfig.SourceContent/fcontent/plugin/vue.min.js"></script>


        <script>
            window.onload = function () {
                $(".nav li").eq(2).mousemove(function () {
                    $(".dro a").eq(0).css("border-width", "0")
                    $(".drop").eq(0).css("display", "block")
                });
                $(".nav li").eq(2).mouseout(function () {
                    $(".drop").eq(0).css("display", "none")
                });
                $(document).on("keydown", "input[custompage]", function (event) {
                    var url = $(this).attr("address");
                    var page = $(this).val();
                    if (event.keyCode == 13) { window.location = url.replace("replace", page) }

                });
            }



        </script>


    </body>

</html>
