@using User.MiniApp.comment
@model Entity.MiniApp.Fds.FoodPrints
@{ var edit = ((int)ViewBag.edit) == 0; }


<script>
    function showForm(type)
    {
        var title = "";
        var content = "";
        if (type == 0) {
            title = "如何获取用户名称,用户Id和API密钥？";
            content = '       1.注册并登录<a href="http://yilianyun.10ss.net/apisystem/apisystem" target="_blank" class="link" tabindex="0" style="cursor: pointer;">易联开放平台</a><br/>';
            content += "2.进入【系统集成】菜单即可获取到用户名称,用户Id和API密钥 <br/>";
            content += "<div style = 'margin-left:15px;width:480px;hight:500px;'><img src='@(WebSiteConfig.cdnurl)content/ylyUserDtlId.png' /></div>";
        }
        else
        {
            title = "如何获取终端号和终端密钥？";
            content = '        打印机通电后,按下打印机右边按钮,即可获取终端号和终端密钥.';
            content += "<div style = '  margin-left:15px;width:480px;hight:500px;'><img src='@(WebSiteConfig.cdnurl)content/ylyMacDtlId.png' /></div>";
        }
            layer.open({
                title: title,
                content: content,
                area: ['520px', '680px'],
                btn: ["确定"],
                yes: function () {
                    layer.closeAll();
                },
                //no: function () { layer.closeAll(); },
                cancel: function () {
                    layer.closeAll();
                }
            });
    }
</script>
<table class="table table-add form-horizontal">
    <tr>
        <td colspan="3" style="text-align:right;">
            <div style="float:right;">
                <a href="http://yilianyun.10ss.net/" target="_blank" class="link" tabindex="0" style="cursor: pointer;">易联云开放平台注册登录地址</a>
            </div>
        </td>

    </tr>
    <tr>
        
        <td><span>打印机名称：</span></td>
        <td>
            @*<input hidden id="editAttrId" value="@Model.Id" />*@
            <input maxlength="20" placeholder="1~20个字符" id="print_name" type="text" class="form-control" value="@Model.Name" @(edit ? "readonly" : "")>
        </td>
    </tr>
    <tr>
        <td><span>用户名称：</span></td>
        <td>
            <input hidden id="editAttrId" value="@Model.Id" />
            <input maxlength="20" placeholder="登陆易联云开放平台获取用户名称" id="print_username" type="text" class="form-control" value="@Model.UserName" @(edit ? "readonly" : "")>
        </td>
        <td>
            <a href="#" onclick="showForm(0)"  class="link" tabindex="0" style="cursor: pointer;">如何获取用户名称？</a>
        </td>
    </tr>
    <tr>
        <td><span>用户ID：</span></td>
        <td><input maxlength="30" placeholder="登陆易联云开放平台获取用户ID" id="print_userid" type="text" class="form-control" value="@Model.UserId" @(edit ? "readonly" : "")></td>
        <td>
            <a href="#" onclick="showForm(0)" class="link" tabindex="0" style="cursor: pointer;">如何获取用户ID？</a>
        </td>
    </tr>
    <tr>
        <td><span>API密钥：</span></td>
        <td><input maxlength="255" placeholder="登陆易联云开放平台获取API密钥" id="print_apikey" type="text" class="form-control" value="@Model.APIKey" @(edit ? "readonly" : "")></td>
        <td>
            <a href="#" onclick="showForm(0)" class="link" tabindex="0" style="cursor: pointer;">如何获取API密钥？</a>
        </td>
    </tr>
    <tr>
        <td><span>终端号：</span></td>
        <td><input maxlength="30" placeholder="" id="print_printno" type="text" class="form-control" value="@Model.PrintNo" @(edit ? "readonly" : "")></td>
        <td>
            <a href="#" onclick="showForm(1)" class="link" tabindex="0" style="cursor: pointer;">如何获取终端号？</a>
            
        </td>
    </tr>
    <tr>
        <td><span>终端密钥：</span></td>
        <td><input maxlength="255" placeholder="" id="print_printkey" type="text" class="form-control" value="@Model.PrintKey" @(edit ? "readonly" : "")></td>
        <td>
            <a href="#" onclick="showForm(1)" class="link" tabindex="0" style="cursor: pointer;">如何获取终端密钥？</a>
            
        </td>
    </tr>
    <tr hidden>
        <td><span>手机卡号：</span></td>
        <td><input maxlength="11" placeholder="请输入手机卡号/WIFI版本不需要输入" id="print_telphone" type="text" class="form-control" value="@Model.Telphone" @(edit ? "readonly" : "")></td>
        <td>
            
        </td>
    </tr>
</table>