
@{
    ViewBag.Title = "微信在线客服工具使用说明";
    string mode = Utility.IO.Context.GetRequest("mode", "");
    if (mode == "")
    {
        Layout = "~/Views/Shared/_MiniappLayout.cshtml";
    }
    else
    {
        Layout = null;
        <link href="//j.vzan.cc/miniapp/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <style type="text/css">
            .page-wrap { padding: 20px; font-family: 'Microsoft YaHei'; }
        </style>
    }
}
<div class="page-wrap">
    <h4 class="text-warning">微信在线客服工具使用说明：</h4>
    <br />
    <h4>1. 取消小程序的客服消息权限集授权给第三方平台</h4>
    <img src="@(WebSiteConfig.cdnurl)content/help/客服消息权限.png" />
    <h4>2. 关闭消息推送</h4>
    <img src="@(WebSiteConfig.cdnurl)content/help/关闭消息推送.png" />
    <h4>3. 绑定客服人员</h4>
    <p>使用网页版客服工具前，小程序管理员需在<a href="https://mp.weixin.qq.com/" target="_blank">小程序后台</a>完成客服人员的绑定。目前小程序支持绑定不多于100个客服人员。</p>
    <img src="@(WebSiteConfig.cdnurl)content/help/1.png" />
    <br /><br />
    <h4>4. 客服工具使用说明</h4>
    <p>登录并接入</p>
    <p>已被绑定的小程序客服人员可扫码登录<a href="https://mpkf.weixin.qq.com/" target="_blank">微信公众平台网页版客服工具</a>，并选择对应的小程序帐号，登录后即可看到与小程序对话的用户，可选择接入对话。</p>
    <img src="@(WebSiteConfig.cdnurl)content/help/2.png" />
    <br /><br />
    <h4>5. 切换客服状态</h4>
    <p>点击在线状态，可以选择在线状态、离开状态或退出登录</p>
    <img src="@(WebSiteConfig.cdnurl)content/help/3.png" />
    <br /><br />
    <a name="receiveMessages"></a>
    <h4>6. 接收消息</h4>
    <p>手动接入：客服人员上线后，点击“待接入”，即可在“待接入”列表中，手动接入待回复的对话</p>
    <p>自动接入：当待接入的对话太多时，可以在设置/接入设置中，开启自动接入</p>
    <p>重新接入：退出登录，或对话超过半小时，需要重新接入，激活对话</p>
    <img src="@(WebSiteConfig.cdnurl)content/help/4.png" />
    <br /><br />
    <h4>7. 发送消息</h4>
    <p>已经接入的会话，客服人员可以在48小时内和用户进行对话，目前支持发送文本、图片类型的消息。</p>
    <img src="@(WebSiteConfig.cdnurl)content/help/5.png" />
</div>