@using Entity.MiniApp.User
@{
    var member = new Member();
}

<div class="container">
    <div class="page-header-inner ">
        <div class="page-logo">
            <a href="http://www.vzan.com">
                <img src="//j.vzan.cc/content/city/citylogo.png" alt="logo" class="logo-default" />
            </a>
        </div>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right  navbar-right">
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" class="img-circle" src="@WebSiteConfig.SourceContent/content/img/usercenter/headpic.jpg" />
                        <span class="username username-hide-on-mobile"> @member.MemberName </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["DomainUser"]/member/default">
                                <i class="icon-user"></i> 账号设置
                                <span class="badge badge-danger"></span>
                            </a>
                        </li>
                        <li>
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["DomainUser"]/article/index">
                                <i class="icon-rocket"></i> 我的微赞
                                <span class="badge badge-success"></span>
                            </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["DomainUser"]/home/logout">
                                <i class="icon-key"></i> 退出
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown dropdown-quick-sidebar-toggler">
                    <a href="@WebSiteConfig.MainPortal" class="dropdown-toggle">
                        <i class="icon-logout">  微赞论坛首页</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>

