@using Entity.MiniApp
@{
    Layout = null;
    ViewBag.PageType = -1;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>绑定手机号</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="author" />
    <script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="@(WebSiteConfig.SourceContent)/fcontent/plugin/vue.min.js"></script>
    <link href="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootstrap/js/bootstrap.js"></script>

    <style>
        .p-l-0 {padding-left:0px !important;}
        .p-r-0 {padding-right:0px !important;}
    </style>
</head>
<body>
    <div class="container">
        <div class="row" style="margin-top:40px;">
            <div class="col-xs-12">
                <h4>绑定手机号</h4>
                <div style="color: #999999;">请确保手机号与拼享惠授权手机号一致，否则无法同步返现金额。</div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-xs-12">
                <input type="text" class="form-control input-lg" value="@ViewBag.OpenId"/>
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="col-xs-7">
                <input type="text" class="form-control input-lg" placeholder="请输入手机号"/>
            </div>
            <div class="col-xs-5">
                <input type="button"  class="input-lg btn btn-sm" placeholder="请输入验证码" value="获取短信验证码"/>
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="col-xs-12">
                <input type="button" class="form-control input-lg btn btn-lg btn-primary" value="确认绑定"/>
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="col-xs-12">
                <img src="@(WebSiteConfig.cdnurl)content/newhome/image/pinxianghui/pxhfang_logo.png" style="width:50%;margin:0px auto;display:block;margin-top:10%;" />
            </div>
        </div>
    </div>
    <script>

    </script>
</body>
</html>
