<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>@((Model.config.attr==null|| string.IsNullOrEmpty(Model.config.attr.title)) ? "微赞 一站式微信社群营销与内容变现的SaaS云": Model.config.attr.title)</title>
    <meta name="360-site-verification" content="6b6bef4640cd6128747b25ba8417cc0a" />
    <meta name="description" content="@((Model.config.attr==null||string.IsNullOrEmpty(Model.config.attr.description))?"微赞vzan是国内最大的微信营销变现SaaS系统，提供微赞直播、微赞论坛、花猫快问、同城、有约、好店六大产品，解决您的营销增粉、用户管理、本地服务、内容付费、社群运营、电商变现等痛点。":Model.config.attr.description)" />
    <meta name="keywords" content="@Model.keywords" />

    <link rel="stylesheet" href="@(WebSiteConfig.cdnurl)content/Home/css/mybase.css" />
    <link rel="stylesheet" href="@(WebSiteConfig.cdnurl)content/Home/css/bottom-bottom.css" />
    <link rel="stylesheet" href="@WebSiteConfig.SourceContent/content/Home/css/xuanfu.css?v1.1" />
    <script src="//j.vzan.cc/manager/content/js/jquery.js?v=0.1"></script>
    @RenderSection("ScriptSection", required: false)
    
</head>
<body>
    <script>
        //此代码为信誉名片代码，是您信誉名片对应的推广账户和网站的URL生成的JS代码，信誉名片与百度统计、百度商桥和离线宝公用。
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?e7ec46353175465282c7f57d635ab68d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <!-- 导航栏 -->
    @RenderBody()
    <!--底部栏开始-->
    <div class="bottom-login-all">
        <div class="bottom-login">
            <div class="clearfix shang">
                <ul>
                    <li class="li01">公司</li>
                    <li><a href="/home/index">微赞首页</a></li>

                    <li><a href="/home/about">关于我们</a></li>
                    <li><a href="/home/newscenter">新闻中心</a></li>
                </ul>
                <ul class="mar-ul">
                    <li class="li01">产品</li>
                    <li><a href="/home/zhiboindex">微赞直播</a></li>
                    <li><a href="/home/city">微赞同城</a></li>
                    <li><a href="http://huamao.vzan.com/">花猫快问</a></li>
                    <li><a href="http://shequ.vzan.com">微赞论坛</a></li>
                    <li><a href="/home/youyue">微赞有约</a></li>
                </ul>
                <ul>
                    <li class="li01">服务</li>
                    <li><a href="/Home/encyclopedia">微赞百科</a></li>
                    <li><a href="/live/AgentCertificateSearch">证书查询</a></li>
                </ul>
                <div class="dibu-qr">
                    <img src="https://www.vzan.com/QrCode/GetQrCode?code=1284745185" style="border: 4px solid;"/>
                    <p>扫一扫 关注微赞公众号</p>
                </div>
                <div class="close">
                    <p><img src="@WebSiteConfig.SourceContent/content/Home/images/call.png" alt="" /><span>@((Model.config.attr == null || string.IsNullOrEmpty(Model.config.attr.zsTel)) ? "020-28166612" : Model.config.attr.zsTel)</span></p>
                    <p><img src="@WebSiteConfig.SourceContent/content/Home/images/tel.png" alt="" /><span>@((Model.config.attr == null || string.IsNullOrEmpty(Model.config.attr.zsPhone)) ? "18602043695" : Model.config.attr.zsPhone)</span></p>
                    <p><img src="@WebSiteConfig.SourceContent/content/Home/images/add.png" alt="" style="height:25px;" /><span>广州市天河区领峰园A2栋2403-2405</span></p>
                </div>
            </div>
        </div>
        <div class="xia">
            <div class="xia-in">
                <!-- <div class="xiao-f">
                    <a>微赞直播</a>
                    <span class="dot"></span>
                    <a>微赞同城</a>
                    <span class="dot"></span>
                    <a>微赞论坛</a>
                    <span class="dot"></span>
                    <a>微赞商城</a>
                    <span class="dot"></span>
                    <a>微赞有约</a>
                </div> -->
                <p>

                    Copyright &copy; 2017 www.vzan.com All Rights Reserved Powered by 广州赞赏信息科技有限公司
                    <img src="https://static.anquan.org/static/outer/image/gw_83x30.png?id=www.vzan.com" alt="安全联盟认证" class="anquan-pic" />
                    <a style="color:#999" href="http://www.miitbeian.gov.cn/">ICP备案：粤ICP备16043221号-2</a>
                </p>
            </div>
        </div>
    </div>
    <!--底部栏结束-->
    <div class="xuanfu">
        <div class="yes fanhui"></div>
        <div class="yes tel"></div>
        <div class="yes sewm"></div>

        <div class="rexian">
            <p>客服：@((Model.config.attr == null || string.IsNullOrEmpty(Model.config.attr.kf1))? "020-28171127" : Model.config.attr.kf1)</p>
            <p style="padding-left:32px;">：@((Model.config.attr == null || string.IsNullOrEmpty(Model.config.attr.kf2)) ? "020-28171172" : Model.config.attr.kf2)</p>
            <p>招商：@((Model.config.attr==null||string.IsNullOrEmpty(Model.config.attr.zsTel)) ? "020-28166612" : Model.config.attr.zsTel)</p>
            <p style="padding-left:32px;">：@((Model.config.attr == null || string.IsNullOrEmpty(Model.config.attr.zsPhone)) ? "18602043695" : Model.config.attr.zsPhone)</p>
            <div class="triangle1"></div>
        </div>

        <div class="zszx">
            <img src="@((Model.config.attr == null || string.IsNullOrEmpty(Model.config.attr.zsQrCode)) ? WebSiteConfig.SourceContent+"@(WebSiteConfig.cdnurl)content/Home/images/zszx.jpg" : Model.config.attr.zsQrCode)" alt="" />
            <p>招商咨询</p>
            <div class="triangle2"></div>
        </div>

    </div>
    <script type="text/javascript">
	$(function(){
		/* 悬浮框*/
        $(function(){
            $(".fanhui").click(function() {
                $("html,body").animate({
                    scrollTop: '0px'
                }, 500,function(){

               /* $(".fanhui").fadeOut(300);*/

                });
        });
            $('.xuanfu .tel').hover(function() {
            $('.rexian').show();
        }, function() {
            $('.rexian').hide();
        });

            $('.xuanfu .sewm').hover(function() {
            $('.zszx').show();
        }, function() {
            $('.zszx').hide();
        });



    });
	})
    </script>
</body>
</html>