
@{
    Layout = null;
    var fid = "0"; ;
    if (null != ViewBag.minisnsId)
    {
        int dynamitfid = ViewBag.minisnsId;
        fid = dynamitfid.ToString();
    }
    var forum = new MinisnsBll().GetModel(Convert.ToInt32(fid));
}
<link rel="SHORTCUT ICON" href="@(WebSiteConfig.cdnurl)content/images/pinglun.png">
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="jkn_head_middle clearfix" style="height:81px;">

        <div style="width:20%;height:59px;display:inline-block;line-height: 81px;">
            <a href="/member/default" title="微赞小程序">
                <img src="/images/logo2.png" alt="微赞小程序LOGO" />
            </a>
        </div>
        <div style="width:75%;display:inline-block;font-size:16px;text-align:right;font-family:'Microsoft YaHei';font-size:large;margin-top: 65px;float: right;">
                论坛独立域名1500/年，购买请加微信：<span style="color:darkorange">davzan</span>咨询
        </div>

    </div>
    <div class="jkn_nav">
        <div class="jkn_navigation">
            <!--横条导航开始-->
            <ul class="jkn_nav_r">
                <li><a href="/member/default" class="@(ViewBag.MenuFlag==1?"itemon":"")" title="用户中心首页">首页</a></li>
                <li><a href="/article/index" class="@(ViewBag.MenuFlag==6?"itemon":"")" title="微赞论坛">微赞论坛</a></li>
                <li><a href="/tryst/index" class="@(ViewBag.MenuFlag==11?"itemon":"")" title="微赞有约">微赞有约</a></li>
                <li><a href="/live/s" class="@(ViewBag.MenuFlag==12?"itemon1":"")" title="微赞直播">微赞直播</a></li>
                <li><a href="/cityinfo/index" class="@(ViewBag.MenuFlag==13?"itemon":"")" title="微赞同城">微赞同城</a></li>
                <li><a href="/Miapp/index" class="@(ViewBag.MenuFlag==14?"itemon":"")" title="小程序">小程序</a></li>
                <li><a style="width:90px;" target="_blank" href="http://vzan.com/shop" class="@(ViewBag.MenuFlag==9?"itemon":"")" title="微赞好店">微赞好店</a></li>
                @*<li><a href="/account/bind" class="@(ViewBag.MenuFlag==2?"itemon":"")" title="绑定验证">绑定验证</a></li>

                    <li><a style="width:90px;" href="/article/index" class="@(ViewBag.MenuFlag==6?"itemon":"")" title="论坛交友">论坛&交友</a></li>*@
                <li><a href="/statpush/index" class="@(ViewBag.MenuFlag==7?"itemon":"")" title="论坛统计">论坛统计</a></li>
                <li><a href="http://www.vzan.cc/f/s-1?typeId=875" target="_blank" class="@(ViewBag.MenuFlag==8?"itemon":"")" title="用户手册">用户手册</a></li>

                @if (null != forum && !string.IsNullOrEmpty(forum.AnnouncementText) && forum.AnnouncementText == "opentpl")
                {
                    <li><a target="_blank" href="/atpl/flist/@ViewBag.minisnsId?" style="width:90px;" class="@(ViewBag.MenuFlag == 9 ? "itemon" : "")" title="发帖模板">表单&模板</a></li>
                }
                else
                {
                    @*<li><a style="width:130px;" target="_blank" href="http://www.vzan.cc/account/down" class="@(ViewBag.MenuFlag==9?"itemon":"")" title="android版下载">Android版下载</a></li>*@

                }
            </ul>
            <!--横条导航结束-->
        </div>
    </div>
</body>
<script>
    $(function () {
        $('.jkn_nav').css('background-color', '#0099FF');
        $($('.jkn_nav_r li a').eq(5)).css('background-color', '#0383DE').addClass('itemon');
        $('.jkn_nav_r li a').css('border-color', '#0099FF')
           .hover(
            function () { $(this).css('background-color', '#0383DE') },
            function () {
                if (!$(this).hasClass("itemon")) {
                    $(this).css('background-color', '#0099FF');
                }
            });
    })

</script>
</html>