@{

    Layout = null;


    string AccountId = Core.MiniSNS.Cookie.Instance.getCookie("UserCookieNew");
    Entity.MiniApp.User.Member member =  BLL.MiniApp.MemberBLL.SingleModel.GetModel(string.Format("AccountId='{0}'", AccountId));
    var avtartUrl = "";
    try
    {
        avtartUrl = string.IsNullOrEmpty(member.AvatarUrl) ? (string.IsNullOrEmpty(member.Avatar) ? WebSiteConfig.cdnurl+"content/img/usercenter/headpic.jpg" : WebSiteConfig.ImageUrl + "/headimgurl/" + member.Avatar) : member.AvatarUrl;
    }
    catch (Exception)
    {
        avtartUrl = WebSiteConfig.cdnurl+"content/img/login/75.png";
    }
}
<div class="jkn_head_top">
    <div class="jkn_head_t">
        <div class="jkn_head_t_l">
            <span class="jk_mr27">欢迎来到微赞小程序平台管理中心！</span>
        </div>
        <ul class="jkn_head_t_r">
            <li class="my_jianke">
                <a href="@WebSiteConfig.MainPortal">微赞小程序</a>
            </li>
            <li class="my_jianke" onmouseover="this.className='my_jianke myjk_hover'" onmouseout="this.className='my_jianke'">
                <img src="@avtartUrl"
                     onerror="src = '@WebSiteConfig.SourceContent/content/img/usercenter/headpic.jpg'" alt="用户头像" style="height:18px;">
                @member.MemberName<span></span>
                <dl class="myjk" style="left: -141px;">
                    <dt style="float:left;">
                        <img src="@avtartUrl"
                             onerror="src = '@WebSiteConfig.SourceContent/content/img/usercenter/headpic.jpg'" alt="用户头像" width="60" height="60">
                    </dt>
                    <dd style="float:right;width:130px;padding:0;">
                        <div>
                            <label title="@member.MemberName">@member.MemberName</label>&nbsp;
                            <a href="/account/logout">[退出]</a>
                        </div>
                        <div class="pass-user-links">
                            <a class="pass-user-links-first" href="../article/index">我的微赞</a>
                            <a href="/member/default">帐号设置</a>
                        </div>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
