@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>小程序配置</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div id="shouquan" ></div>
    <div>
        正在跳转到授权...
    </div>

    <script>
        $(function () {
            var userId = '@ViewBag.userId';
            var rid = '@ViewBag.rid';
            var cityinfoid = '@ViewBag.cityinfoid';
            var storeid = '@ViewBag.storeid';
            var returnurl = '@ViewBag.returnurl';
            var newtype = '@ViewBag.newtype';
            var citytype = '@ViewBag.citytype';
            $.ajax({
                type: "Get",
                url: "/XcxApi/getOpenImg?storeid=" + storeid + "&citytype=" + citytype + "&userId=" + userId + "&rid=" + rid + "&cityinfoid=" + cityinfoid + "&returnurl=" + returnurl + "&newtype=" + newtype,
                success: function (data) {
                    if (data.isok) {
                        //$("#shouquan")[0].innerHTML = "<a href='" + data.src + "'>跳转</a>"
                        console.log(data.src);
                        location.href = data.src
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        })


    </script>
</body>
</html>
