
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta name="keywords" content="拼享惠,拼享惠官网,拼享惠商城,微信拼享惠商城,拼享惠商城官网,小程序拼享惠">
    <meta name="description" content="线下零售门店社交电商垂直平台，一键免费入驻！一键免费发布，免费生产一物一码！拼享惠的使命：通过交易流程改造，低成本的帮助中国3000万家线下零售门店实现业绩倍增！">
    <link rel="shortcut icon" type="image/x-icon" href="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/favicon.ico">
    <title>拼享惠——零售门店业绩想翻倍，就用拼享惠</title>
    @if (WebSiteConfig.Environment == "pro")
    {
        <link rel="stylesheet" href="@(WebSiteConfig.cdnurl)pxhcontent/css/dzbase.css?@(WebSiteConfig.cdnVersion)">
        <link rel="stylesheet" href="@(WebSiteConfig.cdnurl)pxhcontent/css/pinxianghui.css?@(WebSiteConfig.cdnVersion)">
    }
    else
    {
        <link rel="stylesheet" href="/pxhcontent/css/dzbase.css">
        <link rel="stylesheet" href="/pxhcontent/css/pinxianghui.css">
    }
    <script src="/livecontent/aodianplay/player.js"></script>
    <style>
        .btn-hover { background-color: #f10033; color: #fff; }
        .nav-list a { display: Inline-block; width: .7rem; height: .35rem; line-height: .35rem; border-radius: .05rem; text-align: center; }
        .nav-list a:hover { background-color: #f10033; color: #fff; }
    </style>
    <script src="@(WebSiteConfig.cdnurl)pxhcontent/lib/jquery.min.js"></script>
    <script>
        $(function () {
            function fontSize() {
                var deviceWidth = $(document).width();
                if (deviceWidth > 1920) {
                    deviceWidth = 1920;
                    //                console.log("deviceWidth",deviceWidth);
                }
                var fontSize = deviceWidth / 19.2;
                //console.log("fontSize", fontSize);
                $("html").css("fontSize", fontSize);
            }
            fontSize();
            $(window).resize(function () {
                fontSize();
            });
            document.body.style.display = "block"
        })
    </script>
</head>
<body style="display:none;">
    <div class="collage-discounts">
        <header class="top-list bg-fff f fc fj">
            <div class="logo">
                <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/logo.png?@(WebSiteConfig.cdnVersion)" />
            </div>
            <ul class="nav-list f fc c-666">
                <li data-index="0">首页</li>
                <li data-index="1">视频介绍</li>
                <li data-index="2">交易流程</li>
                <li data-index="3">四大服务</li>
                <li>
                    <a href="/pinadmin/main/reg" target="_blank" class="c-666">注册</a>
                    <a href="/pinadmin/main/login" target="_blank" class="c-666 btn-hover">登陆</a>
                </li>
            </ul>
        </header>
        <section class="banner bg-d9d8d9">
            <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/banner02.png?@(WebSiteConfig.cdnVersion)" />
            <div class="banner-btn-box f fc fj">
                <div class="banner-btn code-btn f fv fc fc-h rv" style="line-height:1.2;">
                    <p class="f20">我要创业 马上代理</p>
                    <p class="f18">代理费用￥1688.00</p>
                </div>
                <div class="banner-btn code-btn f20 f fc fc-h rv">我是商家 免费入驻</div>
                <div id="phoneBtn" class="banner-btn f20 f fc fc-h rv" style="margin-right: 0;">我要做平台 OEM</div>
                <div class="pxh-code-box rel">
                    <img class="close-btn cp" src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/close.png?@(WebSiteConfig.cdnVersion)" />
                    <img class="pxh-code" src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/pxh-code.jpg?@(WebSiteConfig.cdnVersion)" />
                    <p class="tc f18">扫码进入</p>
                </div>
                <div class="pxh-phone-box">
                    <div class="h-full f fc fj">
                        <input type="text" placeholder="请输入您的手机号" />
                        <span class="submit-btn f22">提交</span>
                        <img class="close-btn cp" src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/close.png?@(WebSiteConfig.cdnVersion)" />
                    </div>
                </div>
                @*<div class="banner-btn rv c-fff f fv fc fc-h">
                    <p class="f20">我要创业 马上代理</p>
                    <p class="f18">代理费用￥1688.00</p>
                </div>
                <div class="banner-btn rv f20 t-b f fc fc-h">我是商家 免费入驻</div>
                <div class="pxh-code-box rel">
                    <img class="close-btn cp" src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/close.png?@(WebSiteConfig.cdnVersion)" />
                    <img class="pxh-code" src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/pxh-code.jpg?@(WebSiteConfig.cdnVersion)" />
                    <p class="tc f18 c-666">扫码进入</p>
                </div>*@
            </div>
        </section>
        <section class="video-box p80-0 f fv fc tc lh">
            <h3 class="f34 mb40 rv">拼享惠基本介绍</h3>
            <div class="player-box bg-d9d8d9 mb80 rel rv" id="videoPlayer1">
                <video class="w-full h-full" src="http://j.vzan.cc/dz/content/images/pinxianghui/video/pxh.mp4" preload="metadata" controlslist="nodownload" controls="controls"></video>
                <div class="cover-box">
                    <img class="video-cover" src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/video-cover.png?@(WebSiteConfig.cdnVersion)" />
                    <img class="player-btn cp" src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/player-btn.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <div class="video-tip">抱歉，您没有安装flash，为了您能更好的体验，请点击<a href='http://get.adobe.com/cn/flashplayer/'>安装</a>flash或更换其他浏览器观看</div>
            </div>
            <h3 class="f34 mb40 rv">拼享惠深度解读</h3>
            <div class="player-box bg-d9d8d9 rel rv" id="videomainbody">
                <div class="w-full h-full" style=font-size:0; id="videoPlayer2"></div>
                <div class="cover-box">
                    <img class="video-cover" src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/video-cover2.png?@(WebSiteConfig.cdnVersion)" />
                    <img class="player-btn cp" src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/player-btn.png?@(WebSiteConfig.cdnVersion)" />
                </div>
                <div class="video-tip">抱歉，您没有安装flash，为了您能更好的体验，请点击<a href='http://get.adobe.com/cn/flashplayer/'>安装</a>flash或更换其他浏览器观看</div>
            </div>
        </section>
        <section class="flow-path c-333 bg-f7f7f7 p80-0 f fv fc">
            <p class="f34 t-b rv">拼享惠社交电商流程改造</p>
            <p class="c-999 f20 pt10 rv">将传统的交易流程改造成拼团流程</p>
            <p class="f28 pt60 rv"><span class="c-f10033">传统的</span>零售门店交易流程:</p>
            <ul class="old-flow pt30 f fc fj rv">
                <li class="tc">
                    <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-step01.png?@(WebSiteConfig.cdnVersion)" />
                    <p class="f24 pt20">选商品</p>
                </li>
                <li class="tc">
                    <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-step02.png?@(WebSiteConfig.cdnVersion)" />
                    <p class="f24 pt20">付款</p>
                </li>
                <li class="tc">
                    <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-step03.png?@(WebSiteConfig.cdnVersion)" />
                    <p class="f24 pt20">结束</p>
                </li>
            </ul>
            <div class="arrows">
                <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-arrows.png?@(WebSiteConfig.cdnVersion)" />
            </div>
            <p class="f28"><span class="c-f10033">拼享惠</span>带来的交易流程:</p>
            <ul class="new-flow mt30 f fc fj rv">
                <li class="tc rel ">
                    <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-step01.png?@(WebSiteConfig.cdnVersion)" />
                    <p class="abs f24 ">选商品</p>
                </li>
                <li class="tc rel p0-40">
                    <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-step04.png?@(WebSiteConfig.cdnVersion)" />
                    <p class="abs f24 ">导购引导顾客扫码进去商品详情页</p>
                </li>
                <li class="tc rel p0-40">
                    <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-step02.png?@(WebSiteConfig.cdnVersion)" />
                    <p class="abs f24 ">显示<span class="c-f10033">拼单</span>享受<span class="c-f10033">现金立返</span></p>
                </li>
                <li class="tc rel p0-40">
                    <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-step06.png?@(WebSiteConfig.cdnVersion)" />
                    <p class="abs f24 ">导购引导顾客<span class="c-f10033">邀请</span>朋友一起购买</p>
                </li>
                <li class="tc rel">
                    <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-step07.png?@(WebSiteConfig.cdnVersion)" />
                    <p class="abs f24 ">一个订单<span class="c-f10033">裂变</span>成两个订单</p>
                </li>
            </ul>
            <div style="width:100%;height: 0.48rem;"></div>
        </section>
        <!-- <section class="slogan-box">
             <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/slogan-02.png?@(WebSiteConfig.cdnVersion)" />
         </section>-->
        <section class="sever-box p80-0 c-333 f fv fc">
            <p class="f34 t-b rv">拼享惠业绩增长四大服务</p>
            <p class="f20 c-999 pt10 rv">四大类服务</p>
            <ul class="sever-list pt40 f fc fj fw rv">
                <li class="f fv fc">
                    <div class="icon-box">
                        <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-sever01.png?@(WebSiteConfig.cdnVersion)" />
                    </div>
                    <p class="c-333 f24">免费开通小程序店铺</p>
                </li>
                <li class="f fv fc">
                    <div class="icon-box">
                        <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-sever02.png?@(WebSiteConfig.cdnVersion)" />
                    </div>
                    <p class="c-333 f24">手机一键生成商品详情页</p>
                </li>
                <li class="f fv fc">
                    <div class="icon-box">
                        <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-sever03.png?@(WebSiteConfig.cdnVersion)" />
                    </div>
                    <p class="c-333 f24">免费生成一物一码</p>
                </li>
                <li class="f fv fc">
                    <div class="icon-box">
                        <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-sever04.png?@(WebSiteConfig.cdnVersion)" />
                    </div>
                    <p class="c-333 f24">通过社交电商裂变门店流量</p>
                </li>
            </ul>
        </section>
        <section class="way-box bg-f7f7f7">
            <!--<img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/way-bg.png?@(WebSiteConfig.cdnVersion)" />-->
            <div class="way-content p80-0 f fc fv">
                <p class="c-333 f34 t-b rv">你可以(二选一或均可)</p>
                <p class="c-999 f20 pt10 mb40 rv">选择你想入驻或代理的方式</p>
                <div class="way mb40 f fc rv">
                    <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-way01.png?@(WebSiteConfig.cdnVersion)" />
                    <p class="f24">免费入驻开通自己的拼享惠店铺，通过拼团，裂变门店订单</p>
                </div>
                <div class="way f fc rv">
                    <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/icon-way02.png?@(WebSiteConfig.cdnVersion)" />
                    <p class="f24">花1688元代理“拼享惠”推广拼享惠代理享受40%的抽成，推广拼享惠终端享受门店业绩交易额抽成</p>
                </div>
            </div>
        </section>
        <section class="dynamic c-333 p80-0 f fv fc">
            <p class="f34 t-b rv">拼享惠动态</p>
            <p class="f20 c-999 pt10 rv">拼享惠动态实时更新</p>
            <ul class="dynamic-list pt40 f fw rv"></ul>
            <a class="btn-more" style="display:none;" href="/dzhome/news#pxh" target="_blank">查看更多</a>
        </section>

        <footer class="footer-box">
            <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/footer-bg.png?@(WebSiteConfig.cdnVersion)" />
            <div class="footer-content f fc fc-h">
                <img class="rv" src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/logo.png?@(WebSiteConfig.cdnVersion)" />
                <div class="text f fv fj ml30">
                    <img class="rv" src="https://j.vzan.cc/dz/img/wxkf.png" alt="" />
                    <p class="f24 rv"><span class="c-999 f20">客服微信：</span>pinxianghui</p>
                    <p class="f24 rv"><span class="c-999 f20">小程序&公众号：</span>拼享惠</p>
                    <p class="f24 rv"><span class="c-999 f20">地址：</span>广州市天河区林和东路285号天安人寿中心27楼全层</p>
                </div>
            </div>
        </footer>
        @*<section>
            <img src="@(WebSiteConfig.cdnurl)pxhcontent/image/pinxianghui/footer.png?@(WebSiteConfig.cdnVersion)" />
        </section>*@
    </div>
    <script src="@(WebSiteConfig.cdnurl)pxhcontent/lib/scrollreveal.min.js"></script>
    <script src="@(WebSiteConfig.cdnurl)content/newhome/lib/layer-v3.1.0/layer/layer.js"></script>
    @if (WebSiteConfig.Environment == "pro")
    {
        <script src="@(WebSiteConfig.cdnurl)pxhcontent/js/pinxianghui.js?@(WebSiteConfig.cdnVersion)"></script>
    } 
    else
    {
        <script src="/pxhcontent/js/pinxianghui.js"></script>
    }

</body>
</html>