@{
    ViewBag.Title = "我的桌面";
    Layout = "~/Areas/PinAdmin/Views/Shared/_LayoutPinAdmin.cshtml";
}
@model Dictionary<string, object>
@section styles{
    <style type="text/css">
        .four-grid { color: #ffffff; }
        .four-agileits { background: #ff4a43; text-align: center; padding: 2em 0; }
        .four-agileinfo { background: #22beef; padding: 2em 0; text-align: center; }
        .four-w3ls { background: #a2d200; padding: 2em 0; text-align: center; }
        .four-text h3 { font-size: 16px; }
        .four-text h4 { font-size: 30px; }
        .data-list { }
        .data-list li { float: left; background: #f1f1f1; margin-right: 10px; padding: 10px 50px; }
    </style>
}

<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 我的桌面
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <div class="panel panel-default">
        <div class="panel-header">今日数据</div>
        <div class="panel-body">
            <div class="col-xs-12 col-sm-6 four-grid">
                <div class="four-agileits">
                    <div class="four-text">
                        <table>
                            <tr>
                                <td style="color:#fff;">
                                    <h3>今日收入</h3>
                                    <h4 style="color:#fff;">@Model["todayMoney"]</h4>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 four-grid">
                <div class="four-agileinfo">
                    <div class="four-text">
                        <table>
                            <tr>
                                <td style="color:#fff;">
                                    <h3>今日订单</h3>
                                    <h4>@Model["saleCount"]  </h4>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="panel panel-default" style="margin-top: 10px;">
        <div class="panel-header">数据统计</div>
        <div class="panel-body">
            <ul class="data-list">
                <li>
                    <table>
                        <tr>
                            <td><h3>总收入</h3></td>
                        </tr>
                        <tr>
                            <td> <h4>@Model["onlineIncome"] 元</h4></td>
                        </tr>
                    </table>
                </li>
                <li>
                    <h3>总订单数</h3>
                    <h4>@Model["allOrderCount"] 单</h4>
                </li>
                <li>
                    <h3>商品数</h3>
                    <h4>@Model["goodsCount"] 个</h4>
                </li>
            </ul>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>