@using BLL.MiniApp.Conf
@using Entity.MiniApp.Conf
@*@Html.Raw(JsonConvert.SerializeObject(ViewBag.authInfo));*@
@{
    //return;
    ViewBag.Title = "小未管理平台";
    Layout = "~/Areas/Plat/Views/Shared/_LayoutAdmin.cshtml";
    int aid = Utility.IO.Context.GetRequestInt("aid", 0);
    if (aid <= 0)
    {
        aid = Utility.IO.Context.GetRequestInt("appId", 0);
    }

    int type = Utility.IO.Context.GetRequestInt("type", 0);

    string domain = Request.Url.Host;

    if (domain.Contains(WebSiteConfig.DzWebSiteDomainExt))
    {
        //表示二级域名
        domain = domain.Replace(WebSiteConfig.DzWebSiteDomainExt, "");
    }
    domain = domain.GetUnicodeDomain();
    AgentWebSiteInfo agentWebSiteInfo = AgentWebSiteInfoBLL.SingleModel.GetModelByDomian(domain);
    SeoConfigModel seoConfig = new SeoConfigModel();
    if (agentWebSiteInfo != null && !string.IsNullOrEmpty(agentWebSiteInfo.seoConfig))
    {
        seoConfig = JsonConvert.DeserializeObject<SeoConfigModel>(agentWebSiteInfo.seoConfig);
        if (seoConfig != null)
        {
            agentWebSiteInfo.seoConfigModel = seoConfig;
        }
    }

    Entity.MiniApp.User.AuthInfo authInfo = ViewBag.authInfo;
    if (authInfo != null)
    {
        authInfo.AllMenu = authInfo.AllMenu.FindAll(menu => authInfo.AuthMenu.Exists(authMenu => authMenu.ItemId == menu.Id));
    }
    if (!WebSiteConfig.UseALaDing && authInfo != null)
    {
        authInfo.AllMenu.RemoveAll(item => item.Type == (int)NavMenus.阿拉丁统计);
    }
}

@helper RenderMenu(List<Entity.MiniApp.User.NavMenu> renderMenu, List<Entity.MiniApp.User.NavMenu> allMenu, int appId)
{
    <ul class="nav nav-second-level@(renderMenu.Exists(item => item.ParentId == 0) ? " ulbox" : " subox")">
        @foreach (var item in renderMenu)
        {
            bool isHasLeaf = allMenu.Exists(findItem => findItem.ParentId == item.Id);
            if (isHasLeaf)
            {
                <li><a href="#"><span class="nav-label">@item.Name</span><span class="fa arrow"></span></a>@RenderMenu(allMenu.FindAll(findItem => findItem.ParentId == item.Id), allMenu, appId)</li>
            }
            else
            {
                <li>@Html.Raw(item.Icon)<a class="J_menuItem" href="@item.Url?aid=@appId&appId=@appId&pageType=@(item.PageType)@item.AppendPara">@item.Name</a></li>
            }
        }
    </ul>
}

@section styles{
    <style>
        .backgroundcolor { background: #F8F9FB; }
        .backgroundcolorfff { background: #fff; }
        .subox{margin-left:.6rem}
    </style>
}

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!-- 顶部 -->
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="admin-logo">
                @if (seoConfig != null && !string.IsNullOrEmpty(seoConfig.logo))
                {
                    <img src="@(seoConfig.logo)" height="50" />
                }
                else
                {
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/logo-green.png" height="50" />
                }
            </div>
            <ul class="nav navbar-top-links main-menu">
                @if (authInfo != null && authInfo.MasterAccess)
                {
                    <li class="hidden-xs">
                        <a href="/dzhome/casetemplate"><i class="fa fa-mail-reply"></i> 查看所有模板</a>
                    </li>
                }
                else if (authInfo != null && !authInfo.MasterAccess)
                {
                    <li class="hidden-xs">
                        <a href="#" onclick="logout()"><i class="fa fa-mail-reply"></i> 安全退出</a>
                    </li>
                }
            </ul>
        </nav>

        <!-- #region 左侧导航 -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close">
                <i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse backgroundcolor">
                <ul class="nav" id="side-menu">
                    <li class="active">
                        <a href="#">
                            <i class="fa fa-home"></i> <span class="nav-label">小未管理平台</span><span class="fa arrow"></span>
                        </a>
                        @if (authInfo != null && authInfo.AllMenu != null)
                        {
                            @RenderMenu(authInfo.AllMenu.FindAll(item => item.ParentId == 0), authInfo.AllMenu, aid);
                        }
                    </li>
                </ul>
            </div>
        </nav>
        <!-- #endregion -->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="J_mainContent" id="content-main">
                @if (type > 0)
                {
                    <iframe class="J_iframe" name="J_iframe" width="100%" height="100%" src="/config/MiniAppConfig?appId=@aid&SouceFrom=TemplateDecoration&type=@((int)TmpType.小未平台)" frameborder="0" data-id="" seamless></iframe>
                }
                else
                {
                    <iframe class="J_iframe" name="J_iframe" width="100%" height="100%" src="/Plat/Survey/Index?aid=@aid" frameborder="0" data-id="" seamless></iframe>
                }
            </div>
            <!-- 底部 -->
            <div class="footer">
                <div class="pull-right">
                    <p class="copyright">小未程序 © <a href="http://www.xiaochengxu.com.cn" target="_blank">http://www.xiaochengxu.com.cn</a></p>
                </div>
            </div>
        </div>
        <!--右侧部分结束-->

    </div>

</body>
@section scripts{
    <script>
        $(function () {

            //点击左侧菜单
            $(".J_menuItem").click(function () {
                var alist = $(".ulbox li[class='active']");
                if (alist != undefined && alist.length > 0) {
                    $.each(alist, function (value, index) {
                        $(index).removeClass("active");
                    })
                }
                $(this.parentElement).addClass("active")
                var url = $(this).attr("href");
                $(".J_iframe").attr("src", url);
            });
            var currentPageSrc = $(".J_iframe").attr("src");
            var currentMenu = $("#side-menu .J_menuItem[href='" + currentPageSrc + "']");
            if (currentMenu) {
                currentMenu.parent().addClass("active").siblings().removeClass("active");
                currentPageSrc = null;
            }

            $("body").bind("keydown", function (e) {
                e = window.event || e;

                //屏蔽F5刷新键
                if (event.keyCode == 116) {
                    $(".J_iframe").attr("src", $(".J_iframe").attr("src"));
                    e.keyCode = 0; //IE下需要设置为keyCode为false
                    return false;
                }

                //屏蔽ctrl+R
                if ((event.ctrlKey) && (event.keyCode == 82)) {
                    $(".J_iframe").attr("src", $(".J_iframe").attr("src"));
                    e.keyCode = 0;
                    return false;
                }
            });
            var addon_name = "";
        });

        function logout() {
            var domain = "";
            var url = window.location.host;
            if (url.indexOf("www.") != -1) {
                domain = url.replace("www.", ".");
            }
            else {
                domain = "." + url;
            }
            $.cookie("dz_UserCookieNew", "00000000-0000-0000-0000-000000000000", {
                expires: 7,
                path: '/',
                domain: domain
            });
            $.cookie("adminAuth", "x", {
                expires: 7,
                path: '/',
                domain: domain
            });
            window.location.href = "/SubAccount/Login?appId=@aid";
        }
    </script>
}
