@using User.MiniApp.comment
@using Entity.MiniApp.Conf
@model   List<PageFormMsg>
@{
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
    ViewBag.Title = "表单数据";
    ViewBag.PageType = 4;
    int aid = Utility.IO.Context.GetRequestInt("appId", 0);
    string start = Utility.IO.Context.GetRequest("start", "");
    string end = Utility.IO.Context.GetRequest("end", "");

}

@*<script src="@(WebSiteConfig.cdnurl)content/active/date/js/mobiscroll_002.js" type="text/javascript"></script>
<script src="@(WebSiteConfig.cdnurl)content/active/date/js/mobiscroll_004.js" type="text/javascript"></script>
<link href="@(WebSiteConfig.cdnurl)content/active/date/css/mobiscroll_002.css" rel="stylesheet" type="text/css">
<link href="@(WebSiteConfig.cdnurl)content/active/date/css/mobiscroll.css" rel="stylesheet" type="text/css">
<script src="@(WebSiteConfig.cdnurl)content/active/date/js/mobiscroll.js" type="text/javascript"></script>
<script src="@(WebSiteConfig.cdnurl)content/active/date/js/mobiscroll_003.js" type="text/javascript"></script>
<script src="@(WebSiteConfig.cdnurl)content/active/date/js/mobiscroll_005.js" type="text/javascript"></script>
<link href="@(WebSiteConfig.cdnurl)content/active/date/css/mobiscroll_003.css" rel="stylesheet" type="text/css">*@

<style>
   
    .edui-modal { margin-top: 150px; }

    .twxq-new-kuang { border: 1px solid #ccc; padding: 10px; margin-right: 10px; background: #fff; }

    .twxq-edit-zhanshi { border: 2px dashed #fc7d7d; padding: 10px; min-height: 108px; position: relative; }

    .spgl-bianji-bt { position: absolute; bottom: 0; right: 0; display: inline-block; background-color: rgba(0,0,0,0.3); color: #fff; padding: 0 5px; margin-left: 1px; font-size: 12px; }

    .bz { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

    .spxqq-f p:first-child { font-size: 17px; }

    .spxqq-f { text-align: center; margin-top: 17px; line-height: 25px; }

    #label_1 { color: white; display: none; }

    .checkKey { background-color: coral; color: white !important; border-color: transparent; }

    .noCheckKey { background-color: white; border-color: black; color: black; }
    .td_content2 { word-break: break-all; }

    .flex-v { -webkit-box-orient: vertical; -webkit-box-direction: vertical; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; }
    .d-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
    /*.flex { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }*/
    .d-flex-center { align-items: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; }
 
</style>

<input type="hidden" id="CName_Hidden" value="小程序" />
<div class="panel panel-default">
    <div class="panel-body">
        <div style="margin-right:10px;">
            <a href="/pageindex/FormDataList?appId=@(aid)" class="btn btn-link">查看全部</a>
        </div>
        <div class="d-flex d-flex-center">
            <form method="get" action="/pageindex/FormDataList">
                <div class="d-flex d-flex-center formsearch">
                    <input type="hidden" name="act" value="search" />
                    <input type="hidden" name="appId" value="@(aid)" />
                    <div class="input-daterange input-group" id="datepicker" style="width:400px;">
                        <input type="text" class="input-sm form-control" name="start" value="@(start)" readonly />
                        <span class="input-group-addon">到</span>
                        <input type="text" class="input-sm form-control" name="end" value="@(end)" readonly />
                    </div>

                    <input type="submit" class="btn btn-primary" value="查询" style="margin-left:10px;" />
                    @if (!string.IsNullOrEmpty(start) && !string.IsNullOrEmpty(end))
            {
                        <a style="margin-left:10px;" href="/pageindex/appformexport?act=range&appid=@(aid)&start=@(start)&end=@(end)" target="_blank" class="btn btn-primary ml10" id="exportSearch">导出查询</a>
                    }
                    <a style="margin-left:10px;" href="/pageindex/appformexport?act=all&appid=@(aid)" target="_blank" class="btn btn-primary ml10" id="exportAll">导出全部</a>
                    <a style="margin-left:10px;" href="Javascript:void(0);" class="btn btn-primary ml10" id="exportCk">导出选中</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
   
    <table class="table table-condensed table-bordered table-hover fontSize12 fontFamilyYahei">
        <thead>
            <tr>
                <th>选择</th>
                <th>表单名称</th>
                <th>表单详情</th>
                <th>提交时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><input type="checkbox" name="ck" value="@item.Id" /></td>
                    <td>@(item.FormTitle)</td>
                    <td>@(item.FormMsg.Replace("{", "").Replace("}", "").Replace("\"", ""))</td>
                    <td>@(item.UpdateDate)</td>
                    <td>
                   
                        <a href="javascript:;" class="btn btn-danger btn-xs temp-btn-setstore del" data-id="@item.Id">
                            <span class="glyphicon glyphicon-remove"></span>
                            删除
                        </a>
                    </td>
                </tr>
            }

        </tbody>





    </table>
    <ul class="page" style="height: 0; line-height: 0; padding-top: 12px;">
        共@(ViewBag.TotalCount)条记录&nbsp; @MvcPager.Pager(Html, "pageIndex", ViewBag.pageSize, ViewBag.TotalCount)
    </ul>
</div>

<!-- 信息删除确认 -->
<div class="modal fade" id="delcfmModel">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">提示信息</h4>
            </div>
            <div class="modal-body">
                <p>您确认要删除吗？</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="curData" value="" />
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a onclick="del()" class="btn btn-success" data-dismiss="modal">确定</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script>
    $(function () {
        var id;
        $(".del").click(function () {
            $('#delcfmModel').modal();
            id = $(this).data("id");
            $("#curData").val(id);
        });

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            language: "zh-CN",
            //autoclose: true,
            todayHighlight: true
        });

        $("#exportCk").click(function(){
            var chk_value =[];
            $('input[name="ck"]:checked').each(function(){
                chk_value.push($(this).val());
            });
            if(chk_value.length<=0)
                return;
            var Ids= chk_value.join(",");
            window.open("/pageindex/appformexport?act=ck&appid=@(aid)&Ids="+Ids);
        });


    });

    function del() {
        var id=$("#curData").val();
        console.log(id);
        if (parseInt(id) > 0) {
            $.ajax({
                type: "POST",
                url: "/pageindex/DelFormData",
                data: { Id: id, relationId:@ViewBag.Id },
                success: function (data) {
                    if (data && data.isok) {
                        AppTools.Alert(data.msg);
                        setTimeout(function(){
                            window.parent.window.location.href = "/pageindex/FormDataList?appId="+@ViewBag.Id;
                        },1000);


                    } else {
                        AppTools.Alert(data.msg);
                    }
                },
                error: function () {
                    AppTools.Alert("通讯异常");
                }
            });
        }
    }
</script>


