@using Entity.MiniApp.Plat;
@model  PlatMyCard
@{
    Layout = "~/Areas/Plat/Views/Shared/_LayoutAdmin.cshtml";
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>名片详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="author" />
    <link rel="stylesheet" type="text/css" href="@(WebSiteConfig.cdnurl)content/layui/css/layui.css" />
    <script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <link href="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="@(WebSiteConfig.cdnurl)content/assets/global/plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="@(WebSiteConfig.cdnurl)content/layui/layui.js"></script>
    <script src="//j.vzan.cc/fcontent/plugin/vue.min.js"></script>
    <link href="@(WebSiteConfig.cdnurl)content/agent/css/zzsc.css" rel="stylesheet" />
    <style>
        .headclass {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            display: inline-block;
        }

        .flexclass {
            flex-direction: column;
            display: flex;
            width: 50%;
        }
        .flexbox{
            flex-direction: row;display: flex;
        }
        .flexmargin>div{
            margin:5px 0;
        }

        .shenglueclass{
            overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
        }
        .btn-primary {
	background-color: #3eb94e;
	border-color: #3eb94e;
	color: #FFFFFF
}
    </style>
</head>
<body class="backgroundcolorfff">
    <div id="vbox" style="width:100%; height:auto; " hidden>
        <table class="table" style="margin: auto 30px;width:90%;">
            <tr>
                <td>
                    <div class="flexbox" style="margin-top: 20px;">
                        <div class="flexclass">
                            <div>用户头像：<img class="headclass" v-bind:src="platcardmodel.ImgUrl" /></div>
                            <div>用户ID：{{platcardmodel.LoginId}}</div>
                        </div>
                        <div class="flexclass">
                            <div>手机号码：{{platcardmodel.Phone}}</div>
                            <div style="height: 50px;line-height: 50px;"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>|<span style="font-weight: bold;"> 名片信息</span></div>
                    <div class="flexbox" style="margin-left: 15px;">
                        <div class="flexclass flexmargin">
                            <div>姓名：{{platcardmodel.Name}}</div>
                            <div>部门：{{platcardmodel.Department}}</div>
                            <div>职位：{{platcardmodel.Job}}</div>
                            <div>点赞：{{platcardmodel.DzCount}}</div>
                            <div>人气：{{platcardmodel.ViewCount}}</div>
                        </div>
                        <div class="flexclass flexmargin">
                            <div class="shenglueclass">公司名称：{{platcardmodel.CompanyName}}</div>
                            <div class="shenglueclass" v-bind:title="platcardmodel.Address">公司地址：{{platcardmodel.Address}}</div>
                            <div>所属行业：{{platcardmodel.IndustryName}}</div>
                            <div>关注：{{platcardmodel.FollowCount}}</div>
                            <div>
                            虚拟人气：<input v-model.number="platcardmodel.FictitiousCount" class="form-control" maxlength="8" style="width:80px;display:inline-block;" />
                            <input type="button" class="btn btn-primary ml10" value="保存" v-on:click="savefictitiouscount()"/>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>|<span style="font-weight: bold;"> 发帖情况</span></div>
                    <div class="flexbox">
                        <div class="flexclass flexmargin" style="margin-left: 15px;">
                            <div>发贴总数：{{platcardmodel.MsgCount}}</div>
                            <div>点赞：{{platcardmodel.MsgDzCount}}</div>
                        </div>
                        <div class="flexclass flexmargin">
                            <div>评论：{{platcardmodel.ContentCount}}</div>
                            <div><a href="javascript:;" v-on:click="parent.window.location.href = '/Plat/Msg/Index?aid=@ViewBag.AppId'">查看所发帖子</a></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>|<span style="font-weight: bold;"> 店铺情况</span></div>
                    <div class="flexbox" style="margin-left: 15px;">
                        <div class="flexclass flexmargin">
                            <div>收藏总数：{{platcardmodel.StoreFavoriteCount}}</div>
                            <div>浏览量：{{platcardmodel.StoreViewCount}}</div>
                        </div>
                        <div class="flexclass flexmargin">
                            <div>访客人数：{{platcardmodel.StoreVistorCount}}</div>
                            <div><a href="javascript:;" v-on:click="parent.window.location.href='/Plat/Store/Index?aid=@ViewBag.AppId'">店铺入驻信息</a></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script src="@(WebSiteConfig.cdnurl)content/agent/js/jquery.easing.min.js"></script>
    <script>
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale, form; //fieldset properties which we will animate

        var vm = new Vue({
            el: "#vbox",
            data: {
                platcardmodel:@Html.Raw(JsonConvert.SerializeObject(Model)),
                isloading: false
            },
            methods: {
                savefictitiouscount:function(){
                    $.post("/Plat/MyCard/SaveFictitiousCount", { aid:vm.platcardmodel.AId,id: vm.platcardmodel.Id,fictitiouscount:vm.platcardmodel.FictitiousCount }, function (data) {
                        layer.msg(data.Msg);
                    });
                },
            },
            created: function () {
                $("#vbox").show();
            }
        })
    </script>
</body>
</html>
