@using Entity.MiniApp
@model ViewModel<AgentCaseBack>
@{
    ViewBag.Title = "商家返款处理";
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
    ViewBag.PageType = -1;
}
<link href="@(WebSiteConfig.SourceContent)/content/datepicker/skin/default/datepicker.css" rel="stylesheet" />
<script src="@(WebSiteConfig.SourceContent)/content/datepicker/WdatePicker.js"></script>

<style>
    .page-wrapper {
        min-width: 1800px;
    }

    #page div {
        text-align: center;
    }

    .page-content {
        min-width: 1400px;
    }

    #customList {
        width: 100%;
        margin: 0 auto;
    }

        #customList table.layui-table {
            text-align: center;
        }

            #customList table.layui-table th, #customList table.layui-table td {
                font-family: 'Microsoft YaHei';
                font-weight: 400;
                font-style: normal;
                font-size: 12px;
                text-align: center;
            }

            #customList table.layui-table th {
                height: 50px;
            }

            #customList table.layui-table a {
                color: #108EE9;
                margin: 0 15px;
            }

    .caozuo li {
        float: left;
    }

    .more {
        display: block;
        position: relative;
    }

    .dropdown-menu {
        min-width: 0px;
        font-size: 12px;
    }

        .dropdown-menu a {
            margin: 0px !important;
            font-size: 12px;
        }

    #search_box {
        margin-top: 10px; /*margin-bottom: 30px;*/
        height: 120px;
    }

        #search_box ul li {
            float: left;
            line-height: 38px;
        }

            #search_box ul li input {
                width: 50%;
                float: left;
                margin-left: 5px;
            }

            #search_box ul li span {
                float: left;
                color: #404040;
            }

        #search_box ul.tamplate li {
            min-width: 100px;
            text-align: center;
            width: auto;
            margin: 10px 10px;
            font-size: 12px;
        }

            #search_box ul.tamplate li a.active, #search_box ul.tamplate li a.active:focus {
                text-decoration: none;
                color: #fff;
            }

            #search_box ul.tamplate li a {
                padding: 0 18px;
                color: #777;
            }

                #search_box ul.tamplate li a:hover, #search_box ul.tamplate li a:focus {
                    text-decoration: none;
                }

    .search_btn {
        width: 100%;
        height: 45px;
        float: left;
        margin: 15px 0px;
    }

        .search_btn a:hover, .search_btn a:focus, .add_btn:hover, .add_btn:focus {
            text-decoration: none;
            outline: -webkit-focus-ring-color;
        }

    a.layui-btn-normal:focus {
        color: #fff;
    }

    .search_btn a.layui-btn-primary:focus {
        color: #555;
    }

    .search_btn a.layui-btn-primary:hover {
        background-color: #eee;
        border-color: #C9C9C9;
    }

    .layui-tab-title .layui-this:after {
        height: 40px;
    }

    
    .plus-button {
        box-shadow: none !important;
        border: 2px dashed #aaa;
        color: #888;
        cursor: pointer;
        text-align: center;
        height: 120px;
        transition: all .2s cubic-bezier(.7,0,.3,1);
        width: 120px;
    }

        .plus-button .plus {
            font-size: 100px;
            line-height: 1;
            font-weight: 700;
            margin-top: -10px;
        }

    .plus-label {
        font-size: 14px;
        position: relative;
        text-align: center;
        top: -2px;
    }
</style>

<div id="customList">
    <div id="search_box">
        <ul style="width:100%">
            <li>
                <span>创建日期：</span>
                <input type="text" class="inputs form-control" style="width:40%;" onfocus="WdatePicker({doubleCalendar:true,dateFmt:'yyyy-MM-dd'})" name="begintime" id="starttime" placeholder="开始时间" value="@ViewBag.starttime" />
                <input type="text" class="inputs form-control" style="width:40%;" onfocus="WdatePicker({doubleCalendar:true,dateFmt:'yyyy-MM-dd'})" name="endtime" id="endtime" placeholder="结束时间" value="@ViewBag.endtime" />
            </li>
            <li>
                <span>渠道商家：</span>
                <input type="text" id="soucefrom" value="@ViewBag.SouceFrom" style="width:200px;" class="form-control" placeholder="输入商家名称或账号搜索" />
            </li>
            <li>
                <span>推荐客户：</span>
                <input type="text" id="agentname" value="@ViewBag.AgentName" style="width:200px;" class="form-control"  placeholder="输入客户名称或账号搜索"/>
            </li>
        </ul>
        <div class="search_btn">
            <a href="javascript:;" onclick="Search()" class="layui-btn layui-btn-normal" style="margin-right:15px;">搜索</a>
        </div>
    </div>

    <table class="layui-table" lay-skin="line" style="width:100%;">
        <colgroup>
            <col width="15%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="15%">
            <col width="5%">
        </colgroup>
        <thead>
            <tr>
                <th>渠道商家</th>
                <th>银行账号</th>
                <th>支付宝账号</th>
                <th>推荐客户</th>
                <th>客户状态</th>
                <th>备注</th>
                <th>返款凭证</th>
                <th>创建时间</th>
                <th>状态</th>
            </tr>
        </thead>
        @if (Model != null && Model.DataList != null && Model.DataList.Count > 0)
        {
            for (int i = 0; i < Model.DataList.Count; i++)
            {
                <tr>
                    <td>@(Model.DataList[i].SourceFrom)</td>
                    <td>@Model.DataList[i].BankAccount</td>
                    <td>@Model.DataList[i].AlipayAccount</td>
                    <td>@(Model.DataList[i].AgentName+"/"+ Model.DataList[i].LoginId)</td>
                    <td>@(Model.DataList[i].LastDeposit <= 0 ? "免费" : "已预存" + Model.DataList[i].LastDepositStr + "元")</td>
                    <td>@Model.DataList[i].Desc</td>
                    <td>
                        @if (Model.DataList[i].State == 3)
                        {
                            <img src="@Model.DataList[i].CaseBackImgUrl" style="width:50px;height:50px;" />
                        }
                    </td>
                    <td>@Model.DataList[i].AddTimeStr</td>
                    <td>
                        @if(Model.DataList[i].State==0)
                        {
                            <a href="javascript:;" onclick="CommandRequest(@Model.DataList[i].Id)">处理</a>
                            <a href="javascript:;" onclick="RejectRequest(@Model.DataList[i].Id)">驳回</a>
                        }
                        else
                        {
                            <span>@Model.DataList[i].StateStr</span>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="10">暂无数据</td>
            </tr>
        }
    </table>

    <div class="page" style="margin-top:60px;">
        @MvcPager.Pager(Html, "pageIndex", Model.PageSize, Model.TotalCount)
    </div>
</div>

<div id="editcode" hidden>
    <div style='margin-top: 20px;margin-left: 20px;'>
        <span style="float:left;">备注：</span>
        <textarea class='form-control' style='display: inline-block;width: 250px;height:100px;' type='text' id='tempdesc' maxlength="500"></textarea>
    </div>
</div>
<input id="editeaid" type="hidden" value="0" />
<input type="hidden" id="uploadImgs" name="uploadImgs" value="" />
<div id="editcommand" hidden>
    <div style='margin-top: 20px;margin-left: 20px;'>
        <span style="float:left;">备注：</span><textarea id='tempmodeldesc' class="layui-textarea" maxlength="100" style="display: inline-block;width: 250px;height:100px;"></textarea>
    </div>
    <div style='margin-top: 20px;margin-left: 20px;'>
        <span style="float:left;">返款凭证：</span>
        <div style="float:left;">
            <div class="pimg">
                <img style="height:150px;width:150px;" src="" id="tempmodelimgurl" onclick="UploadImg(0,0,-1)" hidden />
                <div class="plus-button" onclick="UploadImg(0,0,-1)" id="tempmodelupload">
                    <div class="s-image-uploader-wrapper">
                        <div>
                            <div class="plus">+</div>
                            <div class="plus-label">上传图片</div>
                        </div>
                    </div>
                </div>
            </div>
            @*<b class="warn">建议尺寸：750*750px</b>*@
        </div>
    </div>
</div>
<div class="modal bs-example-modal" id="addModal_UploadImg" tabindex="-1" role="dialog" aria-labelledby="tipsModalLabel" aria-hidden="true" hidden style="z-index:9999999;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border:0px;">
                <button type="button" class="close" data-dismiss="modal" id="closeUpload"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

            </div>
            <div class="modal-body" style="min-height:500px;padding:0px;">
                <iframe id="uploadFrame" style="width:100%;min-height:500px;border:0px;" src=""></iframe>
            </div>

        </div>
    </div>
</div>
<script>
    function Search() {
        location.href = "/agentmanager/AgentCustomerCaseBack?pageIndex=@Model.PageIndex&pageSize=@Model.PageSize&starttime=" + $("#starttime").val() + "&endtime=" + $("#endtime").val() + "&soucefrom=" + $("#soucefrom").val() + "&agentname=" + $("#agentname").val();
    }

    var currenteditid = 0;
    var _layer = parent.layer;
    function RejectRequest(id) {
        _layer.open({
            type: 1,
            zIndex: 999999,
            title: "驳回返款请求",
            shade: 0.3,
            area: ['350px', '230px'], //宽高
            content: $("#editcode").html().replace(/temp/g, ''),//this.adddiv(),
            btn: ["确定", "取消"],
            end: function () {
                currenteditid = 0;
            },
            yes: function () {
                if (currenteditid > 0) {
                    return;
                }
                var desc = $("#desc").val();
                if (desc == undefined || desc.length <= 0) {
                    return _layer.msg("请输入驳回理由");
                }

                currenteditid = _layer.load(1);
                $.ajax({
                    type: "Post",
                    url: "/agentmanager/CommandRequest",
                    data:
                        {
                            desc: desc,
                            id: id,
                            state:1,
                        },
                    success: function (data) {
                        if (data.isok) {
                            _layer.msg(data.Msg, { anim: 0, time: 1000 }, function () {
                                _layer.load(1);
                                window.parent.location.reload();
                            });
                        }
                        else {
                            _layer.msg(data.Msg);
                            _layer.close(currenteditid);
                        }
                    }
                });
            },
        });
    }

    function CommandRequest(id) {
        _layer.open({
            type: 1,
            zIndex: 999999,
            title: "处理请求",
            shade: 0.3,
            area: ['350px', '430px'], //宽高
            content: $("#editcommand").html().replace(/temp/g, ''),//this.adddiv(),
            btn: ["确定", "取消"],
            end: function () {
                currenteditid = 0;
            },
            yes: function () {
                if (currenteditid > 0) {
                    return;
                }
                var desc = $("#modeldesc").val();
                if (desc == undefined || desc.length <= 0) {
                    return _layer.msg("请输入驳回理由");
                }

                var imgurl = $("#uploadImgs").val();

                currenteditid = _layer.load(1);
                $.ajax({
                    type: "Post",
                    url: "/agentmanager/CommandRequest",
                    data:
                        {
                            desc: desc,
                            id: id,
                            state:3,
                            imgurl:imgurl
                        },
                    success: function (data) {
                        if (data.isok) {
                            _layer.msg(data.Msg, { anim: 0, time: 1000 }, function () {
                                _layer.load(1);
                                window.parent.location.reload();
                            });
                        }
                        else {
                            _layer.msg(data.Msg);
                            _layer.close(currenteditid);
                        }
                    }
                });
            },
        });
    }

    
    function UploadImg(type, isSpec, index) {
        var aid = $("#editeaid").val();
        var that = this;
        var framSrc;
        var maxCount = 1;
        var remainCount = 1;
        framSrc = "/tools/UpLoadImgFrm?Id=" + aid + "&appId=" + aid + "&multi_selection=0&maxImgSize=1&objKey=modelimgurl&objType=1&frontMethod=1&remainCount=" + remainCount;
        $("#uploadFrame").attr("src", framSrc);
        $("#addModal_UploadImg").modal('show');
    }
    function clearImg(type, index) {
        var that = this;
        if (type > 0) {
            //表示轮播图
            if (that.bannerImg.length > 0) {
                that.bannerImg.splice(index, 1);
            }

            that.p.slideimgs = that.bannerImg.join(",");
        } else {
            that.p.img = "";
        }

    }
</script>