@using Entity.MiniApp
@model ViewModel<AgentDistributionRelation>
@{
    ViewBag.Title = "小未分销推广";
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
    ViewBag.PageType = -1;
}
<link href="@(WebSiteConfig.SourceContent)/content/datepicker/skin/default/datepicker.css" rel="stylesheet" />
<script src="@(WebSiteConfig.SourceContent)/content/datepicker/WdatePicker.js"></script>
<script type="text/javascript" src="@(WebSiteConfig.cdnurl)js/Base64.js"></script>

<style>
    .page-wrapper {
        min-width: 1800px;
    }

    #page div {
        text-align: center;
    }

    .page-content {
        min-width: 1400px;
    }

    #customList {
        width: 100%;
        margin: 0 auto;
    }

        #customList table.layui-table {
            text-align: center;
        }

            #customList table.layui-table th, #customList table.layui-table td {
                font-family: 'Microsoft YaHei';
                font-weight: 400;
                font-style: normal;
                font-size: 12px;
                text-align: center;
            }

            #customList table.layui-table th {
                height: 50px;
            }

            #customList table.layui-table a {
                color: #108EE9;
                margin: 0 15px;
            }

    .caozuo li {
        float: left;
    }

    .more {
        display: block;
        position: relative;
    }

    .dropdown-menu {
        min-width: 0px;
        font-size: 12px;
    }

        .dropdown-menu a {
            margin: 0px !important;
            font-size: 12px;
        }

    #search_box {
        margin-top: 10px; /*margin-bottom: 30px;*/
        height: 120px;
    }

        #search_box ul li {
            float: left;
            line-height: 38px;
        }

            #search_box ul li input {
                width: 50%;
                float: left;
                margin-left: 5px;
            }

            #search_box ul li span {
                float: left;
                color: #404040;
            }

        #search_box ul.tamplate li {
            min-width: 100px;
            text-align: center;
            width: auto;
            margin: 10px 10px;
            font-size: 12px;
        }

            #search_box ul.tamplate li a.active, #search_box ul.tamplate li a.active:focus {
                text-decoration: none;
                color: #fff;
            }

            #search_box ul.tamplate li a {
                padding: 0 18px;
                color: #777;
            }

                #search_box ul.tamplate li a:hover, #search_box ul.tamplate li a:focus {
                    text-decoration: none;
                }

    .search_btn {
        width: 100%;
        height: 45px;
        float: left;
        margin: 15px 0px;
    }

        .search_btn a:hover, .search_btn a:focus, .add_btn:hover, .add_btn:focus {
            text-decoration: none;
            outline: -webkit-focus-ring-color;
        }

    a.layui-btn-normal:focus {
        color: #fff;
    }

    .search_btn a.layui-btn-primary:focus {
        color: #555;
    }

    .search_btn a.layui-btn-primary:hover {
        background-color: #eee;
        border-color: #C9C9C9;
    }

    .layui-tab-title .layui-this:after {
        height: 40px;
    }

    .logsuojing {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: inline-block;
        width: 150px;
        text-align: left;
    }
</style>

<div id="customList">
    <div id="search_box">
        <ul style="width:100%">
            <li>
                <span>代理账号：</span>
                <input type="text" id="loginid" value="@ViewBag.Loginid" class="form-control" />
            </li>
            <li>
                <span>创建日期：</span>
                <input type="text" class="inputs form-control" style="width:40%;" onfocus="WdatePicker({doubleCalendar:true,dateFmt:'yyyy-MM-dd'})" name="begintime" id="starttime" placeholder="开始时间" value="@ViewBag.starttime" />
                <input type="text" class="inputs form-control" style="width:40%;" onfocus="WdatePicker({doubleCalendar:true,dateFmt:'yyyy-MM-dd'})" name="endtime" id="endtime" placeholder="结束时间" value="@ViewBag.endtime" />
            </li>
            <li hidden>
                <span>跟进状态：</span>
                <select class="form-control" style="width: 92px; margin-left:5px;    float: left;">
                    <option value="999">全部</option>
                    <option value="0">代理跟进</option>
                    <option value="1">小未跟进</option>
                </select>
            </li>
        </ul>
        <div class="search_btn">
            <a href="javascript:;" onclick="Search()" class="layui-btn layui-btn-normal" style="margin-right:15px;">搜索</a>
        </div>
    </div>

    <table class="layui-table" lay-skin="line" style="width:100%;">
        <colgroup>
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="5%">
            <col width="5%">
            <col width="10%">
            <col width="15%">
        </colgroup>
        <thead>
            <tr>
                <th>客户账号</th>
                <th>客户姓名</th>
                <th>客户手机号</th>
                <th>创建时间</th>
                <th>推广来源</th>
                <th>客户状态</th>
                <th>类型</th>
                <th>跟进状态</th>
                <th>操作</th>
            </tr>
        </thead>
        @if (Model != null && Model.DataList != null && Model.DataList.Count > 0)
        {
            for (int i = 0; i < Model.DataList.Count; i++)
            {
                <tr>
                    <td>@Model.DataList[i].LoginId</td>
                    <td><a href="javascript:;" onclick="UpdateCustomerName('@Model.DataList[i].Id','@Model.DataList[i].UserName')">@(string.IsNullOrEmpty(Model.DataList[i].UserName)?"登记姓名": Model.DataList[i].UserName)</a></td>
                    <td>@Model.DataList[i].Phone</td>
                    <td>@Model.DataList[i].AddTimeStr</td>
                    <td>@Model.DataList[i].SourceFrom</td>
                    <td>@(Model.DataList[i].LastDeposit <= 0 ? "免费" : "已预存" + Model.DataList[i].LastDepositStr + "元")</td>
                    <td>@(Model.DataList[i].OpenType==0?"代理":"终端")</td>
                    <td>
                        @Model.DataList[i].FollowStateStr<br />
                    @if ((int)AgentDistributionFollowState.代理跟进 == Model.DataList[i].FollowState)
                    {
                        <a href="javascript:;" onclick="GiveXiaowei(@Model.DataList[i].Id)">小未跟进</a>
                    }
                </td>
                <td>
                    <div style="color:#108EE9;cursor:pointer;float:left;">
                        <span title="添加跟进记录" onclick="AddAgentFollowLog('@Model.DataList[i].Id')" style="margin-right: 10px;float:left;font-size:25px;">+</span>
                        <span title="@Model.DataList[i].Desc" class="logsuojing" onclick="window.location.href = '/agentmanager/agentfollowloglist?agentdistributionrid=@Model.DataList[i].Id';">@(string.IsNullOrEmpty(Model.DataList[i].Desc) ? "跟进记录" : Model.DataList[i].Desc)</span>
                    </div>
                    @*<a href="javascript:;" onclick="AddAgentFollowLog('@Model.DataList[i].Id')">+</a>*@
                    @*<a href="/agentmanager/agentfollowloglist?agentdistributionrid=@Model.DataList[i].Id">跟进记录</a>*@
                    
                    @if ((int)AgentDistributionFollowState.代理跟进 == Model.DataList[i].FollowState)
                    {
                        <a href="/agentmanager/addagentcaseback?agentdistributionrid=@Model.DataList[i].Id">提交返款</a>
                    }
                    @*<a href="/agentmanager/addagentcaseback?agentdistributionrid=@Model.DataList[i].Id">返款记录</a>*@
                </td>
            </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">暂无数据</td>
            </tr>
        }
    </table>

    <div class="page" style="margin-top:60px;">
        @MvcPager.Pager(Html, "pageIndex", Model.PageSize, Model.TotalCount)
    </div>
</div>

<div id="editcode" hidden>
    <div style='margin-top: 20px;margin-left: 20px;'>
        <span style="float:left;">备注：</span>
        <textarea class='form-control' style='display: inline-block;width: 250px;height:100px;' type='text' id='tempdesc' maxlength="500"></textarea>
    </div>
</div>
<script>
    function Search() {
        location.href = "/agentmanager/AgentDistributionUser?agentqrcodeid=@ViewBag.agentqrcodeid&pageIndex=@Model.PageIndex&pageSize=@Model.PageSize&loginid=" + $("#loginid").val() + "&starttime=" + $("#starttime").val() + "&endtime=" + $("#endtime").val();
    }

    function GiveXiaowei(id) {
        _layer.confirm('此操作不可逆，一旦提交后无法换成代理商自主跟进，小未跟进需签约打款后需扣除代理费5%的抽成哦！确定进行该操作？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.post("/agentmanager/GiveXiaowei", { id: id }, function (returnData) {
                if (returnData.isok) {
                    layer.msg(returnData.Msg, { anim: 0, time: 1000 }, function () {
                        layer.load(1);
                        Search();
                    });
                }
                else {
                    layer.msg(returnData.Msg);
                }
            });
        }, function () {
        });
    }

    var currenteditid = 0;
    //#region 记录跟进
    var _layer = parent.layer;
    function AddAgentFollowLog(agentdistributionrid) {
        _layer.open({
            type: 1,
            zIndex: 999999,
            title: "添加跟进记录",
            shade: 0.3,
            area: ['350px', '230px'], //宽高
            content: $("#editcode").html().replace('tempdesc', 'desc'),//this.adddiv(),
            btn: ["确定", "取消"],
            end: function () {
                currenteditid = 0;
            },
            yes: function () {
                if (currenteditid > 0) {
                    return;
                }
                var desc = window.parent.document.getElementById("desc").value;//$("#nameVal").val();
                if (desc == undefined || desc.length <= 0) {
                    return _layer.msg("请输入备注");
                }

                //Base64加密
                var b = new Base64();
                desc = b.encode(desc);
                currenteditid = _layer.load(1);
                $.ajax({
                    type: "Post",
                    url: "/agentmanager/SaveAgentFollowLog",
                    data:
                        {
                            desc: desc,
                            agentdistributionrid: agentdistributionrid,
                        },
                    success: function (data) {
                        if (data.isok) {
                            _layer.msg(data.Msg, { anim: 0, time: 1000 }, function () {
                                _layer.load(1);
                                window.parent.location.reload();
                            });
                        }
                        else {
                            _layer.msg(data.Msg);
                            _layer.close(currenteditid);
                        }
                    }
                });
            },
        });
    }

    function UpdateCustomerName(id,name)
    {
        _layer.open({
            type: 1,
            zIndex: 999999,
            title: "登记客户姓名",
            shade: 0.3,
            area: ['350px', '180px'], //宽高
            content: "<div style='margin-top: 20px;margin-left: 20px;'><input type='text' id='customername' value='tempname' class='form-control' style='width: 250px;' maxlength='50'/></div>".replace("tempname", name),
            btn: ["确定", "取消"],
            end: function () {
                currenteditid = 0;
            },
            yes: function () {
                if (currenteditid > 0) {
                    return;
                }
                var customername = $("#customername").val();
                if (customername == undefined || customername.length <= 0) {
                    return _layer.msg("请输入客户姓名");
                }

                currenteditid = _layer.load(1);
                $.ajax({
                    type: "Post",
                    url: "/agentmanager/UpdateCustomerName",
                    data:
                        {
                            id: id,
                            customername: customername,
                        },
                    success: function (data) {
                        if (data.isok) {
                            _layer.msg(data.Msg, { anim: 0, time: 1000 }, function () {
                                _layer.load(1);
                                window.parent.location.reload();
                            });
                        }
                        else {
                            _layer.msg(data.Msg);
                            _layer.close(currenteditid);
                        }
                    }
                });
            },
        });
    }
    //#endregion
</script>