@using Entity.MiniApp.ViewModel
@model IndexViewModel
@{
    //小程序商城店铺配置
    ViewBag.Title = "首页";
    ViewBag.PageType = -1;
    ViewBag.level = Model.agentinfo.userLevel;
    //Layout = "~/Views/Shared/_CityInfoLayout.cshtml";
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
}


<style>
    .edui-modal {
        margin-top: 150px;
    }

    .twxq-new-kuang {
        border: 1px solid #ccc;
        padding: 10px;
        margin-right: 10px;
        background: #fff;
    }

    .twxq-edit-zhanshi {
        border: 2px dashed #fc7d7d;
        padding: 10px;
        min-height: 108px;
        position: relative;
    }

    .spgl-bianji-bt {
        position: absolute;
        bottom: 0;
        right: 0;
        display: inline-block;
        background-color: rgba(0,0,0,0.3);
        color: #fff;
        padding: 0 5px;
        margin-left: 1px;
        font-size: 12px;
    }

    .bz {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .spxqq-f p:first-child {
        font-size: 17px;
    }

    .spxqq-f {
        text-align: center;
        margin-top: 17px;
        line-height: 25px;
    }

    #label_1 {
        color: white;
        display: none;
    }

    .checkKey {
        background-color: coral;
        color: white !important;
        border-color: transparent;
    }

    .noCheckKey {
        background-color: white;
        border-color: black;
        color: black;
    }

    .dropzone.dz-clickable {
        width: 360px !important;
    }


    .agentclass {
        border: solid 1px #EBEBEB;
        padding: 40px 50px;
        margin: 10px;
        border-radius: 5px;
    }

        .agentclass .f1 {
            display: flex;
            justify-content: center;
            color: #989898;
        }

            .agentclass .f1 .f2 {
                float: left;
                width: 80px;
                height: 80px;
                border-radius: 80px;
                background-color: #7DC856;
            }

    .f3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left:20px;
    }

    .f4 {
        display: flex;
        align-items: center;
    }

    .agentclass .f1 .f2 img {
        width: 40px;
        height: 40px;
        margin: 20px;
    }

    .agentclass .f1 .f2 .f3 {
        font-size: 12px;
    }

    .templateinfoClass {
        width: 25%;
        margin: 10px;
        border-radius: 5px;
        border: solid 1px #EBEBEB;
        padding: 20px;
    }

    .tdclass {
        text-align: center;
    }
</style>
<div class="row">
    <div class="agentclass">
        <table style="width:100%;">
            <tr>
                <td width="25%">
                    <div class="f1">
                        <div class="f2">
                            <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/u116.png" />
                        </div>
                        <div class="f3">
                            <div style="">预付款余额</div>
                            <div class="f4">
                                <label style="font-size: 25px;color:#666666;font-family: 黑体;">
                                    @(string.Format("{0:N}", (Model.agentinfo.deposit * 0.01)))
                                </label>
                                <label style="font-size: 14px;margin-left: 5px;">元</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td width="25%">
                    <div class="f1">
                        <div class="f2" style="background-color: #808BC6;">
                            <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/u126.png" />
                        </div>
                        <div class="f3">
                            <div style="font-size: 12px;">累计客户</div>
                            <div class="f4">
                                <label style="font-size: 25px;color:#666666;font-family: 黑体;">
                                    @Model.CustomerCount
                                </label>
                                <label style="font-size: 14px;margin-left: 5px;">人</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td width="25%">
                    <div class="f1">
                        <div class="f2" style="background-color: #2DB7F5;">
                            <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/u137.png" />
                        </div>
                        <div class="f3">
                            <div style="font-size: 12px;">累计售出模板</div>
                            <div class="f4">
                                <label style="font-size: 25px;color:#666666;font-family: 黑体;">
                                    @Model.TemplateCount
                                </label>
                                <label style="font-size: 14px;margin-left: 5px;">套</label>
                            </div>
                        </div>
                    </div>
                </td>
                <td width="25%">
                    <div class="f1">
                        <div class="f2" style="background-color: #F9BF00;">
                            <img src="@(WebSiteConfig.cdnurl)content/dlptcss/images/u111.png" />
                        </div>
                        <div class="f3">
                            <div style="font-size: 12px;">累计模板费用</div>
                            <div class="f4">
                                <label style="font-size: 25px;color:#666666;font-family: 黑体;">
                                    @(string.Format("{0:N}", (Model.TemplateSum * 0.01)))
                                </label>
                                <label style="font-size: 14px;margin-left: 5px;">元</label>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <div class="templateinfoClass">
            <div>
                售出模板详情
            </div>
            <div id="templateList" hidden>
                <table class="layui-table" lay-skin="line" style="text-align:center;">
                    <tr>
                        <th style="text-align:center;">模板</th>
                        <th style="text-align:center; width:82px;">销售量</th>
                        <th style="text-align:center; ">占比</th>
                    </tr>
                    <tr v-if="templatelist!=null && templatelist.length>0" v-for="templateinfo in templatelist" class="temptr">
                        <td>{{templateinfo.name}}</td>
                        <td>{{templateinfo.count}}</td>
                        <td v-if="templateinfo.last">{{templateinfo.person}}</td>
                        <td v-else style="width:142px;justify-content: center;">
                            <div style="float:left;">{{templateinfo.person}}</div><div style="width:50px;float:left;margin-top: 3px;margin-left:5px;"><div style="height:15px;background-color:#2DB7F5;" class="d_d"></div></div>
                        </td>
                    </tr>
                    <tr v-else>
                        <td colspan="8">暂无数据</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div style="display:none;" id="hetong">
    <div style="margin:0px 40px;">
        @*<div style="text-align: center;color: red;font-size: 20px;font-family: 黑体;margin: 20px 0px;">—温馨提示—</div>*@
        <div>
            <div style="text-align:center;line-height: 30px;margin: 30px 0px;">
                <span style="color:black;font-size:20px;font-family: MicrosoftYaHei;">尊敬的代理商您好，您的代理合同于</span>
                <br /><span style="color:red;font-size:18px;" id="tempouttime">2018/08/15</span>
                <span style="color:#989898;font-size:14px;" id="tempisouttime">(即将过期)</span>
                <div style="color:red;font-size:18px;" id="temptimebox">
                    还有
                    <span style="padding:0px 10px;display:inline-block;border-radius:5px;background-color:red;color:#fff;" id="temphours">0</span>时:
                    <span style="padding:0px 10px;display:inline-block;border-radius:5px;background-color:red;color:#fff;" id="tempminutes">1</span>分:
                    <span style="padding:0px 10px;display:inline-block;border-radius:5px;background-color:red;color:#fff;" id="tempseconds">5</span>秒
                </div>
            </div>
        </div>
        <div style="color:#989898;line-height: 25px;">
            <div>合同到期后，后台还有预存款的，可继续开通收费模板<br />但不享受以下代理权：</div>
            <div>1、免费版的无限开通</div>
            <div>2、再次开通收费100/个</div>
            
        </div>
    </div>
</div>
@section script{
    <script>
        var array = []
        var _layer = parent.layer;
        var vm = new Vue({
            el: "#templateList",
            data: {
                pageIndex: 1,
                pagesize: 10,
                templatelist: []
            },
            methods: {
                gettemplatelist: function () {
                    var list = this;
                    $.ajax({
                        url: "/agentmanager/getTemplateInfo",
                        type: "get",
                        data: {},
                        dataType: "json",
                        success: function (res) {
                            if (res.isok == 1) {
                                array = []
                                var total = 0;
                                //var total = 100;
                                if (res.data != undefined && res.data != null && res.data.length > 0) {
                                    total = res.count;
                                    for (var i = 0; i < res.data.length; i++) {
                                        var model = res.data[i]

                                        array.push({ name: model.TName, count: model.Count, person: (model.Count * 100 / total).toFixed(2) + "%", last: false })

                                        //array.push({name:model.TName,count:model.Count,person:changeTwoDecimal(model.Count/total)*100+"%",last:false})
                                    }
                                }
                                //array.push({ name: "测试", count: 10, person: (10 / total) * 100 + "%", last: false })
                                //array.push({ name: "测试", count: 20, person: (20 / total) * 100 + "%", last: false })
                                //array.push({ name: "测试", count: 30, person: (30 / total) * 100 + "%", last: false })
                                //array.push({ name: "测试", count: 40, person: (40 / total) * 100 + "%", last: false })
                                array.push({ name: "", count: total, person: "100%", last: true })
                                list.templatelist = array;
                            }
                            else {
                                alert(res.msg)
                            }
                        }
                    });
                },
                CheckOutTime: function () {
                    $.post("/agentmanager/CheckOutTime", function (data) {
                        if (data.isok) {
                            if(data.code=="1")
                            {
                                layer.open({
                                    type: 1,
                                    zIndex: 999999,
                                    title: "温馨提示",
                                    shade: 0.3,
                                    area: ['450px', '350px'], //宽高
                                    content: $("#hetong").html().replace(/temp/g, ''),
                                    //btn: ["确定"],
                                    end: function () {
                                    },
                                    yes: function () {
                                        _layer.closeAll();
                                    },
                                    success: function () {
                                        $("#outtime")[0].innerHTML = data.dataObj.OutTimeStr;
                                        $("#seconds")[0].innerHTML = data.dataObj.DateArray[3];
                                        $("#minutes")[0].innerHTML = data.dataObj.DateArray[2];
                                        $("#hours")[0].innerHTML = data.dataObj.DateArray[1];
                                        if (data.dataObj.IsOutTime == 1)
                                        {
                                            $("#isouttime")[0].innerHTML = "(已过期)";
                                            $("#timebox").css("display","none");
                                        }
                                        else {
                                            setInterval(function () {
                                                var seconds = parseInt($("#seconds")[0].innerHTML);
                                                var minutes = parseInt($("#minutes")[0].innerHTML);
                                                var hours = parseInt($("#hours")[0].innerHTML);
                                                var seconds = seconds - 1;
                                                if (seconds <= 0) {
                                                    seconds = 0;
                                                }
                                                if (seconds == 0 && minutes > 0) {
                                                    minutes = minutes - 1;
                                                    seconds = 59;
                                                }
                                                if (minutes == 0 && hours > 0) {
                                                    minutes = 59;
                                                    hours = hours - 1;
                                                }
                                                $("#seconds")[0].innerHTML = seconds;
                                                $("#minutes")[0].innerHTML = minutes;
                                                $("#hours")[0].innerHTML = hours;
                                            }, 1000)
                                        }
                                    }
                                });

                                //_layer.confirm("尊敬的代理商，您的合同到期时间为" + data.dataObj + "，到期后将不可以开通或续费免费模板，请尽快联系客服续约！", {
                                //    btn: ['关闭'] //按钮
                                //}, function () {
                                //    _layer.closeAll();
                                //});
                            }
                        }
                    });
                },
            },
            created: function () {
                $("#templateList").show();
                this.gettemplatelist();
                this.CheckOutTime();
            }
        })
        function changeTwoDecimal(x) {
            var f_x = parseFloat(x);
            if (isNaN(f_x)) {
                alert('function:changeTwoDecimal->parameter error');
                return false;
            }
            f_x = Math.round(f_x * 100) / 100;

            return f_x;
        }
        var timer = setInterval("addperson()", 100)
        function addperson() {
            var tr = $(".d_d")
            if (tr != undefined && tr.length > 0) {
                for (var i = 0; i < tr.length; i++) {
                    var model = tr[i]
                    $(model).css("width", array[i].person)
                }
                clearInterval(timer)
            }
        }
    </script>
}
